Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

Fixing script for processing of SpMV benchmark results to work without CUDA SpMV formats.
  src/Benchmarks/SpMV/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Implementing processing of SpMV benchmark - scalability on CPU.
  src/Benchmarks/SpMV/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Deleted workaround for legacy sparse matrix format in SpMV benchmark.
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Modification of script for running SpMV benchmarks with multiple CPU threads.
  src/Benchmarks/SpMV/run-tnl-benchmark-spmv
Due: dummy build job

Added Hypre to SpMV benchmark.
  src/Benchmarks/SpMV/spmv.h
  src/Benchmarks/SpMV/tnl-benchmark-spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

SpMV benchmark postprocessing script can process results of multi-threaded CPU benchmarking.
  src/Benchmarks/SpMV/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Added detection of integer overflow detection in Ellpack, TridiagonalMatrix and MultidiagonalMatrix
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/DiscreteMath.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/details/MultidiagonalMatrixIndexer.h
  src/TNL/Matrices/details/TridiagonalMatrixIndexer.h
  src/UnitTests/DiscreteMathTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added vectorProduct method to HypreCSRMatrix.
  src/TNL/Matrices/HypreCSRMatrix.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added SpMV benchmark for Hypre matrices on host.
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Moved DistSpMV benchmark to the tnl-legacy repository
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/DistSpMV/CMakeLists.txt
  src/Benchmarks/DistSpMV/Legacy/DistributedMatrix.h
  src/Benchmarks/DistSpMV/Legacy/DistributedMatrix_impl.h
  src/Benchmarks/DistSpMV/Legacy/DistributedSpMV.h
  src/Benchmarks/DistSpMV/Legacy/ThreePartVector.h
  src/Benchmarks/DistSpMV/tnl-benchmark-distributed-spmv.cpp
  src/Benchmarks/DistSpMV/tnl-benchmark-distributed-spmv.cu
  src/Benchmarks/DistSpMV/tnl-benchmark-distributed-spmv.h
  src/Benchmarks/LinearSolvers/ordering.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed reading of integer matrices in legacy sparse matrix formats.
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/LegacyMatrixReader.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added assertions on indexes into SpMV.
  src/TNL/Matrices/SparseMatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CI: hack to temporarily allow failure on the cuda-clang_nontests_Debug job
  .gitlab-ci.yml
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Small fixes in documentation related to changes in the Documentation section of the TNL website.
  Documentation/Tutorials/Arrays/tutorial_Arrays.md
  Documentation/Tutorials/GeneralConcepts/tutorial_GeneralConcepts.md
  Documentation/Tutorials/ReductionAndScan/tutorial_ReductionAndScan.md
  Documentation/Tutorials/Sorting/tutorial_Sorting.md
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
Due: documentation examples, build documentation, pages

Fixed header inclusion in SharedMemory.h
  src/TNL/Cuda/SharedMemory.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed Hypre usage in the SpMV benchmark
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

CMakeLists.txt: fixed detection of OpenBLAS after changes in Arch Linux packaging
  src/Benchmarks/BLAS/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed validation of threadsPerSegment in CSRLightKernel
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

SpMV benchmark: LightSpMV fails with CUDA 12
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Prevent implicit conversions to unary expression templates
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed outdated comments in Math.h
  src/TNL/Math.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added vector functions equalTo, notEqualTo, less, lessEqual, greater, greaterEqual
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionVariableType.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Functional.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added --cuda-compiler flag to the configure script
  configure
Due: dummy build job

Changed logicalAnd, logicalOr, binaryAnd, binaryOr, binaryXor from vertical to horizontal expressions
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/DistributedVerticalOperations.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticVerticalOperations.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added vertical operations all and any
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/DistributedVerticalOperations.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticVerticalOperations.h
  src/UnitTests/Containers/VectorTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renamed binary vector expressions min, max to minimum, maximum
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Math.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed operators < <= > >= for static vectors
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  src/TNL/Containers/Expressions/Assert.h
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticComparison.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Changed asserts in expression templates to exceptions
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed operators < <= > >= for dynamic vectors
  Documentation/Tutorials/Vectors/Reduction.cpp
  src/TNL/Containers/Expressions/Comparison.h
  src/TNL/Containers/Expressions/DistributedComparison.h
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added lexicographic comparison operators for StaticVector
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/UnitTests/Containers/StaticVectorTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added explanatory comments to DistributedExpressionTemplates.h and StaticExpressionTemplates.h
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Editing core-concepts page.
  Documentation/Pages/core-concepts.md
Due: documentation examples, build documentation, pages

Small fixes in documentation.
  Documentation/DoxygenLayout.xml
  Documentation/Pages/core-concepts.md
  Documentation/Pages/main-page.md
  Documentation/UsersGuide/GeneralConcepts/ug_GeneralConcepts.md
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/UsersGuide/users-guide.md
  README.md
  src/TNL/Containers/NDArray.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixing references from NDArray.h to User's Guide.
  src/TNL/Containers/NDArray.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deleting reference from User's Guide TOC to General Concepts page.
  Documentation/UsersGuide/users-guide.md
Due: documentation examples, build documentation, pages

Removing description of core concepts and others from README.
  README.md
Due: dummy build job

Moving description of core concepts and others from main-page to core-concepts.
  Documentation/Pages/core-concepts.md
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, pages

Renaming Tutorials to UsersGuide.
  Documentation/CMakeLists.txt
  Documentation/Doxyfile
  Documentation/Pages/main-page.md
  Documentation/UsersGuide/Arrays/CMakeLists.txt
  Documentation/UsersGuide/Arrays/ug_Arrays.md
  Documentation/UsersGuide/ForLoops/ug_ForLoops.md
  Documentation/UsersGuide/GeneralConcepts/ug_GeneralConcepts.md
  Documentation/UsersGuide/Matrices/CMakeLists.txt
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/UsersGuide/Meshes/CMakeLists.txt
  Documentation/UsersGuide/Meshes/ug_Grids.md
  Documentation/UsersGuide/Meshes/ug_Meshes.md
  Documentation/UsersGuide/NDArrays/CMakeLists.txt
  Documentation/UsersGuide/NDArrays/ug_NDArrays.md
  Documentation/UsersGuide/Pointers/CMakeLists.txt
  Documentation/UsersGuide/Pointers/ug_Pointers.md
  Documentation/UsersGuide/ReductionAndScan/CMakeLists.txt
  Documentation/UsersGuide/ReductionAndScan/ug_ReductionAndScan.md
  Documentation/UsersGuide/Segments/CMakeLists.txt
  Documentation/UsersGuide/Segments/ug_Segments.md
  Documentation/UsersGuide/Solvers/Linear/ug_Linear_solvers.md
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
  Documentation/UsersGuide/Sorting/ug_Sorting.md
  Documentation/UsersGuide/Vectors/CMakeLists.txt
  Documentation/UsersGuide/Vectors/ug_Vectors.md
  Documentation/UsersGuide/users-guide.md
  README.md
  src/TNL/Containers/NDArray.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Small fixes for documentation
  Documentation/Pages/main-page.md
  README.md
Due: documentation examples, build documentation, pages
