Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

Replaced DescendingFor with staticFor
  src/Benchmarks/Grid/GridBenchmark.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/NormalsGetter.h
  src/TNL/Meshes/GridDetails/Templates/DescendingFor.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed old pre-C++17 implementation of staticFor
  src/TNL/Algorithms/staticFor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactored Initializer for unstructured meshes using 'if constexpr' from C++17
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring SubentitySeedsCreator
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
  src/TNL/Meshes/MeshDetails/initializer/SubentitySeedsCreator.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed const_cast from String.hpp which is not necessary since C++17
  src/TNL/String.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Simplified IndexPermutationApplier for unstructured mesh using 'if constexpr' from C++17
  src/TNL/Meshes/MeshDetails/IndexPermutationApplier.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added workaround for a C++17 bug in nvcc
  src/TNL/Meshes/MeshDetails/initializer/SubentitySeedsCreator.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Use std::filesystem instead of std::experimental::filesystem and generalize its detection by CMake
  CMakeLists.txt
  cmake/FindFilesystem.cmake
  src/Benchmarks/SpMV/tnl-benchmark-spmv.h
  src/TNL/Benchmarks/Utils.h
  src/TNL/Functions/MeshFunctionIO.h
  src/TNL/Functions/VectorField.h
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/Readers/XMLVTK.h
  src/TNL/Meshes/Readers/getMeshReader.h
  src/TNL/Meshes/TypeResolver/resolveDistributedMeshType.hpp
  src/TNL/Meshes/TypeResolver/resolveMeshType.hpp
  src/TNL/Meshes/Writers/PVTIWriter.hpp
  src/TNL/Meshes/Writers/PVTUWriter.hpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/Tools/tnl-mesh-converter.cpp
  src/Tools/tnl-planar-correct-mesh.cpp
  src/Tools/tnl-refine-mesh.cpp
  src/Tools/tnl-reorder-mesh.cpp
  src/Tools/tnl-triangulate-mesh.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_1D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_2D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_3D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/data/loader.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Set required C++ standard to C++17
  CMakeLists.txt
  Documentation/Pages/main-page.md
  src/.clang-format
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Refactored initializer for mesh entity tags using 'if constexpr' from C++17
  src/TNL/Meshes/Mesh.hpp
  src/TNL/Meshes/MeshDetails/layers/EntityTags/Initializer.h
  src/TNL/Meshes/MeshDetails/layers/EntityTags/LayerFamily.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Made all methods in StaticVector constexpr, including static expression templates
  src/TNL/Containers/Expressions/StaticComparison.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticVerticalOperations.h
  src/TNL/Containers/StaticVector.h
  src/TNL/Containers/StaticVector.hpp
  src/TNL/Containers/detail/VectorAssignment.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Simplified tnl-mesh-converter using 'if constexpr' from C++17
  src/Tools/tnl-mesh-converter.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Use std::visit instead of its unofficial C++14 backport
  src/TNL/3rdparty/mpark/variant.hpp
  src/TNL/Config/ConfigEntryType.h
  src/TNL/Meshes/Readers/MeshReader.h
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/Readers/VTUReader.h
  src/UnitTests/Meshes/MeshReaderTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unused function fileExists
  src/TNL/File.h
  src/TNL/File.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Replace deprecated std::random_suffle with std::shuffle
  src/Benchmarks/Sorting/generators.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Doxyfile: enable WARN_AS_ERROR only in CI or when building CUDA
  Documentation/CMakeLists.txt
  Documentation/Doxyfile
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Doxyfile: removed deprecated options that don't have any effect anymore
  Documentation/Doxyfile
Due: documentation examples, build documentation, pages

CI: use the LLVM linker and libc++ for clang builds
  .gitlab-ci.yml
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

CMakeLists.txt: removed duplicate compiler flag
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed StringTest for LLVM's libc++
  src/UnitTests/StringTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

CMakeLists.txt: fix CMAKE_MODULE_PATH for cases where TNL is included with add_subdirectory()
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed Ginkgo examples for version 1.5.0
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation2D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation3D.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Documentation: updated link to the example projects
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, pages

Documentation: removed duplicate documentation and fixed typo
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/LambdaMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Documentation: workarounds for a bug in doxygen 1.9.5
  src/TNL/Containers/Array.h
  src/TNL/Containers/ArrayView.h
  src/TNL/Containers/ByteArraySynchronizer.h
  src/TNL/Containers/DistributedArray.h
  src/TNL/Containers/Vector.h
  src/TNL/Containers/VectorView.h
  src/TNL/Math.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed reduceRows in TridiagonalMatrixView
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added .cache directory to .gitignore
  .gitignore
Due: dummy build job

Fixed integer overflow error in the CudaScanKernel
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed/deprecated some ambiguous CUDA launch helper functions
  src/Benchmarks/ODESolvers/Euler.hpp
  src/Benchmarks/ODESolvers/Merson.hpp
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/AdEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/BiEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/ChunkedEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Ellpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/SlicedEllpack_impl.h
  src/TNL/Algorithms/ParallelFor.h
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Cuda/LaunchHelpers.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deleting tnl-quickstart.
  src/Tools/CMakeLists.txt
  src/Tools/tnl-quickstart/CMakeLists.txt
  src/Tools/tnl-quickstart/Makefile
  src/Tools/tnl-quickstart/build-config-tag.h.in
  src/Tools/tnl-quickstart/config.mk
  src/Tools/tnl-quickstart/explicit-laplace-grid-1d_impl.h.in
  src/Tools/tnl-quickstart/explicit-laplace-grid-2d_impl.h.in
  src/Tools/tnl-quickstart/explicit-laplace-grid-3d_impl.h.in
  src/Tools/tnl-quickstart/implicit-laplace-grid-1d_impl.h.in
  src/Tools/tnl-quickstart/implicit-laplace-grid-2d_impl.h.in
  src/Tools/tnl-quickstart/implicit-laplace-grid-3d_impl.h.in
  src/Tools/tnl-quickstart/main.cpp.in
  src/Tools/tnl-quickstart/main.cu.in
  src/Tools/tnl-quickstart/main.h.in
  src/Tools/tnl-quickstart/operator-grid-specialization.h.in
  src/Tools/tnl-quickstart/operator-grid-specialization_impl.h.in
  src/Tools/tnl-quickstart/operator.h.in
  src/Tools/tnl-quickstart/operator_impl.h.in
  src/Tools/tnl-quickstart/problem.h.in
  src/Tools/tnl-quickstart/problem_impl.h.in
  src/Tools/tnl-quickstart/rhs.h.in
  src/Tools/tnl-quickstart/run-script.in
  src/Tools/tnl-quickstart/tnl-quickstart
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Deleting ChangeLog.
  ChangeLog
Due: dummy build job

Refactored getNeighbourEntity interface in GridEntity
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_3D.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added support for polyhedral meshes to tnl-decompose-mesh
  src/Tools/tnl-decompose-mesh.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Dependencies
  src/Benchmarks/BLAS/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

CMakeLists.txt: the FindFilesystem module must be installed and used from the TNLConfig.cmake file
  CMakeLists.txt
  cmake/TNLConfig.cmake.in
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed empty array expansion in the configure script
  configure
Due: dummy build job

Removed `__launch_bounda__` from CudaReductionKernel and CudaMultireductionKernel
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Use modern type traits in Math.h
  src/TNL/Math.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added sqr function and optimized l2Norm
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Functional.h
  src/TNL/Math.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unused variables reported by clang
  src/Benchmarks/BLAS/gemv.h
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
  src/TNL/Matrices/DenseMatrixView.hpp
  src/UnitTests/AssertCudaTest.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format
