Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fix typos in GeneralConcepts.md
  Documentation/UsersGuide/GeneralConcepts/ug_GeneralConcepts.md
Due: documentation, pages

Implement distributed evaluateAndReduce, addAndReduce, and addAndReduceAbs
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed math formatting in users guide for ODE solvers
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
Due: documentation, pages

CI: allow failures for ROCm build
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Add example for using ODESolver with DistributedVector
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/DistributedODESolver-HeatEquationExample.cpp
  Documentation/Examples/Solvers/ODE/DistributedODESolver-HeatEquationExample.cu
  Documentation/Examples/Solvers/ODE/DistributedODESolver-HeatEquationExample.h
  Documentation/Examples/Solvers/ODE/write.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Modernize ByteArraySynchronizer constructor
  src/TNL/Containers/ByteArraySynchronizer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Improve Python syntax
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
Due: documentation, pages, python-black

Remove unused includes
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.h
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.h
Due: documentation, pages, clang-format, clang-tidy

Describe distributed ODE solvers in the users guide
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
Due: documentation, pages

Remove references from scalar operands in DistributedBinaryExpressionTemplate
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Extend ODESolver for distributed vectors
  src/TNL/Solvers/ODE/ODESolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove getClockRate and getMemoryClockRate functions
  src/TNL/Backend/DeviceInfo.h
  src/TNL/Benchmarks/Utils.h
  src/TNL/Logger.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

MPI device to device for non-pivoting GEM done!
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing and refactoring GEM.
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/detail/GEMdevice.h
  src/TNL/Solvers/Linear/detail/GEMdeviceMPI.h
  src/TNL/Solvers/Linear/detail/GEMkernels.h
  src/TNL/Solvers/Linear/detail/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add specialization for MeshReader::loadMesh to load directly into a mesh on GPU
  src/TNL/Meshes/Readers/MeshReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing benchmark of linear solvers (setup of initial vector x0).
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Solvers/Linear/CuSolverWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

GEM: fixed usage of parseCommandLine
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added description for the GEM solver.
  src/TNL/Solvers/Linear/GEM.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

GPU result computation via kernel, added verbose for program and time computation
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem-CPU/GEM_impl.h
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove unused macros from .clangd
  .clangd
Due: dummy build job

First algorithm works for smaller matrices. Blocks, under, upper and diagonal.
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added unit tests for GEM solver.
  src/UnitTests/Solvers/Linear/CMakeLists.txt
  src/UnitTests/Solvers/Linear/GEMSolverTest.cpp
  src/UnitTests/Solvers/Linear/GEMSolverTest.cu
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
  src/UnitTests/Solvers/Linear/GEMSolverTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactoring GEM solver.
  src/Benchmarks/GEM/Makefile
  src/Benchmarks/GEM/gem/GEM.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/detail/GEMdevice.h
  src/TNL/Solvers/Linear/detail/GEMdeviceMPI.h
  src/TNL/Solvers/Linear/detail/GEMkernels.h
  src/TNL/Solvers/Linear/detail/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Readable code, MPI pivoting working, makefile.inc switch WITH_MPI yes/no made
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix CuSolverWrapper
  src/TNL/Solvers/Linear/CuSolverWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Introducing type traits for matrix types.
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/TNL/Graphs/Graph.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Matrices/TypeTraits.h
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/UnitTests/Matrices/MatrixTypeTraitsTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting obsolete script for GEM benchmark.
  src/Benchmarks/GEM/tnl-gem-script
Due: dummy build job

Fixed guards to GinkgoDirectSolver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

GEM can now calculate with multiple grid (matrix size 8000 rows +), better matrix reading and memory operations implemented. Text almost done.
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
  src/Benchmarks/GEM/main.h
  src/Benchmarks/GEM/tnl-gem-script
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added unit tests for GEM and canceling GEM unit tests with float.
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Bump minimum required CMake version to 3.30
  CMakeLists.txt
  CMakePresets.json
  install
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Refactoring GEM solver benchmark.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/GEM/CMakeLists.txt
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/tnl-benchmark-gem.cpp
  src/Benchmarks/GEM/tnl-benchmark-gem.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Updating the interface of GEM solver to be compatible with other solvers.
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

GEM with columns, thread per element, under-diagonal without pivoting
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers
