Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Moving copyDenseToDenseMatrix from SparseOperations to DenseOperations.
  src/TNL/Matrices/DenseOperations.h
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for copyDenseToDenseMatrix.
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Improving reading of symmetric matrices.
  Documentation/UsersGuide/Matrices/SymmetricSparseMatrixExample.cpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/UnitTests/Graphs/GraphTest_trees.h
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

IsArrayType uses std::conjunction to avoid warning due to deprecated getSize method in segments.
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Matrices::is_matrix_view.
  src/TNL/Matrices/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating documentation od traversing and reduction functions for segments. Deleting functions with segment indexes and range - the range can be specified via array view.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/scan.hpp
  src/TNL/Algorithms/Segments/sort.hpp
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring code for graphs.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphOperations.h
  src/TNL/Graphs/GraphOperations.hpp
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing traverse and reduction functions fopr segments with segment indexes range parameters. The range can be replaced with an array view slice.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added semiring BFS and SSSP to graph benchmarks.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/SemiringBFS.h
  src/Benchmarks/Graphs/SemiringSSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added examples on free functions for matrix traversing.
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/Traverse/CMakeLists.txt
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElements.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElements.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElementsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElementsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRows.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRows.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRowsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRowsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElements.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElements.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsWithIndexes.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsWithIndexes.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-1.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-1.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-2.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-2.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsWithIndexes.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsWithIndexes.cu
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring code for segments - fixing variables capturing in lambdas with consxtexpr-if to work with nvcc.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added docstring documentation for the MultiindexCreator.
  src/Python/MultiindexCreator.py
Due: dummy build job, python-black

Added Doxygen pages explaining segment functions for: find, reduce, scan, sort, traverse.
  src/TNL/Algorithms/Segments/find.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing code formatting.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/Segments/scan.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming reducing functions for matrices - reduceRowsIfWithArgument to reduceRowsWithArgumentIf.
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added parameter 'emptySegment/emptyRow/isolatedVertex' to storer lambdas in reducing operations with argument.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Graph constructor and setEdges with initializer list for dense adjacency matrix.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing graph tests with dense matrices. Substituting ignored template parameter Ellpack is not accepted by some compilers, CSR is better.
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added Doxygen documentation to various Graph realted structures.
  src/TNL/Graphs/Edge.h
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphOrientation.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/GraphView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduction functions with "If" for segments and matrices returns number of precessed segments/rows. Plus fixes in reduction operations for matrices.
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming nodes to vertices in EdgeListReader.
  src/TNL/Graphs/Readers/EdgeListReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added refrences to overview pages in documentation of segment and matrix traversal/reduction functions.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing definition of 'none_scheduled' from -1 to numeric_limits::max() in Dynamic grouping kernels for CSR segments to avoid potential issues with unsigned Index types.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added examples on graphs.
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  Documentation/Examples/Graphs/GraphExample_Constructors.cu
  Documentation/Examples/Graphs/GraphExample_Constructors.hip
  Documentation/Examples/Graphs/GraphExample_VertexView.cpp
  Documentation/Examples/Graphs/GraphExample_VertexView.cu
  Documentation/Examples/Graphs/GraphExample_VertexView.hip
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  Documentation/Examples/Graphs/GraphExample_setEdges.cu
  Documentation/Examples/Graphs/GraphExample_setEdges.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Avoiding default use of symmetric adjacency matrix in undirected graphs.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/UnitTests/Graphs/GraphTest_SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added graph view.
  src/TNL/Graphs/GraphView.h
  src/TNL/Graphs/GraphView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing script for processing graph benchmarks results.
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/README.md
  src/Benchmarks/Graphs/run-all-benchmarks
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Temporarily disabling all segment types in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Deleting useless file Matrices/detail/TraversingOperationsBase.h.
  src/TNL/Matrices/detail/TraversingOperationsBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added setEdges with std::map to Graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/UnitTests/Graphs/GraphTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added label Matrices to tests in Matrices Reduce and Traverse unit test CMakeLists.txt files.
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Moving MultiindexCreator.py to src/Python and deleting old copies.
  src/Benchmarks/Segments/MultiindexCreator.py
  src/Python/CMakeLists.txt
  src/Python/MultiindexCreator.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, python-black

Fixing reducing operations for BiEllpack segments.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming reduceSegmentsIfWithArgument to reduceSegmentsWithArgumentIf.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIfWithArgument.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cu
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedAdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Moving copySparseToDenseMatrix and copyDenseToSparseMatrix from SparseOperations to DenseSparseOperations.
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseSparseOperations.h
  src/TNL/Matrices/DenseSparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing header files including in TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing SortedSegments[View]::getConstView().
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing label in traversing launch configurations for segments.
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving graph algorithms to Algorithms subfolder. Added documentation to graph algorithms.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/TNL/Graphs/GraphVertexView.h
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.hip
  src/UnitTests/Graphs/GraphTest.cpp
  src/UnitTests/Graphs/GraphTest.cu
  src/UnitTests/Graphs/GraphTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming the namespace Matrices::details to Matrices::detail.
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/detail/MultidiagonalMatrixIndexer.h
  src/TNL/Matrices/detail/SparseMatrix.h
  src/TNL/Matrices/detail/TridiagonalMatrixIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
