Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added segment reduction with segment indexes.
  src/TNL/Algorithms/Segments/detail/CheckLambdas.h
  src/TNL/Algorithms/Segments/detail/FetchLambdaAdapter.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing new varsion of parallel BFS algorithm - hopefully more efficient.
  src/TNL/Graphs/breadthFirstSearch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing segments traversing as free functions for Ellpack formats.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackSegmentView.h
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/detail/SegmentsOperations.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for sorted CSR segments.
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added TraversingOperationsBaseline for segments.
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBaseline.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added traversing with sorted segments.
  src/TNL/Algorithms/Segments/detail/TraversingOperations.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Moving the launch config to the position of the last parameter in segments based operations.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/operations.h
  src/TNL/Algorithms/Segments/operations.hpp
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding findUpperBound function.
  src/TNL/Algorithms/find.h
  src/UnitTests/Algorithms/findTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes and refactoring of segments operations of BiEllpack and ChunkedEllpack.
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing more efficient BFS algorithm.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Graphs/breadthFirstSearch.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing kernels for parallelel traversing of SlicedEllpack.
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/SlicedEllpackKernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added launch configuration to BFS algorithm and benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small changes in scripts for graph benchmark.
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
Due: dummy build job

Added function for compression of vectors (and arrays).
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/compressExample-lambda.cpp
  Documentation/Examples/Algorithms/compressExample-lambda.cu
  Documentation/Examples/Algorithms/compressExample-lambda.hip
  Documentation/Examples/Algorithms/compressExample-vector.cpp
  Documentation/Examples/Algorithms/compressExample-vector.cu
  Documentation/Examples/Algorithms/compressExample-vector.hip
  src/TNL/Algorithms/compress.h
  src/TNL/Algorithms/detail/Compress.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/compressTest.cpp
  src/UnitTests/Algorithms/compressTest.cu
  src/UnitTests/Algorithms/compressTest.h
  src/UnitTests/Algorithms/compressTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming unit tests for reduction of segments.
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added segment reduction with segment indexes and argument.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Extracting storage structures out of CudaScan objects.
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for forElements with segment indexes.
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Updating sparse matrix to use new free functions for segments reduction.
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing sorted segments to work with CUDA.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_scan.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cpp
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedAdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes in CSR segments traversing.
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimizing and refactoring unit tests for segments traversing.
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing index types in CSRVectorKernel for reduction - TO SQUASH.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Code cleaning - removing useless semicolons.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplifying calls of the segments operations.
  src/TNL/Algorithms/Segments/operations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Using the node with the largest degree to test BFS and SSSP in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Updating script for fetching graphs from sparse matrix collection.
  src/Benchmarks/Graphs/extract-graphs
Due: dummy build job

Reimplementing sparse matrix operations using parallalFor instead of forElements.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added tests for sorted Ellpack segments.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added unit tests for sorted SlicedEllpack segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added forElementsIf and forElements with row indexes for tridiagonal matrices.
  Documentation/Examples/Matrices/TridiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsIf.cu
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-1.cu
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-2.cu
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Implementing kernels for parallel traversing of Ellpack.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/detail/EllpackKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting reduction kernels from segments unit tests.
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Renaming test SetSegmentsSizes to setSegmentSizes.
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Updating documentation for segments traversing functions.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forElements.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forElements.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forSegments.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsIf.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsWithIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsWithIndexes.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsIf.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsWithIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsWithIndexes.cu
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added missing definition of row-major and column-major ChunkedEllpack.
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting matrix transposition in BFS => significant speed-up :).
  src/TNL/Graphs/breadthFirstSearch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming current segment operations to traversing operations.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorted segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsView.h
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing Boost graph benchmark. Avoiding excessive outputs on errors in graph benchmark. Fixing results checks in graphs benchmark.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers
