Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Extracting storage structures out of CudaScan objects.
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing new varsion of parallel BFS algorithm - hopefully more efficient.
  src/TNL/Graphs/breadthFirstSearch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added launch configuration to SSSP graph algorithm and benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add justfile for just a command runner
  .env
  justfile
Due: dummy build job

Add missing function overload for loading unstructured distributed meshes on GPU
  src/TNL/Meshes/Readers/PVTUReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing kernels for parallel traversing of Ellpack.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/detail/EllpackKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor CudaBlockReduce with shared memory to be usable from 2D and 3D reductions
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix syntax error in GEM test
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Improve general script for processing benchmark results
  src/Python/BenchmarkLogs.py
  src/Tools/tnl-benchmark-to-html.py
Due: dummy build job, python-black

Refactor CuSolverWrapper
  src/TNL/Solvers/Linear/CuSolverWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add metadata to the project definition in CMakeLists.txt
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

CI: run just shellcheck
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Added function for getting number of parameters of a lambda function.
  src/TNL/TypeTraits.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add unit tests for the isSorted function and fix it for 64-bit IndexType
  src/TNL/Algorithms/sort.h
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/isSortedTest.cpp
  src/UnitTests/Algorithms/Sorting/isSortedTest.cu
  src/UnitTests/Algorithms/Sorting/isSortedTest.h
  src/UnitTests/Algorithms/Sorting/isSortedTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added launch configuration to BFS algorithm and benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added new test for the method forElements in segments.
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add AGENTS.md - project documentation for AI assistants
  AGENTS.md
Due: dummy build job

Refactor BenchmarkResult class for linear solvers benchmark
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/LinearSolversBenchmarkResult.h
  src/Benchmarks/LinearSolvers/benchmarks.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix core CUDA kernel launch functions to avoid integer overflow
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/DiscreteMath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving the launch config to the position of the last parameter in segments based operations.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/operations.h
  src/TNL/Algorithms/Segments/operations.hpp
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added guards for Boost in graphs benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix return type of MeshFunctionView::write() function to be void
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed logging of results in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added scripts for graph benchmarks.
  src/Benchmarks/Graphs/MultiindexCreator.py
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
  src/Benchmarks/Graphs/run-tnl-benchmark-graphs
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Removed old/deprecated directories from .gitignore
  .gitignore
Due: dummy build job

Reimplementing sparse matrix operations using parallalFor instead of forElements.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating Python script for graphs benchmark results processing.
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Renaming current segment operations to traversing operations.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Improve documentation of the IterativeSolver class
  src/TNL/Solvers/IterativeSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Generalize TNL::isPow2 function for any integral type
  src/TNL/DiscreteMath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added flags for disabling some graph benchmarks.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Implementing new variants of forElements for segments.
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix the worst issues in tnl-benchmark-sort
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Disable clang-tidy for a few type-traits functions
  src/TNL/Matrices/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix uses of the roundUpDivision function
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Algorithms/detail/Scan.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DenseOperations.hpp
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added function for compression of vectors (and arrays).
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/compressExample-lambda.cpp
  Documentation/Examples/Algorithms/compressExample-lambda.cu
  Documentation/Examples/Algorithms/compressExample-lambda.hip
  Documentation/Examples/Algorithms/compressExample-vector.cpp
  Documentation/Examples/Algorithms/compressExample-vector.cu
  Documentation/Examples/Algorithms/compressExample-vector.hip
  src/TNL/Algorithms/compress.h
  src/TNL/Algorithms/detail/Compress.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/compressTest.cpp
  src/UnitTests/Algorithms/compressTest.cu
  src/UnitTests/Algorithms/compressTest.h
  src/UnitTests/Algorithms/compressTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Updating sparse matrix to use new free functions for segments reduction.
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added new unit tests for segments.
  src/UnitTests/Algorithms/Segments/LaunchConfigurationsSetup.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
