Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Added stopOnSteadyState setter/getter in ExplicitSolver and StaticExplicitSolver
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ExplicitSolver.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.h
  src/TNL/Solvers/ODE/StaticExplicitSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use consistent header names for benchmark results
  src/Benchmarks/Eigen/EigenBenchmark.h
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/ODESolvers/ODESolversBenchmarkResult.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Avoid clang warning in SystemInfo
  src/TNL/SystemInfo.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add more checks to ODE solver unit tests
  src/UnitTests/Solvers/ODE/ODESolverTest.h
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix shared memory in CSR hybrid multi-vector reduction kernel
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix issues reported by clang-tidy
  src/TNL/Arithmetics/Complex.h
  src/TNL/Meshes/Readers/MeshReader.h
  src/UnitTests/Algorithms/copyTest.cpp
  src/UnitTests/Containers/ArrayTest.h
  src/UnitTests/Containers/BlockTest.cpp
  src/UnitTests/Containers/LinearCombinationTest.cpp
  src/UnitTests/Containers/VectorTest.h
  src/UnitTests/Matrices/StaticMatrixTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CopyEntitiesTest.cpp
  src/UnitTests/Meshes/EntityTests.h
  src/UnitTests/Meshes/MeshOrderingTest.h
  src/UnitTests/Meshes/MeshTest.h
  src/UnitTests/Meshes/NetgenReaderTest.cpp
  src/UnitTests/Pointers/SharedPointerTest.cpp
  src/UnitTests/Pointers/UniquePointerTest.cpp
  src/UnitTests/Solvers/Linear/UmfpackWrapperTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add method to unset the timer from SolverMonitor
  src/TNL/Benchmarks/Utils.h
  src/TNL/Solvers/SolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix markdown formatting in documentation comment
  src/TNL/Solvers/ODE/ODESolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor benchmarkDirectSolver function to avoid code duplication
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

CMake: switch include directory for BLAS to SYSTEM
  src/Benchmarks/DenseMatrices/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Modernize memory access benchmark
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Modernize for loops with structured bindings
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use the facilities from base classes for iteration in ODESolver
  src/TNL/Solvers/ODE/ODESolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove old unused files
  src/UnitTests/Solvers/ODE/StaticEulerSolverTest.hip
  src/UnitTests/Solvers/ODE/StaticMersonSolverTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add CI job for validating CITATION.cff
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

CMake: increase timeout for executing tests
  CMakePresets.json
Due: dummy build job

Moving Double, Quad, Multiprecision and Real arithmetics to Experimental.
  src/TNL/Arithmetics/experimental/Double.h
  src/TNL/Arithmetics/experimental/Double_impl.h
  src/TNL/Arithmetics/experimental/FlopsCounter.cpp
  src/TNL/Arithmetics/experimental/FlopsCounter.h
  src/TNL/Arithmetics/experimental/MultiPrecision.cpp
  src/TNL/Arithmetics/experimental/MultiPrecision.h
  src/TNL/Arithmetics/experimental/Quad.h
  src/TNL/Arithmetics/experimental/Quad_impl.h
  src/TNL/Arithmetics/experimental/Real.h
  src/UnitTests/Algorithms/SegmentedScanTest.h
  src/UnitTests/Algorithms/reduceTest.h
  src/UnitTests/Algorithms/scanTest.h
  src/UnitTests/Arithmetics/QuadTest.cpp
  src/UnitTests/Containers/VectorEvaluateAndReduceTest.h
  src/UnitTests/Containers/VectorTestSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving OperatorFunction.h and ExactOperatorFunction.h from TNL/Functions/experimental to tnl-legacy.
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/OperatorFunction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: replace python-black with ruff for formatting and linting
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Reformat Python scripts with ruff
  scripts/eti.py
  scripts/run-clang-format.py
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job, clang-format, python-black

Added CUBMergeSort as the default sorter for CUDA devices instead of Quicksort.
  src/TNL/Algorithms/Sorting/CUBMergeSort.h
  src/TNL/Algorithms/Sorting/DefaultSorter.h
  src/TNL/Algorithms/sort.h
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/QuicksortTest.cu
  src/UnitTests/Algorithms/Sorting/QuicksortTest.hip
  src/UnitTests/Algorithms/Sorting/SorterTest.cu
  src/UnitTests/Algorithms/Sorting/SorterTest.h
  src/UnitTests/Algorithms/Sorting/SorterTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming Solvers::Eigenvalues to Solvers::Eigen.
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
  src/TNL/Solvers/Eigen/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigen/experimental/ShiftedPowerIteration.h
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Eigen/CMakeLists.txt
  src/UnitTests/Solvers/Eigen/PowerMethodTest.cpp
  src/UnitTests/Solvers/Eigen/PowerMethodTest.h
  src/UnitTests/Solvers/Eigen/PowerMethodTestCuda.cu
  src/UnitTests/Solvers/Eigen/QRAlgorithmTest.cpp
  src/UnitTests/Solvers/Eigen/QRAlgorithmTest.h
  src/UnitTests/Solvers/Eigen/QRAlgorithmTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Use if constexpr in shared memory reductions
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove verification functions from NDArray benchmarks
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Temporarily disable broken test
  src/UnitTests/Solvers/ODE/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Re-add benchmarking of matrix copy to the linear solvers benchmark
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed Gunrock graph benchmark.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add section on AI-assisted contributions to CONTRIBUTING.md
  CONTRIBUTING.md
Due: dummy build job

Add power-of-two-sizes test for the reduce function
  src/UnitTests/Algorithms/reduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix shellcheck linting
  src/Benchmarks/Graphs/run-tnl-benchmark-random-graphs
  src/Benchmarks/Grid/run-tnl-benchmark-grid
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/ODESolvers/run-tnl-benchmark-ode-solvers
  src/Benchmarks/System/run-tnl-benchmark-memory-access
  src/Examples/Hypre/glvis-ex5.sh
  src/Examples/Hypre/verify-ex5.sh
Due: dummy build job

Clean up GEM class
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove configure and install scripts
  configure
  install
Due: dummy build job

Modernize finding Thrust and add the CUB include directory to the interface target
  CMakeLists.txt
  cmake/TNLConfig.cmake.in
  src/Benchmarks/BLAS/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Refactor UmfpackWrapper
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing more efficient BFS algorithm.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Graphs/breadthFirstSearch.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added MTX reader for graphs.
  src/TNL/Graphs/Readers/EdgeListReader.h
  src/TNL/Graphs/Readers/MtxReader.h
  src/TNL/Graphs/Writers/EdgeListWriter.h
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing assertions in traversing kernels for CSR.
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplifying calls of the segments operations.
  src/TNL/Algorithms/Segments/operations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Bump version to 0.2.0
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add benchmark logs to .gitignore
  .gitignore
Due: dummy build job

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
