Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/Examples, clang-format src/Tools, clang-format src/UnitTests, clang-format Documentation, clang-tidy

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  Ginkgo examples: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format src/TNL: any of: src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Benchmarks: any of: src/Benchmarks/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Examples: any of: src/Examples/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Tools: any of: src/Tools/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/UnitTests: any of: src/UnitTests/**/*.{h,hpp,cpp,cu,hip}
  clang-format Documentation: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml

Reformatted Python modules and scripts with the Black formatter
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.py
  src/Benchmarks/Graphs/tnl-benchmark-cugraph.py
  src/Benchmarks/Graphs/tnl-graph-generator.py
  src/Benchmarks/Grid/process-tnl-benchmark-grid.py
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
  src/Python/BenchmarkLogs.py
  src/Python/BenchmarkPlots.py
  src/Tools/tnl-benchmark-to-html.py
Due: documentation, pages

Reformatted .cu files with clang-format
  src/Benchmarks/Sorting/bitonicsortBenchmark.cu
  src/Tools/tnl-cuda-arch.cu
  src/UnitTests/AssertTestCuda.cu
  src/UnitTests/Pointers/DevicePointerTestCuda.cu
  src/UnitTests/Pointers/SharedPointerTestCuda.cu
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-format src/Tools, clang-format src/UnitTests, clang-tidy

Added CI job for formatting Python files
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Fixed special formatting of matrix elements that got messed up by clang-format
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_init_list.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_setElements.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_constructor.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_getAllocatedElementsCount.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_getCompressedRowLengths.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_getConstRow.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_getElement.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceRows.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_wrap.cpp
  Documentation/Examples/Matrices/MatrixWriterReaderExample.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_Constructor_init_list_2.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_setElements.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_Constructor_init_list_2.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_getCompressedRowLengths.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_getElement.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_setElements.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixViewExample_getConstRow.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_getCompressedRowLengths.cpp
  Documentation/UsersGuide/Matrices/BinarySparseMatrixExample.cpp
  Documentation/UsersGuide/Matrices/SparseMatrixExample_reduceRows_vectorProduct.cpp
  Documentation/UsersGuide/Matrices/SymmetricSparseMatrixExample.cpp
Due: documentation, pages, clang-format Documentation, clang-tidy

CI: update container image names
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Extend workaround to CUDA 12.5
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fix configure script for changes in the cuda package on Arch Linux
  configure
Due: dummy build job

Fix handling of $NVCC_CCBIN in the configure script
  configure
Due: dummy build job

Disabling Doxygen in the implementation of Quicksort due to errors.
  src/TNL/Algorithms/Sorting/detail/Quicksorter.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Avoid warning in AssertTestHip
  src/UnitTests/AssertTestHip.hip
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Fix Backend::getWarpSize for gfx10 and gfx11 architectures
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Add ROCm/HIP toolchain to CMakePresets.json
  CMakePresets.json
Due: dummy build job

Skip DistributedMeshTest with 3x3 and 4x4 processes on HIP
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Fixed SparseMatrixBase::getNonzeroElementsCount to ommit explicitly stored zero elements.
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-tidy

Added compressSparseMatrix function.
  src/TNL/Matrices/SparseOperations.h
  src/TNL/Matrices/SparseOperations.hpp
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.cpp
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.cu
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.hip
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-tidy

Added more assertions to SparseMatrixBase::vectorProduct and making check for havePadding constexpr.
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed passing of lambda functions by forwarding references in reduceRows and reduceAllRows in matrices.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DistributedMatrix.h
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.hpp
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added support for reading just matrix pattern from MTX files in the matrix reader.
  src/TNL/Matrices/MatrixReader.h
  src/TNL/Matrices/MatrixReader.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

CSRLightKernel works only for fundamental types due to __shfl_down_sync
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed unit tests for vector product with CSRLightKernel
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRLight.cpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRLight.cu
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRLight.hip
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Fixed CSRLightKernel for HIP
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Removing useless code for CSR Light kernels.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Removed useless initialization of shared memory in CSRHybridKernel
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fix Backend::getWarpSize for gfx8 and gfx9 architectures
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Avoiding support of arithemtic (like double or float) types for ODE solver.
  src/TNL/Solvers/ODE/ODESolver.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Updating documentation on ODE solver and related namespaces.
  src/TNL/Solvers/ODE/Methods/Matlab/_NamespaceDoxy.h
  src/TNL/Solvers/ODE/Methods/_NamespaceDoxy.h
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/ODE/ODESolver.hpp
  src/TNL/Solvers/ODE/_NamespaceDoxy.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Renaming RungeKutta method to OriginalRungeKutta.
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/TNL/Solvers/ODE/Methods/OriginalRungeKutta.h
  src/UnitTests/Solvers/ODE/CMakeLists.txt
  src/UnitTests/Solvers/ODE/StaticODESolverTest_OriginalRungeKutta.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/UnitTests, clang-tidy

Extracting ODESolverEvaluator.h from ODESolver.hpp
  src/TNL/Solvers/ODE/ODESolver.hpp
  src/TNL/Solvers/ODE/detail/ODESolverEvaluator.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added StaticODESolver.
  src/TNL/Solvers/ODE/StaticODESolver.h
  src/TNL/Solvers/ODE/StaticODESolver.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added new benchmark tests to BLAS benchmark.
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Added test of static ODE solver for GPUs.
  src/UnitTests/Solvers/ODE/CMakeLists.txt
  src/UnitTests/Solvers/ODE/ODESolverTest.h
  src/UnitTests/Solvers/ODE/ODESolverTest_Euler.hip
  src/UnitTests/Solvers/ODE/ODESolverTest_Merson.hip
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
  src/UnitTests/Solvers/ODE/StaticODESolverTest_Merson.cu
  src/UnitTests/Solvers/ODE/StaticODESolverTest_Merson.hip
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Refactoring methods for ODE solvers.
  src/TNL/Solvers/ODE/Methods/BogackiShampin.h
  src/TNL/Solvers/ODE/Methods/CashKarp.h
  src/TNL/Solvers/ODE/Methods/DormandPrince.h
  src/TNL/Solvers/ODE/Methods/Euler.h
  src/TNL/Solvers/ODE/Methods/Fehlberg2.h
  src/TNL/Solvers/ODE/Methods/Fehlberg5.h
  src/TNL/Solvers/ODE/Methods/Heun2.h
  src/TNL/Solvers/ODE/Methods/Heun3.h
  src/TNL/Solvers/ODE/Methods/Kutta.h
  src/TNL/Solvers/ODE/Methods/Merson.h
  src/TNL/Solvers/ODE/Methods/Midpoint.h
  src/TNL/Solvers/ODE/Methods/Ralston2.h
  src/TNL/Solvers/ODE/Methods/Ralston3.h
  src/TNL/Solvers/ODE/Methods/Ralston4.h
  src/TNL/Solvers/ODE/Methods/Rule38.h
  src/TNL/Solvers/ODE/Methods/RungeKutta.h
  src/TNL/Solvers/ODE/Methods/SSPRK3.h
  src/TNL/Solvers/ODE/Methods/VanDerHouwenWray.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Moving Euler, EulerNonET, Merson and MersonNonET to Benchmakrs/ODESolvers/Legacy folder.
  src/Benchmarks/ODESolvers/Legacy/ComputeBlockResidue.h
  src/Benchmarks/ODESolvers/Legacy/Euler.h
  src/Benchmarks/ODESolvers/Legacy/Euler.hpp
  src/Benchmarks/ODESolvers/Legacy/EulerNonET.h
  src/Benchmarks/ODESolvers/Legacy/EulerNonET.hpp
  src/Benchmarks/ODESolvers/Legacy/Merson.h
  src/Benchmarks/ODESolvers/Legacy/Merson.hpp
  src/Benchmarks/ODESolvers/Legacy/MersonNonET.h
  src/Benchmarks/ODESolvers/Legacy/MersonNonET.hpp
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Added iterate method to the ODE solver.
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample_iterate.cpp
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample_iterate.h
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ExplicitSolver.hpp
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/ODE/ODESolver.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.h
  src/UnitTests/Solvers/ODE/ODESolverTest.h
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-format Documentation, clang-tidy

Updating ODE solvers unit tests to test only the new implementation of ODE solvers.
  src/UnitTests/Solvers/ODE/CMakeLists.txt
  src/UnitTests/Solvers/ODE/EulerSolverTest.h
  src/UnitTests/Solvers/ODE/MersonSolverTest.h
  src/UnitTests/Solvers/ODE/NewMersonSolverTest.cpp
  src/UnitTests/Solvers/ODE/NewMersonSolverTest.cu
  src/UnitTests/Solvers/ODE/NewMersonSolverTest.h
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Making lastError in ODESolversBenchmarkResult mutable.
  src/Benchmarks/ODESolvers/ODESolversBenchmarkResult.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Replacing Index with CoefficientIndex in LinearCombination detail.
  src/TNL/Containers/Expressions/detail/LinearCombination.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added std::integral_constant to template parameters in LinearCombination.
  src/TNL/Containers/Expressions/LinearCombination.h
  src/TNL/Containers/Expressions/detail/LinearCombination.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added parameters pack to ODESolver::solve.
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/ODE/ODESolver.hpp
  src/TNL/Solvers/ODE/detail/ODESolverEvaluator.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy
