Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

Fixes in heat equation benchmark.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Small fixes in heat equation benchmark.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Small refactoring of ParallelForND.
  src/TNL/Algorithms/ParallelForND.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Reimplementing traversing of grid entities.
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Optimizing grid traversing for FVM.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Changes in ParallelForND:
  src/TNL/Algorithms/ParallelForND.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring grid entity - GridEntity is derived from GridEntityBased.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/GridEntitiesOrientationsTest.cpp
  src/UnitTests/Meshes/Grids/Indexing/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CI/CD fixes.
  src/TNL/Meshes/GridDetails/GridEntityBase.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CI/CD fixes.
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation for grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removing append logging mode in the heat equation benchmark run scripts.
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-1d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-3d
Due: dummy build job

Fixing script for processing of heat equation benchmark results.
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
Due: dummy build job

Added StaticArray::assignAt to assign shorter arrays.
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Containers/detail/StaticArrayAssignment.h
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring GridEntityBase - merging total orientation index and coordinates.
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deleting useless code in grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Modifying script for processing heat equation benchmark results to process even FVM results.
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
Due: dummy build job

Writing documentation on grid, deleting useless code.
  Documentation/Examples/Meshes/Grid/GridExample_constructor-1.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Images/RegionOfInterest_impl.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

More fixes for CI/CD.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Small changes in grid traversing test.
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Writing documentation on grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridTraits.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed Grid::forInteriorEntities for CUDA.
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixes in grid documentation.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CI/CD fixes.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Renaming getNeighbourEntity to getEntity and getNeighbourEntityIndex to getEntityIndex.
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Avoiding useless variable in grid.
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Avoiding unused variables.
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation on grid.
  Documentation/Tutorials/Meshes/tutorial_Grids.md
Due: documentation examples, build documentation, pages

Fixing cmake lists in Documentation/Examples/Meshes.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Writing tutorial on grids.
  Documentation/Tutorials/Meshes/tutorial_Grids.md
Due: documentation examples, build documentation, pages

Fixing generation of GridEntitiesOrientationsExample.out.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Deleting GridTraits.h.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridDetails/GridTraits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixing documentation of parallelFor.
  src/TNL/Algorithms/parallelFor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removing GridTraits. TO SQUASH.
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixes in Grid and heat equation benchmarks related to the new implementation of parallelFor.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMParallelFor.h
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added constructor of StaticArray from std::array.
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deactivated some functionality in SystemInfo on macOS
  src/TNL/SystemInfo.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed build with GCC 13.1
  src/TNL/Containers/detail/ArrayIO.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Optimized indexing for NDArray
  src/TNL/Containers/ndarray/Indexing.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format
