Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

CI: remove system image silkeh/clang:10
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Rewritting GEM using parallel for and reduction.
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/detail/GEMkernels.h
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing the method succeeded from direct linear solvers.
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Initial commit
  src/Benchmarks/GEM/Makefile
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem-CPU/GEM.h
  src/Benchmarks/GEM/gem-CPU/GEM_impl.h
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
  src/Benchmarks/GEM/tnl-gem-cuda.cu
  src/Benchmarks/GEM/tnl-gem.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

first version of GEM - elimination under diagonal, above diagonal and subtraction of diagonals
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Repaired without MPI witout pivoting.
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added matrices for tests. Remade calling of computation as DDC. Made calling from terminal.
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem-CPU/GEM.h
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Error repaired, cuda MPI without pivoting working
  src/Benchmarks/GEM/Makefile
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix UmfpackWrapper
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Pivoting with MPI done, unreadable code!
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

GEM for columns, thread per element, Under and above diagonal at the same time without pivoting
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Avoiding useless returns.
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/TNL/Solvers/Linear/GEM.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added GEM to LinearSolverTypeResolver.
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/LinearSolverTypeResolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Went back in commits for old GPU code. Now MPI turns on MPI code and without MPI turns on old GPU code.
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Describe distributed ODE solvers in the users guide
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
Due: documentation, pages

MPI device to device transfare for pivoting GEM done.
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactoring GEM solver.
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Mapping of threads in gems (MPI, noMPI) changed.
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
  src/Benchmarks/GEM/tnl-gem-script
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactoring GEM benchmark.
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/main.h
  src/Benchmarks/GEM/tnl-benchmark-gem.cpp
  src/Benchmarks/GEM/tnl-benchmark-gem.cu
  src/Benchmarks/GEM/tnl-benchmark-gem.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing functionality of the GEM solver.
  src/Benchmarks/GEM/CMakeLists.txt
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/tnl-gem-script
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/detail/GEMdevice.h
  src/TNL/Solvers/Linear/detail/GEMkernels.h
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing interface of GEM to fit with LinearSolver.
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add static assertions to mesh writers
  src/TNL/Meshes/Writers/FPMAWriter.h
  src/TNL/Meshes/Writers/GnuplotWriter.h
  src/TNL/Meshes/Writers/NetgenWriter.h
  src/TNL/Meshes/Writers/PVTUWriter.h
  src/TNL/Meshes/Writers/PVTUWriter.hpp
  src/TNL/Meshes/Writers/VTKWriter.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Meshes/Writers/VTUWriter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes and refactoring.
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Solvers/Linear/CuSolverWrapper.h
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring GEM benchmark and adding CuSolverWrapper for dense linear systems.
  src/Benchmarks/GEM/CMakeLists.txt
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/tnl-benchmark-gem.cpp
  src/Benchmarks/GEM/tnl-benchmark-gem.cu
  src/Benchmarks/GEM/tnl-benchmark-gem.h
  src/Benchmarks/LinearSolvers/CuSolverWrapper.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Solvers/Linear/CuSolverWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Improve Python syntax
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
Due: documentation, pages, python-black

GEM: fixed usage of MatrixReader::readMtx
  src/Benchmarks/GEM/gem.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Deleting DirectSolver class. All direct solvers are now treated as iterative.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/TNL/Solvers/DirectSolver.h
  src/TNL/Solvers/DirectSolver.hpp
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/IterativeSolver.hpp
  src/TNL/Solvers/Linear/CuSolverWrapper.h
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

The function getLinearSolver instantiates GEM solver only for dense matrices.
  src/TNL/Solvers/Linear/GEM.h
  src/TNL/Solvers/Linear/GEM.hpp
  src/TNL/Solvers/LinearSolverTypeResolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting guard -DHAVE_CUSPARSE in linear solvers benchmark.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

GEM columns, thread per element, under and above diagonal with pivoting computed on GPU
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem-CPU/GEM_impl.h
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Parallel reduction repaired, optimalized for pivoting GPU->CPU copy. Text: seq GEM, paral GEM
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixes of CuSolverWrapper.
  src/TNL/Solvers/Linear/CuSolverWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

MPI with device to device for non-pivoting gem done.
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove references from scalar operands in DistributedBinaryExpressionTemplate
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

MPI without pivoting with unknown error depending on !!!loops!!!
  src/Benchmarks/GEM/Makefile
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/main.h
  src/Benchmarks/GEM/tnl-gem-script
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Table of calculation added, print and verbose done.
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Repaired double problem. MPI works on GPU but it is slow.
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix typo
  Documentation/UsersGuide/Vectors/ug_Vectors.md
Due: documentation, pages

Renaming tnl-benchmark-gem to tnl-benchmark-dense-linear-solvers.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/DenseLinearSolvers/CMakeLists.txt
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.cpp
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.cu
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.hip
  src/Benchmarks/GEM/CMakeLists.txt
  src/Benchmarks/GEM/tnl-benchmark-gem.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixed math formatting in users guide for ODE solvers
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
Due: documentation, pages
