Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Avoiding some warnings.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/UnitTests/Graphs/GraphTest_MST.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Restoration of transposedVectorProduct and moving to SparseMatrixBase.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added SparseMatrix::findElement() and SparseMatrixView::findElement().
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/UnitTests/Matrices/SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added TNL::Algorithms::Graphs::Graph class.
  src/TNL/Algorithms/Graphs/Edge.h
  src/TNL/Algorithms/Graphs/Graph.h
  src/TNL/Algorithms/Graphs/breadthFirstSearch.h
  src/TNL/Algorithms/Graphs/minimumSpanningTree.h
  src/TNL/Algorithms/Graphs/singleSourceShortestPath.h
  src/UnitTests/Algorithms/Graphs/GraphTest_BFS.h
  src/UnitTests/Algorithms/Graphs/GraphTest_SSSP.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implementing a graph benchmark.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs.h
  src/TNL/Algorithms/Graphs/GraphReader.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implemented single source shortest path algorithm for graphs including unit tests.
  src/TNL/Algorithms/Graphs/singleSourceShortestPath.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/UnitTests/Algorithms/Graphs/CMakeLists.txt
  src/UnitTests/Algorithms/Graphs/GraphTest_SSSP.cpp
  src/UnitTests/Algorithms/Graphs/GraphTest_SSSP.cu
  src/UnitTests/Algorithms/Graphs/GraphTest_SSSP.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Debugging MST for graphs.
  src/TNL/Algorithms/Graphs/minimumSpanningTree.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added new methods to Graph.
  src/TNL/Algorithms/Graphs/Graph.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed passing of symmetric matrix encoding in SparseMatrix::setElements for CUDA.
  src/TNL/Matrices/SparseMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Changing GraphType to class enum.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Graph.h
  src/UnitTests/Graphs/GraphTest_MST.h
  src/UnitTests/Graphs/GraphTest_SSSP.h
  src/UnitTests/Graphs/GraphTest_trees.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added static_assert for check of device in Matrices::getSymmetricPart.
  src/TNL/Matrices/MatrixOperations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Small fixes for clang warnings.
  src/TNL/Algorithms/Segments/GrowingSegments.h
  src/TNL/Graphs/Graph.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed unit tests for MST of graphs.
  src/UnitTests/Graphs/GraphTest_MST.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed formating of documentation for SparseMatrixBase and SparseMatrix.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrixBase.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removing MatrixSetter.
  src/TNL/Matrices/MatrixSetter.h
  src/TNL/Matrices/MatrixSetter_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed Gunrock benchmarks of BFS and SSSP.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added AtomicVectorView.
  src/TNL/Algorithms/Segments/GrowingSegmentsView.h
  src/TNL/Containers/AtomicVectorView.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added multiplication of transposed sparse matrix and vector.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixing unit test for MST of graphs.
  src/UnitTests/Algorithms/Graphs/GraphTest_MST.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed dense matrix unit test after renaming getTransposition -> transpose.
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Moving graphs from TNL/Algorithms/Graphs to TNL/Graphs.
  src/TNL/Graphs/Edge.h
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/GraphReader.h
  src/TNL/Graphs/GraphWriter.h
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/minimumSpanningTree.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Graphs/trees.h
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/Graphs/makeSymmetric.h
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_BFS.cpp
  src/UnitTests/Graphs/GraphTest_BFS.cu
  src/UnitTests/Graphs/GraphTest_BFS.h
  src/UnitTests/Graphs/GraphTest_MST.cpp
  src/UnitTests/Graphs/GraphTest_MST.cu
  src/UnitTests/Graphs/GraphTest_MST.h
  src/UnitTests/Graphs/GraphTest_SSSP.cpp
  src/UnitTests/Graphs/GraphTest_SSSP.cu
  src/UnitTests/Graphs/GraphTest_SSSP.h
  src/UnitTests/Graphs/GraphTest_trees.cpp
  src/UnitTests/Graphs/GraphTest_trees.cu
  src/UnitTests/Graphs/GraphTest_trees.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added sorting of matrix rows by column indexes.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixRowView.h
  src/TNL/Matrices/SparseMatrixRowView.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/UnitTests/Matrices/SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added specific versions of nvcc and g++ for nvcc workaround in SparseOperations.
  src/TNL/Matrices/SparseOperations.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed benchmark with cuGraph.
  src/Benchmarks/Graphs/tnl-benchmark-cugraph.py
Due: dummy build job

Fixing SparseMatrixRowView::getColumnIndex to work even with ConstRowView.
  src/TNL/Matrices/SparseMatrixRowView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added timer to Cugraph benchmark.
  src/Benchmarks/Graphs/tnl-benchmark-cugraph.py
Due: dummy build job

Fixed documentation of transposedVectorProduct.
  src/TNL/Matrices/SparseMatrixBase.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added compile test for Gunrock.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed build of graphs benchmark with Boost.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/minimumSpanningTree.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added GraphWriter.
  src/TNL/Algorithms/Graphs/GraphWriter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added getView and getConstView to AtomicVectorView.
  src/TNL/Containers/AtomicVectorView.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed benchmarks for Gunrock.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added algorithms testing if graph is a tree or forest.
  src/TNL/Algorithms/Graphs/trees.h
  src/UnitTests/Algorithms/Graphs/CMakeLists.txt
  src/UnitTests/Algorithms/Graphs/GraphTest_MST.h
  src/UnitTests/Algorithms/Graphs/GraphTest_trees.cpp
  src/UnitTests/Algorithms/Graphs/GraphTest_trees.cu
  src/UnitTests/Algorithms/Graphs/GraphTest_trees.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added method getGlobalIndex to SparseMatrixRowView.
  src/TNL/Matrices/SparseMatrixRowView.h
  src/TNL/Matrices/SparseMatrixRowView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

configure: fixed passing non-existent CMAKE_CUDA_COMPILER to cmake
  configure
Due: dummy build job

Fixed weird nvlink error when compiling the SpMV benchmark for CUDA with Clang
  src/Benchmarks/SpMV/CMakeLists.txt
  src/Benchmarks/SpMV/ReferenceFormats/LightSpMVBenchmark.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed anchors in the users guide for Doxygen 1.9.8
  Documentation/CMakeLists.txt
  Documentation/UsersGuide/Arrays/ug_Arrays.md
  Documentation/UsersGuide/ForLoops/ug_ForLoops.md
  Documentation/UsersGuide/GeneralConcepts/ug_GeneralConcepts.md
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/UsersGuide/Meshes/ug_Grids.md
  Documentation/UsersGuide/Meshes/ug_Meshes.md
  Documentation/UsersGuide/Pointers/ug_Pointers.md
  Documentation/UsersGuide/ReductionAndScan/ug_ReductionAndScan.md
  Documentation/UsersGuide/Segments/ug_Segments.md
  Documentation/UsersGuide/Solvers/Linear/ug_Linear_solvers.md
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
  Documentation/UsersGuide/Sorting/ug_Sorting.md
  Documentation/UsersGuide/Vectors/ug_Vectors.md
  Documentation/UsersGuide/users-guide.md
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Updated unit tests for DenseMatrix and SparseMatrix for complex types
  src/UnitTests/Matrices/DenseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest_ChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SlicedEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRAdaptive.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRHybrid.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRLight.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRScalar.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSRVector.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_ChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SlicedEllpack.h
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added TNL::is_complex and enabled expression templates for complex types
  src/TNL/Arithmetics/Complex.h
  src/TNL/Containers/Expressions/ExpressionVariableType.h
  src/TNL/TypeTraits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
