Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added check for zeros on the diagonal of the matrix in the diagonal preconditioner.
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/TNL/Solvers/Linear/Preconditioners/Diagonal.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added cmake test for UMFPACK.
  CMakeLists.txt
  cmake/FindUMFPACK.cmake
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixed Umfpack benchmarking.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Avoding use of namespaces TNL and TNL::Benchmarks in benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added override to the getColumnWidthHints in benchmark results for linear solvers.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added check for CSR format in GinkgoDirectSolver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing cmake lists for unit tests of linear solvers.
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Implementing wrapper for sparse direct solver in Ginkgo and related benchmarks.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Replacing IndexType in the iterative solver monitor with std::size_t.
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithTimerExample.cpp
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/ODESolvers/Legacy/Euler.h
  src/Benchmarks/ODESolvers/Legacy/EulerNonET.h
  src/Benchmarks/ODESolvers/Legacy/Merson.h
  src/Benchmarks/ODESolvers/Legacy/MersonNonET.h
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
  src/TNL/Benchmarks/Utils.h
  src/TNL/Solvers/GinkgoConvergenceLoggerMonitor.h
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/IterativeSolverMonitor.h
  src/TNL/Solvers/IterativeSolverMonitor.hpp
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/Optimization/AdaGrad.h
  src/TNL/Solvers/Optimization/GradientDescent.h
  src/TNL/Solvers/Optimization/Momentum.h
  src/TNL/Solvers/Optimization/NesterovMomentum.h
  src/TNL/Solvers/Optimization/RMSProp.h
  src/TNL/Solvers/SolverStarter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing benchmark results for linear direct solvers benchmark.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added examples for direct linear solvers with monitor and timer.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Extracting benchmark results of linear solvers benchmark to a seprate file.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed include guards in Umfpack wrapper.
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing unreachable return statement in PerformanceCounters.hpp.
  src/TNL/PerformanceCounters.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing cmake for linear solvers benchmark.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Deleting functions isDirectSolver and isIterativeSolver.
  src/TNL/Solvers/DirectSolver.h
  src/TNL/Solvers/DirectSolver.hpp
  src/TNL/Solvers/IterativeSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed initiation of vector x in results of direct linear solvers benchmark.
  src/Benchmarks/LinearSolvers/benchmarks.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Several fixes in the examples on direct linear solvers.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixed build of linear solvers benchmark with Ginkgo and cmake formatting.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Refactoring benchmark of direct linear solvers. Added benchmarking of the solvers setup.
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixes of formatting.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Solvers/DirectSolver.hpp
  src/TNL/Solvers/IterativeSolver.h
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixed references on examples for DirectSolverMonitor.
  src/TNL/Solvers/DirectSolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing DirectSolverMonitor - the IterativeSolverMonitor can do the job as well.
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/TNL/Solvers/DirectSolver.h
  src/TNL/Solvers/DirectSolverMonitor.h
  src/TNL/Solvers/DirectSolverMonitor.hpp
  src/TNL/Solvers/Linear/UmfpackWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added override to setMatrix method in GinkgoDirectSolver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring UmfpackWrapper.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing DirectSolver to set residue in the monitor.
  src/TNL/Solvers/DirectSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added GinkgoDirectSolver.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring linear solvers benchmark.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Few fixes in cmake.
  CMakeLists.txt
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Improving exception diagnostics in TNL::Benchmarks::JsonLogging.
  src/TNL/Benchmarks/JsonLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added wrapper for Tacho solver from Trilinos.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixing build of linear solvers benchmark.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added 'benchmark' to measure time for copying sparse matrix from host to device in benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing Ginkgo direct solver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Strumpack wrapper for benchmarking.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Disabling Strumpack due to suspicious crashes.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added benchmark for cuDSS.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Disabling cmake test for Trillinos due tu bug in the test.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Refactoring the benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Changing types of iterative solver monitor in IterativeSolver to double and int.
  src/TNL/Solvers/IterativeSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
