Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Move dense matrix-vector product benchmark from BLAS to DenseMatrices
  src/Benchmarks/BLAS/cublasWrappers.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/hipblasWrappers.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/DenseMatrices/Wrappers/blasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/cublasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/hipblasWrappers.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor System benchmark error handling and API
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
  src/Benchmarks/System/tnl-benchmark-memory-access.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor Eigen benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/Eigen/CMakeLists.txt
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.hip
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.hip
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor Sorting benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/plot-results.py
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Rename DenseMatrices/detail directory to DenseMatrices/Legacy
  src/Benchmarks/DenseMatrices/Legacy/FermiOptimizedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/OptimizedIndexAccessKernel.h
  src/Benchmarks/DenseMatrices/Legacy/PaddedMemoryMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/SharedMemory2DKernel.h
  src/Benchmarks/DenseMatrices/Legacy/TileBasedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/WarpBasedTileMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Document performer convention and device metadata in ARCHITECTURE.md
  src/Benchmarks/ARCHITECTURE.md
Due: dummy build job

Refactor System (memory-access) benchmark to align with ARCHITECTURE.md
  src/Benchmarks/System/CMakeLists.txt
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/Benchmarks/System/tnl-benchmark-memory-access.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove baseline time and speedup from benchmark framework
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/Sorting/README.md
  src/Python/BenchmarkLogs.py
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/BenchmarkResult.h
  src/TNL/Benchmarks/TerminalLogging.h
  src/Tools/tnl-benchmark-to-html.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Fix swapped ux/aux views in NdGrid benchmark solver
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Fix header includes in Benchmarks/Utils.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor BLAS benchmark to align with ARCHITECTURE.md
  src/Benchmarks/BLAS/VectorOperations.h
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add size and method config options to eigen-random benchmark
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Migrate benchmarks from device-as-performer to algorithm-as-performer
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/tnl-benchmark-memory-access.h
  src/Python/MultiindexCreator.py
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/TerminalLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Refactor DenseMatrices benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor LinearSolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor ODESolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/ODESolvers/CMakeLists.txt
  src/Benchmarks/ODESolvers/SimpleProblem.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor DenseLinearSolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.cu
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor Grid benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/Grid/tnl-benchmark-grid.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix off-by-one in CLI parser after consuming list-of arguments
  src/TNL/Config/parseCommandLine.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix slow verification loops in Segments benchmark
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor memory-access benchmark processing script
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job, python-black

Remove forElements verification from Segments benchmark
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add missing types to metadata in Grid, DenseLinearSolvers and LinearSolvers benchmarks
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Rewrite NDArray reduction heatmap script
  src/Benchmarks/NDArray/heatmap.py
  src/Benchmarks/NDArray/logparser.py
  src/Benchmarks/NDArray/plot-results.py
Due: dummy build job, python-black

Modernize Python benchmark utilities
  src/Python/BenchmarkLogs.py
  src/Python/BenchmarkPlots.py
  src/Tools/tnl-benchmark-to-html.py
Due: dummy build job, python-black

Simplify reference pairs and fix HIP build in DenseMatrices
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor sorting benchmark processing script
  src/Benchmarks/Sorting/plot-results.py
Due: dummy build job, python-black

Modernize segments processing script
  src/Benchmarks/Segments/Graphs.py
  src/Benchmarks/Segments/plot-results.py
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
Due: dummy build job, python-black

Merge DenseMatrices HTML table generators into one script
  src/Benchmarks/DenseMatrices/tnl-dense-matrices-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: dummy build job, python-black

Add named references to DenseMatricesResult for diff columns
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixBenchmarkHelpers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Change setDatasetSize to accept bytes instead of GB
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/System/tnl-benchmark-memory-access.h
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/BenchmarkResult.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor heat equation benchmark processing script
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
Due: dummy build job, python-black

Wrap Graphs processing script in main() and use positional input
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Fix HIP device-side guards in reductions and atomics
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/Reduction3D.hpp
  src/TNL/Atomic.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add induced-subgraph BFS and SSSP variants
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Skip large sorting test in CI on HIP devices with <= 2 CUs
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Move OMPI_MCA_accelerator to CI build bases with correct values
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Bump version to 0.4.0
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add graph coloring algorithms.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkColoring.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.hip
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Port strongly connected components to current graph API
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkSCC.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.hip
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
