Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixed formating of CMakeLists.txt.
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/Examples/Graphs/Reduce/CMakeLists.txt
  src/Benchmarks/Graphs/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Disabling build of graph benchmark woth sorted segments by default to shorten the compile time.
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Deleting parameter vertexCount from the Graph constructor that takes a nested initializer list for dense matrix.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming getSize() of segments to getElementCount() - issue #185.
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added CLI to the script run-tnl-benchmark-random-graphs and added README.md for graph benchmarks.
  src/Benchmarks/Graphs/README.md
  src/Benchmarks/Graphs/run-tnl-benchmark-random-graphs
Due: dummy build job

Fixed code formatting.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  src/TNL/Algorithms/Segments/detail/CSRAdaptiveKernelBlockDescriptor.h
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Matrices/reduce.hpp
  src/TNL/detail/LambdaDetails.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing UG on graphs.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVertices.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgument.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgumentIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithIndexes.cpp
  Documentation/Examples/Graphs/Traverse/CMakeLists.txt
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesWithIndexes.cpp
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

IsArrayType uses std::conjunction to avoid warning due to deprecated getSize method in segments.
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed code formating.
  src/TNL/Algorithms/AtomicOperations.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Matrices/DenseOperations.hpp
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation.
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/UsersGuide/Segments/ug_Segments.md
  src/TNL/Algorithms/Segments/find.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/compress.h
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphView.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/traverse.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixes made by clang-tidy.
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/find.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphBase.h
  src/UnitTests/Containers/LinearCombinationTest.cpp
  src/UnitTests/Matrices/BinarySparseMatrixCopyTest.h
  src/UnitTests/Matrices/DenseMatrixCopyTest.h
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixCopyTest.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing typos.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/Segments/ug_Segments.md
  src/TNL/Algorithms/Segments/detail/CSRAdaptiveKernelParameters.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/reduce.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes to avoid compiler warnings.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating copyright headers.
  src/Benchmarks/Graphs/MultiindexCreator.py
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
  src/Benchmarks/Segments/Graphs.py
  src/Benchmarks/Segments/MultiindexCreator.py
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Moving MultiindexCreator.py to src/Python and deleting old copies.
  src/Benchmarks/Segments/MultiindexCreator.py
  src/Python/CMakeLists.txt
  src/Python/MultiindexCreator.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, python-black

Avoiding default use of symmetric adjacency matrix in undirected graphs.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/UnitTests/Graphs/GraphTest_SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing formatting of MD tables in documentation of segments, matrices and graphs.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring signature of segments constructors with sizes container.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/CSR.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Additional marking of SegmentsReductionKernels reduce methods as deprecated.
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/DefaultKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/SlicedEllpackKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring signature of print() for Segments.
  src/TNL/Algorithms/Segments/print.h
  src/TNL/Algorithms/Segments/print.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Several fixes in graph benchmarks.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/run-all-benchmarks
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Simplifying type tests for sorted segments isSortedSegments.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Make sequential ndarray executors constexpr
  src/TNL/Containers/ndarray/BoundaryExecutors.h
  src/TNL/Containers/ndarray/Executors.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing script for processing graph benchmarks results.
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/README.md
  src/Benchmarks/Graphs/run-all-benchmarks
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Fixing typos.
  src/Benchmarks/BLAS/vector-operations.h
  src/TNL/Algorithms/SegmentsReductionKernels/DefaultKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoiding use of cub scans in block merged traversing kernels fort CSR and SlicedEllpack segments.
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing cmake formatting.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix typos
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add getElement to DistributedNDArrayView
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_1D_test.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor using getCornerIds() in mesh initializer
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

New test and small fixes for PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code refactoring.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added PDLP test for CUDA and HIP.
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cu
  src/UnitTests/Solvers/Optimization/PDLPTest.h
  src/UnitTests/Solvers/Optimization/PDLPTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added Gurobi LP benchmark.
  cmake/FindGUROBI.cmake
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added preconditioning to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Cleaning code of PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added error estimates to PDLP solver based in KKT and normalized duality gap.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Debugging steps in PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
