Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixing initiation of the PDLP solver and code cleaning.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added spectral norm of matrix.
  src/TNL/Matrices/MatrixOperations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Trying fast restarting for PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added adaptivity for omega to PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Cleaning code of PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added LPProblem (linear programming problem).
  src/TNL/Solvers/Optimization/LPProblem.h
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added untit tests for PDLP solver.
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added OR Tools to LP benchmark, and additional fixes and changes in LP benchmark.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/ORToolsLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix after rebase.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added code guards for the presence of Gurobi nad OR Tools to LP benchmark.
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Code refactoring.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added parameters setup for the PDLP solver.
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code refactoring.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduced calls of SpMV in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added write method to LPProblem.
  src/TNL/Solvers/Optimization/LPProblem.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added power method for A^T * A.
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
  src/TNL/Solvers/Eigen/experimental/ShiftedPowerIteration.h
  src/UnitTests/Solvers/Eigen/PowerMethodTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implemented restarting in PDLP algorithm.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reader of MPS files for LP problems.
  src/TNL/Solvers/Optimization/LPProblem.h
  src/TNL/Solvers/Optimization/LPProblemReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoided use of z container in PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Gurobi LP benchmark.
  cmake/FindGUROBI.cmake
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

PDLP code cleaning and refactoring.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added line counter to the LPProblemReader class for better error reporting.
  src/TNL/Solvers/Optimization/LPProblemReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Debugging steps in PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added error estimates to PDLP solver based in KKT and normalized duality gap.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added switch for primal weight updates.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing PDLPTest.
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added KKT based restaring strategy to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code refactoring.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code cleaning and refactoring - getting the same results as cuPDLP-C.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Debugging PDLP solver.
  src/TNL/Solvers/Optimization/LPProblemReader.h
  src/TNL/Solvers/Optimization/LinearTrustRegion.h
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added gradient based restarting to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added preconditioning to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing Linear trust region solver for LP problems.
  src/TNL/Solvers/Optimization/LinearTrustRegion.h
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/LinearTrustRegionTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added RANGES to LP problem reader of MPS format and additional changes.
  src/TNL/Solvers/Optimization/LPProblemReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code refactoring.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed several bugs in restarting of PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added cuSPARSE CSR matrix.
  src/TNL/Matrices/CusparseCSRMatrix.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/CusparseCSRMatrixTest.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added multiplication of sparse matrix and two vectors.
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorting of matrix elements after computing transposition of sparse matrices (to avoid undeterministic behavior).
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
