Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Move out kernel coniguration to convolution task
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/Launcher.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add convolution directory in CMake
  src/Benchmarks/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix convolution kernel execution
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/DummySolver.h
  src/Benchmarks/Convolution/support/DummyTask.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add prefer of the shared memory
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/kernels/sharedKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add image convolution solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/DummySolver.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/ImageSolver.h
  src/Benchmarks/Convolution/support/Solver.h
  src/Benchmarks/Convolution/templates/main_image_solver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implement heat equation solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
  src/Benchmarks/Convolution/support/ImageSolver.h
  src/Benchmarks/Convolution/templates/main_heat_equation_solver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix heat equation solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/heatEquationSharedData.h
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
  src/Benchmarks/Convolution/support/HeatEquationTask.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add possibility to specify domain and start time of the iteration
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Update the heat equation solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/heatEquationSharedData.h
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
  src/Benchmarks/Convolution/support/HeatEquationTask.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add custom kernels to image solver
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/ImageSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moved helper script for the convolution benchmark from the main branch
  src/Benchmarks/Convolution/run-tnl-benchmark-convolutions
Due: dummy build job

removed solitare flow solvers for Euler and Navier-Stokes equations
  src/Examples/flow-sw/navierStokesBuildConfigTag.h
  src/Examples/flow-vl/navierStokesBuildConfigTag.h
  src/Examples/inviscid-flow-sw/eulerProblem.h
  src/Examples/inviscid-flow-sw/eulerProblem_impl.h
  src/Examples/inviscid-flow-vl/eulerBuildConfigTag.h
  src/Examples/inviscid-flow/eulerBuildConfigTag.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

resolved work for host /cuda in differential operators
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsContinuity.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsEnergy.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumX.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumY.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumZ.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingContinuity.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingEnergy.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumX.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumY.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumZ.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerContinuity.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerEnergy.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumX.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumY.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumZ.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichs.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumZ.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumZ.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumZ.h
  src/Examples/flows/navierStokes.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

all dif. operator and boundary conditions unified in flows
  src/Examples/flows/BoundaryConditions/Cavity/BoundaryConditionsCavity.h
  src/Examples/flows/BoundaryConditions/Cavity/EnergyBoundaryConditionCavity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumBase.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichsMomentumZ.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumBase.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumZ.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeer.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumBase.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerMomentumZ.h
  src/Examples/flows/RiemannProblemInitialCondition.h
  src/Examples/flows/flowsBuildConfigTag.h
  src/Examples/flows/navierStokes.h
  src/Examples/flows/navierStokesProblem.h
  src/Examples/flows/navierStokesProblem_impl.h
  src/TNL/Solvers/PDE/ExplicitUpdater.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

added AUSM+ differential operator
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlus.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumZ.h
  src/Examples/flows/navierStokes.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

separed solvers, mended errors in N-S right hand sides
  src/Examples/flows/CMakeLists_separate.txt
  src/Examples/flows/CMakeLists_together.txt
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingMomentumZ.h
  src/Examples/flows/DifferentialOperatorsRightHandSide/NavierStokesRightHandSide/NavierStokesMomentumXOperatorRightHandSide.h
  src/Examples/flows/DifferentialOperatorsRightHandSide/NavierStokesRightHandSide/NavierStokesMomentumYOperatorRightHandSide.h
  src/Examples/flows/DifferentialOperatorsRightHandSide/NavierStokesRightHandSide/NavierStokesMomentumZOperatorRightHandSide.h
  src/Examples/flows/flowsRhs.h
  src/Examples/flows/navierStokesAUSMPlus.cpp
  src/Examples/flows/navierStokesAUSMPlus.cu
  src/Examples/flows/navierStokesAUSMPlus.h
  src/Examples/flows/navierStokesLaxFriedrichs.cpp
  src/Examples/flows/navierStokesLaxFriedrichs.cu
  src/Examples/flows/navierStokesLaxFriedrichs.h
  src/Examples/flows/navierStokesStegerWarming.cpp
  src/Examples/flows/navierStokesStegerWarming.cu
  src/Examples/flows/navierStokesStegerWarming.h
  src/Examples/flows/navierStokesVanLeer.cpp
  src/Examples/flows/navierStokesVanLeer.cu
  src/Examples/flows/navierStokesVanLeer.h
  src/Examples/flows/run-navier-stokes-AUSM-plus
  src/Examples/flows/run-navier-stokes-Lax-Friedrichs
  src/Examples/flows/run-navier-stokes-Steger-Warming
  src/Examples/flows/run-navier-stokes-Van-Leer
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

added boundary conditions for model of boiler
  src/Examples/flows/BoundaryConditions/BoilerModel/BoundaryConditionsBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/CompressibleConservativeVariables.h
  src/Examples/flows/BoundaryConditions/BoilerModel/DensityBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/EnergyBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumYBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/flows/navierStokes.h
  src/Examples/flows/navierStokesProblem.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added missing __cuda_callable__ flags to reduce the amount of compiler warnings
  src/Examples/flows/BoundaryConditions/Boiler/CompressibleConservativeVariables.h
  src/Examples/flows/BoundaryConditions/BoilerModel/CompressibleConservativeVariables.h
  src/Examples/flows/BoundaryConditions/Cavity/CompressibleConservativeVariables.h
  src/Examples/flows/CompressibleConservativeVariables.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added dirichlet and neumann BC, resolved explicit updaters for BC
  src/Examples/flows/BoundaryConditions/Cavity/BoundaryConditionsCavity.h
  src/Examples/flows/BoundaryConditions/Cavity/EnergyBoundaryConditionCavity.h
  src/Examples/flows/BoundaryConditions/Dirichlet/BoundaryConditionsDirichlet.h
  src/Examples/flows/BoundaryConditions/Neumann/BoundaryConditionsNeumann.h
  src/Examples/flows/navierStokes.h
  src/Examples/flows/navierStokesProblem.h
  src/Examples/flows/navierStokesProblem_impl.h
  src/TNL/Solvers/PDE/ExplicitUpdater.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

found and resolved problem with 3D riemann initial condition setter
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichs.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeerEnergy.h
  src/Examples/flows/RiemannProblemInitialCondition.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

added choice for diff. operator mended AUSM+ diff. operator
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumYBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlus.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumY.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumZ.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Lax-Friedrichs/LaxFridrichs.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarming.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/Steger-Warming/StegerWarmingContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/VanLeer/VanLeer.h
  src/Examples/flows/DifferentialOperatorsRightHandSide/NavierStokesRightHandSide/NavierStokesOperatorRightHandSide.h
  src/Examples/flows/DifferentialOperatorsRightHandSide/nullRightHandSide/nullOperatorRightHandSide.h
  src/Examples/flows/navierStokes.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

removed unused files
  src/Examples/flows/CMakeLists.txt
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichs.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsContinuity.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsEnergy.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumBase.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumX.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumY.h
  src/Examples/flows/DifferentialOperators/Euler/Lax-Friedrichs/LaxFridrichsMomentumZ.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarming.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingContinuity.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingEnergy.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumBase.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumX.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumY.h
  src/Examples/flows/DifferentialOperators/Euler/Steger-Warming/StegerWarmingMomentumZ.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeer.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerContinuity.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerEnergy.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumBase.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumX.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumY.h
  src/Examples/flows/DifferentialOperators/Euler/VanLeer/VanLeerMomentumZ.h
  src/Examples/flows/euler.cpp
  src/Examples/flows/euler.cu
  src/Examples/flows/euler.h
  src/Examples/flows/eulerProblem.h
  src/Examples/flows/eulerProblem_impl.h
  src/Examples/flows/run-euler
  src/Examples/flows/run-navier-stokes
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixes after rebase
  src/Examples/flows/CMakeLists.txt
  src/Examples/flows/navierStokes.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

changes in n-s right hand sides, turned on omp paralelization for tnl-view
  src/Examples/flows/BoundaryConditions/BoilerModel/DensityBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/EnergyBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumYBoundaryConditionBoilerModel.h
  src/Examples/flows/DifferentialOperatorsRightHandSide/NavierStokesRightHandSide/NavierStokesEnergyOperatorRightHandSide.h
  src/Tools/tnl-view.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

minor adjustments
  src/Examples/flows/BoundaryConditions/BoilerModel/BoundaryConditionsBoilerModel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

splitted velocities for horizontal and vertical throttles
  src/Examples/flows/navierStokes.h
  src/Examples/flows/navierStokesAUSMPlus.h
  src/Examples/flows/navierStokesLaxFriedrichs.h
  src/Examples/flows/navierStokesProblem.h
  src/Examples/flows/navierStokesProblem_impl.h
  src/Examples/flows/navierStokesStegerWarming.h
  src/Examples/flows/navierStokesVanLeer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

boiler model boundary conditions have separate speeds for different throttles and possibility of increasing speed
  src/Examples/flows/BoundaryConditions/Boiler/BoundaryConditionsBoiler.h
  src/Examples/flows/BoundaryConditions/BoilerModel/BoundaryConditionsBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/EnergyBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumYBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/Cavity/BoundaryConditionsCavity.h
  src/Examples/flows/BoundaryConditions/Dirichlet/BoundaryConditionsDirichlet.h
  src/Examples/flows/BoundaryConditions/Neumann/BoundaryConditionsNeumann.h
  src/Examples/flows/navierStokes.h
  src/Examples/flows/navierStokesAUSMPlus.h
  src/Examples/flows/navierStokesLaxFriedrichs.h
  src/Examples/flows/navierStokesProblem.h
  src/Examples/flows/navierStokesProblem_impl.h
  src/Examples/flows/navierStokesStegerWarming.h
  src/Examples/flows/navierStokesVanLeer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

repairs to make project compilable
  src/Examples/flows/navierStokesProblem_impl.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

minor foxes in rhs
  src/Examples/flows/DifferentialOperatorsRightHandSide/NavierStokesRightHandSide/NavierStokesEnergyOperatorRightHandSide.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

minor changes
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/BoundaryConditions/Boiler/DisipationBoundaryConditionBoiler.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/BoundaryConditions/BoilerModel/DisipationBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/BoundaryConditions/Cavity/DisipationBoundaryConditionCavity.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/PhysicalVariablesGetter.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/RiemannProblemInitialCondition.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/twoEquationTurbulenceModelProblem_impl.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

minor repairs
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/flows/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/one-equation-model/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/one-equation-model/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperatorsRightHandSide/PrandtlKolmogorovRightHandSide/PrandtlKolmogorovMomentumXOperatorRightHandSide.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperatorsRightHandSide/PrandtlKolmogorovRightHandSide/PrandtlKolmogorovMomentumZOperatorRightHandSide.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperatorsRightHandSide/PrandtlKolmogorovRightHandSide/PrandtlKolmogorovTurbulentEnergyOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusTurbulentEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/Lax-Friedrichs/LaxFridrichs.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/Lax-Friedrichs/LaxFridrichsTurbulentEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/Steger-Warming/StegerWarmingTurbulentEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/VanLeer/VanLeerTurbulentEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperatorsRightHandSide/KEPsilonRightHandSide/KEpsilonDisipationOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperatorsRightHandSide/KEPsilonRightHandSide/KEpsilonMomentumXOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperatorsRightHandSide/KEPsilonRightHandSide/KEpsilonMomentumZOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperatorsRightHandSide/KEPsilonRightHandSide/KEpsilonTurbulentEnergyOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperatorsRightHandSide/KOmegaRightHandSide/KOmegaDisipationOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperatorsRightHandSide/KOmegaRightHandSide/KOmegaMomentumXOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperatorsRightHandSide/KOmegaRightHandSide/KOmegaMomentumZOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperatorsRightHandSide/KOmegaRightHandSide/KOmegaTurbulentEnergyOperatorRightHandSide.h
  src/Examples/turbulent-flows/zero-equation-model/BoundaryConditions/BoilerModel/MomentumXBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/zero-equation-model/BoundaryConditions/BoilerModel/MomentumZBoundaryConditionBoilerModel.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperatorsRightHandSide/PrandtlRightHandSide/PrandtlMomentumXOperatorRightHandSide.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperatorsRightHandSide/PrandtlRightHandSide/PrandtlMomentumZOperatorRightHandSide.h
  src/Examples/turbulent-flows/zero-equation-model/Getter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

All previously described solver compilable not tested yet
  src/Examples/turbulent-flows/CMakeLists.txt
  src/Examples/turbulent-flows/zero-equation-model/Getter.h
  src/Examples/turbulent-flows/zero-equation-model/PhysicalVariablesGetter.h
  src/Examples/turbulent-flows/zero-equation-model/turbulentViscosityGetter.h
  src/Examples/turbulent-flows/zero-equation-model/zeroEquationTurbulenceModelProblem_impl.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

fix for case sensitive filesystems
  src/Examples/turbulent-flows/one-equation-model/oneEquationTurbulenceModelAUSMPlus.h
  src/Examples/turbulent-flows/one-equation-model/oneEquationTurbulenceModelLaxFriedrichs.h
  src/Examples/turbulent-flows/one-equation-model/oneEquationTurbulenceModelStegerWarming.h
  src/Examples/turbulent-flows/one-equation-model/oneEquationTurbulenceModelVanLeer.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlus.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/Lax-Friedrichs/LaxFridrichs.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/Steger-Warming/StegerWarming.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/VanLeer/VanLeer.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/twoEquationTurbulenceModelAUSMPlus.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/twoEquationTurbulenceModelLaxFriedrichs.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/twoEquationTurbulenceModelStegerWarming.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/twoEquationTurbulenceModelVanLeer.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/twoEquationTurbulenceModelAUSMPlus.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/twoEquationTurbulenceModelLaxFriedrichs.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/twoEquationTurbulenceModelStegerWarming.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/twoEquationTurbulenceModelVanLeer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

code refactoring
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusContinuity.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusEnergy.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumX.h
  src/Examples/flows/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumZ.h
  src/Examples/flows/RiemannProblemInitialCondition.h
  src/Examples/flows/navierStokesProblem_impl.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperators/One-Equation-turbulence-model/AUSM+/AUSMPlusContinuity.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperators/One-Equation-turbulence-model/AUSM+/AUSMPlusEnergy.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperators/One-Equation-turbulence-model/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperators/One-Equation-turbulence-model/AUSM+/AUSMPlusMomentumX.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperators/One-Equation-turbulence-model/AUSM+/AUSMPlusMomentumZ.h
  src/Examples/turbulent-flows/one-equation-model/DifferentialOperators/One-Equation-turbulence-model/AUSM+/AUSMPlusTurbulentEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusContinuity.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusDisipation.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusMomentumX.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusMomentumZ.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusTurbulentEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KEPsilon-model/DifferentialOperatorsRightHandSide/KEPsilonRightHandSide/KEpsilonDisipationOperatorRightHandSide.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusContinuity.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusDisipation.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusEnergy.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusMomentumX.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusMomentumZ.h
  src/Examples/turbulent-flows/two-equation-model/KOmega-model/DifferentialOperators/Two-Equation-turbulence-model/AUSM+/AUSMPlusTurbulentEnergy.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusContinuity.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusEnergy.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumBase.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumX.h
  src/Examples/turbulent-flows/zero-equation-model/DifferentialOperators/Navier-Stokes/AUSM+/AUSMPlusMomentumZ.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

bracket in Prandtl model for 3D turbulent viscosity
  src/Examples/turbulent-flows/zero-equation-model/Getter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers
