Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cmake-format: any of: ./**/CMakeLists.txt, ./**/*.cmake, .cmake-format.yaml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py
  python-black: any of: src/**/*.py, Documentation/**/*.py

Added an explanation to the comment
  Documentation/UsersGuide/Arrays/ArrayView-1.cpp
Due: documentation, pages, clang-format, clang-tidy

Removed deprecated dependencies, but there is still thrust enabled even for host.
  src/TNL/Particles/details/thrustExecPolicySelector.h
  src/UnitTests/Particles/CMakeLists.txt
  src/UnitTests/Particles/GhostZoneTest.h
  src/UnitTests/Particles/ParticleSystemTest.h
  src/UnitTests/Particles/ParticlesWithDomainDecompositin.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix dead code issues detected by clang 19
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Pointers/SharedPointerHost.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting comparison operators from MatrixBase.
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/MatrixBase.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes in UG on matrices.
  Documentation/UsersGuide/Matrices/ug_Matrices.md
Due: documentation, pages

Cleaning the code of StaticIterativeSolver.
  src/TNL/Solvers/StaticIterativeSolver.h
  src/TNL/Solvers/StaticIterativeSolver.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation of reduction using functional instead of a lambda function for reduction.
  src/TNL/Algorithms/reduce.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reduce rows with functional for dense matrices.
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceAllRowsWithFunctional.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceAllRowsWithFunctional.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceRowsWithFunctional.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceRowsWithFunctional.cu
  src/TNL/Algorithms/reduce.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reduce rows with functional for sparse matrices.
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceAllRowsWithFunctional.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceAllRowsWithFunctional.cu
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceRowsWithFunctional.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceRowsWithFunctional.cu
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/SlicedEllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/isSegmentReductionKernel.h
  src/TNL/Algorithms/reduce.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen group for reduction function objects
  src/TNL/Algorithms/reduce.h
  src/TNL/Functional.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix error message in OutputRedirection
  src/TNL/Debugging/OutputRedirection.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix macro guards in StackBacktrace.h and FPE.h
  src/TNL/Debugging/FPE.h
  src/TNL/Debugging/StackBacktrace.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: add Alpine build job
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-tidy

Replace non-standard uint type and modernize type aliases
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fix FetchTinyXML2 CMake module
  cmake/FetchTinyXML2.cmake
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Changed std::endl to \n as per clang-tidy
  src/TNL/Assert.h
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Devices/Host.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Implement naive convolution for 1D kernel
  src/Benchmarks/Convolution/.gitignore
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/Benchmark.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/DummySolver.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
  src/Benchmarks/Convolution/support/Solver.h
  src/Benchmarks/Convolution/templates/main_benchmark.h
  src/Benchmarks/Convolution/templates/main_solver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fix convolution kernel execution
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/DummySolver.h
  src/Benchmarks/Convolution/support/DummyTask.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Move out kernel coniguration to convolution task
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/Launcher.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement naive 3D kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement naive 2D kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Add loggin of the id to the benchmark output
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement convolution with storing kernel in shared memory
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/Launcher.h
  src/Benchmarks/Convolution/templates/main_benchmark.h
  src/Benchmarks/Convolution/templates/main_solver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Move kernel launching in kernel definition
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
  src/Benchmarks/Convolution/support/Solver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement benchmarks for naive kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/support/Benchmark.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/templates/main_benchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement kernel, which loads data in shared memory
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedData.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement shared data and kernel kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/support/Benchmark.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/Solver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Add convolution directory in CMake
  src/Benchmarks/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Add prefer of the shared memory
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/kernels/sharedKernel.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Implement heat equation solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
  src/Benchmarks/Convolution/support/ImageSolver.h
  src/Benchmarks/Convolution/templates/main_heat_equation_solver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Add custom kernels to image solver
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/ImageSolver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Update the heat equation solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/heatEquationSharedData.h
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
  src/Benchmarks/Convolution/support/HeatEquationTask.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Moved helper script for the convolution benchmark from the main branch
  src/Benchmarks/Convolution/run-tnl-benchmark-convolutions
Due: dummy build job

Fix heat equation solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/heatEquationSharedData.h
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
  src/Benchmarks/Convolution/support/HeatEquationTask.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Add image convolution solver
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/DummySolver.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/ImageSolver.h
  src/Benchmarks/Convolution/support/Solver.h
  src/Benchmarks/Convolution/templates/main_image_solver.h
  src/TNL/Images/PNGImage_impl.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Add possibility to specify domain and start time of the iteration
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/support/HeatEquationSolver.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixed formatting
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Devices/Host.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing DenseMatrixView::bind.
  src/TNL/Matrices/DenseMatrixView.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed errors/warnings reported by clang-tidy
  src/TNL/Pointers/DevicePointer.h
  src/TNL/Pointers/SharedPointerCuda.h
  src/TNL/Pointers/SharedPointerHost.h
  src/TNL/Pointers/SmartPointersRegister.h
  src/TNL/String.h
  src/TNL/String.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers
