Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Fixed macros in Assert.h and unit tests to avoid warnings due to redundant semicolons
  src/TNL/Assert.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed useless semicolons
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/CSR_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/ChunkedEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Ellpack_impl.h
  src/TNL/Algorithms/Multireduction.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/details/CSRAdaptiveKernelParameters.h
  src/TNL/Config/ConfigEntryType.h
  src/TNL/Meshes/DistributedMeshes/DistributedGrid.hpp
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.hpp
  src/TNL/Meshes/MeshDetails/initializer/EntitySeed.h
  src/TNL/Meshes/Writers/GnuplotWriter.hpp
  src/TNL/Solvers/Linear/SOR.hpp
  src/TNL/Solvers/ODE/Euler.hpp
  src/TNL/Solvers/ODE/ExplicitSolver.hpp
  src/TNL/Solvers/ODE/Merson.hpp
  src/TNL/Solvers/ODE/StaticEuler.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.hpp
  src/TNL/Solvers/ODE/StaticMerson.hpp
  src/UnitTests/FileTest.h
  src/UnitTests/Meshes/MeshGeometryTest.h
  src/UnitTests/Meshes/MeshOrderingTest.h
  src/UnitTests/Meshes/MeshTest.h
  src/UnitTests/Pointers/SharedPointerHostTest.cpp
  src/UnitTests/Pointers/UniquePointerTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated reference to the paper on unstructured meshes
  README.md
Due: dummy build job

Fixed HypreParCSRMatrix reset function for Hypre 2.26.0
  src/TNL/Matrices/HypreParCSRMatrix.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CMakeLists.txt: refactored the -march=native and -mtune=native flags for Release builds
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed getView and getConstView in sparse matrices
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/CSR.hpp
  src/TNL/Algorithms/Segments/CSRView.h
  src/TNL/Algorithms/Segments/CSRView.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/EllpackView.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.hpp
  src/TNL/Matrices/HypreCSRMatrix.h
  src/TNL/Matrices/MatrixPermutationApplier.h
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.hpp
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixRowView.h
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/TNL/Solvers/Linear/Preconditioners/Diagonal.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed const row views in matrices
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixRowView.h
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixRowView.h
  src/TNL/Matrices/SparseMatrixRowView.h
  src/TNL/Matrices/SparseMatrixView.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Applied some clang-tidy readability hints
  src/TNL/Hypre.h
  src/Tools/tnl-diff.cpp
  src/Tools/tnl-diff.h
  src/Tools/tnl-game-of-life.cpp
  src/Tools/tnl-test-distributed-mesh.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed references from rowIdx and localIdx attributes in SparseMatrixElement and MultidiagonalMatrixElement
  src/TNL/Matrices/MultidiagonalMatrixElement.h
  src/TNL/Matrices/SparseMatrixElement.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added missing header inclusions
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Matrices/MatrixOperations.h
  src/TNL/Matrices/MatrixType.h
  src/TNL/Matrices/MatrixWriter.h
  src/TNL/Matrices/MatrixWriter.hpp
  src/TNL/Matrices/MultidiagonalMatrixRowView.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixRowView.hpp
  src/TNL/Matrices/details/MultidiagonalMatrixIndexer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed inclusion of some STL headers
  src/TNL/base64.h
  src/TNL/zlib_compression.h
  src/Tools/tnl-cuda-arch.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CMakeLists.txt: find Ginkgo quietly
  CMakeLists.txt
  src/Examples/Ginkgo/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Added missing `__cuda_callable__` marks
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernel.h
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRHybridKernel.h
  src/TNL/Algorithms/Segments/Kernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.h
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRScalarKernel.h
  src/TNL/Algorithms/Segments/Kernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRVectorKernel.h
  src/TNL/Algorithms/Segments/Kernels/CSRVectorKernel.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/TNL/Meshes/Grid.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renamed Logger_impl.h to Logger.hpp
  src/TNL/Logger.h
  src/TNL/Logger.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed the Object base class from MatrixView
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/MatrixView.h
  src/TNL/Matrices/MatrixView.hpp
  src/TNL/Matrices/SparseMatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

More linting in segments and matrices
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/CSRView.h
  src/TNL/Algorithms/Segments/CSRView.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/TNL/Algorithms/Segments/SlicedEllpackView.h
  src/TNL/Algorithms/Segments/SlicedEllpackView.hpp
  src/TNL/Matrices/MatrixView.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/SparseMatrixView.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unused variables in DenseMatrix, SparseMatrix, SparseSandboxMatrix and TridiagonalMatrixView
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceRows.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixViewExample_forRows.cpp
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated GTest version to new release
  cmake/BuildGtest.cmake
  cmake/Gtest.cmake.in
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Applied linting hints from clang-tidy
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/LambdaMatrixRowView.h
  src/TNL/Matrices/LambdaMatrixRowViewIterator.h
  src/TNL/Matrices/LambdaMatrixRowViewIterator.hpp
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Matrices/MatrixReader.h
  src/TNL/Matrices/MatrixReader.hpp
  src/TNL/Matrices/MatrixRowViewIterator.h
  src/TNL/Matrices/MatrixRowViewIterator.hpp
  src/TNL/Matrices/MatrixWriter.h
  src/TNL/Matrices/MatrixWriter.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixRowView.h
  src/TNL/Matrices/MultidiagonalMatrixRowView.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixRowView.h
  src/TNL/Matrices/SparseMatrixRowView.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixRowView.h
  src/TNL/Matrices/TridiagonalMatrixRowView.hpp
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/TNL/Matrices/details/MultidiagonalMatrixIndexer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed obsolete comments from Matrix.h and MatrixView.h
  src/TNL/Matrices/Matrix.h
  src/TNL/Matrices/Matrix.hpp
  src/TNL/Matrices/MatrixView.h
  src/TNL/Matrices/MatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unused file: Matrices/details/DenseMatrix.h
  src/TNL/Matrices/details/DenseMatrix.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Simplified parameter type of setEntitiesCount in Mesh
  src/TNL/Meshes/Mesh.h
  src/TNL/Meshes/Mesh.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed standard size_t in GridDetails/Templates/Permutations.h
  src/TNL/Meshes/GridDetails/Templates/Permutations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed stray 'template' keyword in MeshGeometryTest
  src/UnitTests/Meshes/MeshGeometryTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added handling of -B and -D options to the configure script
  configure
  install
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/SpMV/cmake/BuildCSR5.cmake
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Documentation: run doxygen directly from CMakeLists.txt, remove the custom build script
  .gitignore
  CMakeLists.txt
  Documentation/CMakeLists.txt
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/LambdaMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/MultidiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/TridiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Pointers/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Tutorials/Arrays/CMakeLists.txt
  Documentation/Tutorials/Matrices/CMakeLists.txt
  Documentation/Tutorials/Meshes/CMakeLists.txt
  Documentation/Tutorials/NDArrays/CMakeLists.txt
  Documentation/Tutorials/Pointers/CMakeLists.txt
  Documentation/Tutorials/ReductionAndScan/CMakeLists.txt
  Documentation/Tutorials/Segments/CMakeLists.txt
  Documentation/Tutorials/Vectors/CMakeLists.txt
  Documentation/build
  install
  scripts/get-version
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Added --help option to the install script
  install
Due: dummy build job

CI: update build directory and simplify jobs for building documentation
  .gitlab-ci.yml
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Added a command to remove the old include directory before installing the header files
  src/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

CMakeLists.txt: removed useless option TNL_INSTALL_HEADERS
  CMakeLists.txt
  src/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Doxyfile: set QUIET to YES
  Documentation/Doxyfile
Due: documentation examples, build documentation, pages

Split the build script into configure and the existing install
  .gitignore
  build
  configure
  install
Due: dummy build job

Refactored StaticArray using std::array
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Some functions in Math.h and the cast functional can be made constexpr
  src/TNL/Functional.h
  src/TNL/Math.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unnecessary specialization of MeshEntityTraits for dynamic topologies
  src/TNL/Meshes/MeshDetails/traits/MeshEntityTraits.h
  src/TNL/Meshes/MeshDetails/traits/MeshTraits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Simplified staticFor using 'if constexpr'
  src/TNL/Algorithms/staticFor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed generator macro for binary functionals
  src/TNL/Functional.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Simplified GridTypeResolver and MeshTypeResolver using 'if constexpr' from C++17
  src/TNL/Meshes/TypeResolver/GridTypeResolver.h
  src/TNL/Meshes/TypeResolver/GridTypeResolver.hpp
  src/TNL/Meshes/TypeResolver/MeshTypeResolver.h
  src/TNL/Meshes/TypeResolver/MeshTypeResolver.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactored EntityInitializer for unstructured mesh using 'if constexpr' from C++17
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
