Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Draft: init particle zone as a shell
  src/TNL/Particles/GhostZone.h
  src/TNL/Particles/GhostZone.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing Python script for processing results of graph benchmarks.
  src/Benchmarks/Graphs/MultiindexCreator.py
Due: dummy build job, python-black

Fixing Boost graph benchmark. Avoiding excessive outputs on errors in graph benchmark. Fixing results checks in graphs benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

One more fix of Boost graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix default value behavior for --log-file parameter in benchmarks
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add median time and median CPU cycles to benchmark results
  src/TNL/Benchmarks/BenchmarkResult.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Check for Devices::GPU before Backend::deviceSynchronize()
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix hardcoded BitonicSort in SorterTest
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add configurable warmup loops and min time to benchmark framework
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CUBMergeSort for arrays exceeding INT_MAX elements
  src/TNL/Algorithms/Sorting/CUBMergeSort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix Quicksort for arrays exceeding INT_MAX elements
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CMake: output CMAKE_BUILD_TYPE for easier debugging
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Port connected components to current graph API
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkCC.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.hip
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_CC_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Port strongly connected components to current graph API
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkSCC.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.hip
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Bump version to 0.3.0
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Update container image registry from jlk.fjfi.cvut.cz to GitLab
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix typo
  src/TNL/Matrices/MatrixRowViewIterator.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add gitlab-ci-local support for running CI jobs locally
  .gitignore
  .gitlab-ci-local-env
  .gitlab-ci.yml
  AGENTS.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix HIP compilation: warp mask function and template keyword
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Atomic.h
  src/TNL/Backend/Functions.h
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Re-enable HIP tests in CI
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Add hipCUB support to CUB sorting wrappers
  src/TNL/Algorithms/Sorting/CUBMergeSort.h
  src/TNL/Algorithms/Sorting/CUBRadixSort.h
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Guard unused variable with USE_NVCC_WORKAROUND ifdef
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix GPU launch limits and add threads-per-grid check
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix dense matrix transposition on host and device
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix ChunkedEllpack WithArgument kernel alignment and initialization
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Exclude long RealType from HIP sparse matrix test types
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace __syncwarp() with cooperative groups for portable warp sync
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Backend/Functions.h
  src/TNL/Matrices/DenseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix SIGPIPE in reduce segment kernels on HIP
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix integer overflow in grid size calculation on HIP
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add maximal independent set algorithm
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add cudss 0.8 API migration path to CuDSSWrapper
  src/TNL/Solvers/Linear/CuDSSWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Switch container image for Clang + CUDA builds in CI
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Remove native GPU arch detection using nvidia-smi
  cmake/cuda_default_architecture.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Mark atomic __device__ functions with [[maybe_unused]] to avoid warnings from Clang compiler
  src/TNL/Atomic.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix typo in Assert.h
  src/TNL/Assert.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix HIP compilation: warp mask function and template keyword
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Backend/Functions.h
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
