Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Fixing atomic operation CAS for OpenMP.
  src/TNL/Algorithms/AtomicOperations.h
  src/UnitTests/Algorithms/AtomicOperationsTest.cpp
  src/UnitTests/Algorithms/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring signature of print() for Segments.
  src/TNL/Algorithms/Segments/print.h
  src/TNL/Algorithms/Segments/print.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Suppress set-but-not-used warnings in MatrixTypeTraitsTest
  src/UnitTests/Matrices/MatrixTypeTraitsTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Deleting forElementsIfSparse from public API.
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Additional marking of SegmentsReductionKernels reduce methods as deprecated.
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/DefaultKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/SlicedEllpackKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

AdaptiveCSRView::printBlocks accepts std::cout as a parameter.
  src/TNL/Algorithms/Segments/AdaptiveCSRView.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add build target analysis scripts
  scripts/analyze-build-targets.sh
  scripts/build_analysis_dashboard.py
Due: dummy build job

forElements for ChunkedEllpack just calls forElementsIf.
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix typo in Users' guide
  Documentation/UsersGuide/Matrices/ug_Matrices.md
Due: documentation, pages

Fix semiring BFS validation comparing against wrong reference
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixes for clang-tidy.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  src/TNL/Algorithms/AtomicOperations.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
  src/TNL/Graphs/TypeTraits.h
  src/TNL/Matrices/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing script for processing graph benchmarks results.
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/README.md
  src/Benchmarks/Graphs/run-all-benchmarks
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Add toolchain-icpx preset for Intel oneAPI
  CMakePresets.json
Due: dummy build job

Fix GCC 16 -Werror=unused-but-set-variable errors
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added missing documentation to Adaptive CSR.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove duplicate adjacencyMatrix and unused graph copy in GunrockBenchmark
  src/Benchmarks/Graphs/GunrockBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing code formatting.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/Segments/scan.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove dead CUB code from TraversingKernels_Ellpack
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update clang-format configuration file
  .clang-format
Due: dummy build job, clang-format

Refactor SparseMatrixTest type definitions into reusable templates
  src/UnitTests/Matrices/SparseMatrixTest_AdaptiveCSR.h
  src/UnitTests/Matrices/SparseMatrixTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest_ChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SlicedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SortedAdaptiveCSR.h
  src/UnitTests/Matrices/SparseMatrixTest_SortedBiEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SortedCSR.h
  src/UnitTests/Matrices/SparseMatrixTest_SortedChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SortedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SortedSlicedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_types.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Reduce combinatoric type explosion in Array, ArrayView and Vector tests
  src/UnitTests/Containers/ArrayTest.h
  src/UnitTests/Containers/ArrayViewTest.h
  src/UnitTests/Containers/VectorTestSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Changing DenseMatrixExample_Constructor_sparse_init_list.cu to symbolik link.
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_sparse_init_list.cu
Due: documentation, pages, clang-format, clang-tidy

Remove unnecessary condition from forElements for matrices
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Guard unused variable with USE_NVCC_WORKAROUND ifdef
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove native GPU arch detection using nvidia-smi
  cmake/cuda_default_architecture.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix default value behavior for --log-file parameter in benchmarks
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor MancaQuicksort reference algorithm
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Quicksort: remove unused functions
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add README.md for sorting benchmark
  src/Benchmarks/Sorting/README.md
Due: dummy build job

Add CUBMergeSort to the sorting benchmark
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix GPU launch limits and add threads-per-grid check
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Exclude long RealType from HIP sparse matrix test types
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix typo in Assert.h
  src/TNL/Assert.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add Doxygen documentation to benchmark infrastructure
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/BenchmarkResult.h
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/Logging.h
  src/TNL/Benchmarks/TerminalLogging.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace __syncwarp() with cooperative groups for portable warp sync
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Backend/Functions.h
  src/TNL/Matrices/DenseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove duplicate file
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add gitlab-ci-local support for running CI jobs locally
  .gitignore
  .gitlab-ci-local-env
  .gitlab-ci.yml
  AGENTS.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Port segment reduction kernels to warp-size-agnostic primitives
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_LightCSR.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Rewrite CudaBlockReduce shared-memory kernels with unrolled loops
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor Benchmark class to use configSetup/setup pattern
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
