Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Add doxygen-writer skill for C++ documentation conventions
  .agents/skills/doxygen-writer/SKILL.md
Due: dummy build job

Improve Doxygen documentation in core utility headers
  src/TNL/Assert.h
  src/TNL/Atomic.h
  src/TNL/Backend.h
  src/TNL/DiscreteMath.h
  src/TNL/File.h
  src/TNL/Hypre.h
  src/TNL/Logger.h
  src/TNL/Math.h
  src/TNL/Object.h
  src/TNL/PerformanceCounters.h
  src/TNL/String.h
  src/TNL/SystemInfo.h
  src/TNL/Timer.h
  src/TNL/TypeInfo.h
  src/TNL/TypeTraits.h
  src/TNL/base64.h
  src/TNL/zlib_compression.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Port strongly connected components to current graph API
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkSCC.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-scc.hip
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Add maximal independent set algorithm
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add graph coloring algorithms.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkColoring.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.hip
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Port connected components to current graph API
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkCC.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.hip
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_CC_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Add maximal independent set algorithm
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add subgraph cross-validation tests for all graph algorithms
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add edge-predicate/weight-transform overloads for BFS and SSSP
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add edge-predicate overloads for MIS and vertex coloring of graphs.
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add induced-subgraph BFS and SSSP variants
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace active-vertex vector with callable predicate in graph coloring and MIS.
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add edge-predicate overloads for CC and SCC
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add induced-subgraph overloads for CC and SCC
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add student's Boruvka MST implementations to experimental
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.h
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.hpp
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add Doxygen overview pages and fix documentation of graph algorithms
  src/Benchmarks/Graphs/GraphBenchmarkColoring.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add subgraph and edge-predicate overloads to tree detection algorithms
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add LaunchConfiguration parameter to graph algorithms
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.h
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.hpp
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add centralized lambda traits with static_assert checks to all graph algorithms
  src/TNL/Graphs/Algorithms/Namespace.dox
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/details/lambdaTraits.hpp
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits.h
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactor graph algorithm examples: inline lambdas and self-contained snippets
  Documentation/Examples/Graphs/Algorithms/ARCHITECTURE.md
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.cpp
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
Due: documentation, pages, clang-format, clang-tidy

Refactor graph algorithms: fix bugs, unify naming, add test diagrams
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/details/parallelTraversal.hpp
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplify graph algorithm APIs to use SubGraph for filtered operations
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.cpp
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Rename isActive to vertexExists for consistency with edgeExists
  Documentation/Examples/Graphs/SubGraphExample_EdgeFilter.cpp
  Documentation/Examples/Graphs/SubGraphExample_MaskedSubGraph.cpp
  Documentation/Examples/Graphs/SubGraphExample_VertexFilter.cpp
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/MaskedSubGraph.h
  src/TNL/Graphs/MaskedSubGraph.hpp
  src/TNL/Graphs/SubGraph.h
  src/TNL/Graphs/SubGraph.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
  src/UnitTests/Graphs/SubGraphTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Link graph algorithm function docs to example snippets
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cpp
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add SubGraph and MaskedSubGraph for filtered graph views
  Documentation/Examples/Graphs/SubGraphExample_EdgeFilter.cpp
  Documentation/Examples/Graphs/SubGraphExample_EdgeFilter.cu
  Documentation/Examples/Graphs/SubGraphExample_EdgeFilter.hip
  Documentation/Examples/Graphs/SubGraphExample_MaskedSubGraph.cpp
  Documentation/Examples/Graphs/SubGraphExample_MaskedSubGraph.cu
  Documentation/Examples/Graphs/SubGraphExample_MaskedSubGraph.hip
  Documentation/Examples/Graphs/SubGraphExample_Traverse.cpp
  Documentation/Examples/Graphs/SubGraphExample_Traverse.cu
  Documentation/Examples/Graphs/SubGraphExample_Traverse.hip
  Documentation/Examples/Graphs/SubGraphExample_VertexFilter.cpp
  Documentation/Examples/Graphs/SubGraphExample_VertexFilter.cu
  Documentation/Examples/Graphs/SubGraphExample_VertexFilter.hip
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/MaskedSubGraph.h
  src/TNL/Graphs/MaskedSubGraph.hpp
  src/TNL/Graphs/SubGraph.h
  src/TNL/Graphs/SubGraph.hpp
  src/TNL/Graphs/detail/ReductionOperations.h
  src/TNL/Graphs/detail/ReductionOperations_SubGraph.h
  src/TNL/Graphs/detail/TraversingOperations.h
  src/TNL/Graphs/detail/TraversingOperations_SubGraph.h
  src/UnitTests/Graphs/Algorithms/GraphTest_LambdaTraits.h
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/SubGraphTest.cpp
  src/UnitTests/Graphs/SubGraphTest.h
  src/UnitTests/Graphs/SubGraphTestBase.h
  src/UnitTests/Graphs/SubGraphTest_Reduce.cpp
  src/UnitTests/Graphs/SubGraphTest_Reduce.h
  src/UnitTests/Graphs/SubGraphTest_Reduce_cuda.cu
  src/UnitTests/Graphs/SubGraphTest_Reduce_hip.hip
  src/UnitTests/Graphs/SubGraphTest_Traverse.cpp
  src/UnitTests/Graphs/SubGraphTest_Traverse.h
  src/UnitTests/Graphs/SubGraphTest_Traverse_cuda.cu
  src/UnitTests/Graphs/SubGraphTest_Traverse_hip.hip
  src/UnitTests/Graphs/SubGraphTest_cuda.cu
  src/UnitTests/Graphs/SubGraphTest_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Small fixes in SSSP.
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CUDA compilation of graph algorithms and unit tests.
  src/Benchmarks/Graphs/GraphBenchmarkCC.h
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/TNL/ARCHITECTURE.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/TNL/TypeTraits.h
  src/UnitTests/ARCHITECTURE.md
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove redundant filter checks from parallel BFS, SSSP, and CC paths
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix Atomic<Host>::fetch_min/fetch_max to return actual observed value.
  src/TNL/Atomic.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CUDA segfault caused by NVCC extended-lambda host evaluation.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add user-guide chapter and examples for graph algorithms.
  Documentation/Examples/Graphs/Algorithms/CMakeLists.txt
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.hip
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/users-guide.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Make SubGraph an induced subgraph by filtering both edge endpoints
  src/TNL/Graphs/MaskedSubGraph.h
  src/TNL/Graphs/MaskedSubGraph.hpp
  src/TNL/Graphs/SubGraph.h
  src/TNL/Graphs/SubGraph.hpp
  src/TNL/Graphs/detail/ReductionOperations_SubGraph.h
  src/TNL/Graphs/detail/TraversingOperations_SubGraph.h
  src/UnitTests/Graphs/SubGraphTest.h
  src/UnitTests/Graphs/SubGraphTest_Reduce.h
  src/UnitTests/Graphs/SubGraphTest_Traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes.
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cpp
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add BibTeX references file for Doxygen \cite commands.
  Documentation/Doxyfile
  Documentation/references.bib
Due: documentation, pages

Add bottom-up direction optimization to parallel BFS
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Rename bypassThreshold to bitmapThreshold and reorder BFS API parameters.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimize parallel BFS: single atomicCAS, drop auxiliary vectors
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add bypass filter to parallel BFS for small frontiers.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add top-down bitmap traversal mode to parallel SSSP
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add TNL::Algorithms::uncompress — inverse of compress
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/uncompressExample.cpp
  Documentation/Examples/Algorithms/uncompressExample.cu
  Documentation/Examples/Algorithms/uncompressExample.hip
  src/TNL/Algorithms/detail/Uncompress.hpp
  src/TNL/Algorithms/uncompress.h
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/uncompressTest.cpp
  src/UnitTests/Algorithms/uncompressTest.cu
  src/UnitTests/Algorithms/uncompressTest.h
  src/UnitTests/Algorithms/uncompressTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers
