Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

Refactor TNL_ASSERT_* macros to throw a proper exception
  src/TNL/Assert.h
  src/UnitTests/AssertTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Mark `MeshReader::read{Point,Cell}Data` as const
  src/TNL/Meshes/Readers/MeshReader.h
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/Readers/VTKReader.h
  src/TNL/Meshes/Readers/XMLVTK.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added tests for DistributedNDArray with 2D decomposition
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.cpp
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.cu
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_2D_test.cpp
  src/UnitTests/Containers/ndarray/DistributedNDArray_2D_test.cu
  src/UnitTests/Containers/ndarray/DistributedNDArray_2D_test.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added function for prime factorization
  src/TNL/DiscreteMath.h
  src/UnitTests/DiscreteMathTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added function for cartesian power of elements in an array
  src/TNL/DiscreteMath.h
  src/UnitTests/DiscreteMathTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactored synchronizer for DistributedNDArray to support 2D and 3D decomposition patterns
  src/TNL/Containers/DistributedNDArraySyncDirections.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring synchronizer for DistributedNDArray in preparation for multidimensional decompositions
  Documentation/Examples/Containers/DistributedNDArrayExample.cpp
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/ndarray/SynchronizerBuffers.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_semi1D_test.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added function for getting the opposite synchronization direction
  src/TNL/Containers/DistributedNDArraySyncDirections.h
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Containers/ndarray/SyncDirectionsTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed NDArrayIndexer::isContiguousBlock for cases with overlaps
  src/TNL/Containers/NDArrayIndexer.h
  src/UnitTests/Containers/ndarray/NDArrayTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added tests for DistributedNDArray with 3D decomposition
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.cpp
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.cu
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.cpp
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.cu
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactored DistributedArraySynchronizer out of the Partitioner class
  src/TNL/Containers/DistributedArraySynchronizer.h
  src/TNL/Containers/Partitioner.h
  src/UnitTests/Algorithms/distributedScanTest.h
  src/UnitTests/Containers/DistributedArrayTest.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
  src/UnitTests/HypreTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added function for integer factorization tuples
  src/TNL/DiscreteMath.h
  src/UnitTests/DiscreteMathTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Make main_mpi.h nice for non-distributed runs
  src/UnitTests/main_mpi.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added functions for multidimensional block decomposition
  src/TNL/Containers/Block.h
  src/TNL/Containers/BlockPartitioning.h
  src/TNL/Containers/DistributedArrayView.hpp
  src/UnitTests/Containers/BlockPartitioningTest.cpp
  src/UnitTests/Containers/BlockTest.cpp
  src/UnitTests/Containers/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added function swapBits
  src/TNL/DiscreteMath.h
  src/UnitTests/DiscreteMathTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring synchronizer for DistributedNDArray
  src/TNL/Containers/DistributedNDArraySyncDirections.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/ndarray/SynchronizerBuffers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactored Partitioner::splitRange to a free function in BlockPartitioning.h
  Documentation/Examples/Containers/DistributedArrayExample.cpp
  Documentation/Examples/Containers/DistributedNDArrayExample.cpp
  Documentation/Examples/Containers/DistributedVectorExample.cpp
  Documentation/UsersGuide/Arrays/ug_Arrays.md
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Containers/BlockPartitioning.h
  src/TNL/Containers/Partitioner.h
  src/UnitTests/Algorithms/distributedScanTest.h
  src/UnitTests/Containers/BlockPartitioningTest.cpp
  src/UnitTests/Containers/CMakeLists.txt
  src/UnitTests/Containers/DistributedArrayTest.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_semi1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_semi1D_test.h
  src/UnitTests/HypreTest.cpp
  src/UnitTests/Matrices/DistributedMatrixTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved .clang-format and .clang-tidy to top-level directory
  .clang-format
  .clang-tidy
  Documentation/.clang-format
Due: documentation examples, build documentation, pages

Added logical and binary operators to ETs.
  Documentation/UsersGuide/Vectors/ug_Vectors.md
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add documentation for installation on Windows
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, pages

Fixed links in README.md
  README.md
Due: dummy build job

Swapping for loops and reduction in UG.
  Documentation/UsersGuide/users-guide.md
Due: documentation examples, build documentation, pages

Added abstraction for the buffered loading/saving algorithm
  src/TNL/Algorithms/detail/Copy.hpp
  src/TNL/Algorithms/detail/Equal.hpp
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/File.h
  src/TNL/File.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed obsolete comments in LaunchHelpers.h
  src/TNL/Backend/LaunchHelpers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved Cuda::DeviceInfo to the Backend namespace, split to free functions and generalized for HIP
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/CSR_impl.h
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend.h
  src/TNL/Backend/DeviceInfo.h
  src/TNL/Benchmarks/Utils.h
  src/TNL/Cuda/DeviceInfo.h
  src/TNL/Cuda/DeviceInfo.hpp
  src/TNL/Logger.hpp
  src/TNL/Matrices/MatrixOperations.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Pointers/SmartPointersRegister.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added allocators for HIP
  src/TNL/Allocators/Default.h
  src/TNL/Allocators/Hip.h
  src/TNL/Allocators/HipHost.h
  src/TNL/Allocators/HipManaged.h
  src/UnitTests/AllocatorsTest.cpp
  src/UnitTests/AllocatorsTest.cu
  src/UnitTests/AllocatorsTestCuda.cu
  src/UnitTests/AllocatorsTestHip.hip
  src/UnitTests/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated Assert.h for HIP
  src/TNL/Assert.h
  src/UnitTests/AssertTestCuda.cu
  src/UnitTests/AssertTestHip.hip
  src/UnitTests/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed Cuda/DummyDefs.h, added Backend/Functions.h and Backend/Types.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Backend.h
  src/TNL/Backend/Functions.h
  src/TNL/Backend/Macros.h
  src/TNL/Backend/Types.h
  src/TNL/Benchmarks/Utils.h
  src/TNL/Containers/ByteArraySynchronizer.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/ndarray/BoundaryExecutors.h
  src/TNL/Containers/ndarray/SynchronizerBuffers.h
  src/TNL/Cuda/DummyDefs.h
  src/TNL/Cuda/KernelLaunch.h
  src/TNL/Cuda/LaunchHelpers.h
  src/TNL/Cuda/SharedMemory.h
  src/TNL/Cuda/Stream.h
  src/TNL/Cuda/StreamPool.h
  src/TNL/Exceptions/CudaRuntimeError.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactored CudaReductionBuffer using Allocators::Cuda
  src/TNL/Algorithms/CudaReductionBuffer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated __cuda_callable__ for HIP
  src/TNL/Cuda/CudaCallable.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed useless cases where BackendSupportMissing was thrown outside the Backend namespace
  src/TNL/Algorithms/SegmentedScan.hpp
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Algorithms/detail/Scan.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added Backend::memcpy function
  src/TNL/Algorithms/detail/Copy.hpp
  src/TNL/Algorithms/detail/Equal.hpp
  src/TNL/Backend/Functions.h
  src/TNL/Backend/Types.h
  src/TNL/File.hpp
  src/TNL/Meshes/Readers/MeshReader.h
  src/TNL/Pointers/DevicePointer.h
  src/TNL/Pointers/SharedPointerCuda.h
  src/TNL/Pointers/UniquePointer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved Cuda/SharedMemory.h to Backend/SharedMemory.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/AdEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/BiEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/ChunkedEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Matrix.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Backend.h
  src/TNL/Backend/SharedMemory.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/MatrixOperations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added allocates_host_accessible_data trait class for allocators
  Documentation/Examples/FileExampleCuda.cu
  src/TNL/Allocators/Cuda.h
  src/TNL/Allocators/Hip.h
  src/TNL/Allocators/Traits.h
  src/TNL/File.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved Cuda/KernelLaunch.h to Backend/KernelLaunch.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
  src/TNL/Algorithms/Sorting/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend.h
  src/TNL/Backend/KernelLaunch.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Devices/Cuda.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/MatrixOperations.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated build system for HIP
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/cuda_flags.cmake
  cmake/cxx_flags.cmake
  cmake/hip_flags.cmake
  configure
  scripts/run-clang-format.py
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Moved Cuda::Stream and Cuda::StreamPool to the Backend namespace
  src/TNL/Backend.h
  src/TNL/Backend/Functions.h
  src/TNL/Backend/Stream.h
  src/TNL/Backend/StreamPool.h
  src/TNL/Containers/ndarray/BoundaryExecutors.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated FileTest for HIP
  src/UnitTests/CMakeLists.txt
  src/UnitTests/FileTest.cpp
  src/UnitTests/FileTest.cu
  src/UnitTests/FileTest.h
  src/UnitTests/FileTestCuda.cu
  src/UnitTests/FileTestHip.hip
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Updated Hypre.h for HIP
  src/TNL/Hypre.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format
