Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/Examples, clang-format src/Tools, clang-format src/UnitTests, clang-format Documentation, clang-tidy

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  Ginkgo examples: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format src/TNL: any of: src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Benchmarks: any of: src/Benchmarks/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Examples: any of: src/Examples/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Tools: any of: src/Tools/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/UnitTests: any of: src/UnitTests/**/*.{h,hpp,cpp,cu,hip}
  clang-format Documentation: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml

Optimizing memory access benchmark for shorter runtime.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Implementing script for processing results of memory access benchmark.
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job

Changing setup of benchmark loops in memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Small fixes in memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Reducing depth of head of pandas table for memory access benchmark results.
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job

Reducing set of element sizes for memory access tests.
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Refactoring MemoryAccessBenchmarkTestArray.
  src/Benchmarks/System/ArrayElement.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Writting documentation for SystemInfo.
  src/TNL/SystemInfo.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Improve formatting in documentation comments
  src/TNL/PerformanceCounters.h
  src/TNL/SystemInfo.h
  src/TNL/Timer.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Changing table header of benchmark results.
  src/TNL/Benchmarks/Benchmarks.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added COMPONENT in CMakeLists for installation of memory access benchmark.
  src/Benchmarks/System/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Added HAVE_OPENMP guard to the memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Added README.md to the system benchmark directory.
  src/Benchmarks/System/README.md
Due: dummy build job

Code cleanup in memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Added operations per loop to the benchmark log.
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Cache line size is read using sysconf for Linux and Windows (this should work in WSL).
  src/TNL/SystemInfo.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Implemented CPU cycles counter for macOS.
  src/TNL/3rdparty/kperf.h
  src/TNL/PerformanceCounter.h
  src/TNL/PerformanceCounter.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Refactoring the Python script for processing of results of memory access benchmark.
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job

Added header to the bash script run-tnl-benchmark-memory-access.
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Avoided comparison of signed and unsigned integers in memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fixing source code SPDX headers.
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/TNL/PerformanceCounters.h
  src/TNL/PerformanceCounters.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-tidy

Removing CPU cycles counter from the Timer.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/TimerExample.cpp
  src/TNL/Benchmarks/Utils.h
  src/TNL/Timer.h
  src/TNL/Timer.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format Documentation, clang-tidy

Added command line arguments to the Python script processing the memory access benchmark results.
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job

Renaming PerformanceCounter to PerformanceCounters.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/PerformanceCountersExample.cpp
  src/TNL/Benchmarks/Utils.h
  src/TNL/PerformanceCounters.h
  src/TNL/PerformanceCounters.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format Documentation, clang-tidy

Added auto to functions, readability-implicit-bool-conversion, improved redability, added [[nodiscard]].
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Edge.h
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/GraphReader.h
  src/TNL/Graphs/minimumSpanningTree.h
  src/TNL/Graphs/trees.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/UnitTests, clang-tidy

added auto to functions
  src/Tools/tnl-triangulate-mesh.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Tools, clang-tidy

multiple declarations in a single statement
  src/UnitTests/Containers/ndarray/SlicedNDArrayTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

added nodiscard and auto to functions and change the push_back to emplace_back
  src/Benchmarks/Grid/GridBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

move constructors and assigment should be marked noexcept, pass by value and use std::move
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/UnitTests/CustomScalar.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-tidy

Correction of spelling mistakes
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/UsersGuide/Meshes/ug_Grids.md
  Documentation/UsersGuide/ReductionAndScan/ug_ReductionAndScan.md
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
Due: documentation, pages

Refactor code for ceadability and fix implicit conversions
  src/Examples/Hypre/tnl-hypre-ex5.cpp
  src/Examples/Hypre/vis.c
  src/TNL/3rdparty/BS_thread_pool_light.hpp
  src/TNL/MPI/Config.h
  src/TNL/Matrices/HypreGenerateDiagAndOffd.h
  src/UnitTests/Containers/ArrayTest.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Examples, clang-format src/UnitTests, clang-tidy

Safer file opening in Python scripts
  src/Python/BenchmarkLogs.py
  src/Python/LogParser.py
Due: dummy build job

Refactored formatting for consistency
  src/Benchmarks/BLAS/CommonVectorOperations.h
  src/Benchmarks/BLAS/CommonVectorOperations.hpp
  src/Benchmarks/BLAS/VectorOperations.h
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/blasWrappers.h
  src/Benchmarks/BLAS/cublasWrappers.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/BLAS/triad.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Remove obsolete CustomLogging format for benchmarks
  src/Python/CMakeLists.txt
  src/Python/LogParser.py
  src/TNL/Benchmarks/CustomLogging.h
  src/Tools/CMakeLists.txt
  src/Tools/tnl-log-to-html.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Update attribute name in tnl-benchmark-to-html.py and BenchmarkPlots.py
  src/Python/BenchmarkPlots.py
  src/Tools/tnl-benchmark-to-html.py
Due: dummy build job

Fix installation of the Python module files
  src/Python/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Added option to run Doxygen with Clang-assisted parsing
  CMakeLists.txt
  Documentation/CMakeLists.txt
  Documentation/Doxyfile
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Split SizesHolder.h into multiple header files
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/ndarray/LocalBeginsHolder.h
  src/TNL/Containers/ndarray/SizesHolder.h
  src/TNL/Containers/ndarray/StaticSizesHolder.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added ldg function to TNL::Backend
  src/TNL/Backend/Functions.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Refactored DistributedNDArraySynchronizer to allow for arrays with dynamic overlaps
  src/TNL/Containers/DistributedNDArraySynchronizer.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy
