Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Moving copySparseToDenseMatrix and copyDenseToSparseMatrix from SparseOperations to DenseSparseOperations.
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseSparseOperations.h
  src/TNL/Matrices/DenseSparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added documentation for sorting in segments.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.hip
  src/TNL/Algorithms/Segments/sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Several fixes in ChunkedEllpack.
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackSegmentView.h
  src/TNL/Algorithms/Segments/detail/ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Dynamic grouping CSR reducing kernels can use TPS > 1.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added tests for sorted Ellpack segments.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added documentation to sort and scan of segments.
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for copyDenseToDenseMatrix.
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing the segments example on reduceAll to use free function forAllElements.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.cpp
Due: documentation, pages, clang-format, clang-tidy

Improving reading of symmetric matrices.
  Documentation/UsersGuide/Matrices/SymmetricSparseMatrixExample.cpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/UnitTests/Graphs/GraphTest_trees.h
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding new segments operations to segments benchmark.
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moving segments traversing to TraversingOperationsBaseline.
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBaseline.h
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing scan algorithm for segments.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_scan.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_scan.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_scan.hip
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cpp
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBaseline.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBaseline.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/scan.hpp
  src/TNL/Algorithms/Segments/sort.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added documentation to segments launch configurations and related functions.
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_Default.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_HybridCSR.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_LightCSR.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added kernels for CSR reduction based on dynamic grouping.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for sorted CSR segments.
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing CSR multivector reduce kernels.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming threads per segment mappings.
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
  src/Benchmarks/Segments/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_Default.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_HybridCSR.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_LightCSR.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Removing duplicate files CSRAdaptiveKernelBlockDescriptor.h and CSRAdaptiveKernelParameters.h.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/detail/CSRAdaptiveKernelBlockDescriptor.h
  src/TNL/Algorithms/SegmentsReductionKernels/detail/CSRAdaptiveKernelParameters.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added TraversingOperationsBaseline for segments.
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBaseline.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing dynamic grouping kernel for CSR segment reduction.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedAdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving copyDenseToDenseMatrix from SparseOperations to DenseOperations.
  src/TNL/Matrices/DenseOperations.h
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added dynamic-grouping traversing kernels to CSR segments.
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reading of symmetric dense matrices.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes in Graph and MST algorithm.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/traverse.h
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing label in traversing launch configurations for segments.
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added examples on free functions for matrix traversing.
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/Traverse/CMakeLists.txt
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElements.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElements.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElementsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllElementsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRows.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRows.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRowsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forAllRowsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElements.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElements.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsWithIndexes.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forElementsWithIndexes.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-1.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-1.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-2.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRows-2.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsIf.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsIf.cu
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsWithIndexes.cpp
  Documentation/Examples/Matrices/Traverse/MatrixExample_forRowsWithIndexes.cu
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added sorted segments to graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added examples for free fuctions for matrix reduction operations.
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/Reduce/CMakeLists.txt
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRows.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsIf.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRows.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cu
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added parameter 'emptySegment/emptyRow/isolatedVertex' to storer lambdas in reducing operations with argument.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming Graph::setEdges for dense graphs to Graph::setDenseEdges.
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming the namespace Matrices::details to Matrices::detail.
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/detail/MultidiagonalMatrixIndexer.h
  src/TNL/Matrices/detail/SparseMatrix.h
  src/TNL/Matrices/detail/TridiagonalMatrixIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Make getSegments() and getColumnIndexes() __cuda_callable__
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed copying between symmetric sparse matrix and general sparse matrix.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseOperations.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing BFS and SSSP algorithms for graphs.
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/singleSourceShortestPath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added missing type ViewTemplate to SortedSegmentsView.
  src/TNL/Algorithms/Segments/SortedSegmentsView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving graph algorithms to Algorithms subfolder. Added documentation to graph algorithms.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/TNL/Graphs/GraphVertexView.h
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.hip
  src/UnitTests/Graphs/GraphTest.cpp
  src/UnitTests/Graphs/GraphTest.cu
  src/UnitTests/Graphs/GraphTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added graph view.
  src/TNL/Graphs/GraphView.h
  src/TNL/Graphs/GraphView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added free functions for traversing matrices in TNL - only for dense and sparse matrices so far.
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added documentation to graph readers and writers.
  src/TNL/Graphs/Readers/EdgeListReader.h
  src/TNL/Graphs/Readers/MtxReader.h
  src/TNL/Graphs/Writers/EdgeListWriter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changes in graphs:
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphBase.hpp
  src/TNL/Graphs/GraphOrientation.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/GraphView.h
  src/TNL/Graphs/GraphView.hpp
  src/TNL/Graphs/Readers/EdgeListReader.h
  src/TNL/Graphs/TypeTraits.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/TNL/Graphs/minimumSpanningTree.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Graphs/trees.h
  src/UnitTests/Graphs/GraphTest.h
  src/UnitTests/Graphs/GraphTest_BFS.h
  src/UnitTests/Graphs/GraphTest_MST.h
  src/UnitTests/Graphs/GraphTest_SSSP.h
  src/UnitTests/Graphs/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
