Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

documentation:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  script:
  - ./scripts/run-clang-format.py --color always --style file --exclude "src/TNL/3rdparty/*" --recursive Documentation src
  interruptible: true

cmake-format:
  stage: lint
  script:
  - shopt -s globstar
  - cmake-format --in-place **/CMakeLists.txt cmake/**/*.*
  - git --no-pager diff --color=always --exit-code
  interruptible: true

Optimalization of the Shifted Power Iteration function
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed shifted power iteration
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Removed device parameter for the QR algorithm
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Matrices/Eigen/QRalgorithm.h
  src/UnitTests/Matrices/Eigen/EigenTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Renamed variables in eigen functions
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/QRalgorithm.h
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Final improvements for eigen benchmark
  src/Benchmarks/Eigen/EigenBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Changed names
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Matrices/Eigen/QRAlgorithm.h
  src/TNL/Matrices/Factorization/QR/QR.h
  src/UnitTests/Matrices/Eigen/EigenTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Final adjustments to eigenvalue algorithms
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/QRalgorithm.h
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
  src/TNL/Matrices/Factorization/QR/QR.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed precision type of SparseMatrix in the Eigen benchmark
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Added new eigen unit test for
  src/UnitTests/Matrices/Eigen/EigenTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixed power iteration
  src/TNL/Matrices/Eigen/PowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Eigen unit tests
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Eigen/CMakeLists.txt
  src/UnitTests/Matrices/Eigen/EigenTest.cpp
  src/UnitTests/Matrices/Eigen/EigenTest.h
  src/UnitTests/Matrices/Eigen/EigenTestCuda.cu
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Removed unnecessary template parameters for the eigenvalue algorithms
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/QRalgorithm.h
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
  src/UnitTests/Matrices/Eigen/EigenTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed QR algorithm test for Intel compiler (icpx)
  src/UnitTests/Matrices/Eigen/EigenTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Changed computations for the shifted power iteration
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleted eigen examples
  src/Examples/CMakeLists.txt
  src/Examples/Eigen/CMakeLists.txt
  src/Examples/Eigen/bigEigenIterationRandomDense.cpp
  src/Examples/Eigen/bigEigenIterationRandomDense.cu
  src/Examples/Eigen/bigEigenIterationRandomSparse.cpp
  src/Examples/Eigen/bigEigenIterationRandomSparse.cu
  src/Examples/Eigen/eigenIterationFileSparse.cpp
  src/Examples/Eigen/eigenIterationFileSparse.cu
  src/Examples/Eigen/smallEigenIterationRandomDense.cpp
  src/Examples/Eigen/smallEigenIterationRandomDense.cu
  src/Examples/Eigen/smallEigenIterationShiftRandomDense.cpp
  src/Examples/Eigen/smallEigenIterationShiftRandomDense.cu
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixed install script for old Bash
  install
Due: dummy build job

Fixed empty array expansion for old Bash
  install
Due: dummy build job

Fixed Gunrock graph benchmark.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Small changes in scripts for graph benchmark.
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
Due: dummy build job

Added MTX reader fri graphs.
  src/TNL/Graphs/Readers/EdgeListReader.h
  src/TNL/Graphs/Readers/MtxReader.h
  src/TNL/Graphs/Writers/EdgeListWriter.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing graphs benchmark loging data.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixed logging of results in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Added scripts for graph benchmarks.
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
  src/Benchmarks/Graphs/run-tnl-benchmark-graphs
Due: dummy build job

Implementing Python script for processing results of graph benchmarks.
  src/Benchmarks/Graphs/MultiindexCreator.py
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Added parameter for precision to graph benchmark script.
  src/Benchmarks/Graphs/run-tnl-benchmark-graphs
Due: dummy build job

Added tnl-benchmark-graphs-cuda.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Added MTX reader for graphs.
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Updating script for fetching graphs from sparse matrix collection.
  src/Benchmarks/Graphs/extract-graphs
Due: dummy build job

Added Python script to process results of graph benchmarks.
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Added flags for disabling some graph benchmarks.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding DenseMatricesBenchmark folder and benchmarking the performance of dense matrix multiplication function
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.h
  src/Benchmarks/DenseMatrices/tnl-dense-matrices-benchmark-make-tables-json-legacy.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Adding optimisations for gemm
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-dense-matrices-benchmark-make-tables-json-legacy.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Adding Magma and Cutlass functions
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding html table generator for the multiplication and the transposition
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Updating the code after rebasing with the upstream repository
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding InPlace Transpositon Function and UnitTests
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.h
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.cpp
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.cu
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.h
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.h
  src/UnitTests/Matrices/dense-matrix-operations-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Adding UnitTests for multiplication and tranposition
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.cpp
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.cu
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.h
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.cpp
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.cu
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding benchmarks for the tranposed multiplications
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

IndexType instead of int
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Modifying DenseMatrix.h and DenseMatrix.hpp
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cmake-format: any of: ./**/CMakeLists.txt, ./**/*.cmake, .cmake-format.yaml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py
  python-black: any of: src/**/*.py, Documentation/**/*.py
