Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/Examples, clang-format src/Tools, clang-format src/UnitTests, clang-format Documentation, clang-tidy

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

clang_cuda:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

hip_rocm:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

gcc:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

clang:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

icpx:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

Ginkgo examples:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

documentation:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

clang-format src/TNL:
  stage: lint
  script:
  - ./scripts/run-clang-format.py --color always --style file --exclude "src/TNL/3rdparty/*" --recursive src/TNL
  interruptible: true

Moving problems to the TNL legacy repository.
  src/TNL/Problems/CommonData.h
  src/TNL/Problems/HeatEquationEocProblem.h
  src/TNL/Problems/HeatEquationEocProblem_impl.h
  src/TNL/Problems/HeatEquationEocRhs.h
  src/TNL/Problems/HeatEquationProblem.h
  src/TNL/Problems/HeatEquationProblem_impl.h
  src/TNL/Problems/MeanCurvatureFlowEocProblem.h
  src/TNL/Problems/MeanCurvatureFlowEocProblem_impl.h
  src/TNL/Problems/MeanCurvatureFlowEocRhs.h
  src/TNL/Problems/MeanCurvatureFlowProblem.h
  src/TNL/Problems/MeanCurvatureFlowProblem_impl.h
  src/TNL/Problems/PDEProblem.h
  src/TNL/Problems/PDEProblem_impl.h
  src/TNL/Problems/Problem.h
  src/TNL/Problems/cfd/navier-stokes/NavierStokesSolver.h
  src/TNL/Problems/cfd/navier-stokes/NavierStokesSolver_impl.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Updated default template of copyright headers
  scripts/update-copyright-headers.py
Due: dummy build job

update-copyright-headers.py now properly sets the line-comment token depending on file type
  scripts/update-copyright-headers.py
Due: dummy build job

Added checking of copyright headers to the CI configuration
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Refactored update-copyright-headers.py script
  scripts/update-copyright-headers.py
Due: dummy build job

Added '.hip' extension to update-copyright-headers.py
  scripts/update-copyright-headers.py
Due: dummy build job

Writting brief description of BiEllpack format.
  src/TNL/Algorithms/Segments/BiEllpack.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixing and refactoring of ChunkedEllpack inititation and unit test for segments.
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-tidy

Replacing refrences on rows with segments in names of ChunkEllpack methods, members and variables.
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixing and refactoring of BiEllpack inititation.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/detail/BiEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-tidy

Small code cleaning in BiEllpack.
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/detail/BiEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Replacing refrences on rows with segments in names of BiEllpack methods, members and variables.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

CMake: avoid including CTest when the project is not top-level
  cmake/testing.cmake
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Code cleanup based on clang-tidy warnings
  .gitignore
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkSimpleGrid.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixRowView.h
  src/UnitTests/Meshes/MeshOrderingTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/UnitTests, clang-tidy

CI: exclude FetchContent targets from clang-tidy checks
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

CMakeLists.txt: use the ZLIB::ZLIB imported target
  Documentation/UsersGuide/Meshes/CMakeLists.txt
  src/Tools/CMakeLists.txt
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

CMakeLists.txt: use ${BLAS_INCLUDE_DIRS} as SYSTEM paths
  src/Benchmarks/BLAS/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Ignore false-positive clang-tidy warnings
  src/TNL/MPI/Comm.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added description of CMAKE_CUDA_ARCHITECTURES to installation instructions.
  Documentation/Pages/main-page.md
Due: documentation, pages

Added system benchmark for memory access.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/System/ArrayElement.h
  src/Benchmarks/System/CMakeLists.txt
  src/Benchmarks/System/MemoryAccessConfig.cpp
  src/Benchmarks/System/MemoryAccessConfig.h
  src/Benchmarks/System/TestArray.h
  src/Benchmarks/System/memory-access-test.cpp
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Implemented parseCPUInfo and getCPUCacheSizes for macOS.
  src/TNL/SystemInfo.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added measurement of CPU cycles to memory access benchmark.
  src/Benchmarks/System/TestArray.h
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
  src/TNL/Benchmarks/Utils.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-tidy

Fixing tnl-benchmark-memory-access.
  src/Benchmarks/System/TestArray.h
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Added script for running tnl-benchmark-memory-access.
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Added PerformanceCounter for measuring of CPU cycles.
  src/TNL/PerformanceCounter.h
  src/TNL/PerformanceCounter.hpp
  src/TNL/Timer.h
  src/TNL/Timer.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Refactoring of memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/memory-access-test.cpp
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fixed computation of CPU cycles per element in memory access benchmark.
  src/Benchmarks/System/TestArray.h
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Deleting device type from memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
  src/Benchmarks/System/run-tnl-benchmark-memory-access
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Refactoring memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessConfig.cpp
  src/Benchmarks/System/MemoryAccessConfig.h
  src/Benchmarks/System/TestArray.h
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/TNL/PerformanceCounter.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-tidy

Fixed reading of CPU cycles for Apple M1 - did not work properly.
  src/TNL/PerformanceCounter.h
  src/TNL/PerformanceCounter.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed use of time_stddev in benchmarks.
  src/Benchmarks/LinearSolvers/benchmarks.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Small fixes in memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fixes in script for processing results of memory access benchmark.
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job

Writing short documentation for memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fixes in run-tnl-benchmark-memory-access script.
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Added read/write test and interleaving to memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Implementing script for processing results of memory access benchmark.
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job

Fixed computation of effective memory bandwidth for memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fixed computation of bandwidth and logging of CPU cycles in memory access benchmark.
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/TNL/Benchmarks/Benchmarks.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-tidy

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  Ginkgo examples: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format src/TNL: any of: src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Benchmarks: any of: src/Benchmarks/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Examples: any of: src/Examples/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Tools: any of: src/Tools/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/UnitTests: any of: src/UnitTests/**/*.{h,hpp,cpp,cu,hip}
  clang-format Documentation: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
