Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

Implement benchmark for NDim grid
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/benchmark/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/benchmark/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/benchmark/main.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/solution/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/solution/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/solution/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/solution/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement fixes in the templates. Fix grid to work correctly on benchmark
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/GridEntityGetter_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/NDimGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed formatting of StaticArray with clang-format
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming Grid::subdomainBegin/End to Grid::localBegin/End. Added Grid::interiorBegin/End.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added grid benchmarks testing usage of GPU registers.
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkGridShmem.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkParallelForShmem.h
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.h
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-heat-equation
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement tests for Grid3D traverse
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid3DTest.cu
  src/UnitTests/Meshes/GridTests/Traverse/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added forAll/Interior/Boudnary methods to n-dimensional grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/GridDetails/NDGrid.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed getDimensions method with variadic arguments from Grid
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/UnitTests/Meshes/Grids/Accessors/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Move out EntityDataStore and CoordinateIterator from tests
  src/UnitTests/Meshes/GridTests/CoordinateIterator.h
  src/UnitTests/Meshes/GridTests/EntityDataStore.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
  src/UnitTests/Meshes/GridTests/Utils/GridBasisTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed DistributedMeshTest
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement test for the power function
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Reduce the number of header files in GridDetails
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.h
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.hpp
  src/TNL/Meshes/GridDetails/GridEntityCenterGetter.h
  src/TNL/Meshes/GridDetails/GridEntityCenterGetter.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.hpp
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deleting old grid implementation files.
  src/TNL/Meshes/GridDetails/GridTraverser.h
  src/TNL/Meshes/GridDetails/GridTraverser_1D.hpp
  src/TNL/Meshes/GridDetails/GridTraverser_2D.hpp
  src/TNL/Meshes/GridDetails/GridTraverser_3D.hpp
  src/TNL/Meshes/GridDetails/NeighborGridEntitiesStorage.h
  src/TNL/Meshes/GridDetails/Traverser_Grid1D.h
  src/TNL/Meshes/GridDetails/Traverser_Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Traverser_Grid2D.h
  src/TNL/Meshes/GridDetails/Traverser_Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Traverser_Grid3D.h
  src/TNL/Meshes/GridDetails/Traverser_Grid3D_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation on grid.
  src/TNL/Meshes/Grid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Re-enabling grid unit tests.
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactoring heat equation benchmark.
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquationGrid/Base/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatEquationBenchmarkParameters.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkSimpleGrid.h
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.cpp
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.cu
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.h
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-grids
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix traverse tests compilation for CUDA
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/NDimGrid.h
  src/TNL/Meshes/Templates.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement Coordinate iterator tests
  src/UnitTests/Meshes/GridTests/CMakeSupport.cmake
  src/UnitTests/Meshes/GridTests/Utils/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Utils/CoordinateIteratorTest.cpp
  src/UnitTests/Meshes/GridTests/Utils/CoordinateIteratorTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Removed duplicate includes from tnl-init.h
  src/Tools/tnl-init.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Moving grid gnuplot writrer.
  src/TNL/Meshes/GridDetails/GnuplotWriter.h
  src/TNL/Meshes/Writers/GnuplotWriter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Creating grid tutorial.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/Meshes/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.cpp
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.cu
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.h
  Documentation/Tutorials/Meshes/tutorial_Grids.md
  Documentation/Tutorials/index.md
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation on grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/NDGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Merging NDGrid and Grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDGrid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/NDGrid.h
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest.h
  src/UnitTests/Meshes/Grids/Accessors/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Update getters to use orientation, when possible
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/TNL/Meshes/GridDetails/Templates/ForEachOrientation.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation and tutorial on grid writers.
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  Documentation/Tutorials/Meshes/tutorial_Grids.md
  src/TNL/Meshes/Writers/GnuplotWriter.h
  src/TNL/Meshes/Writers/GnuplotWriter.hpp
  src/TNL/Meshes/Writers/VTIWriter.h
  src/TNL/Meshes/Writers/VTIWriter.hpp
  src/TNL/Meshes/Writers/VTKWriter.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix compilation for the CI
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Renaming grid traversing example.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/GridExample_traverse.cpp
  Documentation/Examples/Meshes/Grid/GridExample_traverse.cu
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming setupConfig -> configSetup in the heat equation benchmark.
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement measure and center getters tests.
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityCenterGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityMeasureGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/Templates/Templates.h
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/EntityDataStore.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added operator << to grid entity.
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Replace StaticVector with UnrolledStaticVector in grid heat equation benchmark.
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkGridShmem.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkParallelForShmem.h
  src/Benchmarks/HeatEquationGrid/UnrolledStaticVector.h
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.h
  src/Benchmarks/scripts/run-tnl-benchmark-heat-equation
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement tests for Grid3D accessors
  src/UnitTests/Meshes/GridTests/Accessors/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Accessors/Grid3DTest.cu
  src/UnitTests/Meshes/GridTests/Accessors/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix traversers tests
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Enable disabled tests
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Change initial condition of heat map solvers
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Removed the old mesh traverser
  src/TNL/Functions/MeshFunctionEvaluator_impl.h
  src/TNL/Meshes/Traverser.h
  src/TNL/Meshes/Traverser.hpp
  src/UnitTests/Meshes/MeshTraverserTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deleting Grid::forInteriorEntities with begin and end.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add entity data store test
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/UnitTests/Meshes/GridTests/EntityDataStore.h
  src/UnitTests/Meshes/GridTests/Utils/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Utils/EntityDataStoreTest.cpp
  src/UnitTests/Meshes/GridTests/Utils/EntityDataStoreTest.cu
  src/UnitTests/Meshes/GridTests/Utils/EntityDataStoreTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Re-formatted sources in src/TNL/ with clang-format
  src/TNL/Functions/MeshFunctionGnuplotWriter.h
  src/TNL/Images/DicomSeries_impl.h
  src/TNL/Images/JPEGImage_impl.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/TNL/Meshes/Writers/GnuplotWriter.h
  src/TNL/Meshes/Writers/GnuplotWriter.hpp
  src/TNL/Meshes/Writers/VTIWriter.h
  src/TNL/Meshes/Writers/VTIWriter.hpp
  src/TNL/Meshes/Writers/VTKWriter.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Pointers/SharedPointerHost.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix formatting
  src/TNL/Meshes/GridDetails/BasisGetter.h
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/GridEntityCenterGetter.h
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/Implementations/BoundaryGridEntityChecker.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityCenterGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityMeasureGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/Templates/BooleanOperations.h
  src/TNL/Meshes/GridDetails/Templates/DescendingFor.h
  src/TNL/Meshes/GridDetails/Templates/ForEachOrientation.h
  src/TNL/Meshes/GridDetails/Templates/Functions.h
  src/TNL/Meshes/GridDetails/Templates/ParallelFor.h
  src/TNL/Meshes/GridDetails/Templates/Permutations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format
