Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Refactor sorting benchmark to use TNL benchmark interface and modern C++
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/ThrustRadixsort.h
  src/Benchmarks/Sorting/generators.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixing launch configurations in segments benchmark.
  src/Benchmarks/Segments/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix GTest build with Intel oneAPI >= 2025.2
  cmake/FetchGoogleTest.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix missing headers and inclusion cycles in Segments implementation
  src/TNL/Algorithms/Segments/detail/BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations.h
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_AdaptiveCSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing Python scripts for segments and graphs benchmarks.
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
  src/Benchmarks/Segments/Graphs.py
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/Python/MultiindexCreator.py
Due: dummy build job, python-black

Fixes for Doxygen.
  src/TNL/detail/CallableTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Merge BitonicSortTest into SorterTest
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.cu
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.hip
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Replace ChooseSparseMatrixComputeReal with inline std::conditional_t
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace shared memory cross-warp reduction with shfl in Light CSR kernels
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing the launch helper functions getGlobalBlockIdx and getGlobalThreadIdx to avoid integer overflow.
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added missing OpenMP header to AtomicOperations.h.
  src/TNL/Algorithms/AtomicOperations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added docstring documentation for the MultiindexCreator.
  src/Python/MultiindexCreator.py
Due: dummy build job, python-black

Use EXPECT_FLOAT_EQ for float determinant tests
  src/UnitTests/Matrices/StaticMatrixTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing use of roundUpDivision in ReducingOperations_AdaptiveCSR and TraversingOperations_SlicedEllpack.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Several small fixes from the code review.
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_forElements.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_forElementsWithRowIndexes-2.cpp
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix temporary file name for SortedCSR test
  src/UnitTests/Matrices/SparseMatrixTest_SortedCSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing OpenMP guards on BFS.
  src/TNL/Graphs/GraphVertexView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing use of CudaBlockReduceShfl in traversing and reducing operations for segments.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added command line parameter input-files to run-tnl-benchmark-graphs script.
  src/Benchmarks/Graphs/run-tnl-benchmark-graphs
Due: dummy build job

Fix bitonic sort for 64-bit index types
  src/TNL/Algorithms/Sorting/BitonicSort.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/detail/closestPow2.h
  src/TNL/Algorithms/Sorting/detail/helpers.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming Segments::detail::TraversingOperationsBase::forElementIfSparse to forSelectedElements. forElements just calls forElementsIf in traversing operations for BiEllpack.
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix deprecation warning in BiEllpackBase
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoiding use of cub scans in block merged traversing kernels fort CSR and SlicedEllpack segments.
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving minimumSpanningTree to experimental.
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring AdaptiveCSR.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/AdaptiveCSRView.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replacing devices CUDA and HIP with GPU in the traversing operations of the segments algorithms.
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoiding casting in AdaptiveCSRView.
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Mark CCCL targets as SYSTEM to suppress compiler warnings
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add workaround for icpx 2026.0 internal compiler error
  cmake/cxx_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Refactoring SlicedEllpack traversing kernel.
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Guard OpenMP parallelFor against empty/reversed ranges
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/UnitTests/Algorithms/parallelForTest.cpp
  src/UnitTests/Algorithms/parallelForTestCuda.cu
  src/UnitTests/Algorithms/parallelForTestHip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Erasing CUDA 11 workarounds in SlicedEllpack.
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving MaxValueSizeLog in Adaptive CSR to public section.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduce number of type combinations in SparseMatrix typed tests
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_AdaptiveCSR.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_BiEllpack.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_ChunkedEllpack.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_Ellpack.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_SlicedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_types.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_AdaptiveCSR.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_ChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SlicedEllpack.h
  src/UnitTests/Matrices/SymmetricSparseMatrixTest_CSR.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_AdaptiveCSR.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_BiEllpack.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_ChunkedEllpack.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_Ellpack.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix empty graph bounds check in BFS and SSSP algorithms
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing cmake formatting with gersemi.
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/Examples/Graphs/Reduce/CMakeLists.txt
  Documentation/Examples/Graphs/Traverse/CMakeLists.txt
  Documentation/Examples/Matrices/Reduce/CMakeLists.txt
  Documentation/Examples/Matrices/Traverse/CMakeLists.txt
  src/Benchmarks/Graphs/CMakeLists.txt
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format
