Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixing paralell reduction for OpenMP to be determistic.
  src/TNL/Algorithms/detail/Reduction.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimizing PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code cleaning.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added support for cusparse CSR matrix to PDLP solver.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring PDLP solver.
  src/TNL/Solvers/Optimization/KKTData.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/TNL/Solvers/Optimization/PDLPSolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP solver refactoring - added convergence monitor.
  src/TNL/Solvers/Optimization/KKTData.h
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/TNL/Solvers/Optimization/PDLPSolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring PDLP - avoiding use of Kz.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes after rebase.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/TNL/Matrices/MatrixOperations.h
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
  src/UnitTests/Solvers/Eigen/PowerMethodTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Cleaning code of PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring PDLP solver - avoiding use of Kty.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Debugging PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes for stochastic PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Python script to draw graphs of PDLP convergence and restarting.
  src/Benchmarks/Solvers/Optimization/draw-graphs.py
Due: dummy build job, python-black

First version of stochastic restarting for PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added printReport to PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimizing PDLP - successfully performing just two SpMV operations per iteration.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes after rebase.
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/ORToolsLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Matrices/MatrixOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test of version compatibility of cuDSS and CUDA.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix typo in justfile comment
  justfile
Due: dummy build job

Make Complex trivially copy-constructible and copy-assignable
  src/TNL/Arithmetics/Complex.h
  src/TNL/Arithmetics/Complex.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

fix(justfile): use case-insensitive match in check-recipe
  justfile
Due: dummy build job

Replace CudaBlockReduce specializations with is_trivially_copyable dispatch
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/UnitTests/Algorithms/reduceTest.h
  src/UnitTests/CustomScalar.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Enable Complex type in GPU warp shuffle and shared memory
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Backend/Functions.h
  src/TNL/Backend/LaunchHelpers.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_AdaptiveCSR.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add warp_shuffle_up helper and use it in CudaBlockScan
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Backend/Functions.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace union Shared trick with Backend::Uninitialized
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Bump version to 0.4.1
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Updated Particles readers and writers
  src/TNL/Particles/Readers/readSPHSimulation.h
  src/TNL/Particles/Writers/VTKWriter.h
  src/TNL/Particles/Writers/VTKWriter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Udated particles reader, removing the temporary reader
  src/TNL/Particles/Readers/particleReader.h
  src/TNL/Particles/Readers/readSPHSimulation.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix typo in .clang-tidy config file
  .clang-tidy
Due: dummy build job, clang-tidy

Fix constexpr condition in operator<< for SparseMatrixRowView
  src/TNL/Matrices/SparseMatrixRowView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove unsafe C-style cast in SortedSegmentsView::bind
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update .clang-tidy config: treat [modernize-avoid-c-style-cast] as error
  .clang-tidy
Due: dummy build job, clang-tidy

Remove redundant casts and typename after C-style cast cleanup
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Suppress false-positive readability-suspicious-call-argument warnings
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/LambdaMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplified particles writer
  src/TNL/Particles/Readers/particleReader.h
  src/TNL/Particles/Writers/VTKWriter.h
  src/TNL/Particles/Writers/VTKWriter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Extend matrix traverse/reduce free functions to banded and lambda matrix types
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Extend matrix traverse and reduce free functions to all matrix types
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
