Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Remove duplicate file
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use std::less in Quicksorter
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace Cederman's bitonicSort with TNL's bitonicSort_Block
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add scripts for running and visualizing the sorting benchmark
  src/Benchmarks/Sorting/plot-results.py
  src/Benchmarks/Sorting/run-tnl-benchmark-sort
Due: dummy build job, python-black

Refactor Benchmark class to use configSetup/setup pattern
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove reset attribute from Benchmark
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix signed vs unsigned comparison in Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use std::size_t for indexing in sorting benchmark
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Use Array with proper allocators in CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add README.md for sorting benchmark
  src/Benchmarks/Sorting/README.md
Due: dummy build job

Add Doxygen documentation to benchmark infrastructure
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/BenchmarkResult.h
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/Logging.h
  src/TNL/Benchmarks/TerminalLogging.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add NvidiaBitonicSort algorithm with CUDA samples to the sorting benchmark
  CMakeLists.txt
  cmake/FetchCUDASamples.cmake
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/ReferenceAlgorithms/NvidiaBitonicSort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor CedermanQuicksort error handling to use TNL_BACKEND_SAFE_CALL
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Clean up header files in benchmarks
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Quicksort: improve naming consistency with TNL conventions
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor sorting benchmark to use TNL benchmark interface and modern C++
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/ThrustRadixsort.h
  src/Benchmarks/Sorting/generators.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix bitonic sort for 64-bit index types
  src/TNL/Algorithms/Sorting/BitonicSort.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/detail/closestPow2.h
  src/TNL/Algorithms/Sorting/detail/helpers.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor terminal logging from JsonLogging to TerminalLogging
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/Eigen/EigenBenchmark.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/LinearSolvers/LinearSolversBenchmarkResult.h
  src/Benchmarks/ODESolvers/ODESolversBenchmarkResult.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/Logging.h
  src/TNL/Benchmarks/TerminalLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Quicksort: remove unused functions
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor CedermanQuicksort to work with any value type
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor MancaQuicksort reference algorithm
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove the Logger template parameter from Benchmark class
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Move BenchmarkResult to a separate header file and rename Benchmarks.h to Benchmark.h
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/Benchmarks/DenseMatrices/detail/FermiOptimizedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/detail/OptimizedIndexAccessKernel.h
  src/Benchmarks/DenseMatrices/detail/PaddedMemoryMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/detail/SharedMemory2DKernel.h
  src/Benchmarks/DenseMatrices/detail/TileBasedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/detail/WarpBasedTileMultiplicationKernel.h
  src/Benchmarks/Eigen/EigenBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/LinearSolvers/LinearSolversBenchmarkResult.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/ODESolversBenchmarkResult.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/BenchmarkResult.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add comprehensive tests for bitonic sort and guard empty arrays
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Document and fix warmup iteration in benchmark framework
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove obsolete files from sorting benchmark
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/Quicksorter.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/helper_timer.h
  src/Benchmarks/Sorting/bitonicsortBenchmark.cu
  src/Benchmarks/Sorting/timer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add option to disable exception catching in benchmarks
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Merge BitonicSortTest into SorterTest
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.cu
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.hip
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

General cleanup for benchmarks
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix clang-tidy issues in CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Re-format reference sorting algorithms with clang-format
  src/Benchmarks/Sorting/ReferenceAlgorithms/.clang-format
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/NvidiaBitonicSort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix CedermanQuicksort for small array sizes
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add CUBMergeSort to the sorting benchmark
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Switch XML parser from tinyxml2 to pugixml
  .clangd
  CMakeLists.txt
  Documentation/Pages/main-page.md
  Documentation/UsersGuide/Meshes/CMakeLists.txt
  cmake/FetchPugiXML.cmake
  cmake/FetchTinyXML2.cmake
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/Readers/VTIReader.h
  src/TNL/Meshes/Readers/VTUReader.h
  src/TNL/Meshes/Readers/XMLVTK.h
  src/Tools/CMakeLists.txt
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Replace hand-rolled JSON with nlohmann_json library
  CMakeLists.txt
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Bump cuda-samples fetch tag from v13.1 to v13.2
  cmake/FetchCUDASamples.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add CUDA cores per SM for Ada Lovelace, Hopper, and Blackwell
  src/TNL/Backend/DeviceInfo.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

fixup! Replace hand-rolled JSON with nlohmann_json library
  Documentation/Pages/main-page.md
Due: documentation, pages

Add magic_enum dependency and replace manual enum-to-string conversions
  CMakeLists.txt
  Documentation/Pages/main-page.md
  src/TNL/Algorithms/Segments/ElementsOrganization.h
  src/TNL/Meshes/VTKTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Prevented wrong cell assignment in neighbors loop
  src/TNL/Particles/ParticlesLinkedList.h
  src/TNL/Particles/ParticlesLinkedList.hpp
  src/TNL/Particles/neighborSearchLoop.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
