Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added forElementsIf for CSR segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added guard asserts to BFS algorithm.
  src/TNL/Graphs/breadthFirstSearch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding launch config to Ellpack based segments traversing.
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/LaunchConfigurationsSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sort for segments.
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/sort.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing cmake outputs for graph benchmark.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added forElementsIfSparse for segments.
  src/TNL/Algorithms/Segments/operations.h
  src/TNL/Algorithms/Segments/operations.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added ReducingOperationsBaseline for segments plus reduceSegmentsIf and reduceSegmentsIfArgument.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBaseline.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reimplementing parallel BFS algorithm - it is more efficient now but still not as good as Gunrock.
  src/TNL/Graphs/breadthFirstSearch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added benchmark for segments.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Segments/CMakeLists.txt
  src/Benchmarks/Segments/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/MultiindexCreator.py
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/Benchmarks/Segments/tnl-benchmark-segments.cpp
  src/Benchmarks/Segments/tnl-benchmark-segments.cu
  src/Benchmarks/Segments/tnl-benchmark-segments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Added CUB scan to block merge kernel in CSR segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing segments traversing as free functions for Ellpack formats.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackSegmentView.h
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/detail/SegmentsOperations.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing Boost graph benchmark. Avoiding excessive outputs on errors in graph benchmark. Fixing results checks in graphs benchmark.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added guard assertions to SparseMatrixBase.
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added function for compression of vectors (and arrays).
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/compressExample-lambda.cpp
  Documentation/Examples/Algorithms/compressExample-lambda.cu
  Documentation/Examples/Algorithms/compressExample-lambda.hip
  Documentation/Examples/Algorithms/compressExample-vector.cpp
  Documentation/Examples/Algorithms/compressExample-vector.cu
  Documentation/Examples/Algorithms/compressExample-vector.hip
  src/TNL/Algorithms/compress.h
  src/TNL/Algorithms/detail/Compress.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/compressTest.cpp
  src/UnitTests/Algorithms/compressTest.cu
  src/UnitTests/Algorithms/compressTest.h
  src/UnitTests/Algorithms/compressTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Implementing new variants of forElements for segments.
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes in sparse matrix operations.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing new variants of forElements for sparse matrices.
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsIf.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsIf.cu
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-1.cu
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-2.cu
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added segment reduction with segment indexes and argument.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reimplementing segments printing.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_constructor_1.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_constructor_2.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forElements.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElements.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegments-1.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegments-2.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegments.cpp
  Documentation/Examples/Algorithms/Segments/printSegmentsExample-2.cpp
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/GrowingSegments.h
  src/TNL/Algorithms/Segments/GrowingSegmentsView.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/TypeTraits.h
  src/TNL/Algorithms/Segments/print.h
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/Segments/printSegments.h
  src/TNL/TypeTraits.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added documentation for sorting in segments.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.hip
  src/TNL/Algorithms/Segments/sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added example for complet reduction of segments.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.hip
  src/TNL/Algorithms/Segments/reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Several fixes in ChunkedEllpack.
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackSegmentView.h
  src/TNL/Algorithms/Segments/detail/ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updated the Python script for processing the results of segments benchmark.
  src/Benchmarks/Segments/Graphs.py
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
Due: dummy build job, python-black

Added forElementsIf and forElements with row indexes for multidiagonal matrices.
  Documentation/Examples/Matrices/MultidiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsIf.cu
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-1.cu
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-2.cu
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixes in documentation of sparse matrix - TO SQUASH LATER..
  src/TNL/Matrices/SparseMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Restoring ChunkedEllpack in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Updating documentation for segments traversing functions.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forElements.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forElements.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_forSegments.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsIf.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsWithIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forElementsWithIndexes.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsIf.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsWithIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_forSegmentsWithIndexes.cu
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Aliases for row and column major ellapck family segments are dafined based on using.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorted segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsView.h
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes of use of segments reduction kernels in sparse matrix.
  src/TNL/Algorithms/SegmentsReductionKernels/DefaultKernel.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added traversing with sorted segments.
  src/TNL/Algorithms/Segments/detail/TraversingOperations.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedCSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixed comments in sparse matrix example on forElements with row indexes.
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-2.cpp
Due: documentation, pages, clang-format, clang-tidy

Added missing definition of row-major and column-major ChunkedEllpack.
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for sorted BiEllpack segments.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpackSegmentView.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedBiEllpack.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedBiEllpack.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedBiEllpack.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added reducing operations for sorted segments.
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added tests for sorted Ellpack segments.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers
