Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fix GPU launch limits and add threads-per-grid check
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Guard unused variable with USE_NVCC_WORKAROUND ifdef
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Exclude long RealType from HIP sparse matrix test types
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add hipCUB support to CUB sorting wrappers
  src/TNL/Algorithms/Sorting/CUBMergeSort.h
  src/TNL/Algorithms/Sorting/CUBRadixSort.h
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Add --bind-to none and --oversubscribe to mpirun in documentation examples
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Fix dense matrix transposition on host and device
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add cmake --fresh option to AGENTS.md
  AGENTS.md
Due: dummy build job

Add CMake testing conventions to UnitTests ARCHITECTURE.md
  AGENTS.md
  src/UnitTests/ARCHITECTURE.md
Due: dummy build job

Fix BiEllpack ReducingOperations specialization for WarpSize
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add ARCHITECTURE.md with CUDA-HIP portability section
  src/TNL/ARCHITECTURE.md
Due: dummy build job

Simplify Device::Cuda || Device::Hip to Device::GPU in segment kernels
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix BiEllpack group pointer indexing for warp size != 32
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Set OMPI_MCA_accelerator in CI to prevent Open MPI abort on dual-accelerator hosts
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Adapt warp size API for portable host/device dispatch
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackSegmentView.h
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_LightCSR.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/CSRAdaptiveKernelParameters.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Backend/LaunchHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix ChunkedEllpack WithArgument kernel alignment and initialization
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Port segment reduction kernels to warp-size-agnostic primitives
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_LightCSR.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add CMake test registration functions for HIP and HIP+MPI
  CMakePresets.json
  cmake/testing.cmake
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Containers/CMakeLists.txt
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/MPI/CMakeLists.txt
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Factorization/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Accessors/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Neighbours/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Utils/CMakeLists.txt
  src/UnitTests/Pointers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
  src/UnitTests/Solvers/ODE/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Rewrite CudaBlockReduce shared-memory kernels with unrolled loops
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix SIGPIPE in reduce segment kernels on HIP
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add maximal independent set algorithm
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add graph coloring algorithms.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkColoring.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-coloring.hip
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Simplified frame definition of particle zone
  src/TNL/Particles/GhostZone.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactored frame definition of zone
  src/TNL/Particles/GhostZone.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Describe intended architecture of benchmarks
  AGENTS.md
  src/Benchmarks/ARCHITECTURE.md
Due: dummy build job

Refactor Graphs benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.hip
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.hip
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Move existing wrappers to the DenseMatrices/Wrappers directory
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/Wrappers/blasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/cublasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/cutlassWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/hipblasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/magmaWrappers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove trivial script for processing Grid benchmark results
  src/Benchmarks/Grid/process-tnl-benchmark-grid.py
Due: dummy build job, python-black

Make NDArray reduction benchmark sizes and limits configurable
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace TNL::String with std::string in ODESolvers config entries
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor NDArray benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Unify device reporting in benchmarks
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/Devices.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor Segments benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Segments/CMakeLists.txt
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Segments/tnl-benchmark-segments.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove obsolete benchmark runner scripts
  src/Benchmarks/Grid/run-tnl-benchmark-grid
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/ODESolvers/run-tnl-benchmark-ode-solvers
  src/Benchmarks/Sorting/run-tnl-benchmark-sort
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Move epsilon from EigenBenchmarkResult to metadata in Eigen benchmarks
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor HeatEquation benchmark to align with ARCHITECTURE.md
  src/Benchmarks/HeatEquation/CMakeLists.txt
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Refactor DenseMatrices HTML table generators to use pandas and TNL.BenchmarkLogs
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: dummy build job, python-black

Refactor LinearSolvers list parameters from comma-separated strings to native lists
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Restructure DenseMatrices benchmarks into decomposed free functions
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixBenchmarkHelpers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/HipBlasBenchmark.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add universal runner script for all benchmarks
  src/Benchmarks/benchmarks.example.toml
  src/Benchmarks/benchmarks.example.yaml
  src/Tools/CMakeLists.txt
  src/Tools/tnl-run-benchmarks.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, python-black

Remove matrix resetting from dense matrix-vector product benchmark
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers
