Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added matmul to static matrices.
  src/TNL/Matrices/StaticMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring sparse matrix unit tests.
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactoring dense matrix unit tests.
  src/UnitTests/Matrices/DenseMatrixCopyTest.h
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

CI: add typos linting
  .gitlab-ci.yml
  .typos.toml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix modulo-assignment for Vector and add missing tests
  src/TNL/Containers/detail/VectorAssignment.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor vector tests using if constexpr
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove unwanted allocation of the values vector in SparseMatrix
  src/TNL/Matrices/SparseMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor file I/O for matrices with stream operators
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Move MatrixBase::getNonzeroElementsCount() to DenseMatrixBase
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/MatrixBase.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove unhelpful examples of the getSerializationType() output
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

SparseMatrix::setColumnsWithoutReset should not be virtual
  src/TNL/Matrices/SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove TNL::Object
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/ObjectExample_getType.cpp
  Documentation/Examples/ParseObjectTypeExample.cpp
  src/TNL/Object.h
  src/TNL/Object.hpp
  src/UnitTests/ObjectTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactor ArrayIO to check for stream operators rather than TNL::Object base
  src/TNL/Containers/detail/ArrayIO.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove Array::getSerializationTypeVirtual()
  src/TNL/Containers/Array.h
  src/TNL/Containers/Array.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: update hack for clang 19 + gcc 15 and remove it for HIP build
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Added cross product for static matrices.
  src/TNL/Matrices/StaticMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use TNL::Vector for points.
  src/TNL/Particles/ParticlesTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix type of base parameter in the makeCollapsedIndex function
  src/TNL/Meshes/GridDetails/Templates/Functions.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimize methods in ChunkedEllpackBase with `if constexpr`
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update formatting with clang-format 20
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/String.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update spy.hpp to 1.1.0
  src/TNL/3rdparty/spy.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: temporarily allow failures for clang_cuda jobs
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix ambiguous constructor with std::initializer_list in Array and StaticArray
  src/TNL/Containers/Array.h
  src/TNL/Containers/Array.hpp
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Containers/Vector.h
  src/UnitTests/Containers/ArrayTest.h
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix data type string identifiers in VTKWriter
  src/TNL/Meshes/Readers/VTKReader.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed use of the new interface of Reduction2D and Reduction3D with callable result argument
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/Reduction3D.h
  src/TNL/Algorithms/Reduction3D.hpp
  src/TNL/Solvers/Linear/GMRES.hpp
  src/TNL/Solvers/Linear/IDRs.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added nd_reduce function and tests for all dimensions
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/Reduction3D.h
  src/TNL/Algorithms/Reduction3D.hpp
  src/TNL/Containers/ndarray/Reduce.h
  src/UnitTests/Algorithms/Reduction2DTest.h
  src/UnitTests/Algorithms/Reduction3DTest.h
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Containers/ndarray/NDArrayReduce_1D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_1D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_1D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_1D_test.hip
  src/UnitTests/Containers/ndarray/NDArrayReduce_2D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_2D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_2D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_2D_test.hip
  src/UnitTests/Containers/ndarray/NDArrayReduce_3D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_3D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_3D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_3D_test.hip
  src/UnitTests/Containers/ndarray/NDArrayReduce_4D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_4D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_4D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_4D_test.hip
  src/UnitTests/Containers/ndarray/NDArrayReduce_5D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_5D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_5D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_5D_test.hip
  src/UnitTests/Containers/ndarray/NDArrayReduce_6D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_6D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_6D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_6D_test.hip
  src/UnitTests/Containers/ndarray/NDArrayReduce_7D_test.cpp
  src/UnitTests/Containers/ndarray/NDArrayReduce_7D_test.cu
  src/UnitTests/Containers/ndarray/NDArrayReduce_7D_test.h
  src/UnitTests/Containers/ndarray/NDArrayReduce_7D_test.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Implemented Reduction3D algorithms
  src/TNL/Algorithms/Reduction3D.h
  src/TNL/Algorithms/Reduction3D.hpp
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/Reduction3DTest.cpp
  src/UnitTests/Algorithms/Reduction3DTest.cu
  src/UnitTests/Algorithms/Reduction3DTest.h
  src/UnitTests/Algorithms/Reduction3DTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added benchmark for NDArray reduction
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction-cuda.cu
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.cpp
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Rename Multireduction to Reduction2D
  Documentation/Pages/core-concepts.md
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/parallelFor.h
  src/TNL/Solvers/Linear/GMRES.hpp
  src/TNL/Solvers/Linear/IDRs.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/MultireductionTest.cpp
  src/UnitTests/Algorithms/MultireductionTest.cu
  src/UnitTests/Algorithms/MultireductionTest.hip
  src/UnitTests/Algorithms/Reduction2DTest.cpp
  src/UnitTests/Algorithms/Reduction2DTest.cu
  src/UnitTests/Algorithms/Reduction2DTest.h
  src/UnitTests/Algorithms/Reduction2DTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Add scripts for data extraction and heatmap generation
  src/Benchmarks/NDArray/heatmap.py
  src/Benchmarks/NDArray/logparser.py
Due: dummy build job, python-black

Add documentation for the nd_reduce function
  src/TNL/Containers/ndarray/Reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added tnl-benchmark-reduction
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-reduction-cuda.cu
  src/Benchmarks/NDArray/tnl-benchmark-reduction.cpp
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Reformat and add documentation for Reduction2D and Reduction3D
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction3D.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Relax the detection of doxygen version in CMake
  Documentation/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Reorder find_package calls and setting CMAKE_EXECUTABLE_SUFFIX in the main CMakeLists.txt
  CMakeLists.txt
  src/Examples/Ginkgo/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix space in CMake info message
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixing benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/benchmarks.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing UmfpackWarpper.
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added UmfpackWrapper unit test.
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
  src/UnitTests/Solvers/Linear/UmfpackWrapperTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers
