Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Small fixes in heat equation benchmark.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replacing normals with total orientation index in GridEntityOrientation.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/GridEntityOrientation.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/EntityDataStore.h
  src/UnitTests/Meshes/Grids/GridEntitiesOrientationsTest.cpp
  src/UnitTests/Meshes/Grids/Indexing/support.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Heat equation solver benchmark refactoring. Added heat equation solver benchmark based on NDArray.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForTest.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added a method swap to NDArray.
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added 1D and 3D heat equation benchmark.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForTest.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactoring of the heat equation benchmark.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Modifying scripts for running and processing results of the heat equation benchmark.
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-1d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-3d
Due: dummy build job, python-black

Reimplemented methods of GridEntity:
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed documentation of GridEntitiesOrientations.
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix in heat equation benchmark with grid.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Tuning scripts for running heat equation benchmark.
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-1d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-3d
Due: dummy build job

Fixes of few errors reported by clang and fixes for macOS clang.
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing FVM heat equation benchmark in 2D.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMParallelFor.h
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Implementing FVM heat equation benchmark in 1D.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMParallelFor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Changing ordering of permutations for grid entities orientations.
  src/TNL/Meshes/GridDetails/Templates/Permutations.h
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing FVM heat equation benchmark in 3D.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMParallelFor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added entities partitioning to Grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes in heat equation benchmark.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-1d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-3d
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Implemented nD parallel for.
  src/TNL/Algorithms/ParallelForND.h
  src/UnitTests/Algorithms/ParallelForNDTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Modifications of scripts for running heat equation benchmarks.
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-1d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-3d
Due: dummy build job

Added functions isSequential, isHost and isCuda.
  src/TNL/Devices/Cuda.h
  src/TNL/Devices/Host.h
  src/TNL/Devices/Sequential.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring grid entity - GridEntity is derived from GridEntityBased.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/EntityDataStore.h
  src/UnitTests/Meshes/Grids/GridEntitiesOrientationsTest.cpp
  src/UnitTests/Meshes/Grids/Indexing/support.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Modifying script for processing heat equation benchmark results to process even FVM results.
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
Due: dummy build job, python-black

Added StaticArray::assignAt to assign shorter arrays.
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Containers/detail/StaticArrayAssignment.h
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring GridEntityBase - merging total orientation index and coordinates.
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reimplementing traversing of grid entities.
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small refactoring of ParallelForND.
  src/TNL/Algorithms/ParallelForND.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changes in ParallelForND:
  src/TNL/Algorithms/ParallelForND.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed Grid::forInteriorEntities for CUDA.
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing script for processing of heat equation benchmark results.
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
Due: dummy build job, python-black

Removing append logging mode in the heat equation benchmark run scripts.
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-1d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-2d
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation-3d
Due: dummy build job

Optimizing grid traversing for FVM.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing documentation for grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes to avoid compiler warnigns.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing documentation on grid, deleting useless code.
  Documentation/Examples/Meshes/Grid/GridExample_constructor-1.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Images/RegionOfInterest_impl.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridTraits.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming getNeighbourEntity to getEntity and getNeighbourEntityIndex to getEntityIndex.
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation of parallelFor.
  src/TNL/Algorithms/parallelFor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing documentation on grid.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/UsersGuide/Meshes/ug_Grids.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Fixes in Grid and heat equation benchmarks related to the new implementation of parallelFor.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMParallelFor.h
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
