Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixing build of unit tests for linear solvers.
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Moving symbolic analysis and factorization to setMatrix in Umfpack wrapper.
  src/TNL/Solvers/Linear/LinearSolver.h
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added DirectSolver and DirectSolverMonitor.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/TNL/Solvers/DirectSolver.h
  src/TNL/Solvers/DirectSolver.hpp
  src/TNL/Solvers/DirectSolverMonitor.h
  src/TNL/Solvers/DirectSolverMonitor.hpp
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/IterativeSolver.hpp
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added single precision support to tnl-benchmark-linear-solvers.
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Deleting cmake test for Umfpack.
  cmake/FindUMFPACK.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixed benchmarking of direct solvers of linear systems for CUDA.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Strumpack can be built only with MPI.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Enabling sparse matrix reordering for sequential device.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added README for linear solvers benchmark.
  src/Benchmarks/LinearSolvers/README.md
Due: dummy build job

Eliminate DummyStrideBase and StridesHolder from the implementation of NDArray
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/SizesHolder.h
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
  src/TNL/Containers/ndarray/Subarrays.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor getStaticStorageSize for StaticNDArray
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add TODO comments for NDArrayIndexer
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reimplement NDArrayIndexer::isContiguousBlock without using Permutation
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplify checking storage index out of bounds
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/ndarray/SizesHolder.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor indexing and strides for NDArray
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/Meta.h
  src/TNL/Containers/ndarray/Subarrays.h
  src/UnitTests/Containers/ndarray/NDSubarrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove Permutation template parameter from NDArrayIndexer
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace base classes in NDArrayIndexer with attributes
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove duplicate implementation of getSubarrayView() from NDArray
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove unused attribute from NDArray
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing const qualifier to NDArrayIndexer::isContiguousBlock
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove SlicedNDArray
  Documentation/UsersGuide/NDArrays/CMakeLists.txt
  Documentation/UsersGuide/NDArrays/NDArrayExample_SlicedArray.cpp
  Documentation/UsersGuide/NDArrays/ug_NDArrays.md
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/Subarrays.h
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Containers/ndarray/SlicedNDArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactor ndarray indexing using staticFor
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing header and detail:: namespace in DistributedNDArraySynchronizer.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Clean up unused meta code in ndarray implementation
  src/TNL/Containers/ndarray/Meta.h
  src/TNL/Containers/ndarray/Subarrays.h
  src/UnitTests/Containers/ndarray/NDSubarrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplify ndarray implementation with constexpr instead of __cuda_callable__
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix typo in comment
  src/TNL/Meshes/TypeResolver/resolveMeshType.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix typo in static assert
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix linting issues in DistributedNDArraySynchronizer
  src/TNL/Containers/DistributedNDArraySynchronizer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing find_package(Ginkgo)
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

typos: ignore 'setp' -> 'step'
  .typos.toml
Due: dummy build job

Fix typo in StringExample.cpp
  Documentation/Examples/StringExample.cpp
Due: documentation, pages, clang-format, clang-tidy

Avoid repeated finding of the UMFPACK CMake package
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Add special tests for complex dot product and l2Norm
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove two types from VectorBinaryOperationsTest.h to speed up
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Update tests for expression templates for complex numbers
  src/UnitTests/Containers/CMakeLists.txt
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTest.cpp
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTest.h
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTestCuda.cu
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTestHip.hip
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTest.cpp
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTest.h
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTestCuda.cu
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTestHip.hip
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTest.cpp
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTest.h
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTestCuda.cu
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTestHip.hip
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorHelperFunctions.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
  src/UnitTests/CustomScalar.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix vector expressions for complex
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor definitions of type lists for vector tests
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add missing include in Complex.hpp
  src/TNL/Arithmetics/Complex.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix operators and use of norm function for Complex
  src/TNL/Arithmetics/Complex.h
  src/TNL/Arithmetics/Complex.hpp
  src/UnitTests/Arithmetics/ComplexTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing super-weird constructor for StaticArray
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
