Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Removed old implementation of SharedPointer using CUDA unified memory
  src/TNL/Pointers/SharedPointerCuda.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed some useless HAVE_CUDA guards
  src/TNL/Benchmarks/Utils.h
  src/TNL/Containers/ByteArraySynchronizer.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/ndarray/BoundaryExecutors.h
  src/TNL/Cuda/DummyDefs.h
  src/TNL/Operators/diffusion/FiniteVolumeNonlinearOperator_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed MPI::selectGPU to not fail on systems with 0 GPUs
  src/TNL/MPI/Utils.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added checks for the minimum C++ standard and required nvcc flags
  src/TNL/Assert.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved some CUDA-only local typedefs behind macro guards to avoid warnings
  Documentation/Examples/Algorithms/Segments/SegmentsExample_General.cpp
  src/Benchmarks/SpMV/spmv.h
  src/UnitTests/Matrices/BinarySparseMatrixCopyTest.h
  src/UnitTests/Matrices/DenseMatrixCopyTest.h
  src/UnitTests/Matrices/DenseMatrixTest.h
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixCopyTest.h
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unused local typedefs
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_getSegmentView.cpp
  Documentation/Examples/Containers/ArrayExample.cpp
  Documentation/Examples/Containers/DistributedArrayExample.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_getRow.cpp
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  src/Benchmarks/BLAS/CommonVectorOperations.hpp
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DistSpMV/tnl-benchmark-distributed-spmv.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/SlicedEllpack_impl.h
  src/Benchmarks/SpMV/spmv.h
  src/TNL/Algorithms/SegmentedScan.hpp
  src/TNL/Functions/MeshFunctionNormGetter.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorEvaluateAndReduceTest.h
  src/UnitTests/Matrices/BinarySparseMatrixCopyTest.h
  src/UnitTests/Matrices/BinarySparseMatrixTest.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
  src/UnitTests/Matrices/Legacy/Legacy_SparseMatrixTest.hpp
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixCopyTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
  src/UnitTests/Meshes/EntityTagsTest.h
  src/UnitTests/Meshes/MeshGeometryTest.h
  src/UnitTests/Meshes/MeshTest.h
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Launch CUDA kernels in DenseMatrix and DenseMatrixView via Cuda::LaunchConfiguration
  src/TNL/Cuda/SharedMemory.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Launch CUDA kernels in segments via Cuda::LaunchConfiguration
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/EllpackView.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRVectorKernel.hpp
  src/TNL/Cuda/DummyDefs.h
  src/TNL/Cuda/LaunchHelpers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved deprecated memory helpers to the directory of legacy matrices to avoid compiler warnings
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/AdEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/BiEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/ChunkedEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/MemoryHelpers.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/SlicedEllpack_impl.h
  src/TNL/Matrices/Matrix.hpp
  src/TNL/Matrices/MatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Launch CUDA kernels in copySparseMatrix_impl via Cuda::LaunchConfiguration
  src/TNL/Matrices/SparseOperations_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Launch CUDA kernels in TridiagonalMatrix and MultidiagonalMatrix via Cuda::LaunchConfiguration
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated documentation on enabling CUDA
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, pages

Launch CUDA kernels in Quicksorter via Cuda::LaunchConfiguration
  src/TNL/Algorithms/Sorting/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/detail/quicksort_kernel.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

sort.h: use functionals from STL instead of custom lambdas
  src/TNL/Algorithms/sort.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Launch CUDA kernels in MatrixOperations.h via Cuda::LaunchConfiguration
  src/TNL/Matrices/MatrixOperations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added workarounds for clang bugs related to unused local typedefs
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/TNL/Meshes/MeshOrdering/HilbertOrdering.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Cleaned up useless checks and comments from the CUDA reduction launcher
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Cuda/DummyDefs.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed useless structs BiEllpackreduceSegmentsDispatcher and ChunkedEllpackreduceSegmentsDispatcher
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/TNL/Algorithms/Segments/detail/BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ChunkedEllpack.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added constexpr to some std::is_same checks
  src/TNL/Algorithms/Segments/CSRView.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/Kernels/CSRScalarKernel.hpp
  src/TNL/File.hpp
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Meshes/DistributedMeshes/DistributedMeshSynchronizer.h
  src/TNL/Meshes/MeshBuilder.h
  src/TNL/Meshes/MeshDetails/layers/EntityTags/Layer.h
  src/TNL/Solvers/Linear/GMRES.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Launch CUDA kernels in bitonicSort via Cuda::LaunchConfiguration
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/helpers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Commented out unused variables in DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

BLAS benchmark: added operations with parallel STL algorithms
  src/Benchmarks/BLAS/CMakeLists.txt
  src/Benchmarks/BLAS/vector-operations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

BLAS benchmark: added operations with Thrust
  src/Benchmarks/BLAS/CMakeLists.txt
  src/Benchmarks/BLAS/vector-operations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

CMakeLists.txt: update flags for compiler warnings
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

KdTreeOrdering: fixed unused local typedef that was incorrectly detected by GCC
  src/TNL/Meshes/MeshOrdering/KdTreeOrdering.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

BLAS benchmark: refactored launching vector operations
  src/Benchmarks/BLAS/vector-operations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

BLAS benchmark: added verification of the results for vector operations
  src/Benchmarks/BLAS/vector-operations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Update LICENSE
  LICENSE
Due: dummy build job

Added more documentation for DistributedArray
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Containers/DistributedArrayExample.cpp
  Documentation/Tutorials/Arrays/tutorial_Arrays.md
  src/TNL/Containers/DistributedArray.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed documentation of DistributedNDArray and DistributedNDArrayView
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArrayView.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added example for DistributedNDArray
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Containers/DistributedNDArrayExample.cpp
  Documentation/Examples/Containers/DistributedNDArrayExample.cu
  Documentation/Tutorials/NDArrays/tutorial_NDArrays.md
  src/TNL/Containers/DistributedNDArray.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added DistributedVectorExample
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Containers/DistributedVectorExample.cpp
  Documentation/Examples/Containers/DistributedVectorExample.cu
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  src/TNL/Containers/DistributedVector.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed cuSPARSE wrappers for ILU0
  src/TNL/Solvers/Linear/Preconditioners/ILU0.h
  src/TNL/Solvers/Linear/Preconditioners/ILU0.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed ILU specializations, virtual methods and exceptions
  src/TNL/Solvers/Linear/Preconditioners/ILU0.h
  src/TNL/Solvers/Linear/Preconditioners/ILUT.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CMakeLists.txt: fixed TBB usage in BLAS benchmark
  src/Benchmarks/BLAS/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Ensure correct Index typing in SequentialFor
  src/TNL/Algorithms/SequentialFor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed Meshes::Templates::ParallelFor in favor of Algorithms::parallelFor
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/Templates/ParallelFor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deprecated ParallelFor structs in favor of the new parallelFor function
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/ParallelForExample-2D.cpp
  Documentation/Examples/Algorithms/ParallelForExample-2D.cu
  Documentation/Examples/Algorithms/ParallelForExample-3D.cu
  Documentation/Examples/Algorithms/ParallelForExample.cu
  Documentation/Examples/Algorithms/parallelForMultiIndexExample.cpp
  Documentation/Examples/Algorithms/parallelForMultiIndexExample.cu
  Documentation/Examples/Algorithms/parallelForScalarExample.cpp
  Documentation/Examples/Algorithms/parallelForScalarExample.cu
  Documentation/Pages/core-concepts.md
  Documentation/Tutorials/ForLoops/tutorial_ForLoops.md
  src/TNL/Algorithms/ParallelFor.h
  src/TNL/Algorithms/parallelFor.h
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/ParallelForTest.cpp
  src/UnitTests/Algorithms/ParallelForTest.cu
  src/UnitTests/Algorithms/parallelForTest.cpp
  src/UnitTests/Algorithms/parallelForTest.cu
  src/UnitTests/Algorithms/parallelForTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
