Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/Examples, clang-format src/Tools, clang-format src/UnitTests, clang-format Documentation, clang-tidy

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  Ginkgo examples: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format src/TNL: any of: src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Benchmarks: any of: src/Benchmarks/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Examples: any of: src/Examples/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Tools: any of: src/Tools/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/UnitTests: any of: src/UnitTests/**/*.{h,hpp,cpp,cu,hip}
  clang-format Documentation: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml

code formatting using clang-format
  Documentation/UsersGuide/Matrices/DenseMatrixExample_reduceRows_maxNorm.cpp
  Documentation/UsersGuide/Matrices/DenseMatrixExample_reduceRows_vectorProduct.cpp
Due: documentation, pages, clang-format Documentation, clang-tidy

Stylistic improvements to fillRandom
  src/TNL/Algorithms/detail/FillRandom.h
  src/TNL/Algorithms/detail/FillRandom.hpp
  src/TNL/Algorithms/fillRandom.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Optimalization of fillRandom for CPU (parallel)
  src/TNL/Algorithms/detail/FillRandom.hpp
  src/TNL/Algorithms/fillRandom.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Adding the range parameter to the fillRandom function
  src/TNL/Algorithms/detail/FillRandom.h
  src/TNL/Algorithms/detail/FillRandom.hpp
  src/TNL/Algorithms/fillRandom.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Optimalization of fillRandom for GPU (CUDA)
  src/TNL/Algorithms/detail/FillRandom.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Adding exception for HIP device in FillRandom.hpp
  src/TNL/Algorithms/detail/FillRandom.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Modification of documentation for fillRandom
  src/TNL/Algorithms/fillRandom.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Adding fillRandom function
  src/TNL/Algorithms/detail/FillRandom.h
  src/TNL/Algorithms/detail/FillRandom.hpp
  src/TNL/Algorithms/fillRandom.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fix for fillRandom after update
  src/TNL/Algorithms/detail/FillRandom.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Removed old HAVE_GTEST macro from tests for multidimensional decompositions
  src/UnitTests/Containers/BlockPartitioningTest.cpp
  src/UnitTests/Containers/BlockTest.cpp
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.h
  src/UnitTests/Containers/ndarray/SyncDirectionsTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Simplification of the code of setPerturbedConstantSequence in VectorHelperFunctions.h
  src/UnitTests/Containers/VectorHelperFunctions.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Added exception throwing to the getElement method in distributed array view .
  src/TNL/Containers/DistributedArrayView.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Renaming test comparison -> lexicographicComparison in VectorBinaryOperationsTest.
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Added test based on std::lexicographical_compare to the test of the lexicographic comparison of vectors.
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Fix in documentation of StaticArray::setElement.
  src/TNL/Containers/StaticArray.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Improved distributed array example.
  Documentation/Examples/Containers/DistributedArrayExample.cpp
Due: documentation, pages, clang-format Documentation, clang-tidy

Fixed DistributedArrayView::setElement.
  src/TNL/Containers/DistributedArrayView.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added setElement and getElement to StaticArray for compatibility with Array.
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added argAny function. Added comparison operators to vectors.
  Documentation/UsersGuide/Vectors/Reduction.cpp
  Documentation/UsersGuide/Vectors/ug_Vectors.md
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/DistributedVerticalOperations.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticVerticalOperations.h
  src/TNL/Functional.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorHelperFunctions.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-format Documentation, clang-tidy

Added description of operators <, ,+, > and >= for Vectors to UG.
  Documentation/UsersGuide/Vectors/ug_Vectors.md
Due: documentation, pages

Fixed typo in StaticArray comment.
  src/TNL/Containers/StaticArray.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Small refactoring of distributed ET.
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed readibility warming
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Fixed warning regarding passing by value and moving rather than passing a reference
  src/TNL/Meshes/MeshDetails/initializer/EntitySeedMatrix.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed errors regarding unnecesssary temporary strings
  src/TNL/Meshes/Readers/VTKReader.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed formatting by updated clang-format
  src/UnitTests/CustomScalar.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

CI: use CUDA 11.8 from an updated Docker image
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

CMake: hack for non-system include directory used by Thrust
  src/Benchmarks/BLAS/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

CMake: fix selection of the host device for Thrust
  src/Benchmarks/BLAS/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Fixed HypreTest
  src/UnitTests/HypreTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Fixed GCC warning ‘bufferIdx’ may be used uninitialized [-Werror=maybe-uninitialized]
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Disable test of sortColumnIndexes for HIP
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy

Simplified fillProportions and fillSpaceSteps in Grid
  src/TNL/Meshes/Grid.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Removed weird sum parameter from CSRAdaptiveKernel::findLimit
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Replaced size_t with std::size_t
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/detail/FillRandom.hpp
  src/TNL/Backend/SharedMemory.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Moving PDE solvers to the TNL legacy repository.
  src/TNL/Solvers/PDE/BackwardTimeDiscretisation.h
  src/TNL/Solvers/PDE/BoundaryConditionsSetter.h
  src/TNL/Solvers/PDE/ExplicitTimeStepper.h
  src/TNL/Solvers/PDE/ExplicitTimeStepper.hpp
  src/TNL/Solvers/PDE/ExplicitUpdater.h
  src/TNL/Solvers/PDE/LinearSystemAssembler.h
  src/TNL/Solvers/PDE/MeshDependentTimeSteps.h
  src/TNL/Solvers/PDE/NoTimeDiscretisation.h
  src/TNL/Solvers/PDE/PDESolver.h
  src/TNL/Solvers/PDE/PDESolver.hpp
  src/TNL/Solvers/PDE/PDESolverTypeResolver.h
  src/TNL/Solvers/PDE/SemiImplicitTimeStepper.h
  src/TNL/Solvers/PDE/SemiImplicitTimeStepper.hpp
  src/TNL/Solvers/PDE/TimeDependentPDESolver.h
  src/TNL/Solvers/PDE/TimeDependentPDESolver.hpp
  src/TNL/Solvers/PDE/TimeIndependentPDESolver.h
  src/TNL/Solvers/PDE/TimeIndependentPDESolver.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Moving analytic functions to the TNL legacy repository.
  src/TNL/Functions/Analytic/Blob.h
  src/TNL/Functions/Analytic/Blob_impl.h
  src/TNL/Functions/Analytic/Constant.h
  src/TNL/Functions/Analytic/Constant_impl.h
  src/TNL/Functions/Analytic/Cylinder.h
  src/TNL/Functions/Analytic/Cylinder_impl.h
  src/TNL/Functions/Analytic/ExpBump.h
  src/TNL/Functions/Analytic/ExpBump_impl.h
  src/TNL/Functions/Analytic/Flowerpot.h
  src/TNL/Functions/Analytic/Flowerpot_impl.h
  src/TNL/Functions/Analytic/Paraboloid.h
  src/TNL/Functions/Analytic/ParaboloidSDF.h
  src/TNL/Functions/Analytic/ParaboloidSDF_impl.h
  src/TNL/Functions/Analytic/Paraboloid_impl.h
  src/TNL/Functions/Analytic/PseudoSquare.h
  src/TNL/Functions/Analytic/PseudoSquare_impl.h
  src/TNL/Functions/Analytic/SinBumps.h
  src/TNL/Functions/Analytic/SinBumpsSDF.h
  src/TNL/Functions/Analytic/SinBumpsSDF_impl.h
  src/TNL/Functions/Analytic/SinBumps_impl.h
  src/TNL/Functions/Analytic/SinWave.h
  src/TNL/Functions/Analytic/SinWaveSDF.h
  src/TNL/Functions/Analytic/SinWaveSDF_impl.h
  src/TNL/Functions/Analytic/SinWave_impl.h
  src/TNL/Functions/Analytic/Twins.h
  src/TNL/Functions/Analytic/Twins_impl.h
  src/TNL/Functions/Analytic/VectorNorm.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Moving unit tests for functions to the TNL legacy repository.
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Functions/CMakeLists.txt
  src/UnitTests/Functions/Functions.h
  src/UnitTests/Functions/MeshFunctionTest.cpp
  src/UnitTests/Functions/SaveAndLoadMeshfunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CopyEntitiesTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/UnitTests, clang-tidy
