Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Cleaned up matrix tests
  src/UnitTests/Matrices/BinarySparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed matrices to work with complex types
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/MatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseOperations.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed TODO notes that are tracked in GitLab issues
  src/TNL/Logger.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unreasonable operator= from CSRAdaptiveKernelView
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Modernized TNL::Pointers to C++17
  src/TNL/Pointers/DevicePointer.h
  src/TNL/Pointers/SharedPointer.h
  src/TNL/Pointers/SharedPointerCuda.h
  src/TNL/Pointers/SharedPointerHost.h
  src/TNL/Pointers/SmartPointersRegister.h
  src/TNL/Pointers/UniquePointer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CMakeLists.txt: add function to simplify adding MPI tests
  CMakeLists.txt
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Containers/CMakeLists.txt
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/MPI/CMakeLists.txt
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Avoid nvcc warning due to defined but not referenced variable
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactored compiler flags
  CMakeLists.txt
  cmake/cuda_flags.cmake
  cmake/cxx_flags.cmake
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Removed obsolete workaround for CUDA 7.5
  src/TNL/Assert.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed obsolete command from the install script
  install
Due: dummy build job

Modernized static asserts in mesh orderings
  src/TNL/Meshes/MeshOrdering/CuthillMcKeeOrdering.h
  src/TNL/Meshes/MeshOrdering/HilbertOrdering.h
  src/TNL/Meshes/MeshOrdering/KdTreeOrdering.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed useless compiler flags for tnl-benchmark-sort-cuda
  src/Benchmarks/Sorting/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Fixed comments in MeshBuilder
  src/TNL/Meshes/MeshBuilder.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed unactionable/invalid TODO and FIXME notes
  src/Benchmarks/SpMV/tnl-benchmark-spmv.h
  src/TNL/Assert.h
  src/TNL/Logger.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed obsolete workaround for Clang 14
  src/Benchmarks/LinearSolvers/benchmarks.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Updated code and build system for NVHPC
  .gitlab-ci.yml
  cmake/cuda_flags.cmake
  cmake/cxx_flags.cmake
  configure
  src/Benchmarks/BLAS/vector-operations.h
  src/TNL/Meshes/MeshDetails/initializer/SubentitySeedsCreator.h
  src/Tools/tnl-decompose-mesh.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Modernized DistributedArray to C++17
  src/TNL/Containers/DistributedArray.h
  src/TNL/Containers/DistributedArray.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed warnings reported by NVHPC
  src/TNL/Algorithms/Sorting/detail/Quicksorter.hpp
  src/TNL/Algorithms/detail/Scan.hpp
  src/TNL/Containers/Expressions/ExpressionVariableType.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Functions/MeshFunctionNormGetter.h
  src/TNL/Solvers/ODE/Euler.hpp
  src/TNL/Solvers/ODE/StaticEuler.hpp
  src/TNL/Solvers/Optimization/AdaGrad.hpp
  src/TNL/Solvers/Optimization/GradientDescent.hpp
  src/TNL/Solvers/Optimization/Momentum.hpp
  src/TNL/Solvers/Optimization/NesterovMomentum.hpp
  src/TNL/Solvers/Optimization/RMSProp.hpp
  src/Tools/tnl-diff.h
  src/UnitTests/DiscreteMathTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved TNL_NVCC_HD_WARNING_DISABLE macro from Assert.h to CudaCallable.h
  src/TNL/Assert.h
  src/TNL/Cuda/CudaCallable.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Optimized operator== and sortColumnIndexes in SparseMatrixRowView
  src/TNL/Matrices/SparseMatrixRowView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CMakeLists.txt: use PROJECT_IS_TOP_LEVEL instead of a custom variable
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Removed the old and inflexible macro TNL_ASSERT
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/AdEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/BiEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/CSR_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/ChunkedEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Ellpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Matrix.hpp
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/MultidiagonalRow_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Multidiagonal_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/SlicedEllpack_impl.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/SparseRow_impl.h
  src/TNL/Assert.h
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/IndexedMap_impl.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/MatrixOperations.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Meshes/Mesh.hpp
  src/TNL/Meshes/MeshDetails/layers/EntityTags/Layer.h
  src/TNL/Pointers/DevicePointer.h
  src/TNL/Pointers/SharedPointerCuda.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Replaced custom CudaStatusType in the CudaRuntimeError exception
  src/TNL/Cuda/CheckDevice.h
  src/TNL/Exceptions/CudaRuntimeError.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CI: configure OpenMPI to run without ssh
  .gitlab-ci.yml
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Simplified Devices::Cuda::configSetup
  src/TNL/Devices/Cuda.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed deprecated function getMaxGridSize()
  src/TNL/Cuda/LaunchHelpers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CMakeLists.txt: refactored forcing colorized output from compilers
  CMakeLists.txt
  cmake/cuda_flags.cmake
  cmake/cxx_flags.cmake
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Use CMake's FetchContent module to build TinyXML2 if it is not found on the system
  CMakeLists.txt
  Documentation/Pages/main-page.md
  Documentation/UsersGuide/Meshes/CMakeLists.txt
  cmake/FetchTinyXML2.cmake
  install
  scripts/install_tinyxml2
  src/Tools/CMakeLists.txt
  src/UnitTests/Functions/CMakeLists.txt
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Fixed weird behavior of inherited constructors and assignment operators in VectorView
  src/TNL/Containers/VectorView.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

NVHPC 23.7 does not allow running a program compiled with MPI without mpirun
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Containers/CMakeLists.txt
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Matrices/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Use CMake's FetchContent module to build GoogleTest
  CMakeLists.txt
  cmake/BuildGtest.cmake
  cmake/FetchGoogleTest.cmake
  cmake/Gtest.cmake.in
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Removed -Wno-unknown-pragmas flag for Clang and properly guard all nvcc pragmas
  cmake/cuda_flags.cmake
  src/UnitTests/AssertCudaTest.cu
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added missing build dependencies for the doxygen target
  Documentation/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Restored colors in clang-tidy output
  src/.clang-tidy
Due: dummy build job

Fixed validation of arguments in contains and containsOnlyValue
  src/TNL/Algorithms/contains.h
  src/TNL/Algorithms/detail/Contains.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
