Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Moving tests for sparse-dense matrix copying operations from SparseMatrixOperationsTest to a new test suite SparseDenseMatrixOperationsTest.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.hpp
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.cpp
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.cu
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Moving copyDenseToDenseMatrix from SparseOperations to DenseOperations.
  src/TNL/Matrices/DenseOperations.h
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting useless test functions checking the segments organization.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing the segments example on reduceAll to use free function forAllElements.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.cpp
Due: documentation, pages, clang-format, clang-tidy

Dynamic grouping CSR reducing kernels can use TPS > 1.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added the methods getSerializationType and getSegmentsType for Adaptive CSR segments.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/AdaptiveCSRView.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing use of padding index in lambda functions in sparse matrix operations.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing guards for Thrust in BLAS benchmarks.
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Renaming the namespace Matrices::details to Matrices::detail.
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/detail/MultidiagonalMatrixIndexer.h
  src/TNL/Matrices/detail/SparseMatrix.h
  src/TNL/Matrices/detail/TridiagonalMatrixIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation for segments.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackSegmentView.h
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackSegmentView.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.h
  src/TNL/Algorithms/find.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed is_sparse_csr_matrix and added is_sparse_matrix.
  src/TNL/Matrices/TypeTraits.h
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for copySparseToDenseMatrix.
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added free functions for traversing matrices in TNL - only for dense and sparse matrices so far.
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed launch configurations for sorted segments.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming threads per segment mappings.
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
  src/Benchmarks/Segments/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_Default.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_HybridCSR.h
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_LightCSR.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Added kernels for CSR reduction based on dynamic grouping.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added stream flushing to JSON benchmark logger. The log file can get broken in case of segfault otherwise.
  src/TNL/Benchmarks/JsonLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring segments and graphs benchmarks - renaming type of launch configuration.
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/LaunchConfigurationsSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed the method Host::getMaxThreadCounts to return 1 of OpenMP is disabled.
  src/TNL/Devices/Host.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing assertion in MultidiagonalMatrixBase.
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added basic unit tests for graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest.cpp
  src/UnitTests/Graphs/GraphTest.cu
  src/UnitTests/Graphs/GraphTest.h
  src/UnitTests/Graphs/GraphTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added test for copyDenseToDenseMatrix.
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Renaming ReducingOperationsBaseline to ReducingOperationsBase and TraversingOperationsBaseline to TraversingOperationsBase (both for segments).
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorted segments to UG.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SortedSegmentsExample_constructor.cpp
  Documentation/Examples/Algorithms/Segments/SortedSegmentsExample_constructor.cu
  Documentation/UsersGuide/Segments/ug_Segments.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Added GraphBase and GraphNodeView.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphBase.hpp
  src/TNL/Graphs/GraphNodeView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing duplicate kernels for segments.
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added atomic CAS.
  src/TNL/Algorithms/AtomicOperations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing wrong type names in MatrixInfo.
  src/TNL/Matrices/MatrixInfo.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Improving reading of symmetric matrices.
  Documentation/UsersGuide/Matrices/SymmetricSparseMatrixExample.cpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/UnitTests/Graphs/GraphTest_trees.h
  src/UnitTests/Matrices/SymmetricSparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing constructor of segments launch configuration.
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Backend/KernelLaunch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing type definitions in sparse matrices.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for getView in segments.
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing definition of segments type in SparseMatrix.
  src/TNL/Matrices/SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added graph view.
  src/TNL/Graphs/GraphView.h
  src/TNL/Graphs/GraphView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

GPU Ellpack kernels for traversing and reductions accept various threads per segment for fixed mapping - not just warp size.
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for matrix traversing with the free functions.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.cu
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.hip
  src/UnitTests/Matrices/Traverse/MatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.cpp
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.cu
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixing multivector reduction kernels for CSR segments.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added free functions for reduction in matrices - only for dense and sparse so far.
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing definition of the graph type, added type traits for graphs.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphType.h
  src/TNL/Graphs/TypeTraits.h
  src/UnitTests/Graphs/GraphTest_MST.h
  src/UnitTests/Graphs/GraphTest_SSSP.h
  src/UnitTests/Graphs/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing definition of 'none_scheduled' from -1 to numeric_limits::max() in Dynamic grouping kernels for CSR segments to avoid potential issues with unsigned Index types.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
