Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Added grid constructor with packed dimensions.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDGrid.hpp
  src/TNL/Meshes/NDGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement tests for interior traversal
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement tests for forBoundary traverser
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
  src/UnitTests/Meshes/GridTests/Utils/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Utils/GridBasisTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved GnuplotWriter
  src/TNL/Meshes/Writers/GnuplotWriter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed CMakeLists.txt
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/HeatEquation/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
  src/Benchmarks/SpMV/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Accessors/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Indexing/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Neighbours/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Utils/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Refactoring GridEntity.
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement traverse properties tests
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added Grid::getEntity with entity index.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntity.hpp
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/Grids/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Indexing/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Indexing/Grid1DTest_indexing.cpp
  src/UnitTests/Meshes/Grids/Indexing/Grid2DTest_indexing.cpp
  src/UnitTests/Meshes/Grids/Indexing/Grid3DTest_indexing.cpp
  src/UnitTests/Meshes/Grids/Indexing/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation on grids.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-1.cpp
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-1.cu
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-2.cpp
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-2.cu
  Documentation/Examples/Meshes/Grid/GridExample_constructor-1.cpp
  Documentation/Examples/Meshes/Grid/GridExample_constructor-1.cu
  Documentation/Examples/Meshes/Grid/GridExample_constructor-1.h
  Documentation/Examples/Meshes/Grid/GridExample_constructor-2.cpp
  Documentation/Examples/Meshes/Grid/GridExample_constructor-2.cu
  Documentation/Examples/Meshes/Grid/GridExample_constructor-2.h
  Documentation/Examples/Meshes/Grid/GridExample_traverse.cpp
  Documentation/Examples/Meshes/Grid/GridExample_traverse.cu
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.cpp
  Documentation/Examples/Meshes/Grid/GridExample_writer.cu
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  Documentation/Tutorials/Meshes/tutorial_Grids.md
  src/TNL/Meshes/Grid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added grid entity aliases to grid.
  src/TNL/Meshes/Grid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added --resource-usage compiler flag for the heat equation benchmark
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Moving Grid.hpp and GridEntity.hpp to TNL/Meshes.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix geometry functions for new grid entity
  src/TNL/Meshes/Geometry/getEntityCenter.h
  src/TNL/Meshes/Geometry/getEntityMeasure.h
  src/TNL/Meshes/Geometry/getOutwardNormalVector.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming Grid::Coordinate to Grid::CoordinatesType and Grid::Point to Grid::PointType.
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityCenterGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDGrid.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/NDGrid.h
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/Neighbours/1D/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/2D/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/3D/Grid3DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/Grids/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/Grids/Traverse/Grid3DTest.h
  src/UnitTests/Meshes/Grids/Traverse/GridCoordinateIteratorTest.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
  src/UnitTests/Meshes/VTIReaderTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updating scripts for heat eqaution benchmark.
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-heat-equation
Due: dummy build job

Fixed assertions in StaticArray.
  src/TNL/Containers/StaticArray.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Disable large configuration for sequential execution
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid3DTest.cpp
  src/UnitTests/Meshes/GridTests/Accessors/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/support.h
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1DTestSuite.h
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2DTestSuite.h
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3DTestSuite.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.cpp
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.cpp
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid3DTest.cpp
  src/UnitTests/Meshes/GridTests/Traverse/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
  src/UnitTests/Meshes/GridTests/Utils/GridBasisTest.cpp
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix benchmark with memory load
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Add coordinate iterator test
  src/UnitTests/Meshes/GridTests/CMakeSupport.cmake
  src/UnitTests/Meshes/GridTests/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Traverse/GridCoordinateIteratorTest.cpp
  src/UnitTests/Meshes/GridTests/Traverse/GridCoordinateIteratorTest.cu
  src/UnitTests/Meshes/GridTests/Traverse/GridCoordinateIteratorTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
  src/UnitTests/Meshes/GridTests/Utils/CoordinateIteratorTest.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Removed extra memory swap for heat equation
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Remove unnecessary permutations algorithm
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Remove methods to get cell measure and entity from grid
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Deleting the method getEntityIndex from Grid.
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added interior region to grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Update Grid3D public API
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix heat equation benchmarks
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Deleting Grid 1D, 2D and 3D specializations.
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/Operations.h
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/NDGrid.h
  src/UnitTests/Meshes/Grids/Accessors/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation for grid traversing methods.
  src/TNL/Meshes/Grid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Replacing macro definitions for template types.
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add explicit refresh in the grid entity constructor
  src/TNL/Functions/MeshFunctionGnuplotWriter.h
  src/TNL/Images/DicomSeries_impl.h
  src/TNL/Images/JPEGImage_impl.h
  src/TNL/Images/PGMImage_impl.h
  src/TNL/Images/PNGImage_impl.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/TNL/Meshes/GridEntity.h
  src/Tools/tnl-dicom-reader.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming setupConfig to configSetup in heat equation benchmark.
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed Doxygen warnings and formatting in Grid and GridEntity
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Changes in documentation of grid.
  src/TNL/Meshes/Grid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation on grid.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-1.cpp
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-1.cu
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-1.h
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-2.cpp
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-2.cu
  Documentation/Examples/Meshes/Grid/GridExample_Constructor-2.h
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.cpp
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.cu
  Documentation/Examples/Meshes/Grid/GridExample_Constructor.h
  Documentation/Examples/Meshes/Grid/GridExample_traverse-1.cpp
  Documentation/Examples/Meshes/Grid/GridExample_traverse-1.cu
  Documentation/Examples/Meshes/Grid/GridExample_traverse-1.h
  Documentation/Tutorials/Meshes/tutorial_Grids.md
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moving the method getEntityIndex to NDGrid.
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/BoundaryGridEntityChecker.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDGrid.hpp
  src/TNL/Meshes/GridDetails/NDGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Reimplementing Grid::writeProlog.
  src/TNL/Meshes/GridDetails/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
