Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Fix math functions for complex
  src/TNL/Arithmetics/Complex.h
  src/TNL/Functional.h
  src/TNL/Math.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove unused header files
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest_ChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added grid normals class.
  src/TNL/Meshes/GridDetails/GridEntityNormals.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added ParallelForND.
  src/TNL/Algorithms/ParallelForND.h
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/ParallelForNDTest.cpp
  src/UnitTests/Algorithms/ParallelForNDTest.cu
  src/UnitTests/Algorithms/ParallelForNDTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Introducing grid entity orientation structure.
  src/TNL/Meshes/DistributedMeshes/CopyEntitiesHelper.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/GridEntityNormals.h
  src/TNL/Meshes/GridDetails/GridEntityOrientation.h
  src/TNL/Meshes/GridDetails/GridTraits.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/Tools/tnl-diff.h
  src/UnitTests/Meshes/Grids/Indexing/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added testing benchmark to heat equation benchmark - for tuning purposes.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForTest.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Reimplementing getNeigbourEntity/getNeighbourEntityIndex, avoiding use of GridEntityGetter.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added tests for neighbour entities indexes.
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_3D.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Updating heat equation benchmark for grids to use getNeighbourEntityIndex - works well with no slowdown.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed getting of neighbour entities indexes in tnl-grid-to-mesh tool.
  src/Tools/tnl-grid-to-mesh.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed getting of neighbour entities indexes in grid examples.
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
Due: documentation, pages, clang-format, clang-tidy

Added GridEntitiesOrientation.
  src/TNL/DiscreteMath.h
  src/TNL/Meshes/GridDetails/GridEntitiesOrientations.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NormalsGetter.h
  src/TNL/Meshes/GridDetails/Templates/ForEachOrientation.h
  src/TNL/Meshes/GridDetails/Templates/Functions.h
  src/UnitTests/DiscreteMathTest.cpp
  src/UnitTests/Meshes/Grids/Utils/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Utils/GridEntitiesOrientationsTest.cpp
  src/UnitTests/Meshes/Grids/Utils/GridNormalsTest.cpp
  src/UnitTests/Meshes/Grids/Utils/GridNormalsTest.cu
  src/UnitTests/Meshes/Grids/Utils/GridNormalsTest.h
  src/UnitTests/Meshes/Grids/Utils/GridTemplatesTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixed documentation in Grid.
  src/TNL/Meshes/Grid.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing documentation for GridEntitiesOrientations.
  src/TNL/Meshes/GridDetails/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added new test for GridEntitiesOrientations.
  src/UnitTests/Meshes/Grids/Utils/GridEntitiesOrientationsTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed documentation in ParallelForND.
  src/TNL/Algorithms/ParallelForND.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring grid - using GridEntitiesOrientations.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added methods and tests for GridEntitiesOrientations.
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/UnitTests/Meshes/Grids/CMakeLists.txt
  src/UnitTests/Meshes/Grids/GridEntitiesOrientationsTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Employing GridEntitiesOrientations in grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring grid based on GridEntitiesOrientations.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring grid to work with enitiesIndexesOffsets.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityOrientation.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removed thrust sort_by_key sort.
  src/TNL/Particles/Particles.h
  src/TNL/Particles/Particles.hpp
  src/TNL/Particles/ParticlesLinkedList.h
  src/TNL/Particles/ParticlesLinkedList.hpp
  src/TNL/Particles/ParticlesLinkedListWithList.h
  src/TNL/Particles/ParticlesTraits.h
  src/UnitTests/Particles/CMakeLists.txt
  src/UnitTests/Particles/GhostZoneTest.h
  src/UnitTests/Particles/ParticleSystemTest.h
  src/UnitTests/Particles/ParticlesWithDomainDecompositin.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Upgrade clang-cuda build to CUDA 12
  .gitlab-ci.yml
  CMakePresets.json
  cmake/cuda_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Changed std::endl to '\n'
  Documentation/UsersGuide/Matrices/BinarySparseMatrixExample.cpp
  src/TNL/SystemInfo.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor getting L1 cache line size
  src/TNL/SystemInfo.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added in-place transposition to DenseMatrixView.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing dense matrix addition to work with both column-major and row-major ordering. Added addition of transposed matrix. Added unit tests.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing macro guard for CUDA code in a .cpp file
  Documentation/UsersGuide/Vectors/Expressions.cpp
Due: documentation, pages, clang-format, clang-tidy

Added an explanation to the comment
  Documentation/UsersGuide/Arrays/ArrayView-1.cpp
Due: documentation, pages, clang-format, clang-tidy

CMake: Bump git tag for tinyxml2 to 10.0.0
  cmake/FetchTinyXML2.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add workaround for rocm-llvm 6.2.2
  cmake/hip_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Changed error with std::endl for '\n' and combined it into a string.
  src/TNL/Logger.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving SparseSandboxMatrix to tnl-legacy.
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixRowView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixRowView.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.hpp
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.cpp
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.cu
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.h
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.hip
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.cpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.cu
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added override to the getColumnWidthHints in benchmark results for linear solvers.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

SparseMatrix::setColumnsWithoutReset should not be virtual
  src/TNL/Matrices/SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing wrapper for sparse direct solver in Ginkgo and related benchmarks.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

CI: add typos linting
  .gitlab-ci.yml
  .typos.toml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fixed errors/warnings reported by clang-tidy
  src/TNL/Pointers/DevicePointer.h
  src/TNL/Pointers/SharedPointerCuda.h
  src/TNL/Pointers/SharedPointerHost.h
  src/TNL/Pointers/SmartPointersRegister.h
  src/TNL/String.h
  src/TNL/String.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Few fixes in cmake.
  CMakeLists.txt
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
