Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Benchmarks, clang-format src/Examples, clang-format src/Tools, clang-format src/UnitTests, clang-format Documentation, clang-tidy

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

clang_cuda:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

hip_rocm:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

gcc:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

clang:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

icpx:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

Ginkgo examples:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

documentation:
  needs: []
  script:
  - - source /etc/profile
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
    - export OMP_NUM_THREADS=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

clang-format src/TNL:
  stage: lint
  script:
  - ./scripts/run-clang-format.py --color always --style file --exclude "src/TNL/3rdparty/*" --recursive src/TNL
  interruptible: true

Refactored setSizesHelper for ndarray using staticFor
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

StaticArray: fix constexpr methods with for-loops for zero-size arrays
  src/TNL/Containers/StaticArray.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Generalized decomposeBlockOptimal and getInterfaceArea functions
  src/TNL/Containers/Block.h
  src/TNL/Containers/BlockPartitioning.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Refactored SizesHolder using modern constexpr functions and StaticArray storage
  src/TNL/Containers/ndarray/SizesHolder.h
  src/TNL/Containers/ndarray/StaticSizesHolder.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Refactoring overlaps in NDArray
  Documentation/Examples/Containers/DistributedNDArrayExample.cpp
  src/TNL/CFD/TurbulenceGenerator.h
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/SizesHolder.h
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_semi1D_test.h
  src/UnitTests/Containers/ndarray/NDArrayTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-format Documentation, clang-tidy

CI: remove obsolete workaround for OpenMPI in Arch Linux
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Reformatted CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Removed useless symbolic link FileExampleCuda.cpp
  Documentation/Examples/FileExampleCuda.cpp
  Documentation/Examples/FileExampleCuda.cu
  Documentation/Examples/FileExampleCuda.h
  src/TNL/File.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format Documentation, clang-tidy

Correcting spelling mistakes
  Documentation/UsersGuide/Segments/ug_Segments.md
Due: documentation, pages

Workarounds for nvcc 12.4 compiler errors
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Meshes/Readers/VTUReader.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added `__cuda_callable__` to a SizesHolder constructor to avoid warnings from nvcc 12.4
  src/TNL/Containers/ndarray/SizesHolder.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added `if constexpr` optimizations to Array.hpp
  src/TNL/Containers/Array.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Disable inclusion of the 'execution' header for CUDA 12.4
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-format src/Benchmarks, clang-tidy

Fixed formatting with clang-format 17
  src/TNL/Algorithms/unrolledFor.h
  src/TNL/Arithmetics/Double.h
  src/TNL/Arithmetics/Quad.h
  src/TNL/Backend/SharedMemory.h
  src/TNL/Solvers/Linear/Hypre.h
  src/UnitTests/CustomScalar.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/UnitTests, clang-tidy

CI: ginkgo-hpc is now installed in the archlinux system image
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Updated Ginkgo examples
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation2D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation3D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-converted-ellpack.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-csr.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-operator.cpp
  src/TNL/Matrices/GinkgoOperator.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format src/Examples, clang-tidy

CMake: skip Ginkgo examples when building with Clang
  src/Examples/Ginkgo/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Fixed installation of CMake files as part of the headers component
  CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, clang-tidy

Replace "idempotent element" with "identity element"
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/UsersGuide/ReductionAndScan/SegmentedScanExample.cpp
  Documentation/UsersGuide/ReductionAndScan/SumExample.cpp
  Documentation/UsersGuide/ReductionAndScan/ug_ReductionAndScan.md
  Documentation/UsersGuide/Segments/ug_Segments.md
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-format Documentation, clang-tidy

Revised the segments chapter of the users guide
  Documentation/UsersGuide/Segments/ug_Segments.md
Due: documentation, pages

Fixed typos and improved wording and formatting in the Users Guide
  Documentation/UsersGuide/Arrays/ug_Arrays.md
  Documentation/UsersGuide/GeneralConcepts/ug_GeneralConcepts.md
  Documentation/UsersGuide/Meshes/ug_Grids.md
  Documentation/UsersGuide/Pointers/ug_Pointers.md
  Documentation/UsersGuide/ReductionAndScan/ug_ReductionAndScan.md
  Documentation/UsersGuide/Segments/ug_Segments.md
  Documentation/UsersGuide/Solvers/Linear/ug_Linear_solvers.md
  Documentation/UsersGuide/Vectors/ug_Vectors.md
Due: documentation, pages

Revised arrays chapter in the users guide
  Documentation/UsersGuide/Arrays/ug_Arrays.md
  src/TNL/Containers/Array.h
  src/TNL/Containers/ArrayView.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Fixed example on reduction with argument.
  Documentation/UsersGuide/ReductionAndScan/ReductionWithArgument.cpp
Due: documentation, pages, clang-format Documentation, clang-tidy

Revised the cross-device pointers chapter in the users guide
  Documentation/UsersGuide/Pointers/ug_Pointers.md
  Documentation/UsersGuide/Sorting/ug_Sorting.md
Due: documentation, pages

Revised the flexible reduction and scan chapter in the users guide
  Documentation/UsersGuide/ReductionAndScan/ug_ReductionAndScan.md
Due: documentation, pages

Fixed wording in the for-loops chapter of the users guide
  Documentation/UsersGuide/ForLoops/ug_ForLoops.md
Due: documentation, pages

Revised the sorting chapter of the users guide
  Documentation/UsersGuide/Sorting/ug_Sorting.md
Due: documentation, pages

Revised the for-loops chapter in the users guide
  Documentation/UsersGuide/ForLoops/ug_ForLoops.md
Due: documentation, pages

Rewrite general concepts in the users guide
  Documentation/UsersGuide/GeneralConcepts/snippet_algorithms_and_lambda_functions_parallel_for.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_algorithms_and_lambda_functions_reduction.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_algorithms_and_lambda_functions_reduction_2.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_algorithms_and_lambda_functions_reduction_cublas.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_devices_and_allocators_arrays_device_deduction.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_devices_and_allocators_arrays_device_test.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_shared_pointers_and_views_capture_reference.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_shared_pointers_and_views_capture_value.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_shared_pointers_and_views_capture_view.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_shared_pointers_and_views_capture_view_change.cpp
  Documentation/UsersGuide/GeneralConcepts/snippet_shared_pointers_and_views_capture_view_change_2.cpp
  Documentation/UsersGuide/GeneralConcepts/ug_GeneralConcepts.md
Due: documentation, pages, clang-format Documentation, clang-tidy

Revised vectors chapter in the users guide
  Documentation/UsersGuide/Vectors/ug_Vectors.md
Due: documentation, pages

Revised the grids chapter of the users guide
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  Documentation/UsersGuide/Meshes/ug_Grids.md
Due: documentation, pages, clang-format Documentation, clang-tidy

Revised the linear solvers chapter in the users guide
  Documentation/Doxyfile
  Documentation/UsersGuide/Solvers/Linear/ug_Linear_solvers.md
Due: documentation, pages

Reformatted and refactored mesh examples
  Documentation/UsersGuide/Meshes/GameOfLife.cpp
  Documentation/UsersGuide/Meshes/MeshConfigurationExample.cpp
  Documentation/UsersGuide/Meshes/MeshIterationExample.cpp
  Documentation/UsersGuide/Meshes/ParallelIterationCuda.h
  Documentation/UsersGuide/Meshes/ReadMeshExample.cpp
Due: documentation, pages, clang-format Documentation, clang-tidy

Fixed grid setInteriorEnd.
  src/TNL/Meshes/Grid.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/TNL, clang-tidy

Added CI job for formatting CMake files
  .cmake-format.yaml
  .editorconfig
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-tidy

Reformatted benchmarks with clang-format
  .gitlab-ci.yml
  src/Benchmarks/BLAS/VectorOperations.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/Operations.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkSimpleGrid.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/LinearSolvers/CuSolverWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/ordering.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/ODESolvers/ComputeBlockResidue.h
  src/Benchmarks/ODESolvers/Euler.h
  src/Benchmarks/ODESolvers/Euler.hpp
  src/Benchmarks/ODESolvers/Merson.h
  src/Benchmarks/ODESolvers/Merson.hpp
  src/Benchmarks/ODESolvers/SimpleProblem.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/Quicksorter.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/.clang-format
  src/Benchmarks/Sorting/generators.h
  src/Benchmarks/Sorting/timer.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/Benchmarks, clang-tidy

Fixed run-clang-format.py to skip symlinks and to include .cu files
  scripts/run-clang-format.py
Due: dummy build job

Reformatted examples with clang-format
  .gitlab-ci.yml
  src/Examples/Ginkgo/PoissonEquation2D.h
  src/Examples/Ginkgo/PoissonEquation3D.h
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation2D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation3D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-converted-ellpack.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-csr.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-operator.cpp
  src/Examples/Hypre/ex.h
  src/Examples/Hypre/hypre-ex5.c
  src/Examples/Hypre/tnl-hypre-PoissonEquation3D.cpp
  src/Examples/Hypre/tnl-hypre-ex5.cpp
  src/Examples/Hypre/vis.c
  src/Examples/tnl-optimize-ranks.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, Ginkgo examples, documentation, pages, clang-format src/Examples, clang-tidy

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  Ginkgo examples: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format src/TNL: any of: src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Benchmarks: any of: src/Benchmarks/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Examples: any of: src/Examples/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/Tools: any of: src/Tools/**/*.{h,hpp,cpp,cu,hip}
  clang-format src/UnitTests: any of: src/UnitTests/**/*.{h,hpp,cpp,cu,hip}
  clang-format Documentation: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
