Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Added free functions for reduction in matrices - only for dense and sparse so far.
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for free functions for matrix reduction operations.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.cu
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.hip
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.cpp
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.cu
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactoring code for segments - fixing variables capturing in lambdas with consxtexpr-if to work with nvcc.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating documentation od traversing and reduction functions for segments. Deleting functions with segment indexes and range - the range can be specified via array view.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/scan.hpp
  src/TNL/Algorithms/Segments/sort.hpp
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing traverse and reduction functions fopr segments with segment indexes range parameters. The range can be replaced with an array view slice.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing segments functions for finding, sorting and scan having segment indexes range parameters.
  src/TNL/Algorithms/Segments/find.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/scan.hpp
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/sort.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleling useless type in reduction functions for matrices. TO SQUASH.
  src/TNL/Matrices/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen pages explaining segment functions for: find, reduce, scan, sort, traverse.
  src/TNL/Algorithms/Segments/find.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming reduceSegmentsIfWithArgument to reduceSegmentsWithArgumentIf.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIfWithArgument.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cu
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedAdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming reducing functions for matrices - reduceRowsIfWithArgument to reduceRowsWithArgumentIf.
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen pages explaining matrix functions for reductions and traversing.
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduction functions with "If" for segments and matrices returns number of precessed segments/rows. Plus fixes in reduction operations for matrices.
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added exampes for free fuctions for matrix reduction operations.
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/Reduce/CMakeLists.txt
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRows.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsIf.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRows.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cu
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cu
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming keep/keeper lambda functions in reduction operations for segments and matrices to store/storer.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_reduceSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added refrences to overview pages in documentation of segment and matrix traversal/reduction functions.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting useless file Matrices/detail/TraversingOperationsBase.h.
  src/TNL/Matrices/detail/TraversingOperationsBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing type definitions in matrices and adding ConstMatrixType.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/TridiagonalMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added missing type ViewTemplate to SortedSegmentsView.
  src/TNL/Algorithms/Segments/SortedSegmentsView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added traversing functions for graphs.
  src/TNL/Graphs/detail/TraversingOperations.h
  src/TNL/Graphs/detail/TraversingOperations_GraphView.h
  src/TNL/Graphs/traverse.h
  src/TNL/Graphs/traverse.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Small fixes in Graph and MST algorithm.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/traverse.h
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for graphs traversing.
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added reducing operations for graphs.
  src/TNL/Graphs/detail/ReductionOperations.h
  src/TNL/Graphs/detail/ReductionOperations_GraphView.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/reduce.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.hip
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixed MTX reader for graphs.
  src/TNL/Graphs/Readers/MtxReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing BFS and SSSP algorithms for graphs.
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/singleSourceShortestPath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added option to disable exceptions catching in benchmarks.
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added semiring BFS and SSSP to graph benchmarks.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/SemiringBFS.h
  src/Benchmarks/Graphs/SemiringSSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added template parameter Segments to Graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/TypeTraits.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/UnitTests/Graphs/GraphTest.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing label in traversing launch configurations for segments.
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation of sorted segments.
  src/TNL/Algorithms/Segments/SortedSegments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorted segments to graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added documentation to graph readers and writers.
  src/TNL/Graphs/Readers/EdgeListReader.h
  src/TNL/Graphs/Readers/MtxReader.h
  src/TNL/Graphs/Writers/EdgeListWriter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing header files including in TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving graph algorithms to Algorithms subfolder. Added documentation to graph algorithms.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/TNL/Graphs/GraphVertexView.h
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.hip
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.hip
  src/UnitTests/Graphs/GraphTest.cpp
  src/UnitTests/Graphs/GraphTest.cu
  src/UnitTests/Graphs/GraphTest.hip
  src/UnitTests/Graphs/GraphTest_BFS.cu
  src/UnitTests/Graphs/GraphTest_BFS.hip
  src/UnitTests/Graphs/GraphTest_MST.cu
  src/UnitTests/Graphs/GraphTest_MST.hip
  src/UnitTests/Graphs/GraphTest_SSSP.cu
  src/UnitTests/Graphs/GraphTest_SSSP.hip
  src/UnitTests/Graphs/GraphTest_trees.cu
  src/UnitTests/Graphs/GraphTest_trees.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added reading of symmetric dense matrices.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming nodes to vertices in EdgeListReader.
  src/TNL/Graphs/Readers/EdgeListReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added setEdges with std::map to Graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/UnitTests/Graphs/GraphTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming nodes to vertices in GraphBase.
  src/TNL/Graphs/GraphBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
