Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Change setDatasetSize to accept bytes instead of GB
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/System/tnl-benchmark-memory-access.h
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/BenchmarkResult.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix comment in justfile
  justfile
Due: dummy build job

Replace hardcoded build directory path in justfile
  justfile
Due: dummy build job

Clean up CI jobs for CUDA builds with Clang
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Downgrade new Clang CUDA warnings to non-fatal in CI builds
  cmake/cuda_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Revert "Remove native GPU arch detection using nvidia-smi"
  cmake/cuda_default_architecture.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Disable separable compilation for CUDA builds with Clang
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Use `std::move` for objects that are dead afterwards
  Documentation/Examples/Algorithms/SortingExample.cpp
  Documentation/Examples/Algorithms/SortingExample2.cpp
  Documentation/Examples/Algorithms/SortingExample3.cpp
  Documentation/UsersGuide/Matrices/DenseMatrixSetup_Benchmark.cpp
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Matrices/MatrixPermutationApplier.h
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing `<iterator>` include to `Block.h`
  src/TNL/Containers/Block.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Disable `modernize-use-string-view` in clang-tidy and clangd
  .clang-tidy
  .clangd
Due: dummy build job, clang-tidy

Constrain `TNL::swap` to arithmetic types to fix builds with libc++
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Containers/Array.hpp
  src/TNL/Containers/ArrayView.hpp
  src/TNL/Math.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use structured bindings instead of `std::tie`
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Meshes/Geometry/EntityDecomposer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add include path for CCCL headers for Clang 23 with CUDA 13
  cmake/cuda_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Disable libstdc++ assertions in device code for Clang CUDA builds
  cmake/cuda_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix undefined behavior in forElementsIf block-merge kernels
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove matrix resetting from dense matrix-vector product benchmark
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor DenseLinearSolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.cu
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.h
  src/Benchmarks/DenseLinearSolvers/tnl-benchmark-dense-linear-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor Graphs benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.hip
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.hip
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor HeatEquation benchmark to align with ARCHITECTURE.md
  src/Benchmarks/HeatEquation/CMakeLists.txt
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Move epsilon from EigenBenchmarkResult to metadata in Eigen benchmarks
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor Eigen benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/Eigen/CMakeLists.txt
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.hip
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.hip
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix swapped ux/aux views in NdGrid benchmark solver
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Describe intended architecture of benchmarks
  AGENTS.md
  src/Benchmarks/ARCHITECTURE.md
Due: dummy build job

Rename DenseMatrices/detail directory to DenseMatrices/Legacy
  src/Benchmarks/DenseMatrices/Legacy/FermiOptimizedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/OptimizedIndexAccessKernel.h
  src/Benchmarks/DenseMatrices/Legacy/PaddedMemoryMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/SharedMemory2DKernel.h
  src/Benchmarks/DenseMatrices/Legacy/TileBasedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/WarpBasedTileMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add size and method config options to eigen-random benchmark
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor Grid benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/Grid/tnl-benchmark-grid.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor DenseMatrices HTML table generators to use pandas and TNL.BenchmarkLogs
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: dummy build job, python-black

Make NDArray reduction benchmark sizes and limits configurable
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor LinearSolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Move existing wrappers to the DenseMatrices/Wrappers directory
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/Wrappers/blasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/cublasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/cutlassWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/hipblasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/magmaWrappers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor NDArray benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Move dense matrix-vector product benchmark from BLAS to DenseMatrices
  src/Benchmarks/BLAS/cublasWrappers.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/hipblasWrappers.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/DenseMatrices/Wrappers/blasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/cublasWrappers.h
  src/Benchmarks/DenseMatrices/Wrappers/hipblasWrappers.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-vector-product.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor DenseMatrices benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Restructure DenseMatrices benchmarks into decomposed free functions
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixBenchmarkHelpers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/HipBlasBenchmark.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor BLAS benchmark to align with ARCHITECTURE.md
  src/Benchmarks/BLAS/VectorOperations.h
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor ODESolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/ODESolvers/CMakeLists.txt
  src/Benchmarks/ODESolvers/SimpleProblem.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove obsolete benchmark runner scripts
  src/Benchmarks/Grid/run-tnl-benchmark-grid
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/ODESolvers/run-tnl-benchmark-ode-solvers
  src/Benchmarks/Sorting/run-tnl-benchmark-sort
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Remove forElements verification from Segments benchmark
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Document performer convention and device metadata in ARCHITECTURE.md
  src/Benchmarks/ARCHITECTURE.md
Due: dummy build job

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
