Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Port connected components to current graph API
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkCC.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-cc.hip
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/CMakeLists.txt
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.cpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_CC_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Add maximal independent set algorithm
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add maximal independent set algorithm
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS_cuda.cu
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add edge-predicate overloads for CC and SCC
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add edge-predicate overloads for MIS and vertex coloring of graphs.
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add induced-subgraph overloads for CC and SCC
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add edge-predicate/weight-transform overloads for BFS and SSSP
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add induced-subgraph BFS and SSSP variants
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add user-guide chapter and examples for graph algorithms.
  Documentation/Examples/Graphs/Algorithms/CMakeLists.txt
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_ConnectedComponents.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_GraphColoring.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_MaximalIndependentSet.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_StronglyConnectedComponents.hip
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.cpp
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.cu
  Documentation/Examples/Graphs/Algorithms/GraphExample_Trees.hip
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/users-guide.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Refactor graph algorithms: fix bugs, unify naming, add test diagrams
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/details/parallelTraversal.hpp
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add subgraph and edge-predicate overloads to tree detection algorithms
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add student's Boruvka MST implementations to experimental
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.h
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.hpp
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add LaunchConfiguration parameter to graph algorithms
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.h
  src/TNL/Graphs/Algorithms/experimental/boruvkaMST.hpp
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add subgraph cross-validation tests for all graph algorithms
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace active-vertex vector with callable predicate in graph coloring and MIS.
  src/TNL/Graphs/Algorithms/details/activeVertices.hpp
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add Doxygen overview pages and fix documentation of graph algorithms
  src/Benchmarks/Graphs/GraphBenchmarkColoring.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Link graph algorithm function docs to example snippets
  Documentation/Examples/Graphs/Algorithms/GraphExample_BFS.cpp
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes.
  Documentation/Examples/Graphs/Algorithms/GraphExample_SSSP.cpp
  Documentation/UsersGuide/Graphs/ug_GraphAlgorithms.md
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes in SSSP.
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CUDA compilation of graph algorithms and unit tests.
  src/Benchmarks/Graphs/GraphBenchmarkCC.h
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/TNL/ARCHITECTURE.md
  src/TNL/Graphs/Algorithms/breadthFirstSearch.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/connectedComponents.h
  src/TNL/Graphs/Algorithms/connectedComponents.hpp
  src/TNL/Graphs/Algorithms/graphColoring.h
  src/TNL/Graphs/Algorithms/graphColoring.hpp
  src/TNL/Graphs/Algorithms/maximalIndependentSet.h
  src/TNL/Graphs/Algorithms/maximalIndependentSet.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.h
  src/TNL/Graphs/Algorithms/stronglyConnectedComponents.hpp
  src/TNL/Graphs/Algorithms/trees.h
  src/TNL/Graphs/Algorithms/trees.hpp
  src/TNL/TypeTraits.h
  src/UnitTests/ARCHITECTURE.md
  src/UnitTests/Graphs/Algorithms/GraphTest_BFS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_CC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_Coloring.h
  src/UnitTests/Graphs/Algorithms/GraphTest_MIS.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SCC.h
  src/UnitTests/Graphs/Algorithms/GraphTest_SSSP.h
  src/UnitTests/Graphs/Algorithms/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update Assisted-by trailer format for agents
  AGENTS.md
Due: dummy build job

Fix CUDA segfault caused by NVCC extended-lambda host evaluation.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Algorithms/trees.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing PDLP solver and its unit tests.
  src/TNL/Solvers/Optimization/PDLP.h
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Creating PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added max matrix norm and related unit tests.
  src/TNL/Matrices/MatrixOperations.h
  src/UnitTests/Matrices/MatrixOperationsTest.cu
  src/UnitTests/Matrices/MatrixOperationsTest.h
  src/UnitTests/Matrices/MatrixOperationsTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Several fixes in LinearTrustRegion solver.
  src/TNL/Solvers/Optimization/LinearTrustRegion.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing adaptive steps in PDLP method.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implemented restarting based on the normalized duality gap.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

LP problem reader can insert equalities first in the constraints matrix.
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/LPProblem.h
  src/TNL/Solvers/Optimization/LPProblemReader.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added PDLP test for CUDA and HIP.
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cu
  src/UnitTests/Solvers/Optimization/PDLPTest.h
  src/UnitTests/Solvers/Optimization/PDLPTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added precomputation of primal step to PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Pock-Chambolle preconditioning.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/TNL/Solvers/Optimization/Preconditioning/PockChambolle.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reducing SpMV calls in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring multiplication with the constraint matrix in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fix in PDLP - TO SQUASH.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

New test and small fixes for PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added convergence criterion to PDLP solver based on KKT conditions.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing matrix-vector multiplication with range of matrix rows. TODO: Fix documentation!!!!
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Few changes in PDLP solver andLP benchmark.
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/ORToolsLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added benchmark for linear programming solvers.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Solvers/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.cpp
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.cu
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
