Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Fix critical bugs from traverse/reduce API review, add regression test
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Apply review fixes to matrix reductions and add traverse array overloads
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix clang-format of forRowsIf call in traverse.hpp
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix nvcc build and GPU test failures in matrix traverse/reduce tests
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix: condition in array *If overloads receives row index, not position
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/traverse.h
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Eliminate deprecated matrix method warnings
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_forAllElements.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_forElements.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_forRows.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forAllElements.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElements.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forRows.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_reduceRows.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forAllElements.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElements.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forRows.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_reduceRows.cpp
  Documentation/UsersGuide/Matrices/MultidiagonalMatrixSetup_Benchmark.cpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DenseSparseOperations.hpp
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/UnitTests/Matrices/LambdaMatrixTest.hpp
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Document unforwarded launchConfig with TODOs, note perf findings deferred
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Unify matrix traverse/reduce tests on REGISTER_TYPED_TEST_SUITE_P
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest_cuda.cu
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest_hip.hip
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest_cuda.cu
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest_hip.hip
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest_cuda.cu
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest_hip.hip
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest_cuda.cu
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest_hip.hip
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest_cuda.cu
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest_hip.hip
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest_cuda.cu
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Expand LambdaMatrixReduceTest with WithArgument, If, and empty-row tests
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix clang-format indentation of #pragma omp in SparseOperations.hpp
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CI build warnings.
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Migrate remaining deprecated calls, unify condition naming, deduplicate *If base classes
  src/Examples/Ginkgo/PoissonEquation2D.h
  src/Examples/Ginkgo/PoissonEquation3D.h
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/RowSelection.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Extend matrix traverse and reduce free functions to all matrix types
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Extend matrix traverse/reduce free functions to banded and lambda matrix types
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Extract *If matrix ops to base classes, add reduceRowsIf array overloads
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

squash! Extend matrix traverse and reduce free functions to all matrix types
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix signed overflow in CUDA and HIP parallelFor tests
  src/UnitTests/Algorithms/parallelForTestCuda.cu
  src/UnitTests/Algorithms/parallelForTestHip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Support Ginkgo 2.0 in GinkgoOperator and Ginkgo examples
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation2D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation3D.cpp
  src/TNL/Matrices/GinkgoOperator.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Set HYPRE_Device to Devices::GPU for Hypre built with HIP
  src/TNL/Hypre.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix off-by-one in CLI parser after consuming list-of arguments
  src/TNL/Config/parseCommandLine.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor Sorting benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/plot-results.py
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Refactor LinearSolvers list parameters from comma-separated strings to native lists
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor Segments benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Segments/CMakeLists.txt
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Segments/tnl-benchmark-segments.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove forElements verification from Segments benchmark
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix slow verification loops in Segments benchmark
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Unify device reporting in benchmarks
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/Devices.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor System benchmark error handling and API
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
  src/Benchmarks/System/tnl-benchmark-memory-access.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Wrap Graphs processing script in main() and use positional input
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Refactor LinearSolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add named references to DenseMatricesResult for diff columns
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixBenchmarkHelpers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace TNL::String with std::string in ODESolvers config entries
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Move epsilon from EigenBenchmarkResult to metadata in Eigen benchmarks
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor NDArray benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Rename DenseMatrices/detail directory to DenseMatrices/Legacy
  src/Benchmarks/DenseMatrices/Legacy/FermiOptimizedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/OptimizedIndexAccessKernel.h
  src/Benchmarks/DenseMatrices/Legacy/PaddedMemoryMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/SharedMemory2DKernel.h
  src/Benchmarks/DenseMatrices/Legacy/TileBasedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/Legacy/WarpBasedTileMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix header includes in Benchmarks/Utils.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix swapped ux/aux views in NdGrid benchmark solver
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Refactor Eigen benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/Eigen/CMakeLists.txt
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.hip
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.hip
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Describe intended architecture of benchmarks
  AGENTS.md
  src/Benchmarks/ARCHITECTURE.md
Due: dummy build job

Merge DenseMatrices HTML table generators into one script
  src/Benchmarks/DenseMatrices/tnl-dense-matrices-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: dummy build job, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
