Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

CI: add Alpine build job
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Remove Array::getSerializationTypeVirtual()
  src/TNL/Containers/Array.h
  src/TNL/Containers/Array.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring UmfpackWrapper.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Enable VectorOfStaticVectorsTestCuda which works fine with CUDA 12.8
  src/UnitTests/Containers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Changed std::endl to \n as per clang-tidy
  src/TNL/Assert.h
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Devices/Host.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Move MatrixBase::getNonzeroElementsCount() to DenseMatrixBase
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/MatrixBase.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed use of the new interface of Reduction2D and Reduction3D with callable result argument
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/Reduction3D.h
  src/TNL/Algorithms/Reduction3D.hpp
  src/TNL/Solvers/Linear/GMRES.hpp
  src/TNL/Solvers/Linear/IDRs.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting cmake test for Umfpack.
  cmake/FindUMFPACK.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added reduce rows with functional for sparse matrices.
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceAllRowsWithFunctional.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceAllRowsWithFunctional.cu
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceRowsWithFunctional.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_reduceRowsWithFunctional.cu
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/SlicedEllpackKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/isSegmentReductionKernel.h
  src/TNL/Algorithms/reduce.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring linear solvers benchmark.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix ambiguous constructor with std::initializer_list in Array and StaticArray
  src/TNL/Containers/Array.h
  src/TNL/Containers/Array.hpp
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Containers/Vector.h
  src/UnitTests/Containers/ArrayTest.h
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added override to setMatrix method in GinkgoDirectSolver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed references on examples for DirectSolverMonitor.
  src/TNL/Solvers/DirectSolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added cmake test for UMFPACK.
  CMakeLists.txt
  cmake/FindUMFPACK.cmake
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixes of formatting.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Solvers/DirectSolver.hpp
  src/TNL/Solvers/IterativeSolver.h
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Avoding use of namespaces TNL and TNL::Benchmarks in benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Workaround for NVHPC failing in CI
  cmake/cuda_flags.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added benchmark for cuDSS.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove err2eoc script
  src/Tools/CMakeLists.txt
  src/Tools/tnl-err2eoc
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add scripts for data extraction and heatmap generation
  src/Benchmarks/NDArray/heatmap.py
  src/Benchmarks/NDArray/logparser.py
Due: dummy build job, python-black

Enabling sparse matrix reordering for sequential device.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen group for reduction function objects
  src/TNL/Algorithms/reduce.h
  src/TNL/Functional.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reformat and add documentation for Reduction2D and Reduction3D
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction3D.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed Umfpack benchmarking.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added assertion to copySparseToSparseMatrix.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Strumpack can be built only with MPI.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Refactor vector tests using if constexpr
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Cleaning the code of StaticIterativeSolver.
  src/TNL/Solvers/StaticIterativeSolver.h
  src/TNL/Solvers/StaticIterativeSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor ArrayIO to check for stream operators rather than TNL::Object base
  src/TNL/Containers/detail/ArrayIO.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reorder find_package calls and setting CMAKE_EXECUTABLE_SUFFIX in the main CMakeLists.txt
  CMakeLists.txt
  src/Examples/Ginkgo/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Remove TNL::Object
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/ObjectExample_getType.cpp
  Documentation/Examples/ParseObjectTypeExample.cpp
  src/TNL/Object.h
  src/TNL/Object.hpp
  src/UnitTests/ObjectTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing DenseMatrixView::bind.
  src/TNL/Matrices/DenseMatrixView.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: use smaller images for linting jobs
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

CI: Fix CMake variable for CUDA host compiler
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix macro guards in StackBacktrace.h and FPE.h
  src/TNL/Debugging/FPE.h
  src/TNL/Debugging/StackBacktrace.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Improving assertions in SparseMatrixBase.
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Drop some unnecessary types from unit tests for expression templates
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactoring dense matrix unit tests.
  src/UnitTests/Matrices/DenseMatrixCopyTest.h
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Extracting benchmark results of linear solvers benchmark to a seprate file.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers
