Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Extract *If matrix ops to base classes, add reduceRowsIf array overloads
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Apply code review fixes to *If matrix ops refactor
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Apply review fixes to matrix reductions and add traverse array overloads
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Unify matrix traverse/reduce tests on REGISTER_TYPED_TEST_SUITE_P
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest_cuda.cu
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest_hip.hip
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest_cuda.cu
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest_hip.hip
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest_cuda.cu
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest_hip.hip
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest_cuda.cu
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest_hip.hip
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest_cuda.cu
  src/UnitTests/Matrices/Traverse/MultidiagonalMatrixTraverseTest_hip.hip
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest_cuda.cu
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest_hip.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix: condition in array *If overloads receives row index, not position
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/traverse.h
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/MultidiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Expand LambdaMatrixReduceTest with WithArgument, If, and empty-row tests
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Eliminate deprecated matrix method warnings
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_forAllElements.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_forElements.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_forRows.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/LambdaMatrix/LambdaMatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forAllElements.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElements.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forRows.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_reduceRows.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forAllElements.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElements.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_forRows.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixViewExample_reduceRows.cpp
  Documentation/UsersGuide/Matrices/MultidiagonalMatrixSetup_Benchmark.cpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DenseSparseOperations.hpp
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/UnitTests/Matrices/LambdaMatrixTest.hpp
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
  src/UnitTests/Matrices/TridiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace C-style casts to fix clang-tidy modernize-avoid-c-style-cast
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CI build warnings.
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix nvcc build and GPU test failures in matrix traverse/reduce tests
  src/UnitTests/Matrices/Reduce/LambdaMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
  src/UnitTests/Matrices/Traverse/LambdaMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/TridiagonalMatrixTraverseTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix clang-format indentation of #pragma omp in SparseOperations.hpp
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update include for Hypre 3.0
  src/TNL/Hypre.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove useless test which fails with Hypre 3.0
  src/UnitTests/HypreTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix typos
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/UsersGuide/ReductionAndScan/MapReduceExample-2.cpp
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/ODESolvers/Legacy/Euler.h
  src/Benchmarks/ODESolvers/Legacy/Merson.h
  src/Examples/Ginkgo/tnl-ginkgo-converted-ellpack.cpp
  src/TNL/Algorithms/Segments/SegmentView.h
  src/TNL/Meshes/DistributedMeshes/Directions.h
  src/TNL/Meshes/MeshDetails/traits/MeshTraits.h
  src/TNL/Solvers/ODE/ODESolver.h
  src/UnitTests/Matrices/BinarySparseMatrixTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix cmake formatting
  Documentation/CMakeLists.txt
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/LambdaMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/MultidiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/TridiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Pointers/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/UsersGuide/Arrays/CMakeLists.txt
  Documentation/UsersGuide/Matrices/CMakeLists.txt
  Documentation/UsersGuide/Meshes/CMakeLists.txt
  Documentation/UsersGuide/NDArrays/CMakeLists.txt
  Documentation/UsersGuide/Pointers/CMakeLists.txt
  Documentation/UsersGuide/ReductionAndScan/CMakeLists.txt
  Documentation/UsersGuide/Segments/CMakeLists.txt
  Documentation/UsersGuide/Vectors/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

CI: run clang-tidy in quiet mode
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Update CI job for deploying documentation
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Add segments test which reveals CSR inconsistency
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moving FileName to tnl-legacy.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/FileNameExample.cpp
  Documentation/Examples/FileNameExampleDistributedSystemNodeCoordinates.cpp
  Documentation/Examples/FileNameExampleDistributedSystemNodeId.cpp
  src/TNL/FileName.h
  src/TNL/FileName.hpp
  src/UnitTests/CMakeLists.txt
  src/UnitTests/FileNameTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

CI: enforce clang-tidy checks
  .clang-tidy
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix ruff linting errors
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.py
  scripts/eti.py
  scripts/run-clang-format.py
  scripts/update-copyright-headers.py
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
  src/Benchmarks/Graphs/tnl-benchmark-cugraph.py
  src/Benchmarks/Graphs/tnl-graph-generator.py
  src/Benchmarks/Grid/process-tnl-benchmark-grid.py
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/NDArray/heatmap.py
  src/Benchmarks/NDArray/logparser.py
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
  src/Python/BenchmarkLogs.py
  src/Python/BenchmarkPlots.py
  src/Tools/tnl-benchmark-to-html.py
Due: documentation, pages, clang-format, python-black

Splitting EigenTest into PowerMethodTest and QRAlgorithmTest.
  src/UnitTests/Solvers/Eigenvalues/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/EigenTest.cpp
  src/UnitTests/Solvers/Eigenvalues/EigenTestCuda.cu
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTest.cpp
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTest.h
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTestCuda.cu
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTest.cpp
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTest.h
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add macros for common dependencies to .clangd config
  .clangd
Due: dummy build job

Avoid using gtest macros inside GPU kernels
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix ODEStaticSolverTest for HIP
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix getPoint() method in GridEntity
  src/TNL/Meshes/GridEntity.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: skip building with nvc++ in Release mode
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Refactor the ODESolver::iterate methods
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample_iterate.h
  Documentation/UsersGuide/Solvers/ODE/ug_ODE_solvers.md
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/ODE/ODESolver.hpp
  src/UnitTests/Solvers/ODE/ODESolverTest.h
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Bump gtest to v1.17.0
  cmake/FetchGoogleTest.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fix CSR default constructor inconsistency
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/CSR.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add default operator= to the dummy dim3 struct
  src/TNL/Backend/Types.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: re-enable clang images
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Unify getElement and getStorageArrayView in NDArray and NDArrayView
  Documentation/UsersGuide/NDArrays/NDArrayExample_3Dpermutations.cpp
  Documentation/UsersGuide/NDArrays/NDArrayExample_HalfStaticArray.cpp
  Documentation/UsersGuide/NDArrays/NDArrayExample_RowMajorArray.cpp
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayView.h
  src/UnitTests/Containers/ndarray/NDArrayTest.h
  src/UnitTests/Containers/ndarray/StaticNDArrayTest.cpp
  src/UnitTests/Containers/ndarray/StaticNDArrayTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix build with both CUDA and HIP
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Reorder methods in NDArray and NDArrayView for consistency
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Check matrix dimensions early in the benchmark
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add better overload of setDistribution to DistributedNDArray
  src/TNL/Containers/DistributedNDArray.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoiding compiler warnings.
  src/TNL/Matrices/Factorization/QR/QR.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring quicksort.
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/experimental/Quicksort.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
