Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

documentation:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  script:
  - ./scripts/run-clang-format.py --color always --style file --exclude "src/TNL/3rdparty/*" --recursive Documentation src
  interruptible: true

cmake-format:
  stage: lint
  script:
  - shopt -s globstar
  - cmake-format --in-place **/CMakeLists.txt cmake/**/*.*
  - git --no-pager diff --color=always --exit-code
  interruptible: true

Added cmake_policy to CMakeLists.txt
  CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Added `--oversubscribe` to mpiexec_flags to fix running tests in CI
  cmake/testing.cmake
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Remove AnalyzeTemporaryDtors from .clang-tidy
  .clang-tidy
Due: dummy build job

Add is_dense_matrix_type_v trait and MatrixTypeTraitsTest
  src/TNL/Matrices/DenseMatrixBase.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/MatrixTypeTraitsTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor IsMatrixType trait class to is_matrix_type_v
  src/TNL/Graphs/Graph.h
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/MatrixBase.h
  src/TNL/TypeTraits.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Improved blockSize in parallelFor algorithms
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed BiEllpack reduction kernel for empty segments
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed sparse matrix vector product with matrices that contain empty rows
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Replaced std::is_same with std::is_same_v
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Replaced useless double literals with integers
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: temporarily skip execution of HIP tests
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-tidy

CI: improve rules:changes declaration
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-tidy

Add TNL_EXPORT_INTERFACE_TARGETS option to CMakeLists.txt
  CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Extend workaround to CUDA 12.6
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixes in CSR light reduction kernel.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoiding parameter compute from the lambda functions used for traversing and reducing segments and matrices.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_reduceSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegments.cpp
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/SlicedEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/detail/CheckLambdas.h
  src/TNL/Algorithms/SegmentsReductionKernels/detail/FetchLambdaAdapter.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimized TNL::sign function to avoid branching
  src/TNL/Math.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added basic QR factorization algorithms
  src/TNL/Matrices/Factorization/QR/Givens.h
  src/TNL/Matrices/Factorization/QR/GramSchmidt.h
  src/TNL/Matrices/Factorization/QR/Householder.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Factorization/CMakeLists.txt
  src/UnitTests/Matrices/Factorization/QRTest.cpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed glob in .gitlab-ci.yml
  .gitlab-ci.yml
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-tidy

Fixed CMakeLists.txt formatting
  src/UnitTests/Matrices/Factorization/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Fix for lambda matrix
  src/TNL/Matrices/Eigen/PowerIterationShift.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding power iteration algorithm for eigenvalue
  src/TNL/Matrices/Eigen/PowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Renamed the shifted power iteration method
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimalization of the Power Iteration function
  src/TNL/Matrices/Eigen/PowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Eigen benchmark
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Eigen/CMakeLists.txt
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.cpp
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.cu
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.cpp
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.cu
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.cpp
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.cu
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Edited CMakeLists in Eigen examples
  src/Examples/Eigen/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Adding universal IndexType
  src/TNL/Matrices/Eigen/PowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimalization of the QR Iteration function
  src/TNL/Matrices/Eigen/QRiteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing PowerIterationShift using LambdaMatrix
  src/TNL/Matrices/Eigen/PowerIterationShift.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added QR algorithm and exception if matrix is squared
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/PowerIterationShift.h
  src/TNL/Matrices/Eigen/QRiteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Modified CMakeLists
  src/Examples/Eigen/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Modification of the power function
  src/TNL/Matrices/Eigen/PowerIteration.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding the shifted power iteration method
  src/TNL/Matrices/Eigen/PowerIterationShift.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added getRowCapacity function
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Changed the name of the precision parameter to epsilon
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/PowerIterationShift.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding examples for eigenvalue algorithms
  src/Examples/CMakeLists.txt
  src/Examples/Eigen/CMakeLists.txt
  src/Examples/Eigen/bigEigenIterationRandomDense.cpp
  src/Examples/Eigen/bigEigenIterationRandomDense.cu
  src/Examples/Eigen/bigEigenIterationRandomSparse.cpp
  src/Examples/Eigen/bigEigenIterationRandomSparse.cu
  src/Examples/Eigen/eigenIterationFileSparse.cpp
  src/Examples/Eigen/eigenIterationFileSparse.cu
  src/Examples/Eigen/smallEigenIterationRandomDense.cpp
  src/Examples/Eigen/smallEigenIterationRandomDense.cu
  src/Examples/Eigen/smallEigenIterationShiftRandomDense.cpp
  src/Examples/Eigen/smallEigenIterationShiftRandomDense.cu
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Added QR factorization function
  src/TNL/Matrices/Factorization/QR/QR.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

QR algorithm file renamed and fixed throw exception
  src/TNL/Matrices/Eigen/QRalgorithm.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added condition for Sequential device in getMatrixProduct
  src/TNL/Matrices/DenseMatrix.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cmake-format: any of: ./**/CMakeLists.txt, ./**/*.cmake, .cmake-format.yaml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py
  python-black: any of: src/**/*.py, Documentation/**/*.py
