Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Renaming nodes to vertices in EdgeListReader.
  src/TNL/Graphs/Readers/EdgeListReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reading of symmetric dense matrices.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing UG on graphs.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVertices.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgument.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgumentIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithIndexes.cpp
  Documentation/Examples/Graphs/Traverse/CMakeLists.txt
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesWithIndexes.cpp
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming getSize() of segments to getElementCount() - issue #185.
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added missing type ViewTemplate to SortedSegmentsView.
  src/TNL/Algorithms/Segments/SortedSegmentsView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added traversing functions for graphs.
  src/TNL/Graphs/detail/TraversingOperations.h
  src/TNL/Graphs/detail/TraversingOperations_GraphView.h
  src/TNL/Graphs/traverse.h
  src/TNL/Graphs/traverse.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing reducing operations for BiEllpack segments.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Disabling build of graph benchmark woth sorted segments by default to shorten the compile time.
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixes to avoid compiler warnings.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reducing operations for graphs.
  src/TNL/Graphs/detail/ReductionOperations.h
  src/TNL/Graphs/detail/ReductionOperations_GraphView.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/reduce.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.hip
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring graph benchmark to separate BFS, SSSP, and MST implementations.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Renaming nodes to vertices in GraphBase.
  src/TNL/Graphs/GraphBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Graph constructor and setEdges with initializer list for dense adjacency matrix.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added parameter 'emptySegment/emptyRow/isolatedVertex' to storer lambdas in reducing operations with argument.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming Graph::setEdges for dense graphs to Graph::setDenseEdges.
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added template parameter Segments to Graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/TypeTraits.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/UnitTests/Graphs/GraphTest.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Splitting GraphTest into two tests, one for DenseMatrix and one for SparseMatrix since they are quite different..
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest.cpp
  src/UnitTests/Graphs/GraphTest.cu
  src/UnitTests/Graphs/GraphTest.hip
  src/UnitTests/Graphs/GraphTest_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_DenseMatrix.hip
  src/UnitTests/Graphs/GraphTest_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added option to disable exceptions catching in benchmarks.
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed code formating.
  src/TNL/Algorithms/AtomicOperations.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Matrices/DenseOperations.hpp
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing BFS and SSSP algorithms for graphs.
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/singleSourceShortestPath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added UG chapter for graphs.
  Documentation/UsersGuide/CMakeLists.txt
  Documentation/UsersGuide/Graphs/CMakeLists.txt
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/users-guide.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Temporarily disabling all segment types in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added unit tests for graphs traversing.
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixing typos.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/Segments/ug_Segments.md
  src/TNL/Algorithms/Segments/detail/CSRAdaptiveKernelParameters.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/reduce.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorted segments to graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixes to avoid compiler warnings.
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing header files including in TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed formating of CMakeLists.txt.
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/Examples/Graphs/Reduce/CMakeLists.txt
  src/Benchmarks/Graphs/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Fixed MTX reader for graphs.
  src/TNL/Graphs/Readers/MtxReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed code formatting.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  src/TNL/Algorithms/Segments/detail/CSRAdaptiveKernelBlockDescriptor.h
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRHybridKernel.h
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Matrices/reduce.hpp
  src/TNL/detail/LambdaDetails.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedEllpack.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing SortedSegments[View]::getConstView().
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming RealType to ValueType in reducing functions for graphs.
  src/TNL/Graphs/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing documentation of sorted segments.
  src/TNL/Algorithms/Segments/SortedSegments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting useless file Matrices/detail/TraversingOperationsBase.h.
  src/TNL/Matrices/detail/TraversingOperationsBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes for build with clang.
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added constructor and setElements with sparse initializer list to DenseMatrix.
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_sparse_init_list.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_sparse_init_list.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_std_map.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_std_map.cu
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/SparseMatrix.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen documentation to various Graph realted structures.
  src/TNL/Graphs/Edge.h
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphOrientation.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/GraphView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added refrences to overview pages in documentation of segment and matrix traversal/reduction functions.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
