Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Writing documenation and refactoring GridEntity.
  Documentation/Examples/Meshes/Grid/GridExample_traverse-1.h
  Documentation/Tutorials/Meshes/tutorial_Grids.md
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Update documentation
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed comparison operator for grids.
  src/TNL/Meshes/Grid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Remove extra includes
  src/TNL/Meshes/Traverser.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactroing grid and added grid constructor with dimensions as coordinates.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add compitability with meshes
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/UnitTests/Meshes/VTIReaderTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring CMakeLists for grid benchmarks.
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/benchmark/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Rename Basis to BasisGetter
  src/TNL/Meshes/GridDetails/BasisGetter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix in grid benchmark operations to avoid compiler warnings.
  src/Benchmarks/Grid/Operations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement boundary traversal for grids
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/TNL/Meshes/Templates.h
  src/UnitTests/Meshes/GridTests/Traverse/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Disabled unit tests for distributed grid in CMakeLists.txt
  src/UnitTests/Meshes/DistributedMeshes/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Delete GridTopology.h
  src/Benchmarks/HeatEquation/tnlTestGrid2D.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Avoiding several warnings.
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.h
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.h
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/Benchmarks/Grid/Operations.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Pointers/SharedPointerHost.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix formatting. Remove extra file rom rebase
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntityConfig.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming Grid::forAll and others to Grid::forAllEntities and simillar.
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  Documentation/Tutorials/Meshes/tutorial_Grids.md
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/UnitTests/Meshes/Grids/Indexing/support.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement fix to NDimGrid benchmark
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/implementation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added bash scripts for running grid and convolution benchmarks.
  src/Benchmarks/scripts/run-tnl-benchmark-convolutions
  src/Benchmarks/scripts/run-tnl-benchmark-grids
Due: dummy build job

Fix compilation for clang
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/UnitTests/Meshes/GridTests/Accessors/support.h
  src/UnitTests/Meshes/GridTests/Neighbours/support.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed tnl-grid-to-mesh to work with new grid implementation.
  src/Tools/tnl-grid-to-mesh.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Deleting obsolete grid traversers benchmark.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Traversers/AddOneEntitiesProcessor.h
  src/Benchmarks/Traversers/AddTwoEntitiesProcessor.h
  src/Benchmarks/Traversers/BenchmarkTraverserUserData.h
  src/Benchmarks/Traversers/GridTraverserBenchmarkHelper.h
  src/Benchmarks/Traversers/GridTraverserBenchmarkHelper_1D.h
  src/Benchmarks/Traversers/GridTraverserBenchmarkHelper_2D.h
  src/Benchmarks/Traversers/GridTraverserBenchmarkHelper_3D.h
  src/Benchmarks/Traversers/GridTraversersBenchmark.h
  src/Benchmarks/Traversers/GridTraversersBenchmark_1D.h
  src/Benchmarks/Traversers/GridTraversersBenchmark_2D.h
  src/Benchmarks/Traversers/GridTraversersBenchmark_3D.h
  src/Benchmarks/Traversers/SimpleCell.h
  src/Benchmarks/Traversers/cuda-kernels.h
  src/Benchmarks/Traversers/tnl-benchmark-traversers.cpp
  src/Benchmarks/Traversers/tnl-benchmark-traversers.cu
  src/Benchmarks/Traversers/tnl-benchmark-traversers.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Remove distributed grid
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/TNL/Meshes/DistributedGrid.h
  src/TNL/Meshes/GridDetails/Implementations/DistributedGrid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added python script for processing results of the heat equation benchmark.
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
Due: dummy build job

Fixed grid constructors.
  src/TNL/Meshes/GridDetails/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix forAll tests
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
  src/UnitTests/Meshes/GridTests/Utils/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Utils/GridBasisTest.cu
  src/UnitTests/Meshes/GridTests/Utils/GridBasisTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed NDGrid::fillBases method.
  src/TNL/Meshes/GridDetails/Implementations/NDGrid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix compilation problem with constructors
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement NeighbourGridEntityGetter
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter3D.hpp
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming NDimGrid to NDGrid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/NDGrid.hpp
  src/TNL/Meshes/GridDetails/NDGrid.h
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix building of the grid
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
  src/TNL/Meshes/GridDetails/Grid2D.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updating python script for processing grid heat equation benchmark.
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
Due: dummy build job

Implement neighbour entities test
  src/UnitTests/Meshes/GridTests/Neighbours/1D/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1DTestSuite.h
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1D_0DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1D_0DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1D_0DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1D_1DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1D_1DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/1D/Grid1D_1DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/2D/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2DTestSuite.h
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_0DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_0DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_0DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_1DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_1DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_1DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_2DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_2DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/2D/Grid2D_2DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/3D/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3DTestSuite.h
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_0DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_0DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_0DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_1DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_1DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_1DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_2DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_2DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_2DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_3DTest.cpp
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_3DTest.cu
  src/UnitTests/Meshes/GridTests/Neighbours/3D/Grid3D_3DTest.h
  src/UnitTests/Meshes/GridTests/Neighbours/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Neighbours/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix grids of different index types
  src/TNL/Meshes/GridDetails/BasisGetter.h
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/TNL/Meshes/GridDetails/Templates/Functions.h
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement forInterior traverser. Add test cases for interior and boundary entities
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactoring grid benchmark.
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/Grid/Grid1D.cpp
  src/Benchmarks/Grid/Grid1D.cu
  src/Benchmarks/Grid/Grid1D.h
  src/Benchmarks/Grid/Grid2D.cpp
  src/Benchmarks/Grid/Grid2D.cu
  src/Benchmarks/Grid/Grid2D.h
  src/Benchmarks/Grid/Grid3D.cpp
  src/Benchmarks/Grid/Grid3D.cu
  src/Benchmarks/Grid/Grid3D.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/Operations.h
  src/Benchmarks/Grid/tnl-benchmark-grid.cpp
  src/Benchmarks/Grid/tnl-benchmark-grid.cu
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
  src/Benchmarks/scripts/process-tnl-benchmark-grid
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-grid
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added missing methods to grid and grid entity.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated copyright headers in files under GridDetails
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NormalsGetter.h
  src/TNL/Meshes/GridDetails/Templates/BooleanOperations.h
  src/TNL/Meshes/GridDetails/Templates/DescendingFor.h
  src/TNL/Meshes/GridDetails/Templates/ForEachOrientation.h
  src/TNL/Meshes/GridDetails/Templates/Functions.h
  src/TNL/Meshes/GridDetails/Templates/ParallelFor.h
  src/TNL/Meshes/GridDetails/Templates/Permutations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added setup and traversing of subdomain of distributed grid.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Renaming grid basis/bases to normals.
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/Operations.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkSimpleGrid.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/GridDetails/Implementations/BoundaryGridEntityChecker.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityCenterGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/NormalsGetter.h
  src/TNL/Meshes/GridDetails/Templates/ForEachOrientation.h
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/Grids/EntityDataStore.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Traverse/GridCoordinateIteratorTest.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
  src/UnitTests/Meshes/Grids/Utils/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
  src/UnitTests/Meshes/Grids/Utils/GridBasisTest.cpp
  src/UnitTests/Meshes/Grids/Utils/GridBasisTest.cu
  src/UnitTests/Meshes/Grids/Utils/GridNormalsTest.cpp
  src/UnitTests/Meshes/Grids/Utils/GridNormalsTest.cu
  src/UnitTests/Meshes/Grids/Utils/GridNormalsTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement benchmark for grid traverse operations
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/Grid/Grid1D.cpp
  src/Benchmarks/Grid/Grid1D.cu
  src/Benchmarks/Grid/Grid1D.h
  src/Benchmarks/Grid/Grid2D.cpp
  src/Benchmarks/Grid/Grid2D.cu
  src/Benchmarks/Grid/Grid2D.h
  src/Benchmarks/Grid/Grid3D.cpp
  src/Benchmarks/Grid/Grid3D.cu
  src/Benchmarks/Grid/Grid3D.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/Operations.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/NDimGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
