Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Deleting GridTraits.h.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridDetails/GridTraits.h
  src/TNL/Meshes/GridEntitiesOrientations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added constructor of StaticArray from std::array.
  src/TNL/Containers/StaticArray.h
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added benchmark for mean-curvature flow based on FDM.
  src/Benchmarks/MeanCurvatureFlow/CMakeLists.txt
  src/Benchmarks/MeanCurvatureFlow/MeanCurvatureFlowExplicitSolverBenchmarkFDMGrid.h
  src/Benchmarks/MeanCurvatureFlow/MeanCurvatureFlowSemiImplicitSolverBenchmarkFDMGrid.h
  src/Benchmarks/MeanCurvatureFlow/MeanCurvatureFlowSolverBenchmark.h
  src/Benchmarks/MeanCurvatureFlow/run-tnl-benchmark-mean-curvature-flow-1d
  src/Benchmarks/MeanCurvatureFlow/run-tnl-benchmark-mean-curvature-flow-2d
  src/Benchmarks/MeanCurvatureFlow/tnl-benchmark-mean-curvature-flow.cpp
  src/Benchmarks/MeanCurvatureFlow/tnl-benchmark-mean-curvature-flow.cu
  src/Benchmarks/MeanCurvatureFlow/tnl-benchmark-mean-curvature-flow.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Replacing HAVE_CUDA with __CUDACC__.
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/MeanCurvatureFlow/tnl-benchmark-mean-curvature-flow.h
  src/TNL/Algorithms/ParallelForND.h
  src/UnitTests/Algorithms/ParallelForNDTest.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTestSuite.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added include of cstdint in ArrayIO.
  src/TNL/Containers/detail/ArrayIO.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes after rebase.
  src/TNL/Algorithms/ParallelForND.h
  src/TNL/Containers/StaticArray.h
  src/TNL/Devices/Sequential.h
  src/TNL/DiscreteMath.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/Tools/tnl-diff.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes after rebase - unit tests.
  src/UnitTests/DiscreteMathTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CopyEntitiesTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/CMakeLists.txt
  src/UnitTests/Meshes/Grids/CoordinateIterator.h
  src/UnitTests/Meshes/Grids/EntityDataStore.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Traverse/GridCoordinateIteratorTest.h
  src/UnitTests/Meshes/Grids/Traverse/support.h
  src/UnitTests/Meshes/Grids/Utils/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Code reformatting and small refactoring in Grid::forEntities.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Restoring CUDA source files for accessors in grid unit tests.
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Deleting useless type definition in GridEntitiesOrientationsExample.cpp.
  Documentation/Examples/Meshes/Grid/GridEntitiesOrientationsExample.cpp
Due: documentation, pages, clang-format, clang-tidy

Fixing grid accessors unit tests.
  src/UnitTests/Meshes/Grids/Accessors/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.hip
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.hip
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added parallelFor benchmark.
  src/Benchmarks/Algorithms/CMakeLists.txt
  src/Benchmarks/Algorithms/tnl-benchmark-parallel-for.cpp
  src/Benchmarks/Algorithms/tnl-benchmark-parallel-for.cu
  src/Benchmarks/Algorithms/tnl-benchmark-parallel-for.h
  src/Benchmarks/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixed code formatting.
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  src/Benchmarks/Grid/Operations.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMParallelFor.h
  src/TNL/Algorithms/ParallelForND.h
  src/TNL/Containers/NDArray.h
  src/TNL/Devices/Cuda.h
  src/TNL/Devices/Host.h
  src/TNL/DiscreteMath.h
  src/TNL/Images/RegionOfInterest_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NormalsGetter.h
  src/TNL/Meshes/GridDetails/Templates/ForEachOrientation.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Algorithms/ParallelForNDTest.h
  src/UnitTests/Containers/StaticArrayTest.cpp
  src/UnitTests/Functions/MeshFunctionTest.h
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_3D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/GridEntitiesOrientationsTest.cpp
  src/UnitTests/Meshes/Grids/Indexing/support.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_3D.h
  src/UnitTests/Meshes/Grids/Utils/GridTemplatesTest.h
  src/UnitTests/Meshes/VTIReaderTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming get/setDimensions to get/setSizes in Grid.
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMGrid.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Renaming get/setDimensions to get/setSizes in Grid.
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing useless semi-colon in DiscreteMathTest.cpp.
  src/UnitTests/DiscreteMathTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing copyright headers.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFDMNDArray.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkFVMParallelFor.h
  src/Benchmarks/MeanCurvatureFlow/MeanCurvatureFlowExplicitSolverBenchmarkFDMGrid.h
  src/Benchmarks/MeanCurvatureFlow/MeanCurvatureFlowSemiImplicitSolverBenchmarkFDMGrid.h
  src/Benchmarks/MeanCurvatureFlow/MeanCurvatureFlowSolverBenchmark.h
  src/Benchmarks/MeanCurvatureFlow/tnl-benchmark-mean-curvature-flow.cpp
  src/Benchmarks/MeanCurvatureFlow/tnl-benchmark-mean-curvature-flow.h
  src/TNL/Algorithms/ParallelForND.h
  src/TNL/Containers/detail/StaticArrayAssignment.h
  src/TNL/Meshes/GridDetails/GridEntityBase.h
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed unit test for grid neighbours.
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add specialization for MeshReader::loadMesh to load directly into a mesh on GPU
  src/TNL/Meshes/Readers/MeshReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove unused macros from .clangd
  .clangd
Due: dummy build job

CI: remove system image silkeh/clang:10
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Add static assertions to mesh writers
  src/TNL/Meshes/Writers/FPMAWriter.h
  src/TNL/Meshes/Writers/GnuplotWriter.h
  src/TNL/Meshes/Writers/NetgenWriter.h
  src/TNL/Meshes/Writers/PVTUWriter.h
  src/TNL/Meshes/Writers/PVTUWriter.hpp
  src/TNL/Meshes/Writers/VTKWriter.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Meshes/Writers/VTUWriter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Bump minimum required CMake version to 3.30
  CMakeLists.txt
  CMakePresets.json
  install
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixes after rebase.
  Documentation/Examples/Meshes/Grid/GridExample_traverse.h
  Documentation/Examples/Meshes/Grid/GridExample_writer.h
  src/Benchmarks/Algorithms/CMakeLists.txt
  src/TNL/Meshes/Grid.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Check bucketing range.
  src/TNL/Particles/ParticlesLinkedList.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updated decomposed version.
  src/TNL/Particles/ParticlesLinkedList.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

First algorithm works for smaller matrices. Blocks, under, upper and diagonal.
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Error repaired, cuda MPI without pivoting working
  src/Benchmarks/GEM/Makefile
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Initial commit
  src/Benchmarks/GEM/Makefile
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem-CPU/GEM.h
  src/Benchmarks/GEM/gem-CPU/GEM_impl.h
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
  src/Benchmarks/GEM/tnl-gem-cuda.cu
  src/Benchmarks/GEM/tnl-gem.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added unit tests for GEM solver.
  src/UnitTests/Solvers/Linear/CMakeLists.txt
  src/UnitTests/Solvers/Linear/GEMSolverTest.cpp
  src/UnitTests/Solvers/Linear/GEMSolverTest.cu
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
  src/UnitTests/Solvers/Linear/GEMSolverTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Mapping of threads in gems (MPI, noMPI) changed.
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
  src/Benchmarks/GEM/tnl-gem-script
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added unit tests for GEM and canceling GEM unit tests with float.
  src/UnitTests/Solvers/Linear/GEMSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

GPU result computation via kernel, added verbose for program and time computation
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem-CPU/GEM_impl.h
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

first version of GEM - elimination under diagonal, above diagonal and subtraction of diagonals
  src/Benchmarks/GEM/gem-GPU/GEMdevice.h
  src/Benchmarks/GEM/gem-GPU/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

MPI with device to device for non-pivoting gem done.
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Table of calculation added, print and verbose done.
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
  src/Benchmarks/GEM/main.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactoring GEM benchmark and adding CuSolverWrapper for dense linear systems.
  src/Benchmarks/GEM/CMakeLists.txt
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/tnl-benchmark-gem.cpp
  src/Benchmarks/GEM/tnl-benchmark-gem.cu
  src/Benchmarks/GEM/tnl-benchmark-gem.h
  src/Benchmarks/LinearSolvers/CuSolverWrapper.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Solvers/Linear/CuSolverWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Parallel reduction repaired, optimalized for pivoting GPU->CPU copy. Text: seq GEM, paral GEM
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEM_impl.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMkernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

GEM can now calculate with multiple grid (matrix size 8000 rows +), better matrix reading and memory operations implemented. Text almost done.
  src/Benchmarks/GEM/Makefile.inc
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem.h
  src/Benchmarks/GEM/gem/GEMdevice.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
  src/Benchmarks/GEM/main.h
  src/Benchmarks/GEM/tnl-gem-script
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

MPI device to device for non-pivoting GEM done!
  src/Benchmarks/GEM/Matrix/Matrix.h
  src/Benchmarks/GEM/Matrix/Matrix_impl.h
  src/Benchmarks/GEM/gem/GEMdeviceMPI.h
  src/Benchmarks/GEM/gem/GEMkernelsMPI.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
