Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Remove reset attribute from Benchmark
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Flush output streams after each log entry
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/TerminalLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove the Logger template parameter from Benchmark class
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/gemv.h
  src/Benchmarks/BLAS/tnl-benchmark-blas.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/MemoryAccessBenchmark.hpp
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Clean up BenchmarkResult subclasses
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/ODESolvers/ODESolversBenchmarkResult.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add Doxygen documentation to benchmark infrastructure
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/BenchmarkResult.h
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/Logging.h
  src/TNL/Benchmarks/TerminalLogging.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixes after rebase.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/TNL/Matrices/MatrixOperations.h
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
  src/UnitTests/Solvers/Eigen/PowerMethodTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added missing pragma clauses to Particles
  src/TNL/Particles/DefaultConfig.h
  src/TNL/Particles/DistributedParticles.h
  src/TNL/Particles/GhostZone.hpp
  src/TNL/Particles/Particles.hpp
  src/TNL/Particles/ParticlesLinkedList.hpp
  src/TNL/Particles/ParticlesLinkedListWithList.hpp
  src/TNL/Particles/Readers/readSPHSimulation.h
  src/TNL/Particles/Writers/writeBackgroundGrid.h
  src/TNL/Particles/details/details.h
  src/TNL/Particles/neighborSearchLoopCLLWithList.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added guards for Boost in graphs benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Impproving the SSSP parallel algorithm.
  src/TNL/Graphs/singleSourceShortestPath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing kernels for parallel traversing of Ellpack.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/detail/EllpackKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplifying calls of the segments operations.
  src/TNL/Algorithms/Segments/operations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Code cleaning - removing useless semicolons.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added benchmark for segments.
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/Segments/CMakeLists.txt
  src/Benchmarks/Segments/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/MultiindexCreator.py
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/Benchmarks/Segments/tnl-benchmark-segments.cpp
  src/Benchmarks/Segments/tnl-benchmark-segments.cu
  src/Benchmarks/Segments/tnl-benchmark-segments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Renaming current segment operations to traversing operations.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing kernels for parallelel traversing of SlicedEllpack.
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/SlicedEllpackKernels.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added new unit tests for segments.
  src/UnitTests/Algorithms/Segments/LaunchConfigurationsSetup.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added forElementsIf for CSR segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing block merged variant of forElements for CSR with segment indexes.
  src/TNL/Algorithms/Segments/CSRBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting reduction kernels from segments unit tests.
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added MTX reader fri graphs.
  src/TNL/Graphs/Readers/EdgeListReader.h
  src/TNL/Graphs/Readers/MtxReader.h
  src/TNL/Graphs/Writers/EdgeListWriter.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small changes in scripts for graph benchmark.
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
Due: dummy build job

Implementing new variants of forElements for sparse matrices.
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsIf.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsIf.cu
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-1.cu
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-2.cu
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Matrices/SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added MTX reader for graphs.
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added launch configuration to SSSP graph algorithm and benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing graphs benchmark loging data.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Implementing new variants of forElements for segments.
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating script for fetching graphs from sparse matrix collection.
  src/Benchmarks/Graphs/extract-graphs
Due: dummy build job

Fixing index types in CSRVectorKernel for reduction.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added parameter for precision to graph benchmark script.
  src/Benchmarks/Graphs/run-tnl-benchmark-graphs
Due: dummy build job

Fixing Boost graph benchmark. Avoiding excessive outputs on errors in graph benchmark. Fixing results checks in graphs benchmark.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Reimplementing sparse matrix operations using parallalFor instead of forElements.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes in cmake for graphs benchmark.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added tnl-benchmark-graphs-cuda.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added function for compression of vectors (and arrays).
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/compressExample-lambda.cpp
  Documentation/Examples/Algorithms/compressExample-lambda.cu
  Documentation/Examples/Algorithms/compressExample-lambda.hip
  Documentation/Examples/Algorithms/compressExample-vector.cpp
  Documentation/Examples/Algorithms/compressExample-vector.cu
  Documentation/Examples/Algorithms/compressExample-vector.hip
  src/TNL/Algorithms/compress.h
  src/TNL/Algorithms/detail/Compress.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/compressTest.cpp
  src/UnitTests/Algorithms/compressTest.cu
  src/UnitTests/Algorithms/compressTest.h
  src/UnitTests/Algorithms/compressTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added function for getting number of parameters of a lambda function.
  src/TNL/TypeTraits.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating dense matrix base to use the new free functions for segments.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving the launch config to the position of the last parameter in segments based operations.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/operations.h
  src/TNL/Algorithms/Segments/operations.hpp
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Graphs/singleSourceShortestPath.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added launch configuration to BFS algorithm and benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/LaunchConfigurationsSetup.h
  src/TNL/Graphs/breadthFirstSearch.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
