Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

ParallelFor refactoring: removed separate gridStrideY and gridStrideZ parameters
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

ParallelFor refactoring: moved implementations to the detail namespace
  src/TNL/Algorithms/ParallelFor.h
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Improved documentation of the reduce function
  src/TNL/Algorithms/reduce.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactored ParallelFor2D and ParallelFor3D to use multi-index parameters
  src/TNL/Algorithms/ParallelFor.h
  src/TNL/Algorithms/detail/ParallelFor1D.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed useless semicolons in Ginkgo examples
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation2D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation3D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-converted-ellpack.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-csr.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-operator.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

CMakeLists.txt: added workaround for Clang 15
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Added missing __cuda_callable__ to TridiagonalMatrix
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed matrix examples to work with nvcc without any warnings
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_getConstRow.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_getRow.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_setElement.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_getConstRow.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_getRow.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_setElement.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_getConstRow.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_getRow.cpp
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_setElement.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixExample_getConstRow.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixExample_getRow.cpp
  Documentation/Examples/Matrices/TridiagonalMatrix/TridiagonalMatrixExample_setElement.cpp
Due: documentation examples, build documentation, pages, clang-format

Fixed getRow methods in DenseMatrixView, MultidiagonalMatrixView and TridiagonalMatrixView
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/MultidiagonalMatrixRowView.h
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrixRowView.h
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/TNL/Matrices/details/MultidiagonalMatrixIndexer.h
  src/TNL/Matrices/details/TridiagonalMatrixIndexer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed included file name in the matrices tutorial
  Documentation/Tutorials/Matrices/tutorial_Matrices.md
Due: documentation examples, build documentation, pages

Copy-pasted more modern FindMETIS.cmake from Ginkgo to fix its build failure
  cmake/FindMETIS.cmake
  src/Tools/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Updated nvcc diagnostic pragmas in AssertCudaTest.cu
  src/UnitTests/AssertCudaTest.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Ported remaining occurences of ParallelFor 1D, 2D, 3D to parallelFor
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_setElement.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_setElement.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_Constructor.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixExample_Constructor_init_list_1.cpp
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.h
  Documentation/Tutorials/Matrices/DenseMatrixSetup_Benchmark.cpp
  Documentation/Tutorials/Matrices/MultidiagonalMatrixSetup_Benchmark.cpp
  Documentation/Tutorials/Matrices/SparseMatrixSetup_Benchmark.cpp
  Documentation/Tutorials/Matrices/tutorial_Matrices.md
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkSimpleGrid.h
  src/TNL/Containers/ndarray/BoundaryExecutors.h
  src/TNL/Containers/ndarray/Executors.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Meshes/DistributedMeshes/BufferEntitiesHelper.h
  src/TNL/Meshes/DistributedMeshes/CopyEntitiesHelper.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_semi1D_test.h
  src/UnitTests/Containers/ndarray/StaticNDArrayCudaTest.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Avoid deprecation warnings from Ginkgo
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation2D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-PoissonEquation3D.cpp
  src/Examples/Ginkgo/tnl-ginkgo-converted-ellpack.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-csr.cpp
  src/Examples/Ginkgo/tnl-ginkgo-wrapped-operator.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Updated CONTRIBUTING.md
  CONTRIBUTING.md
Due: dummy build job

Added trait classes isMesh and isDistributedMesh
  src/TNL/Meshes/Traits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Updated VTUPolyhedralFacesWriter to use the isMesh trait class
  src/TNL/Meshes/Writers/detail/VTUPolyhedralFacesWriter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Algorithm for dual-mesh
  src/Tools/tnl-dual-mesh.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Removed the obsolete file ParallelFor.h containing only deprecated functions
  src/TNL/Algorithms/ParallelFor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed remaining references to ParallelFor in SequentialFor and StaticNDArrayCudaTest
  Documentation/Examples/Algorithms/SequentialForExample.cpp
  src/TNL/Algorithms/SequentialFor.h
  src/UnitTests/Containers/ndarray/StaticNDArrayCudaTest.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Documentation: fixed references to paralellFor instead of ParallelFor
  Documentation/Tutorials/GeneralConcepts/snippet_algorithms_and_lambda_functions_parallel_for.cpp
  Documentation/Tutorials/GeneralConcepts/tutorial_GeneralConcepts.md
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/TNL/Solvers/ODE/StaticEuler.h
  src/TNL/Solvers/ODE/StaticExplicitSolver.h
  src/TNL/Solvers/ODE/StaticMerson.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

CI: add configuration for merge request pipelines
  .gitlab-ci.yml
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages

Avoid comparison between int and std::size_t in Quicksorter
  src/TNL/Algorithms/Sorting/detail/Quicksorter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Avoid calling a host-only function std::rand in a __cuda_callable__ lambda expression
  Documentation/Examples/Algorithms/SortingExample.cpp
  Documentation/Examples/Algorithms/SortingExample2.cpp
  Documentation/Examples/Algorithms/SortingExample3.cpp
Due: documentation examples, build documentation, pages, clang-format

Avoid using pointers to std::ostream in __cuda_callable__ lambda expression
  src/TNL/Matrices/MatrixWriter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed MultidiagonalMatrixSetup benchmark
  Documentation/Tutorials/Matrices/MultidiagonalMatrixSetup_Benchmark.cpp
Due: documentation examples, build documentation, pages, clang-format

Use of native architecture by compiler is OFF by default.
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Added basic operators and functions for StaticMatrix.
  src/TNL/Matrices/StaticMatrix.h
  src/UnitTests/Matrices/StaticMatrixTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Created a constexpr setValue method in StaticNDArray
  src/TNL/Containers/NDArray.h
  src/TNL/Matrices/StaticMatrix.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added grid normals class.
  src/TNL/Meshes/GridDetails/GridEntityNormals.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added ParallelForND.
  src/TNL/Algorithms/ParallelForND.h
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/ParallelForNDTest.cpp
  src/UnitTests/Algorithms/ParallelForNDTest.cu
  src/UnitTests/Algorithms/ParallelForNDTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Introducing grid entity orientation structure.
  src/TNL/Meshes/DistributedMeshes/CopyEntitiesHelper.h
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/GridEntityNormals.h
  src/TNL/Meshes/GridDetails/GridEntityOrientation.h
  src/TNL/Meshes/GridDetails/GridTraits.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/Tools/tnl-diff.h
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/EntityDataStore.h
  src/UnitTests/Meshes/Grids/Indexing/support.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added testing benchmark to heat equation benchmark - for tuning purposes.
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForTest.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Reimplementing getNeigbourEntity/getNeighbourEntityIndex, avoiding use of GridEntityGetter.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added tests for neighbour entities indexes.
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid1DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid2DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTestSuite.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_0D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_1D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_2D.h
  src/UnitTests/Meshes/Grids/Neighbours/Grid3DTest_Neighbours_3D.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactoring grid - using GridEntitiesOrientations.
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Writing documentation for GridEntitiesOrientation.
  src/TNL/Meshes/GridDetails/GridEntitiesOrientations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added methods and tests for GridEntitiesOrientations.
  src/TNL/Meshes/GridEntitiesOrientations.h
  src/TNL/Meshes/GridEntitiesOrientations.hpp
  src/UnitTests/Meshes/Grids/CMakeLists.txt
  src/UnitTests/Meshes/Grids/GridEntitiesOrientationsTest.cpp
  src/UnitTests/Meshes/Grids/Utils/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format
