Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

default_tests_Debug:
  stage: build:gcc
  needs:
  - cuda_nontests_Debug
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

default_tests_Release:
  stage: build:gcc
  needs:
  - cuda_nontests_Release
  script:
  - source /etc/profile
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  ...

build documentation:
  stage: build:doc
  needs:
  - job: documentation examples
    artifacts: true
  script:
  - ./Documentation/build --output-snippets-path="$(pwd)/output_snippets/"
  artifacts:
    paths:
    - ./Documentation/html/

Implementing Gnuplot writer.
  src/TNL/Meshes/GridDetails/Grid.hpp
  src/TNL/Meshes/Writers/GnuplotWriter.h
  src/TNL/Meshes/Writers/GnuplotWriter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add possibility to specify boundaries for traverse. Add orientation to GridEntity
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Implementations/Grid1D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid2D.hpp
  src/TNL/Meshes/GridDetails/Implementations/Grid3D.hpp
  src/TNL/Meshes/GridDetails/Implementations/GridEntity.hpp
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid3DTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed MeshTraverserTest and renamed to MeshIterationTest
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/MeshIterationTest.cpp
  src/UnitTests/Meshes/MeshIterationTest.cu
  src/UnitTests/Meshes/MeshIterationTest.h
  src/UnitTests/Meshes/MeshTraverserTest.cpp
  src/UnitTests/Meshes/MeshTraverserTest.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactoring heat equation benchmark.
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquationGrid/HeatEquationSolverBenchmarkSimpleGrid.h
  src/Benchmarks/HeatEquationGrid/tnl-benchmark-heat-equation.h
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-heat-equation
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement tests for combinations function
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.cu
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Removed useless attributes from Grid and GridEntity
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/Grid.hpp
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/GridEntity.hpp
  src/UnitTests/Meshes/Grids/Utils/EntityDataStoreTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Removed useless #pragma unroll from Grid.hpp
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement tests for space steps setters/getters
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/NDimGrid.h
  src/TNL/Meshes/GridDetails/Templates/Templates.h
  src/TNL/Meshes/GridEntity.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid3DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/support.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
  src/UnitTests/Meshes/GridTests/Utils/GridTemplatesTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add missing files
  src/TNL/Meshes/GridDetails/Implementations/GridEntityMeasureGetter.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add optimization for the neighbour entities, which have the same orientation and dimension
  src/TNL/Meshes/GridDetails/Implementations/NDimGrid.hpp
  src/TNL/Meshes/GridDetails/Implementations/NeighbourGridEntityGetter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moving files in TNL/Meshes/GridDetails/Implementation to TNL/Meshes/GridDetails.
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.h
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.hpp
  src/TNL/Meshes/GridDetails/GridEntity.hpp
  src/TNL/Meshes/GridDetails/GridEntityCenterGetter.h
  src/TNL/Meshes/GridDetails/GridEntityCenterGetter.hpp
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/GridEntityGetter.hpp
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.h
  src/TNL/Meshes/GridDetails/GridEntityMeasureGetter.hpp
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.hpp
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement boundary checks. Add cut traversers
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.h
  src/TNL/Meshes/GridDetails/ForEachOrientation.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/GridEntityTopology.h
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Moved the HeatEquationGrid benchmark directory to HeatEquation
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/HeatEquation/CMakeLists.txt
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGridShmem.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelFor.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForShmem.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkSimpleGrid.h
  src/Benchmarks/HeatEquation/UnrolledStaticVector.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.cpp
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.cu
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed space and time steps in the HeatEquation benchmark
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGridShmem.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForShmem.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkSimpleGrid.h
  src/Benchmarks/HeatEquation/UnrolledStaticVector.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixed UnrolledStaticVector in the HeatEquation benchmark
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGridShmem.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForShmem.h
  src/Benchmarks/HeatEquation/UnrolledStaticVector.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Removed the "shmem" variants from the HeatEquation benchmark
  src/Benchmarks/HeatEquation/CMakeLists.txt
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkGridShmem.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkParallelForShmem.h
  src/Benchmarks/HeatEquation/UnrolledStaticVector.h
  src/Benchmarks/HeatEquation/tnl-benchmark-heat-equation.h
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-heat-equation
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Updated SimpleGrid in the HeatEquation benchmark
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkSimpleGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Updated scripts for the HeatEquation benchmark
  src/Benchmarks/scripts/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/scripts/run-tnl-benchmark-heat-equation
Due: dummy build job

Fixes of grid for macOS.
  src/TNL/Meshes/Grid.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Color map for SpMV benchmarks writes to separate file.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Quick fix of non-header-only functions for sorting.
  src/TNL/Algorithms/Sorting/detail/helpers.h
  src/TNL/Algorithms/Sorting/detail/quicksort_kernel.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixing Python script for processing of SpMV benchmark results.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Fixed unused variable in spmv benchmark.
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixing SpMV results processing script to work with Json log format.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Making legacy copy of SpMV results processing script.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json-legacy.py
Due: dummy build job

Updating assertion on number of CUDA threads in Light CSR.
  src/TNL/Algorithms/Segments/Kernels/CSRLightKernel.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixing matrix info for dense matrices.
  src/TNL/Matrices/MatrixInfo.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixes of SpMV benchmarks results processing script.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Added parameter for skipping Ellpack formats in SpMV benchmark.
  src/Benchmarks/SpMV/spmv.h
  src/Benchmarks/SpMV/spmv.templates/spmv.t0.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t0.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t1.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t1.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t2.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t2.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t3.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t3.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t4.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t4.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t5.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t5.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t6.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t6.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t7.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t7.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t8.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t8.cu
  src/Benchmarks/SpMV/spmv.templates/spmv.t9.cpp
  src/Benchmarks/SpMV/spmv.templates/spmv.t9.cu
  src/Benchmarks/SpMV/tnl-benchmark-spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added nonzero elements distribution analysis in SpMV benchmark.
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added analysis of CUDA threads mapping in Light CSR to Python script for SpMV benchmark processing.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Enabling SpMV benchmarks with various numbers of threads per row in Light CSR.
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Added analysis of Light CSR threads mapping in SpMV benchmarks results processing script.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Rewritting parser of Json log files for spmv benchmark.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Adding analysis of CUDA Threads in Light CSR into becnhmark results processing script.
  src/Benchmarks/scripts/tnl-spmv-benchmark-make-tables-json.py
Due: dummy build job

Fixed formatting of sources with clang-format
  src/TNL/Algorithms/Sorting/detail/quicksort_kernel.h
  src/TNL/Matrices/MatrixInfo.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added sparse matrix generator.
  src/Benchmarks/scripts/tnl-sparse-matrix-generator.py
Due: dummy build job

Fix of getCompressedRowLengthd call in SpMV benchmark.
  src/Benchmarks/SpMV/spmv.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fixing limit of filling sparse matrix generator.
  src/Benchmarks/scripts/tnl-sparse-matrix-generator.py
Due: dummy build job

Added getFormat for DenseMatrix.
  src/TNL/Matrices/MatrixInfo.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}
