Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Add NvidiaBitonicSort algorithm with CUDA samples to the sorting benchmark
  CMakeLists.txt
  cmake/FetchCUDASamples.cmake
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/ReferenceAlgorithms/NvidiaBitonicSort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add scripts for running and visualizing the sorting benchmark
  src/Benchmarks/Sorting/plot-results.py
  src/Benchmarks/Sorting/run-tnl-benchmark-sort
Due: dummy build job, python-black

Refactor MancaQuicksort reference algorithm
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Quicksort: remove debugging comments, printf calls, and use TNL_ASSERT_* macros
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix CedermanQuicksort for small array sizes
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix clang-tidy issues in CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Optimize and fix race conditions in CudaReductionKernel and CudaScanKernel
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove obsolete guards for HIP
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor CudaBlockReduce with shared memory to be usable from 2D and 3D reductions
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/detail/CudaReduction3DKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update clang-format configuration file
  .clang-format
Due: dummy build job, clang-format

justfile: Add format recipe to reformat supported files
  justfile
Due: dummy build job

Merge BitonicSortTest into SorterTest
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.cu
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.hip
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add comprehensive tests for bitonic sort and guard empty arrays
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix bitonic sort for 64-bit index types
  src/TNL/Algorithms/Sorting/BitonicSort.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/detail/closestPow2.h
  src/TNL/Algorithms/Sorting/detail/helpers.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor sorting benchmark to use TNL benchmark interface and modern C++
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/ThrustRadixsort.h
  src/Benchmarks/Sorting/generators.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove obsolete files from sorting benchmark
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/Quicksorter.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/helper_timer.h
  src/Benchmarks/Sorting/bitonicsortBenchmark.cu
  src/Benchmarks/Sorting/timer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add AGENTS.md - project documentation for AI assistants
  AGENTS.md
Due: dummy build job

Add section on AI-assisted contributions to CONTRIBUTING.md
  CONTRIBUTING.md
Due: dummy build job

Update .clangd for CUDA 13 on Arch Linux
  .clangd
Due: dummy build job

Use std::less in Quicksorter
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Quicksort: remove unused functions
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove duplicate file
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix signed vs unsigned comparison in Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add CUBMergeSort to the sorting benchmark
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Quicksort: improve naming consistency with TNL conventions
  src/TNL/Algorithms/Sorting/experimental/detail/QuicksortTask.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace ThrustRadixsort wrapper with CUBRadixSort
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/SortingCUBMergeSort.cu
  Documentation/Examples/Algorithms/SortingCUBRadixSort.cu
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/ThrustRadixsort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/TNL/Algorithms/Sorting/CUBMergeSort.h
  src/TNL/Algorithms/Sorting/CUBRadixSort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Use std::size_t for indexing in sorting benchmark
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor CedermanQuicksort error handling to use TNL_BACKEND_SAFE_CALL
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Re-format reference sorting algorithms with clang-format
  src/Benchmarks/Sorting/ReferenceAlgorithms/.clang-format
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/NvidiaBitonicSort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add generic Index template parameter to GPUQSort and CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Use Array with proper allocators in CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace Cederman's bitonicSort with TNL's bitonicSort_Block
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor CedermanQuicksort to work with any value type
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added max matrix norm and related unit tests.
  src/TNL/Matrices/MatrixOperations.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/MatrixOperationsTest.cpp
  src/UnitTests/Matrices/MatrixOperationsTest.cu
  src/UnitTests/Matrices/MatrixOperationsTest.h
  src/UnitTests/Matrices/MatrixOperationsTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
