Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixing initiation of the PDLP solver and code cleaning.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added code guards for the presence of Gurobi nad OR Tools to LP benchmark.
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added RANGES to LP problem reader of MPS format and additional changes.
  src/TNL/Solvers/Optimization/LPProblemReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added untit tests for PDLP solver.
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added Pock-Chambolle preconditioning.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/TNL/Solvers/Optimization/Preconditioning/PockChambolle.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code refactoring.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added multiplication of sparse matrix and two vectors.
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added power method for A^T * A.
  src/TNL/Matrices/Eigen/PowerIteration.h
  src/TNL/Matrices/Eigen/ShiftedPowerIteration.h
  src/UnitTests/Matrices/Eigen/EigenTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduced calls of SpMV in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added PDLP test for CUDA and HIP.
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cu
  src/UnitTests/Solvers/Optimization/PDLPTest.h
  src/UnitTests/Solvers/Optimization/PDLPTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

PDLP code cleaning and refactoring - getting the same results as cuPDLP-C.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added cuSPARSE CSR matrix.
  src/TNL/Matrices/CusparseCSRMatrix.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/CusparseCSRMatrixTest.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

New test and small fixes for PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added error estimates to PDLP solver based in KKT and normalized duality gap.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added switch for primal weight updates.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added OR Tools to LP benchmark, and additional fixes and changes in LP benchmark.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/ORToolsLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added gradient based restarting to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Cleaning code of PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring multiplication with the constraint matrix in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added preconditioning to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Gurobi LP benchmark.
  cmake/FindGUROBI.cmake
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/Benchmarks/Solvers/Optimization/GurobiLPBenchmark.h
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Reducing SpMV calls in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

LP problem reader can insert equalities first in the constraints matrix.
  src/Benchmarks/Solvers/Optimization/tnl-benchmark-lp-solvers.h
  src/TNL/Solvers/Optimization/LPProblem.h
  src/TNL/Solvers/Optimization/LPProblemReader.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Code refactoring.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added write method to LPProblem.
  src/TNL/Solvers/Optimization/LPProblem.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Several fixes in LinearTrustRegion solver.
  src/TNL/Solvers/Optimization/LinearTrustRegion.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Debugging PDLP solver.
  src/TNL/Solvers/Optimization/LPProblemReader.h
  src/TNL/Solvers/Optimization/LinearTrustRegion.h
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/PDLPTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code cleaning and refactoring.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added spectral norm of matrix.
  src/TNL/Matrices/MatrixOperations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorting of matrix elements after computing transposition of sparse matrices (to avoid undeterministic behavior).
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing matrix-vector multiplication with range of matrix rows. TODO: Fix documentation!!!!
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed several bugs in restarting of PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Trying fast restarting for PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Debugging steps in PDLP.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added convergence criterion to PDLP solver based on KKT conditions.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoid clang warning in SystemInfo
  src/TNL/SystemInfo.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix markdown formatting in documentation comment
  src/TNL/Solvers/ODE/ODESolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add workaround for doxygen 1.15.0
  Documentation/Doxyfile
Due: documentation, pages

Added CITATION.cff
  CITATION.cff
Due: dummy build job

Add CI job for validating CITATION.cff
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black
