Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cmake-format: any of: ./**/CMakeLists.txt, ./**/*.cmake, .cmake-format.yaml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py
  python-black: any of: src/**/*.py, Documentation/**/*.py

Updating DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding Examples
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getInPlaceTransposition.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getInPlaceTransposition.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getProduct.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getProduct.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getTransposition.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getTransposition.cu
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy

Refactoring the code
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding optimised kernels in DenseMatrixTranspositionKernels.h and modifying tnl-transposition-html-table-generator.py
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Refactoring the operations to free funcitons in DenseOperations.h/.hpp
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseOperations.h
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding new kernel (kernel 6 - fermi)
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Adding kernel for dense matrix multiplication with transposition flags
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.h
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Adding DenseMatricesResult.h and correcting benchmark functions
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Modifying Fermi Kernel
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Adding HIP Modifications
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/HipBlasBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.hip
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseOperations.hpp
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.h
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.hip
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.h
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.hip
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.h
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.hip
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Rebasing with the main project and adjusting the code
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Modifying Fermi Kernel
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Refactoring the code and Utilizing TensorCores
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getInPlaceTransposition.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getInPlaceTransposition.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getProduct.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getProduct.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getTransposition.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getTransposition.cu
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/Benchmarks/DenseMatrices/HipBlasBenchmark.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
  src/UnitTests/Matrices/dense-matrix-operations-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Adjusting the Benchmark Structure
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/DenseMatricesBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/Benchmarks/DenseMatrices/DenseMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.hip
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.hip
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-densematrices.hip
  src/UnitTests/Matrices/DenseMatrixMultiplicationTest.h
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.h
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.h
  src/UnitTests/Matrices/dense-matrix-operations-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Adjusting the coalesced access to SM in Kernel 1.6
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Modifying Fermi Kernel and Hip Modifications
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.hip
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers, python-black

Fixed DenseMatrix multiplication for Host
  src/TNL/Matrices/DenseOperations.hpp
  src/UnitTests/Matrices/DenseMatrixTransMultiplication.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring the code
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getInPlaceTransposition.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getProduct.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixOperationsExample_getTransposition.cu
  src/Benchmarks/DenseMatrices/BlasBenchmark.h
  src/Benchmarks/DenseMatrices/CMakeLists.txt
  src/Benchmarks/DenseMatrices/CublasBenchmark.h
  src/Benchmarks/DenseMatrices/CutlassBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationKernels.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionKernels.h
  src/Benchmarks/DenseMatrices/HipBlasBenchmark.h
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/Benchmarks/DenseMatrices/MagmaBenchmark.h
  src/Benchmarks/DenseMatrices/detail/FermiOptimizedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/detail/OptimizedIndexAccessKernel.h
  src/Benchmarks/DenseMatrices/detail/PaddedMemoryMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/detail/SharedMemory2DKernel.h
  src/Benchmarks/DenseMatrices/detail/TileBasedMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/detail/WarpBasedTileMultiplicationKernel.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-multiplication.hip
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.cpp
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.cu
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.h
  src/Benchmarks/DenseMatrices/tnl-benchmark-dense-matrix-transposition.hip
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
  src/TNL/Matrices/DenseOperations.h
  src/TNL/Matrices/DenseOperations.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Added guards for Boost in graphs benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixed build tree path leaking into the CMake interface target
  CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Wrapping the imported target with $<LINK_LANGUAGE:CXX> does not work
  CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Removed space after which prevented the generator expression from working
  CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Finding node with the largest degree in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Using the node with the largest degree to test BFS and SSSP in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixing Boost graph benchmark. Avoiding excessive outputs on errors in graph benchmark. Fixing results checks in graphs benchmark.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Fixing cmake outputs for graph benchmark.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

One more fix of Boost graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy, copyright-headers

Added draft of Particle structure.
  src/TNL/Particles/CellIndexer.h
  src/TNL/Particles/DefaultConfig.h
  src/TNL/Particles/DistributedParticles.h
  src/TNL/Particles/DistributedParticlesSynchronizer.h
  src/TNL/Particles/GhostZone.h
  src/TNL/Particles/GhostZone.hpp
  src/TNL/Particles/Particles.h
  src/TNL/Particles/Particles.hpp
  src/TNL/Particles/ParticlesLinkedList.h
  src/TNL/Particles/ParticlesLinkedList.hpp
  src/TNL/Particles/ParticlesLinkedListWithList.h
  src/TNL/Particles/ParticlesLinkedListWithList.hpp
  src/TNL/Particles/ParticlesTraits.h
  src/TNL/Particles/details/details.h
  src/TNL/Particles/neighborSearchLoop.h
  src/TNL/Particles/neighborSearchLoopCLLWithList.h
  src/UnitTests/CMakeLists.txt
  src/UnitTests/Particles/CMakeLists.txt
  src/UnitTests/Particles/GhostZoneTest.cpp
  src/UnitTests/Particles/GhostZoneTest.h
  src/UnitTests/Particles/GhostZoneTestCuda.cu
  src/UnitTests/Particles/NeighborSearchLoopTest.cu
  src/UnitTests/Particles/NeighborSearchLoopTest.h
  src/UnitTests/Particles/ParticleSystemTest.cpp
  src/UnitTests/Particles/ParticleSystemTest.h
  src/UnitTests/Particles/ParticleSystemTestCuda.cu
  src/UnitTests/Particles/ParticlesWithDomainDecompositin.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added thrustExecPolicy selector - doen't work for pure host device.
  src/TNL/Particles/Particles.h
  src/TNL/Particles/ParticlesLinkedList.h
  src/TNL/Particles/ParticlesLinkedListWithList.h
  src/TNL/Particles/details/thrustExecPolicySelector.h
  src/UnitTests/Particles/CMakeLists.txt
  src/UnitTests/Particles/GhostZoneTest.h
  src/UnitTests/Particles/ParticleSystemTest.h
  src/UnitTests/Particles/ParticlesWithDomainDecompositin.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Add workaround for rocm-llvm 6.2.2
  cmake/hip_flags.cmake
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Upgrade clang-cuda build to CUDA 12
  .gitlab-ci.yml
  CMakePresets.json
  cmake/cuda_flags.cmake
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-tidy

CMake: Bump git tag for tinyxml2 to 10.0.0
  cmake/FetchTinyXML2.cmake
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, clang-tidy

Moving SparseSandboxMatrix to tnl-legacy.
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixRowView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixRowView.hpp
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.hpp
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.cpp
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.cu
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.h
  src/UnitTests/Matrices/SparseMatrixTest_SandboxMatrix.hip
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.cpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.cu
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.h
  src/UnitTests/Matrices/SparseMatrixVectorProductTest_SandboxMatrix.hip
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor getting L1 cache line size
  src/TNL/SystemInfo.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Added in-place transposition to DenseMatrixView.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/UnitTests/Matrices/DenseMatrixTranspositionTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing macro guard for CUDA code in a .cpp file
  Documentation/UsersGuide/Vectors/Expressions.cpp
Due: documentation, pages, clang-format, clang-tidy

Fixing dense matrix addition to work with both column-major and row-major ordering. Added addition of transposed matrix. Added unit tests.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Changed error with std::endl for '\n' and combined it into a string.
  src/TNL/Logger.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Cleaned deprecated functions and test lines.
  src/TNL/Particles/Particles.h
  src/TNL/Particles/Particles.hpp
  src/TNL/Particles/ParticlesLinkedList.h
  src/TNL/Particles/ParticlesLinkedList.hpp
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers

Changed std::endl to '\n'
  Documentation/UsersGuide/Matrices/BinarySparseMatrixExample.cpp
  src/TNL/SystemInfo.h
Due: nvcc, clang_cuda, hip_rocm, gcc, clang, icpx, documentation, pages, clang-format, clang-tidy, copyright-headers
