Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixed copying between symmetric sparse matrix and general sparse matrix.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseOperations.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added getSegments method to DenseMatrixBase.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added stream flushing to JSON benchmark logger. The log file can get broken in case of segfault otherwise.
  src/TNL/Benchmarks/JsonLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing definition of 'none_scheduled' from -1 to numeric_limits::max() in Dynamic grouping kernels for CSR segments to avoid potential issues with unsigned Index types.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added kernels for CSR reduction based on dynamic grouping.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing definition of the graph type, added type traits for graphs.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphType.h
  src/TNL/Graphs/TypeTraits.h
  src/UnitTests/Graphs/GraphTest_MST.h
  src/UnitTests/Graphs/GraphTest_SSSP.h
  src/UnitTests/Graphs/GraphTest_trees.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for copyDenseToDenseMatrix.
  src/UnitTests/Matrices/SparseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseMatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Small fixes from the merge request review.
  src/TNL/Algorithms/detail/CudaReductionKernel.h
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MatrixInfo.h
  src/TNL/Matrices/SparseMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing use of padding index in lambda functions in sparse matrix operations.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing method getSegmentsType in SortedSegmentsBase to return the correct type name. Changing tags for segments reduction launch configurations.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

GPU Ellpack kernels for traversing and reductions accept various threads per segment for fixed mapping - not just warp size.
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/TraversingLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing type definitions in sparse matrices.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding aliases for (sorted) segments and segments view.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.h
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/CSRView.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpackView.h
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegmentsView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added the methods getSerializationType and getSegmentsType for Adaptive CSR segments.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/AdaptiveCSRView.h
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed the method Host::getMaxThreadCounts to return 1 of OpenMP is disabled.
  src/TNL/Devices/Host.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for getView in segments.
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedAdaptiveCSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing definition of segments type in SparseMatrix.
  src/TNL/Matrices/SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added test for getView in segments.
  src/UnitTests/Algorithms/Segments/SegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Updating UG on segments.
  Documentation/UsersGuide/Segments/ug_Segments.md
Due: documentation, pages

Added GraphBase and GraphNodeView.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphBase.hpp
  src/TNL/Graphs/GraphNodeView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating UG for segments.
  Documentation/UsersGuide/Segments/ug_Segments.md
Due: documentation, pages

Fixing guards for Thrust in BLAS benchmarks.
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added free functions for traversing matrices in TNL - only for dense and sparse matrices so far.
  src/TNL/Matrices/detail/TraversingOperations.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added function Matrices::getDiagonal to extract the diagonal of a matrix into a vector.
  src/TNL/Matrices/MatrixOperations.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/MatrixOperationsTest.cpp
  src/UnitTests/Matrices/MatrixOperationsTest.cu
  src/UnitTests/Matrices/MatrixOperationsTest.h
  src/UnitTests/Matrices/MatrixOperationsTest.hip
  src/UnitTests/Matrices/MatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added documentation to sort and scan of segments.
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring code for graphs.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphOperations.h
  src/TNL/Graphs/GraphOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing definition of default element organization in Ellpack.
  src/TNL/Algorithms/Segments/Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving tests for sparse-dense matrix copying operations from SparseMatrixOperationsTest to a new test suite SparseDenseMatrixOperationsTest.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.hpp
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.cpp
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.cu
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Code cleaning.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Atomic.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Graphs/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing reduction for Sliced Ellpack with multiple GPU threads per segment.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fixes.
  src/TNL/Algorithms/Segments/AdaptiveCSRView.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added graph view.
  src/TNL/Graphs/GraphView.h
  src/TNL/Graphs/GraphView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Small fix in TNL::Algorithms::Segments::reduceSegmentsIf.
  src/TNL/Algorithms/Segments/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing example on forElements for DenseMatrix.
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_forElements.cpp
Due: documentation, pages, clang-format, clang-tidy

Added unit tests for matrix traversing with the free functions.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.cu
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.hip
  src/UnitTests/Matrices/Traverse/MatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.cpp
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.cu
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Removing duplicate files CSRAdaptiveKernelBlockDescriptor.h and CSRAdaptiveKernelParameters.h.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.h
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/detail/CSRAdaptiveKernelBlockDescriptor.h
  src/TNL/Algorithms/SegmentsReductionKernels/detail/CSRAdaptiveKernelParameters.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing the segments example on reduceAll to use free function forAllElements.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceAll.cpp
Due: documentation, pages, clang-format, clang-tidy

Adding aliases for (sorted) segments and segments view.
  src/TNL/Algorithms/SegmentsReductionKernels/DefaultKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix in segments constructors.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
