Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Renaming nodes to vertices in GraphBase.
  src/TNL/Graphs/GraphBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming RealType to ValueType in reducing functions for graphs.
  src/TNL/Graphs/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming reducing functions for matrices - reduceRowsIfWithArgument to reduceRowsWithArgumentIf.
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting parameter vertexCount from the Graph constructor that takes a nested initializer list for dense matrix.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring graph benchmark to separate BFS, SSSP, and MST implementations.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.cpp
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.cu
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Renaming MatrixType to AdjacencyMatrixType in graphs.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphBase.hpp
  src/TNL/Graphs/GraphNodeView.h
  src/TNL/Graphs/GraphOperations.hpp
  src/TNL/Graphs/Readers/MtxReader.h
  src/TNL/Graphs/Writers/EdgeListWriter.h
  src/TNL/Graphs/minimumSpanningTree.h
  src/TNL/Graphs/trees.h
  src/UnitTests/Graphs/GraphTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added CLI to the script run-tnl-benchmark-random-graphs and added README.md for graph benchmarks.
  src/Benchmarks/Graphs/README.md
  src/Benchmarks/Graphs/run-tnl-benchmark-random-graphs
Due: dummy build job

Fixing documentation of sorted segments.
  src/TNL/Algorithms/Segments/SortedSegments.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming nodes to vertices in EdgeListReader.
  src/TNL/Graphs/Readers/EdgeListReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

IsArrayType uses std::conjunction to avoid warning due to deprecated getSize method in segments.
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added setEdges with std::map to Graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/UnitTests/Graphs/GraphTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing SortedSegments[View]::getConstView().
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming getSize() of segments to getElementCount() - issue #185.
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.hpp
  src/TNL/Algorithms/Segments/SortedSegmentsBase.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added GraphBase and GraphNodeView.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphBase.hpp
  src/TNL/Graphs/GraphNodeView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating documentation od traversing and reduction functions for segments. Deleting functions with segment indexes and range - the range can be specified via array view.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/scan.hpp
  src/TNL/Algorithms/Segments/sort.hpp
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added semiring BFS and SSSP to graph benchmarks.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/Benchmarks/Graphs/SemiringBFS.h
  src/Benchmarks/Graphs/SemiringSSSP.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Temporarily disabling all segment types in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Splitting GraphTest into two tests, one for DenseMatrix and one for SparseMatrix since they are quite different..
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest.cpp
  src/UnitTests/Graphs/GraphTest.cu
  src/UnitTests/Graphs/GraphTest.hip
  src/UnitTests/Graphs/GraphTest_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_DenseMatrix.hip
  src/UnitTests/Graphs/GraphTest_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added Graph constructor and setEdges with initializer list for dense adjacency matrix.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving MultiindexCreator.py to src/Python and deleting old copies.
  src/Benchmarks/Segments/MultiindexCreator.py
  src/Python/CMakeLists.txt
  src/Python/MultiindexCreator.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, python-black

Fixing reducing operations for BiEllpack segments.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added getSegments method to DenseMatrixBase.
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring signature of segments constructors with sizes container.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/CSR.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Writing UG on graphs.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVertices.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgument.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgumentIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithIndexes.cpp
  Documentation/Examples/Graphs/Traverse/CMakeLists.txt
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllEdges.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forAllVertices.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesWithIndexes.cpp
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/Segments/ug_Segments.md
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Graphs/reduce.h
  src/TNL/Matrices/reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added reducing operations for graphs.
  src/TNL/Graphs/detail/ReductionOperations.h
  src/TNL/Graphs/detail/ReductionOperations_GraphView.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/reduce.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.hip
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming reduceSegmentsIfWithArgument to reduceSegmentsWithArgumentIf.
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIfWithArgument.cu
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cu
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedAdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming LambdaDetails to CallableTraits.
  src/TNL/TypeTraits.h
  src/TNL/detail/CallableTraits.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

justfile: Add format recipe to reformat supported files
  justfile
Due: dummy build job

Simple CUDA kernels forElements in CSR and Ellpack segments call forElementsIf, to avoi code duplicity.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor inline __shfl_down reductions to use BlockReduce helpers
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing SortedSegments::setSegmentsSizes.
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming argumentCount function to callableArgumentCount.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/GrowingSegmentsView.h
  src/TNL/Algorithms/Segments/detail/FetchLambdaAdapter.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
  src/TNL/TypeTraits.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add comprehensive tests for bitonic sort and guard empty arrays
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove obsolete files from sorting benchmark
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/Quicksorter.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/helper_timer.h
  src/Benchmarks/Sorting/bitonicsortBenchmark.cu
  src/Benchmarks/Sorting/timer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing namespaces in functions for graph traversing and reduction to avoid ambiguities. Fixing header include in GraphBase.hpp.
  src/TNL/Graphs/GraphBase.hpp
  src/TNL/Graphs/detail/ReductionOperations_GraphView.h
  src/TNL/Graphs/detail/TraversingOperations_GraphView.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/reduce.hpp
  src/TNL/Graphs/traverse.h
  src/TNL/Graphs/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring BFS/SSSP for graphs and tuning graph benchmarks.
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting useless Doxygen guards in LambdaDetails.h.
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Skip some tests with SortedSegments in SparseMatrixTest.h
  src/UnitTests/Matrices/SparseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers
