Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Add missing const qualifier to NDArrayIndexer::isContiguousBlock
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix math functions for complex
  src/TNL/Arithmetics/Complex.h
  src/TNL/Functional.h
  src/TNL/Math.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove duplicate implementation of getSubarrayView() from NDArray
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor definitions of type lists for vector tests
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add missing super-weird constructor for StaticArray
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/UnitTests/Containers/StaticArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Replace base classes in NDArrayIndexer with attributes
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix typo in comment
  src/TNL/Meshes/TypeResolver/resolveMeshType.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing build of linear solvers benchmark.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Simplify ndarray implementation with constexpr instead of __cuda_callable__
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove unused attribute from NDArray
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed benchmarking of direct solvers of linear systems for CUDA.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add special tests for complex dot product and l2Norm
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix typo in StringExample.cpp
  Documentation/Examples/StringExample.cpp
Due: documentation, pages, clang-format, clang-tidy

Remove two types from VectorBinaryOperationsTest.h to speed up
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add TODO comments for NDArrayIndexer
  src/TNL/Containers/NDArrayIndexer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing header and detail:: namespace in DistributedNDArraySynchronizer.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

typos: ignore 'setp' -> 'step'
  .typos.toml
Due: dummy build job

Fix typo in static assert
  src/TNL/Containers/NDArray.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added README for linear solvers benchmark.
  src/Benchmarks/LinearSolvers/README.md
Due: dummy build job

Remove unused header files
  src/UnitTests/Matrices/SparseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest_BiEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_CSR.h
  src/UnitTests/Matrices/SparseMatrixTest_ChunkedEllpack.h
  src/UnitTests/Matrices/SparseMatrixTest_Ellpack.h
  src/UnitTests/Matrices/SparseMatrixTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Update tests for expression templates for complex numbers
  src/UnitTests/Containers/CMakeLists.txt
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTest.cpp
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTest.h
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTestCuda.cu
  src/UnitTests/Containers/ComplexVectorBinaryOperationsTestHip.hip
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTest.cpp
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTest.h
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTestCuda.cu
  src/UnitTests/Containers/ComplexVectorUnaryOperationsTestHip.hip
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTest.cpp
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTest.h
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTestCuda.cu
  src/UnitTests/Containers/ComplexVectorVerticalOperationsTestHip.hip
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
  src/UnitTests/Containers/VectorHelperFunctions.h
  src/UnitTests/Containers/VectorUnaryOperationsTest.h
  src/UnitTests/Containers/VectorVerticalOperationsTest.h
  src/UnitTests/CustomScalar.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixing Ginkgo direct solver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplify checking storage index out of bounds
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/ndarray/SizesHolder.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add missing find_package(Ginkgo)
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Replacing IndexType in the iterative solver monitor with std::size_t.
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithTimerExample.cpp
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/ODESolvers/Legacy/Euler.h
  src/Benchmarks/ODESolvers/Legacy/EulerNonET.h
  src/Benchmarks/ODESolvers/Legacy/Merson.h
  src/Benchmarks/ODESolvers/Legacy/MersonNonET.h
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
  src/TNL/Benchmarks/Utils.h
  src/TNL/Solvers/GinkgoConvergenceLoggerMonitor.h
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/IterativeSolverMonitor.h
  src/TNL/Solvers/IterativeSolverMonitor.hpp
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/Optimization/AdaGrad.h
  src/TNL/Solvers/Optimization/GradientDescent.h
  src/TNL/Solvers/Optimization/Momentum.h
  src/TNL/Solvers/Optimization/NesterovMomentum.h
  src/TNL/Solvers/Optimization/RMSProp.h
  src/TNL/Solvers/SolverStarter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing DirectSolverMonitor - the IterativeSolverMonitor can do the job as well.
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/TNL/Solvers/DirectSolver.h
  src/TNL/Solvers/DirectSolverMonitor.h
  src/TNL/Solvers/DirectSolverMonitor.hpp
  src/TNL/Solvers/Linear/UmfpackWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix vector expressions for complex
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/ExpressionTemplates.h
  src/TNL/Containers/Expressions/StaticExpressionTemplates.h
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor getStaticStorageSize for StaticNDArray
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Several fixes in the examples on direct linear solvers.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Remove Permutation template parameter from NDArrayIndexer
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove SlicedNDArray
  Documentation/UsersGuide/NDArrays/CMakeLists.txt
  Documentation/UsersGuide/NDArrays/NDArrayExample_SlicedArray.cpp
  Documentation/UsersGuide/NDArrays/ug_NDArrays.md
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/Subarrays.h
  src/UnitTests/Containers/ndarray/CMakeLists.txt
  src/UnitTests/Containers/ndarray/SlicedNDArrayTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing cmake for linear solvers benchmark.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Add missing include in Complex.hpp
  src/TNL/Arithmetics/Complex.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing DirectSolver to set residue in the monitor.
  src/TNL/Solvers/DirectSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor ndarray indexing using staticFor
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/ndarray/Indexing.h
  src/TNL/Containers/ndarray/SizesHolderHelpers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removed miss-pasted header.
  src/TNL/Particles/ParticlesLinkedList.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring and modifying unit tests for Grid.
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid1DTest_Accessors.h
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid2DTest_Accessors.h
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cpp
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.cu
  src/UnitTests/Meshes/Grids/Accessors/Grid3DTest_Accessors.h
  src/UnitTests/Meshes/Grids/Accessors/support.h
  src/UnitTests/Meshes/Grids/Indexing/support.h
  src/UnitTests/Meshes/Grids/Neighbours/support.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added example for GridEntitiesOrientations.
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/GridEntitiesOrientationsExample.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Fixed VTI reader test to work with modified interface of Grid.
  src/UnitTests/Meshes/VTIReaderTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Small optimizations of indexing in Grid.
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
