Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added max matrix norm and related unit tests.
  src/TNL/Matrices/MatrixOperations.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/MatrixOperationsTest.cpp
  src/UnitTests/Matrices/MatrixOperationsTest.cu
  src/UnitTests/Matrices/MatrixOperationsTest.h
  src/UnitTests/Matrices/MatrixOperationsTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Implementing Linear trust region solver for LP problems.
  src/TNL/Solvers/Optimization/LinearTrustRegion.h
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/LinearTrustRegionTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Small fix in PDLP - TO SQUASH.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix after rebase.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added gradient based restarting to PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduced calls of SpMV in PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Trying fast restarting for PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added cuSPARSE CSR matrix.
  src/TNL/Matrices/CusparseCSRMatrix.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/CusparseCSRMatrixTest.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added Python script to draw graphs of PDLP convergence and restarting.
  src/Benchmarks/Solvers/Optimization/draw-graphs.py
Due: dummy build job, python-black

Added support for cusparse CSR matrix to PDLP solver.
  src/Benchmarks/Solvers/Optimization/CMakeLists.txt
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/UnitTests/Solvers/Optimization/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added multiplication of sparse matrix and two vectors.
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added sorting of matrix elements after computing transposition of sparse matrices (to avoid undeterministic behavior).
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix ODEStaticSolverTest for HIP
  src/UnitTests/Solvers/ODE/ODEStaticSolverTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

CI: re-enable clang images
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fix DistributedNDArrayView::getConstView
  src/TNL/Containers/DistributedNDArrayView.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Bump gtest to v1.17.0
  cmake/FetchGoogleTest.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Refactor using getCornerIds() in mesh initializer
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CMake: increase timeout for executing tests
  CMakePresets.json
Due: dummy build job

Switch to gersemi for formatting CMake files
  .cmake-format.yaml
  .gersemirc
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Fixing code formatting.
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/ODESolvers/Legacy/EulerNonET.hpp
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/Reduction3D.hpp
  src/TNL/Algorithms/Segments/print.hpp
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/detail/Reduction.hpp
  src/TNL/MPI/Print.h
  src/TNL/Solvers/SolverStarter.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
  src/UnitTests/Containers/ArrayTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP solver refactoring - added convergence monitor.
  src/TNL/Solvers/Optimization/KKTData.h
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/TNL/Solvers/Optimization/PDLPSolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring PDLP solver.
  src/TNL/Solvers/Optimization/KKTData.h
  src/TNL/Solvers/Optimization/PDLP.hpp
  src/TNL/Solvers/Optimization/PDLPSolverMonitor.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add better overload of setDistribution to DistributedNDArray
  src/TNL/Containers/DistributedNDArray.h
  src/UnitTests/Containers/ndarray/DistributedNDArrayOverlaps_3D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added printReport to PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimizing PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Optimizing PDLP - successfully performing just two SpMV operations per iteration.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Cleaning code of PDLP.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

PDLP code cleaning.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring PDLP solver.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Functions to Experimental.
  src/TNL/Functions/experimental/BoundaryMeshFunction.h
  src/TNL/Functions/experimental/CutMeshFunction.h
  src/TNL/Functions/experimental/Domain.h
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/FunctionAdapter.h
  src/TNL/Functions/experimental/MeshFunction.h
  src/TNL/Functions/experimental/MeshFunction.hpp
  src/TNL/Functions/experimental/MeshFunctionEvaluator.h
  src/TNL/Functions/experimental/MeshFunctionEvaluator_impl.h
  src/TNL/Functions/experimental/MeshFunctionGnuplotWriter.h
  src/TNL/Functions/experimental/MeshFunctionIO.h
  src/TNL/Functions/experimental/MeshFunctionNormGetter.h
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
  src/TNL/Functions/experimental/OperatorFunction.h
  src/TNL/Functions/experimental/VectorField.h
  src/TNL/Functions/experimental/VectorFieldEvaluator.h
  src/TNL/Functions/experimental/VectorFieldEvaluator_impl.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter_impl.h
  src/UnitTests/Meshes/DistributedMeshes/CopyEntitiesTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CutDistributedMeshFunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CutMeshFunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_1D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_2D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_3D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Double, Quad, Multiprecision and Real arithmetics to Experimental.
  src/TNL/Arithmetics/experimental/Double.h
  src/TNL/Arithmetics/experimental/Double_impl.h
  src/TNL/Arithmetics/experimental/FlopsCounter.cpp
  src/TNL/Arithmetics/experimental/FlopsCounter.h
  src/TNL/Arithmetics/experimental/MultiPrecision.cpp
  src/TNL/Arithmetics/experimental/MultiPrecision.h
  src/TNL/Arithmetics/experimental/Quad.h
  src/TNL/Arithmetics/experimental/Quad_impl.h
  src/TNL/Arithmetics/experimental/Real.h
  src/UnitTests/Algorithms/SegmentedScanTest.h
  src/UnitTests/Algorithms/reduceTest.h
  src/UnitTests/Algorithms/scanTest.h
  src/UnitTests/Arithmetics/QuadTest.cpp
  src/UnitTests/Containers/VectorEvaluateAndReduceTest.h
  src/UnitTests/Containers/VectorTestSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Matrices::Eigen to Solvers::Eigenvalues::experimental.
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Solvers/Eigenvalues/experimental/PowerIteration.h
  src/TNL/Solvers/Eigenvalues/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/EigenTest.cpp
  src/UnitTests/Solvers/Eigenvalues/EigenTest.h
  src/UnitTests/Solvers/Eigenvalues/EigenTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Avoiding compiler warnings.
  src/TNL/Matrices/Factorization/QR/QR.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added description of the TNL::Solvers::Eigen::experimental namespace.
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving FileName to tnl-legacy.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/FileNameExample.cpp
  Documentation/Examples/FileNameExampleDistributedSystemNodeCoordinates.cpp
  Documentation/Examples/FileNameExampleDistributedSystemNodeId.cpp
  src/TNL/FileName.h
  src/TNL/FileName.hpp
  src/UnitTests/CMakeLists.txt
  src/UnitTests/FileNameTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Moving OperatorFunction.h and ExactOperatorFunction.h from TNL/Functions/experimental to tnl-legacy.
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/OperatorFunction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Splitting EigenTest into PowerMethodTest and QRAlgorithmTest.
  src/UnitTests/Solvers/Eigenvalues/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/EigenTest.cpp
  src/UnitTests/Solvers/Eigenvalues/EigenTestCuda.cu
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTest.cpp
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTest.h
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTestCuda.cu
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTest.cpp
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTest.h
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers
