Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Add getElement to DistributedNDArrayView
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_1D_test.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add workaround for doxygen 1.15.0
  Documentation/Doxyfile
Due: documentation, pages

Fix formatting with clang-format version 21
  Documentation/UsersGuide/Matrices/snippet_CompressedRowLengthsLambda_declaration.cpp
  Documentation/UsersGuide/Matrices/snippet_rows_reduction_fetch_declaration.cpp
  Documentation/UsersGuide/Matrices/snippet_rows_reduction_reduce_declaration.cpp
  src/TNL/Arithmetics/Quad_impl.h
  src/TNL/Containers/Array.hpp
  src/TNL/Containers/DistributedArray.hpp
  src/TNL/Containers/DistributedVector.hpp
  src/TNL/Containers/Vector.hpp
  src/TNL/Meshes/Grid.hpp
  src/UnitTests/CustomScalar.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Clean up unused includes
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ODESolver.h
  src/TNL/Solvers/ODE/ODESolver.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor dispatch logic in linear solvers benchmark
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Update .clangd config
  .clangd
  .editorconfig
Due: dummy build job

Added constructor and destructor to cuDSSWrapper.
  src/Benchmarks/LinearSolvers/CuDSSWrapper.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moving quicksort to experimental.
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/TNL/Algorithms/Sorting/BitonicSort.h
  src/TNL/Algorithms/Sorting/DefaultSorter.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/experimental/Quicksort.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
  src/TNL/Algorithms/Sorting/experimental/detail/task.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix DistributedNDArrayView::getConstView
  src/TNL/Containers/DistributedNDArrayView.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_1D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_2D_test.h
  src/UnitTests/Containers/ndarray/DistributedNDArray_3D_test.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add time to iteration and check methods in explicit solver
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ExplicitSolver.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.h
  src/TNL/Solvers/ODE/StaticExplicitSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Improve error output in Hypre.hpp
  src/TNL/Solvers/Linear/Hypre.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Functions to Experimental.
  src/TNL/Functions/experimental/BoundaryMeshFunction.h
  src/TNL/Functions/experimental/CutMeshFunction.h
  src/TNL/Functions/experimental/Domain.h
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/FunctionAdapter.h
  src/TNL/Functions/experimental/MeshFunction.h
  src/TNL/Functions/experimental/MeshFunction.hpp
  src/TNL/Functions/experimental/MeshFunctionEvaluator.h
  src/TNL/Functions/experimental/MeshFunctionEvaluator_impl.h
  src/TNL/Functions/experimental/MeshFunctionGnuplotWriter.h
  src/TNL/Functions/experimental/MeshFunctionIO.h
  src/TNL/Functions/experimental/MeshFunctionNormGetter.h
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
  src/TNL/Functions/experimental/OperatorFunction.h
  src/TNL/Functions/experimental/VectorField.h
  src/TNL/Functions/experimental/VectorFieldEvaluator.h
  src/TNL/Functions/experimental/VectorFieldEvaluator_impl.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter_impl.h
  src/UnitTests/Meshes/DistributedMeshes/CopyEntitiesTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CutDistributedMeshFunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CutMeshFunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_1D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_2D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_3D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

typos: ignore "CMO" -> "COM" hint
  .typos.toml
Due: dummy build job

Make iteration methods in IterativeSolver virtual
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/IterativeSolver.hpp
  src/TNL/Solvers/StaticIterativeSolver.h
  src/TNL/Solvers/StaticIterativeSolver.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update clang-tidy config to disable false positives and useless diagnostics
  .clang-tidy
  .clangd
Due: dummy build job, clang-tidy

Removed TNL::Images
  CMakeLists.txt
  Documentation/Pages/main-page.md
  src/TNL/Images/DicomHeader.h
  src/TNL/Images/DicomHeader_impl.h
  src/TNL/Images/DicomImageInfo.h
  src/TNL/Images/DicomImageInfo_impl.h
  src/TNL/Images/DicomPatientInfo.h
  src/TNL/Images/DicomPatientInfo_impl.h
  src/TNL/Images/DicomSeries.h
  src/TNL/Images/DicomSeriesInfo.h
  src/TNL/Images/DicomSeriesInfo_impl.h
  src/TNL/Images/DicomSeries_impl.h
  src/TNL/Images/Image.h
  src/TNL/Images/JPEGImage.h
  src/TNL/Images/JPEGImage_impl.h
  src/TNL/Images/PGMImage.h
  src/TNL/Images/PGMImage_impl.h
  src/TNL/Images/PNGImage.h
  src/TNL/Images/PNGImage_impl.h
  src/TNL/Images/RegionOfInterest.h
  src/TNL/Images/RegionOfInterest_impl.h
  src/Tools/CMakeLists.txt
  src/Tools/tnl-dicom-reader.cpp
  src/Tools/tnl-image-converter.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactor using getCornerIds() in mesh initializer
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add ruff configuration file
  ruff.toml
Due: dummy build job

Fix typos
  src/Benchmarks/BLAS/vector-operations.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moving Matrices::Eigen to Solvers::Eigenvalues::experimental.
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Solvers/Eigenvalues/experimental/PowerIteration.h
  src/TNL/Solvers/Eigenvalues/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/EigenTest.cpp
  src/UnitTests/Solvers/Eigenvalues/EigenTest.h
  src/UnitTests/Solvers/Eigenvalues/EigenTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Use smaller base type for HypreSolver::ErrorMode enum
  src/TNL/Solvers/Linear/Hypre.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix HostArray in VTKWriter and VTUWriter
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Meshes/Writers/VTUWriter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added description of the TNL::Solvers::Eigen::experimental namespace.
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove matrix copy operation from the benchmark of linear solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moving tnl-diff to tnl-legacy.
  src/Tools/CMakeLists.txt
  src/Tools/tnl-diff.cpp
  src/Tools/tnl-diff.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fixed code formatting.
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
  src/TNL/Algorithms/Sorting/experimental/detail/task.h
  src/TNL/Arithmetics/experimental/Double.h
  src/TNL/Arithmetics/experimental/Double_impl.h
  src/TNL/Arithmetics/experimental/FlopsCounter.h
  src/TNL/Arithmetics/experimental/MultiPrecision.cpp
  src/TNL/Arithmetics/experimental/MultiPrecision.h
  src/TNL/Arithmetics/experimental/Quad_impl.h
  src/TNL/Arithmetics/experimental/Real.h
  src/TNL/Functions/experimental/BoundaryMeshFunction.h
  src/TNL/Functions/experimental/CutMeshFunction.h
  src/TNL/Functions/experimental/Domain.h
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/FunctionAdapter.h
  src/TNL/Functions/experimental/MeshFunction.hpp
  src/TNL/Functions/experimental/MeshFunctionEvaluator.h
  src/TNL/Functions/experimental/MeshFunctionEvaluator_impl.h
  src/TNL/Functions/experimental/MeshFunctionGnuplotWriter.h
  src/TNL/Functions/experimental/MeshFunctionIO.h
  src/TNL/Functions/experimental/MeshFunctionNormGetter.h
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
  src/TNL/Functions/experimental/OperatorFunction.h
  src/TNL/Functions/experimental/VectorField.h
  src/TNL/Functions/experimental/VectorFieldEvaluator.h
  src/TNL/Functions/experimental/VectorFieldEvaluator_impl.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter_impl.h
  src/TNL/Solvers/Eigenvalues/experimental/PowerIteration.h
  src/TNL/Solvers/Eigenvalues/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
  src/UnitTests/Meshes/EntityTests.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Disabling clang-tidy check "modernize-concat-nested-namespaces" for the experimental namepsaces (it is required by Doxygen).
  src/TNL/Algorithms/Sorting/experimental/Quicksort.h
  src/TNL/Arithmetics/experimental/Quad.h
  src/TNL/Functions/experimental/MeshFunction.h
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update Doxyfile for doxygen 1.16.1
  Documentation/Doxyfile
  Documentation/UsersGuide/Matrices/ug_Matrices.md
  Documentation/favicon.png
Due: documentation, pages

Moving solver initiator, solver starter and related files to tnl-legacy.
  src/TNL/Solvers/BuildConfigTags.h
  src/TNL/Solvers/FastBuildConfigTag.h
  src/TNL/Solvers/Solver.h
  src/TNL/Solvers/SolverConfig.h
  src/TNL/Solvers/SolverInitiator.h
  src/TNL/Solvers/SolverInitiator.hpp
  src/TNL/Solvers/SolverStarter.h
  src/TNL/Solvers/SolverStarter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added CITATION.cff
  CITATION.cff
Due: dummy build job

Remove duplicate CuSOLVER usage from the benchmark
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

CMake: reset SuiteSparse::UMFPACK to system target
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

CI: split clang-tidy job into several jobs and skip clang-tidy on unit tests
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Switch MeshFunctionIO, MeshTypeResolver and GridTypeResolver to exceptions
  Documentation/UsersGuide/Meshes/GameOfLife.cpp
  Documentation/UsersGuide/Meshes/MeshConfigurationExample.cpp
  Documentation/UsersGuide/Meshes/MeshIterationExample.cpp
  Documentation/UsersGuide/Meshes/ParallelIterationCuda.h
  Documentation/UsersGuide/Meshes/ReadMeshExample.cpp
  Documentation/UsersGuide/Meshes/ug_Meshes.md
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/TNL/Functions/MeshFunction.h
  src/TNL/Functions/MeshFunction.hpp
  src/TNL/Functions/MeshFunctionGnuplotWriter.h
  src/TNL/Functions/MeshFunctionIO.h
  src/TNL/Meshes/Readers/getMeshReader.h
  src/TNL/Meshes/TypeResolver/GridTypeResolver.h
  src/TNL/Meshes/TypeResolver/GridTypeResolver.hpp
  src/TNL/Meshes/TypeResolver/MeshTypeResolver.h
  src/TNL/Meshes/TypeResolver/MeshTypeResolver.hpp
  src/TNL/Meshes/TypeResolver/resolveDistributedMeshType.h
  src/TNL/Meshes/TypeResolver/resolveDistributedMeshType.hpp
  src/TNL/Meshes/TypeResolver/resolveMeshType.h
  src/TNL/Meshes/TypeResolver/resolveMeshType.hpp
  src/Tools/tnl-decompose-grid.cpp
  src/Tools/tnl-decompose-mesh.cpp
  src/Tools/tnl-diff.cpp
  src/Tools/tnl-diff.h
  src/Tools/tnl-game-of-life.cpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/Tools/tnl-mesh-converter.cpp
  src/Tools/tnl-mesh-info.cpp
  src/Tools/tnl-planar-correct-mesh.cpp
  src/Tools/tnl-plot-mesh-ordering.cpp
  src/Tools/tnl-refine-mesh.cpp
  src/Tools/tnl-reorder-mesh.cpp
  src/Tools/tnl-test-distributed-mesh.h
  src/Tools/tnl-triangulate-mesh.cpp
  src/UnitTests/Meshes/MeshReaderTest.h
  src/UnitTests/Meshes/NetgenReaderTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added experimental group to Doxygen.
  Documentation/Doxyfile
  src/TNL/experimental.dox
Due: documentation, pages

Switch to gersemi for formatting CMake files
  .cmake-format.yaml
  .gersemirc
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Remove unused benchmark for Armadillo solver
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
