Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added launch config for segments.
  src/TNL/Algorithms/Segments/CSRBase.h
  src/TNL/Algorithms/Segments/CSRLaunchConfig.h
  src/TNL/Algorithms/Segments/LaunchConfig.h
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/operations.h
  src/TNL/Algorithms/Segments/operations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding launch config to Ellpack based segments traversing.
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/LaunchConfigurationsSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Finding node with the largest degree in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

One more fix of Boost graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added function for getting number of parameters of a lambda function.
  src/TNL/TypeTraits.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changing graphs benchmark loging data.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added tnl-benchmark-graphs-cuda.
  src/Benchmarks/Graphs/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixed Gunrock graph benchmark.
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implementing more efficient BFS algorithm.
  src/Benchmarks/Graphs/GraphsBenchmark.h
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Graphs/breadthFirstSearch.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Python script to process results of graph benchmarks.
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Fixing index types in CSRVectorKernel for reduction - TO SQUASH.
  src/TNL/Algorithms/SegmentsReductionKernels/CSRVectorKernel.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Adding launch config to segments unit tests.
  src/TNL/Algorithms/Segments/LaunchConfig.h
  src/TNL/Backend/KernelLaunch.h
  src/UnitTests/Algorithms/Segments/LaunchConfigurationsSetup.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Impproving the SSSP parallel algorithm.
  src/TNL/Graphs/singleSourceShortestPath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reimplementing sparse matrix operations using parallalFor instead of forElements.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing new varsion of parallel BFS algorithm - hopefully more efficient.
  src/TNL/Graphs/breadthFirstSearch.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing Boost graph benchmark. Avoiding excessive outputs on errors in graph benchmark. Fixing results checks in graphs benchmark.
  src/Benchmarks/Graphs/BoostGraph.h
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixes in sparse matrix operations.
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing segments traversing as free functions for Ellpack formats.
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Algorithms/Segments/BiEllpackSegmentView.h
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.h
  src/TNL/Algorithms/Segments/EllpackBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackBase.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Algorithms/Segments/detail/SegmentsOperations.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added guards for Boost in graphs benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added guard assertions to SparseMatrixBase.
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Implementing block merged variant of forElements for CSR with segment indexes.
  src/TNL/Algorithms/Segments/CSRBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Updating script for fetching graphs from sparse matrix collection.
  src/Benchmarks/Graphs/extract-graphs
Due: dummy build job

Added scripts for graph benchmarks.
  src/Benchmarks/Graphs/extract-graphs
  src/Benchmarks/Graphs/run-all-benchmarks
  src/Benchmarks/Graphs/run-tnl-benchmark-graphs
Due: dummy build job

Moving segments traversing to TraversingOperationsBaseline.
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBaseline.h
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added function for compression of vectors (and arrays).
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/compressExample-lambda.cpp
  Documentation/Examples/Algorithms/compressExample-lambda.cu
  Documentation/Examples/Algorithms/compressExample-lambda.hip
  Documentation/Examples/Algorithms/compressExample-vector.cpp
  Documentation/Examples/Algorithms/compressExample-vector.cu
  Documentation/Examples/Algorithms/compressExample-vector.hip
  src/TNL/Algorithms/compress.h
  src/TNL/Algorithms/detail/Compress.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/compressTest.cpp
  src/UnitTests/Algorithms/compressTest.cu
  src/UnitTests/Algorithms/compressTest.h
  src/UnitTests/Algorithms/compressTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Restoring ChunkedEllpack in graph benchmark.
  src/Benchmarks/Graphs/GraphsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixing method getSegmentsType in SortedSegmentsBase to return the correct type name. Changing tags for segments reduction launch configurations.
  src/TNL/Algorithms/Segments/ReductionLaunchConfigurations.h
  src/TNL/Algorithms/Segments/SortedSegmentsBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added forElementsIf and forElements with row indexes for multidiagonal matrices.
  Documentation/Examples/Matrices/MultidiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsIf.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsIf.cu
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-1.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-1.cu
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-2.cpp
  Documentation/Examples/Matrices/MultidiagonalMatrix/MultidiagonalMatrixViewExample_forElementsWithRowIndexes-2.cu
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/UnitTests/Matrices/MultidiagonalMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Added forElementsIf for CSR segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/detail/CSRKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing Ellpack reducing operations.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added forSegmentsIf and forSegments with indexes.
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Algorithms/Segments/traverse.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_AdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing sorted segments to work with CUDA.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_scan.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_sort.cpp
  src/TNL/Algorithms/Segments/AdaptiveCSR.hpp
  src/TNL/Algorithms/Segments/SortedSegments.h
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedAdaptiveCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedBiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedCSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Code cleaning - removing useless semicolons.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added new unit tests for segments.
  src/UnitTests/Algorithms/Segments/LaunchConfigurationsSetup.h
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_BiEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_CSR.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_ChunkedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_Ellpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Optimizing and refactoring unit tests for segments traversing.
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Implementing kernels for parallel traversing of Ellpack.
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/detail/EllpackKernels.h
  src/TNL/Algorithms/Segments/detail/SegmentsOperations_Ellpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for sorted SlicedEllpack segments.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Reduce/ReduceSegmentsTest_SortedSlicedEllpack.hip
  src/UnitTests/Algorithms/Segments/SegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.cpp
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/SegmentsTest_SortedSlicedEllpack.hip
  src/UnitTests/Algorithms/Segments/Traverse/CMakeLists.txt
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.cpp
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.cu
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.h
  src/UnitTests/Algorithms/Segments/Traverse/TraverseSegmentsTest_SortedSlicedEllpack.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Updating sparse matrix to use new free functions for segments reduction.
  src/TNL/Algorithms/Segments/BiEllpackBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed comments in sparse matrix example on forElements with row indexes.
  Documentation/Examples/Matrices/SparseMatrix/SparseMatrixExample_forElementsWithRowIndexes-2.cpp
Due: documentation, pages, clang-format, clang-tidy

Fixed computation for the number of non-zero elements for binary sparse matrices.
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
