Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu}, src/**/*.{h,hpp,cpp,cu}

Removed unused local typedefs
  src/TNL/Algorithms/Segments/SegmentsPrinting.h
  src/TNL/Meshes/Geometry/getEntityCenter.h
  src/TNL/Meshes/Geometry/getEntityMeasure.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Documentation: update minimum CMake version on the main page
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, pages

Documentation: add instructions for using TNL in CMake-based projects
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, pages

macOS support
  CMakeLists.txt
  build
  src/Benchmarks/BLAS/CMakeLists.txt
  src/Benchmarks/SpMV/tnl-benchmark-spmv.h
  src/TNL/Benchmarks/Utils.h
  src/TNL/Containers/detail/ArrayIO.h
  src/TNL/Debugging/FPE.h
  src/TNL/Functions/MeshFunctionIO.h
  src/TNL/Functions/VectorField.h
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/Readers/XMLVTK.h
  src/TNL/Meshes/Readers/getMeshReader.h
  src/TNL/Meshes/TypeResolver/resolveDistributedMeshType.hpp
  src/TNL/Meshes/VTKTraits.h
  src/TNL/Meshes/Writers/PVTIWriter.hpp
  src/TNL/Meshes/Writers/PVTUWriter.hpp
  src/TNL/Timer.h
  src/TNL/Timer.hpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/Tools/tnl-mesh-converter.cpp
  src/Tools/tnl-planar-correct-mesh.cpp
  src/Tools/tnl-refine-mesh.cpp
  src/Tools/tnl-reorder-mesh.cpp
  src/Tools/tnl-triangulate-mesh.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_1D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_2D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_3D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/data/loader.h
  src/UnitTests/StringTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fixed CMakeLists.txt in ODESolvers benchmark
  src/Benchmarks/ODESolvers/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release

Implement fixes for the Distributed grid
  src/TNL/Meshes/GridDetails/DistributedGrid_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactor GridEntityCenterGetter
  src/TNL/Meshes/GridDetails/GridEntityCenterGetter.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implemented tests for dimensions and entities counts getters
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

WIP: Work on Benchmarks for HeatMap grid
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement tests for forAll traverse method
  src/TNL/Meshes/Basis.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/TNL/Meshes/Templates.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix traverser tests compiling
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.cu
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest_Accessors.cu
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest_Accessors.cu
  src/UnitTests/Meshes/GridTests/CMakeSupport.cmake
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest_Traversers.cu
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement base class for Grid1D
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/Grid_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix commented code
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement nested container for spaceStepsPowers
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement core logic for traverser tests
  src/UnitTests/Meshes/GridTests/Accessors/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.cpp
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.cu
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid1DTest_Accessors.cu
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.cpp
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest_Accessors.cu
  src/UnitTests/Meshes/GridTests/Accessors/support.h
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/CMakeSupport.cmake
  src/UnitTests/Meshes/GridTests/Grid2DTest.cu
  src/UnitTests/Meshes/GridTests/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest_Traversers.cu
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix formatting
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Fix amount of the iterations for all grids. Remove basis from GridEntity getter
  src/Benchmarks/HeatEquation/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/implementation.h
  src/TNL/Meshes/GridDetails/GridEntityGetter_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactor parallel for solution to use benchmarks
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapNDimGrid/solution/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/benchmark/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/benchmark/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/benchmark/main.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/solution/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/solution/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/solution/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/solution/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement a prototype of the base class for grid
  src/TNL/Meshes/GridDetails/Grid.h
  src/TNL/Meshes/GridDetails/Grid_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement MetaFor cycle
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Move out separate heatmap solver implementation.
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapGrid/main.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactor tests to not use parameter packs
  src/UnitTests/Meshes/GridTests/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Refactor NeighbourGridEntityGetter3D and frename Neighbor to Neighbour
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/NeighborGridEntityGetter3D_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter1D_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter2D_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter3D_impl.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement HeatMap for TNL grid
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement testing suite architecture
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Grid1DTest.cu
  src/UnitTests/Meshes/GridTests/Grid1DTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement dimension set/get
  src/Benchmarks/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapGrid/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapGrid/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapGrid/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix running implementations. Implement benchmark with the memory load
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolver.h
  src/Benchmarks/HeatEquationGrid/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/benchmark/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/benchmark/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/benchmark/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/benchmark/main.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/solution/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/solution/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/solution/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/solution/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement generic forEach
  src/TNL/Meshes/Basis.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter1D_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter2D_impl.h
  src/TNL/Meshes/GridDetails/NeighbourGridEntityGetter3D_impl.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/NDimGrid.h
  src/TNL/Meshes/Templates.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement basic tests for 1D and 2D grid dimension setters/getters
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGrid/implementation.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Grid1DTest.cpp
  src/UnitTests/Meshes/GridTests/Grid1DTest.h
  src/UnitTests/Meshes/GridTests/Grid2DTest.cpp
  src/UnitTests/Meshes/GridTests/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement basic traversal algorithm. Fix indexing in ParallelFor benchmark
  src/Benchmarks/HeatEquationGrid/HeatmapGrid/main.h
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Implement space steps products methods
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Remove neighbour grid entities/get neighbours storage
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/GridEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement fixes to the initial condition
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/CMakeLists.txt
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Move explicit calls of ParallelFor to NDimGrid
  src/TNL/Meshes/DistributedGrid.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Added id to output to log file
  src/Benchmarks/HeatEquationGrid/Base/HeatmapSolverBenchmark.h
  src/Benchmarks/HeatEquationGrid/HeatmapTNLGridWithMemoryLoad/implementation.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Simplified GridEntity by removing storage type
  src/TNL/Meshes/Grid.h
  src/TNL/Meshes/GridDetails/Grid1D.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/GridEntityGetter_impl.h
  src/TNL/Meshes/GridDetails/GridEntity_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/GridDetails/NeighborGridEntityGetter.h
  src/TNL/Meshes/GridDetails/NeighborGridEntityGetter1D_impl.h
  src/TNL/Meshes/GridDetails/NeighborGridEntityGetter2D_impl.h
  src/TNL/Meshes/GridDetails/NeighborGridEntityGetter3D_impl.h
  src/TNL/Meshes/GridEntity.h
  src/TNL/Meshes/NDimGrid.h
  src/UnitTests/Meshes/GridTests/Accessors/Grid2DTest.cu
  src/UnitTests/Meshes/GridTests/Traverse/CMakeLists.txt
  src/UnitTests/Meshes/GridTests/Traverse/Grid1DTest.cu
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.cu
  src/UnitTests/Meshes/GridTests/Traverse/Grid2DTest.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Implement template permutation generation
  src/TNL/Meshes/DistributedGrid.h
  src/TNL/Meshes/GridDetails/DistributedGrid_impl.h
  src/TNL/Meshes/GridDetails/NDimGrid_impl.h
  src/TNL/Meshes/NDimGrid.h
  src/TNL/Meshes/Templates.h
  src/UnitTests/Meshes/GridTests/Accessors/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Refactor NeighbourGridEntityGetter2D
  src/TNL/Meshes/GridDetails/NeighborGridEntityGetter2D_impl.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format

Add device support to implementation
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/main.cpp
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/main.cu
  src/Benchmarks/HeatEquationGrid/HeatmapParallelFor/main.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang-format

Fix unit tests building
  src/TNL/Meshes/DistributedGrid.h
  src/TNL/Meshes/GridDetails/BoundaryGridEntityChecker.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/GridDetails/GridEntityGetter.h
  src/TNL/Meshes/GridDetails/GridEntityGetter_impl.h
  src/UnitTests/Meshes/GridTests/Traverse/support.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, documentation examples, build documentation, pages, clang-format
