Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fix initialization order of Grid attributes
  src/TNL/Meshes/Grid.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added benchmark for NDArray reduction
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction-cuda.cu
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.cpp
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Fix data type string identifiers in VTKWriter
  src/TNL/Meshes/Readers/VTKReader.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix issues with inherited operator= in vector classes
  src/TNL/Containers/DistributedVector.h
  src/TNL/Containers/DistributedVectorView.h
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/StaticArray.hpp
  src/TNL/Containers/StaticVector.h
  src/TNL/Containers/Vector.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Rename Multireduction to Reduction2D
  Documentation/Pages/core-concepts.md
  src/TNL/Algorithms/Reduction2D.h
  src/TNL/Algorithms/Reduction2D.hpp
  src/TNL/Algorithms/detail/CudaReduction2DKernel.h
  src/TNL/Algorithms/parallelFor.h
  src/TNL/Solvers/Linear/GMRES.hpp
  src/TNL/Solvers/Linear/IDRs.hpp
  src/UnitTests/Algorithms/CMakeLists.txt
  src/UnitTests/Algorithms/MultireductionTest.cpp
  src/UnitTests/Algorithms/MultireductionTest.cu
  src/UnitTests/Algorithms/MultireductionTest.hip
  src/UnitTests/Algorithms/Reduction2DTest.cpp
  src/UnitTests/Algorithms/Reduction2DTest.cu
  src/UnitTests/Algorithms/Reduction2DTest.h
  src/UnitTests/Algorithms/Reduction2DTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Deleting comparison operators from MatrixBase.
  src/TNL/Matrices/MatrixBase.h
  src/TNL/Matrices/MatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring the benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added UmfpackWrapper unit test.
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Linear/CMakeLists.txt
  src/UnitTests/Solvers/Linear/UmfpackWrapperTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

CI: add parallel matrix job for different GCC and clang versions
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Optimize methods in ChunkedEllpackBase with `if constexpr`
  src/TNL/Algorithms/Segments/ChunkedEllpackBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add CMake presets for the NVHPC toolchain
  CMakePresets.json
Due: dummy build job

Fix FetchTinyXML2 CMake module
  cmake/FetchTinyXML2.cmake
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added examples for direct linear solvers with monitor and timer.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/DirectLinearSolverWithTimerExample.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Fixing documentation of reduction using functional instead of a lambda function for reduction.
  src/TNL/Algorithms/reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Ignore the readability-math-missing-parentheses diagnostics from clang-tidy
  .clang-tidy
Due: dummy build job, clang-tidy

Added DirectSolver and DirectSolverMonitor.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/TNL/Solvers/DirectSolver.h
  src/TNL/Solvers/DirectSolver.hpp
  src/TNL/Solvers/DirectSolverMonitor.h
  src/TNL/Solvers/DirectSolverMonitor.hpp
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/IterativeSolver.hpp
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added reduce rows with functional for dense matrices.
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceAllRowsWithFunctional.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceAllRowsWithFunctional.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceRowsWithFunctional.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_reduceRowsWithFunctional.cu
  src/TNL/Algorithms/reduce.h
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring sparse matrix unit tests.
  src/UnitTests/Matrices/SparseMatrixTest.hpp
  src/UnitTests/Matrices/SparseMatrixVectorProductTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add documentation for the nd_reduce function
  src/TNL/Containers/ndarray/Reduce.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed include guards in Umfpack wrapper.
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Print the CMAKE_CUDA_HOST_COMPILER at the end of CMakeLists.txt
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Replace non-standard uint type and modernize type aliases
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

CI: skip matrix tests in Release for NVHPC
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Refactoring benchmark of direct linear solvers. Added benchmarking of the solvers setup.
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Moving symbolic analysis and factorization to setMatrix in Umfpack wrapper.
  src/TNL/Solvers/Linear/LinearSolver.h
  src/TNL/Solvers/Linear/UmfpackWrapper.h
  src/TNL/Solvers/Linear/UmfpackWrapper.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing benchmark results for linear direct solvers benchmark.
  src/Benchmarks/LinearSolvers/BenchmarkResults.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Remove unhelpful examples of the getSerializationType() output
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Update formatting with clang-format 20
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/String.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixed build of linear solvers benchmark with Ginkgo and cmake formatting.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  src/Benchmarks/LinearSolvers/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Fix ComplexTest for nvc++
  src/UnitTests/Arithmetics/ComplexTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix space in CMake info message
  CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Fixed formatting
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Devices/Host.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added single precision support to tnl-benchmark-linear-solvers.
  src/Benchmarks/LinearSolvers/StrumpackWrapper.h
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added 'benchmark' to measure time for copying sparse matrix from host to device in benchmark of linear solvers.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Disabling Strumpack due to suspicious crashes.
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix modulo-assignment for Vector and add missing tests
  src/TNL/Containers/detail/VectorAssignment.h
  src/UnitTests/Containers/VectorBinaryOperationsTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactor file I/O for matrices with stream operators
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixBase.h
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixBase.h
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixBase.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixBase.h
  src/TNL/Matrices/TridiagonalMatrixBase.hpp
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixView.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Changed std::endl to '\n'
  src/TNL/Functions/MeshFunctionIO.h
  src/TNL/Matrices/SparseMatrixBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added check for CSR format in GinkgoDirectSolver.
  src/TNL/Solvers/Linear/GinkgoDirectSolver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added wrapper for Tacho solver from Trilinos.
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers
