Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Added unit tests for matrix traversing with the free functions.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.cpp
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.cu
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/DenseMatrixTraverseTest.hip
  src/UnitTests/Matrices/Traverse/MatrixTraverseTest.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.cpp
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.cu
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.h
  src/UnitTests/Matrices/Traverse/SparseMatrixTraverseTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added traversing functions for graphs.
  src/TNL/Graphs/detail/TraversingOperations.h
  src/TNL/Graphs/detail/TraversingOperations_GraphView.h
  src/TNL/Graphs/traverse.h
  src/TNL/Graphs/traverse.hpp
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Removing segments functions for finding, sorting and scan having segment indexes range parameters.
  src/TNL/Algorithms/Segments/find.h
  src/TNL/Algorithms/Segments/find.hpp
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/scan.hpp
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/sort.hpp
  src/UnitTests/Algorithms/Segments/SegmentsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing traverse and reduction functions fopr segments with segment indexes range parameters. The range can be replaced with an array view slice.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Algorithms/Segments/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing graph tests with dense matrices. Substituting ignored template parameter Ellpack is not accepted by some compilers, CSR is better.
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added Doxygen pages explaining matrix functions for reductions and traversing.
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Removing Algorithms::Segments::detail::CheckLambdas.
  src/TNL/Algorithms/Segments/GrowingSegmentsView.h
  src/TNL/Algorithms/Segments/detail/CheckLambdas.h
  src/TNL/Algorithms/Segments/detail/FetchLambdaAdapter.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Reduction functions with "If" for segments and matrices returns number of precessed segments/rows. Plus fixes in reduction operations for matrices.
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added examples on graphs.
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/Examples/Graphs/GraphExample_Constructors.cpp
  Documentation/Examples/Graphs/GraphExample_Constructors.cu
  Documentation/Examples/Graphs/GraphExample_Constructors.hip
  Documentation/Examples/Graphs/GraphExample_VertexView.cpp
  Documentation/Examples/Graphs/GraphExample_VertexView.cu
  Documentation/Examples/Graphs/GraphExample_VertexView.hip
  Documentation/Examples/Graphs/GraphExample_setEdges.cpp
  Documentation/Examples/Graphs/GraphExample_setEdges.cu
  Documentation/Examples/Graphs/GraphExample_setEdges.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format

Added template parameter Segments to Graph.
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/Graph.hpp
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/TypeTraits.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/UnitTests/Graphs/GraphTest.h
  src/UnitTests/Graphs/GraphTest_Reduce_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Reduce_SparseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Simplifying type tests for sorted segments isSortedSegments.
  src/TNL/Algorithms/Segments/AdaptiveCSR.h
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing example on forElements for DenseMatrix.
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixViewExample_forElements.cpp
Due: documentation, pages, clang-format, clang-tidy

Avoiding default use of symmetric adjacency matrix in undirected graphs.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/Algorithms/singleSourceShortestPath.hpp
  src/TNL/Graphs/Graph.h
  src/TNL/Graphs/detail/DefaultGraphAdjacencyMatrixType.h
  src/UnitTests/Graphs/GraphTest_SparseMatrix.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added function Matrices::getDiagonal to extract the diagonal of a matrix into a vector.
  src/TNL/Matrices/MatrixOperations.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/MatrixOperationsTest.cpp
  src/UnitTests/Matrices/MatrixOperationsTest.cu
  src/UnitTests/Matrices/MatrixOperationsTest.h
  src/UnitTests/Matrices/MatrixOperationsTest.hip
  src/UnitTests/Matrices/MatrixOperationsTest.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing formatting of MD tables in documentation of segments, matrices and graphs.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for graphs traversing.
  src/UnitTests/Graphs/CMakeLists.txt
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.cpp
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.cu
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.h
  src/UnitTests/Graphs/GraphTest_Traverse_DenseMatrix.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Disabling build of graph benchmark woth sorted segments by default to shorten the compile time.
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Added free functions for reduction in matrices - only for dense and sparse so far.
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/detail/ReductionOperations.h
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added unit tests for free functions for matrix reduction operations.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.cpp
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.cu
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/DenseMatrixReduceTest.hip
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.cpp
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.cu
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.h
  src/UnitTests/Matrices/Reduce/SparseMatrixReduceTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Added Matrices::is_matrix_view.
  src/TNL/Matrices/TypeTraits.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving tests for sparse-dense matrix copying operations from SparseMatrixOperationsTest to a new test suite SparseDenseMatrixOperationsTest.
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest.hpp
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.cpp
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.cu
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.h
  src/UnitTests/Matrices/SparseDenseMatrixOperationsTest_CSR.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Adding more unit tests for graphs.
  src/UnitTests/Graphs/GraphTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fixed forwarding of constructor parameters in GraphVertexView.
  src/TNL/Graphs/GraphVertexView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added refrences to overview pages in documentation of segment and matrix traversal/reduction functions.
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/traverse.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Rewriting the script extract-graphs for graph benchmarks using bash arrays.
  src/Benchmarks/Graphs/extract-graphs
Due: dummy build job

Fixed MTX reader for graphs.
  src/TNL/Graphs/Readers/MtxReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added UG chapter for graphs.
  Documentation/UsersGuide/CMakeLists.txt
  Documentation/UsersGuide/Graphs/CMakeLists.txt
  Documentation/UsersGuide/Graphs/ug_Graphs.md
  Documentation/UsersGuide/users-guide.md
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Renaming keep/keeper lambda functions in reduction operations for segments and matrices to store/storer.
  Documentation/Examples/Algorithms/Segments/SegmentsExample_CSR_reduceSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegments.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgument.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithArgumentIf.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexes.cpp
  Documentation/Examples/Algorithms/Segments/SegmentsExample_reduceSegmentsWithSegmentIndexesWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceAllRowsWithArgumentIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRows.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsIf.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgument.cpp
  Documentation/Examples/Matrices/Reduce/MatrixExample_reduceRowsWithArgumentIf.cpp
  src/TNL/Algorithms/Segments/detail/ReducingKernels_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperationsBase.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/reduce.hpp
  src/TNL/Matrices/detail/ReductionOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/TNL/Matrices/reduce.hpp
  src/UnitTests/Matrices/Reduce/MatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring code for segments - fixing variables capturing in lambdas with consxtexpr-if to work with nvcc.
  src/TNL/Algorithms/Segments/detail/ReducingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting useless file Matrices/detail/TraversingOperationsBase.h.
  src/TNL/Matrices/detail/TraversingOperationsBase.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing header files including in TNL/Algorithms/Segments/LaunchConfiguration.h
  src/TNL/Algorithms/Segments/LaunchConfiguration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing Graph::getEdgeCount for dense adjacency matrices.
  src/TNL/Graphs/GraphBase.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added constructor and setElements with sparse initializer list to DenseMatrix.
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_sparse_init_list.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_sparse_init_list.cu
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_std_map.cpp
  Documentation/Examples/Matrices/DenseMatrix/DenseMatrixExample_Constructor_std_map.cu
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/SparseMatrix.hpp
  src/UnitTests/Matrices/DenseMatrixTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Fixing type definitions in sparse matrices.
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixBase.h
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseOperations.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen documentation to various Graph realted structures.
  src/TNL/Graphs/Edge.h
  src/TNL/Graphs/GraphBase.h
  src/TNL/Graphs/GraphOrientation.h
  src/TNL/Graphs/GraphVertexView.h
  src/TNL/Graphs/GraphView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added Doxygen pages explaining segment functions for: find, reduce, scan, sort, traverse.
  src/TNL/Algorithms/Segments/find.h
  src/TNL/Algorithms/Segments/reduce.h
  src/TNL/Algorithms/Segments/scan.h
  src/TNL/Algorithms/Segments/sort.h
  src/TNL/Algorithms/Segments/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added label Matrices to tests in Matrices Reduce and Traverse unit test CMakeLists.txt files.
  src/UnitTests/Matrices/Reduce/CMakeLists.txt
  src/UnitTests/Matrices/Traverse/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format

Added examples for graphs.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/Graphs/CMakeLists.txt
  Documentation/Examples/Graphs/Reduce/CMakeLists.txt
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVertices.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVertices.cu
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVertices.hip
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesIf.cu
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesIf.hip
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgument.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgument.cu
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgument.hip
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgumentIf.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgumentIf.cu
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithArgumentIf.hip
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithIndexes.cpp
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithIndexes.cu
  Documentation/Examples/Graphs/Reduce/GraphExample_reduceVerticesWithIndexes.hip
  Documentation/Examples/Graphs/Traverse/CMakeLists.txt
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdges.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdges.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdges.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesIf.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesIf.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesWithIndexes.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesWithIndexes.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forEdgesWithIndexes.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forVertices.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVertices.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forVertices.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesIf.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesIf.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesIf.hip
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesWithIndexes.cpp
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesWithIndexes.cu
  Documentation/Examples/Graphs/Traverse/GraphExample_forVerticesWithIndexes.hip
  src/TNL/Graphs/Namespace.dox
  src/TNL/Graphs/reduce.h
  src/TNL/Graphs/traverse.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Changing definition of 'none_scheduled' from -1 to numeric_limits::max() in Dynamic grouping kernels for CSR segments to avoid potential issues with unsigned Index types.
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
