Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixed code formatting.
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
  src/TNL/Algorithms/Sorting/experimental/detail/task.h
  src/TNL/Arithmetics/experimental/Double.h
  src/TNL/Arithmetics/experimental/Double_impl.h
  src/TNL/Arithmetics/experimental/FlopsCounter.h
  src/TNL/Arithmetics/experimental/MultiPrecision.cpp
  src/TNL/Arithmetics/experimental/MultiPrecision.h
  src/TNL/Arithmetics/experimental/Quad_impl.h
  src/TNL/Arithmetics/experimental/Real.h
  src/TNL/Functions/experimental/BoundaryMeshFunction.h
  src/TNL/Functions/experimental/CutMeshFunction.h
  src/TNL/Functions/experimental/Domain.h
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/FunctionAdapter.h
  src/TNL/Functions/experimental/MeshFunction.hpp
  src/TNL/Functions/experimental/MeshFunctionEvaluator.h
  src/TNL/Functions/experimental/MeshFunctionEvaluator_impl.h
  src/TNL/Functions/experimental/MeshFunctionGnuplotWriter.h
  src/TNL/Functions/experimental/MeshFunctionIO.h
  src/TNL/Functions/experimental/MeshFunctionNormGetter.h
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
  src/TNL/Functions/experimental/OperatorFunction.h
  src/TNL/Functions/experimental/VectorField.h
  src/TNL/Functions/experimental/VectorFieldEvaluator.h
  src/TNL/Functions/experimental/VectorFieldEvaluator_impl.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter_impl.h
  src/TNL/Solvers/Eigenvalues/experimental/PowerIteration.h
  src/TNL/Solvers/Eigenvalues/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
  src/UnitTests/Meshes/EntityTests.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added experimental group to Doxygen.
  Documentation/Doxyfile
  Documentation/custom_style.css
  src/TNL/experimental.dox
Due: documentation, pages

Added CUBMergeSort as the default sorter for CUDA devices instead of Quicksort.
  src/TNL/Algorithms/Sorting/CUBMergeSort.h
  src/TNL/Algorithms/Sorting/DefaultSorter.h
  src/TNL/Algorithms/sort.h
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/QuicksortTest.cu
  src/UnitTests/Algorithms/Sorting/QuicksortTest.hip
  src/UnitTests/Algorithms/Sorting/SorterTest.cu
  src/UnitTests/Algorithms/Sorting/SorterTest.h
  src/UnitTests/Algorithms/Sorting/SorterTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Renaming Solvers::Eigenvalues to Solvers::Eigen.
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
  src/TNL/Solvers/Eigen/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigen/experimental/ShiftedPowerIteration.h
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Eigen/CMakeLists.txt
  src/UnitTests/Solvers/Eigen/PowerMethodTest.cpp
  src/UnitTests/Solvers/Eigen/PowerMethodTest.h
  src/UnitTests/Solvers/Eigen/PowerMethodTestCuda.cu
  src/UnitTests/Solvers/Eigen/QRAlgorithmTest.cpp
  src/UnitTests/Solvers/Eigen/QRAlgorithmTest.h
  src/UnitTests/Solvers/Eigen/QRAlgorithmTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Moving quicksort to experimental.
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/TNL/Algorithms/Sorting/BitonicSort.h
  src/TNL/Algorithms/Sorting/DefaultSorter.h
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
  src/TNL/Algorithms/Sorting/detail/blockBitonicSort.h
  src/TNL/Algorithms/Sorting/experimental/Quicksort.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.h
  src/TNL/Algorithms/Sorting/experimental/detail/Quicksorter.hpp
  src/TNL/Algorithms/Sorting/experimental/detail/cudaPartition.h
  src/TNL/Algorithms/Sorting/experimental/detail/helpers.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_1Block.h
  src/TNL/Algorithms/Sorting/experimental/detail/quicksort_kernel.h
  src/TNL/Algorithms/Sorting/experimental/detail/task.h
  src/UnitTests/Algorithms/Sorting/BitonicSortTest.h
  src/UnitTests/Algorithms/Sorting/SorterTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving tnl-diff to tnl-legacy.
  src/Tools/CMakeLists.txt
  src/Tools/tnl-diff.cpp
  src/Tools/tnl-diff.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Moving solver initiator, solver starter and related files to tnl-legacy.
  src/TNL/Solvers/BuildConfigTags.h
  src/TNL/Solvers/FastBuildConfigTag.h
  src/TNL/Solvers/Solver.h
  src/TNL/Solvers/SolverConfig.h
  src/TNL/Solvers/SolverInitiator.h
  src/TNL/Solvers/SolverInitiator.hpp
  src/TNL/Solvers/SolverStarter.h
  src/TNL/Solvers/SolverStarter.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix cmake formatting
  Documentation/CMakeLists.txt
  Documentation/Examples/Algorithms/CMakeLists.txt
  Documentation/Examples/Algorithms/Segments/CMakeLists.txt
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/Containers/CMakeLists.txt
  Documentation/Examples/Matrices/CMakeLists.txt
  Documentation/Examples/Matrices/DenseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/LambdaMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/MultidiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/SparseMatrix/CMakeLists.txt
  Documentation/Examples/Matrices/TridiagonalMatrix/CMakeLists.txt
  Documentation/Examples/Meshes/Grid/CMakeLists.txt
  Documentation/Examples/Pointers/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/UsersGuide/Arrays/CMakeLists.txt
  Documentation/UsersGuide/Matrices/CMakeLists.txt
  Documentation/UsersGuide/Meshes/CMakeLists.txt
  Documentation/UsersGuide/NDArrays/CMakeLists.txt
  Documentation/UsersGuide/Pointers/CMakeLists.txt
  Documentation/UsersGuide/ReductionAndScan/CMakeLists.txt
  Documentation/UsersGuide/Segments/CMakeLists.txt
  Documentation/UsersGuide/Vectors/CMakeLists.txt
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-tidy, cmake-format

Moving FileName to tnl-legacy.
  Documentation/Examples/CMakeLists.txt
  Documentation/Examples/FileNameExample.cpp
  Documentation/Examples/FileNameExampleDistributedSystemNodeCoordinates.cpp
  Documentation/Examples/FileNameExampleDistributedSystemNodeId.cpp
  src/TNL/FileName.h
  src/TNL/FileName.hpp
  src/UnitTests/CMakeLists.txt
  src/UnitTests/FileNameTest.cpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Refactoring PDLP solver - avoiding use of Kty.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Refactoring PDLP - avoiding use of Kz.
  src/TNL/Solvers/Optimization/PDLP.h
  src/TNL/Solvers/Optimization/PDLP.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Double, Quad, Multiprecision and Real arithmetics to Experimental.
  src/TNL/Arithmetics/experimental/Double.h
  src/TNL/Arithmetics/experimental/Double_impl.h
  src/TNL/Arithmetics/experimental/FlopsCounter.cpp
  src/TNL/Arithmetics/experimental/FlopsCounter.h
  src/TNL/Arithmetics/experimental/MultiPrecision.cpp
  src/TNL/Arithmetics/experimental/MultiPrecision.h
  src/TNL/Arithmetics/experimental/Quad.h
  src/TNL/Arithmetics/experimental/Quad_impl.h
  src/TNL/Arithmetics/experimental/Real.h
  src/UnitTests/Algorithms/SegmentedScanTest.h
  src/UnitTests/Algorithms/reduceTest.h
  src/UnitTests/Algorithms/scanTest.h
  src/UnitTests/Arithmetics/QuadTest.cpp
  src/UnitTests/Containers/VectorEvaluateAndReduceTest.h
  src/UnitTests/Containers/VectorTestSetup.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Functions to Experimental.
  src/TNL/Functions/experimental/BoundaryMeshFunction.h
  src/TNL/Functions/experimental/CutMeshFunction.h
  src/TNL/Functions/experimental/Domain.h
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/FunctionAdapter.h
  src/TNL/Functions/experimental/MeshFunction.h
  src/TNL/Functions/experimental/MeshFunction.hpp
  src/TNL/Functions/experimental/MeshFunctionEvaluator.h
  src/TNL/Functions/experimental/MeshFunctionEvaluator_impl.h
  src/TNL/Functions/experimental/MeshFunctionGnuplotWriter.h
  src/TNL/Functions/experimental/MeshFunctionIO.h
  src/TNL/Functions/experimental/MeshFunctionNormGetter.h
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
  src/TNL/Functions/experimental/OperatorFunction.h
  src/TNL/Functions/experimental/VectorField.h
  src/TNL/Functions/experimental/VectorFieldEvaluator.h
  src/TNL/Functions/experimental/VectorFieldEvaluator_impl.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter.h
  src/TNL/Functions/experimental/VectorFieldGnuplotWriter_impl.h
  src/UnitTests/Meshes/DistributedMeshes/CopyEntitiesTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CutDistributedMeshFunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/CutMeshFunctionTest.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_1D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_2D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedGridTest_3D.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added experimental group to Doxygen.
  Documentation/Doxyfile
  src/TNL/experimental.dox
Due: documentation, pages

Splitting EigenTest into PowerMethodTest and QRAlgorithmTest.
  src/UnitTests/Solvers/Eigenvalues/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/EigenTest.cpp
  src/UnitTests/Solvers/Eigenvalues/EigenTestCuda.cu
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTest.cpp
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTest.h
  src/UnitTests/Solvers/Eigenvalues/PowerMethodTestCuda.cu
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTest.cpp
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTest.h
  src/UnitTests/Solvers/Eigenvalues/QRAlgorithmTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Moving OperatorFunction.h and ExactOperatorFunction.h from TNL/Functions/experimental to tnl-legacy.
  src/TNL/Functions/experimental/ExactOperatorFunction.h
  src/TNL/Functions/experimental/OperatorFunction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added description of the TNL::Solvers::Eigen::experimental namespace.
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Avoiding compiler warnings.
  src/TNL/Matrices/Factorization/QR/QR.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving Matrices::Eigen to Solvers::Eigenvalues::experimental.
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/TNL/Solvers/Eigenvalues/experimental/PowerIteration.h
  src/TNL/Solvers/Eigenvalues/experimental/QRAlgorithm.h
  src/TNL/Solvers/Eigenvalues/experimental/ShiftedPowerIteration.h
  src/UnitTests/Matrices/CMakeLists.txt
  src/UnitTests/Solvers/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/CMakeLists.txt
  src/UnitTests/Solvers/Eigenvalues/EigenTest.cpp
  src/UnitTests/Solvers/Eigenvalues/EigenTest.h
  src/UnitTests/Solvers/Eigenvalues/EigenTestCuda.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Disabling clang-tidy check "modernize-concat-nested-namespaces" for the experimental namepsaces (it is required by Doxygen).
  src/TNL/Algorithms/Sorting/experimental/Quicksort.h
  src/TNL/Arithmetics/experimental/Quad.h
  src/TNL/Functions/experimental/MeshFunction.h
  src/TNL/Solvers/Eigen/experimental/PowerIteration.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

CI: run clang-tidy in quiet mode
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

CI: replace python-black with ruff for formatting and linting
  .gitlab-ci.yml
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Add ruff configuration file
  ruff.toml
Due: dummy build job

Reformat Python scripts with ruff
  scripts/eti.py
  scripts/run-clang-format.py
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job, clang-format, python-black

Fix ruff linting errors
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.py
  scripts/eti.py
  scripts/run-clang-format.py
  scripts/update-copyright-headers.py
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
  src/Benchmarks/Graphs/tnl-benchmark-cugraph.py
  src/Benchmarks/Graphs/tnl-graph-generator.py
  src/Benchmarks/Grid/process-tnl-benchmark-grid.py
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/NDArray/heatmap.py
  src/Benchmarks/NDArray/logparser.py
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
  src/Python/BenchmarkLogs.py
  src/Python/BenchmarkPlots.py
  src/Tools/tnl-benchmark-to-html.py
Due: documentation, pages, clang-format, python-black

Implement naive 3D kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implement naive 2D kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implement naive convolution for 1D kernel
  src/Benchmarks/Convolution/.gitignore
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/support/Benchmark.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/DummySolver.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
  src/Benchmarks/Convolution/support/Solver.h
  src/Benchmarks/Convolution/templates/main_benchmark.h
  src/Benchmarks/Convolution/templates/main_solver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Move kernel launching in kernel definition
  src/Benchmarks/Convolution/kernels/naive.h
  src/Benchmarks/Convolution/kernels/sharedData.h
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/DummyTask.h
  src/Benchmarks/Convolution/support/Launcher.h
  src/Benchmarks/Convolution/support/Solver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add loggin of the id to the benchmark output
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Implement convolution with storing kernel in shared memory
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedKernel.h
  src/Benchmarks/Convolution/support/Launcher.h
  src/Benchmarks/Convolution/templates/main_benchmark.h
  src/Benchmarks/Convolution/templates/main_solver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implement benchmarks for naive kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/support/Benchmark.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/templates/main_benchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implement kernel, which loads data in shared memory
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedData.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Implement shared data and kernel kernel
  src/Benchmarks/Convolution/CMakeLists.txt
  src/Benchmarks/Convolution/kernels/sharedDataAndKernel.h
  src/Benchmarks/Convolution/support/Benchmark.h
  src/Benchmarks/Convolution/support/DummyBenchmark.h
  src/Benchmarks/Convolution/support/Solver.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers
