Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

dummy build job:
  stage: build
  script: echo "dummy"

nvcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

nvhpc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang_cuda:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

hip_rocm:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

gcc:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

clang:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

icpx:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

alpine:
  needs: []
  script:
  - - CUDA_PATH_BACKUP=$CUDA_PATH
    - source /etc/profile
    - if [[ -n ${CUDA_PATH_BACKUP} ]]; then export CUDA_PATH=${CUDA_PATH_BACKUP}; fi
    - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
    - export CTEST_OUTPUT_ON_FAILURE=1
    - export CTEST_PARALLEL_LEVEL=4
  ...

pages:
  stage: deploy
  dependencies:
  - documentation
  image: quay.io/archlinux/archlinux:latest
  script:
  - mv ./html/ public/
  artifacts:
    paths:
    - public

Refactor Segments benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Segments/CMakeLists.txt
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments.h
  src/Benchmarks/Segments/tnl-benchmark-segments.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor LinearSolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/LinearSolvers/CMakeLists.txt
  src/Benchmarks/LinearSolvers/TachoWrapper.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor ODESolvers benchmark to align with ARCHITECTURE.md
  src/Benchmarks/ODESolvers/CMakeLists.txt
  src/Benchmarks/ODESolvers/SimpleProblem.h
  src/Benchmarks/ODESolvers/benchmarks.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Refactor NDArray benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/NDArray/CMakeLists.txt
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction-hip.hip
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Rewrite NDArray reduction heatmap script
  src/Benchmarks/NDArray/heatmap.py
  src/Benchmarks/NDArray/logparser.py
  src/Benchmarks/NDArray/plot-results.py
Due: dummy build job, python-black

Refactor Grid benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Grid/CMakeLists.txt
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/Grid/tnl-benchmark-grid.h
  src/Benchmarks/Grid/tnl-benchmark-grid.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove forElements verification from Segments benchmark
  src/Benchmarks/Segments/SegmentsBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix off-by-one in CLI parser after consuming list-of arguments
  src/TNL/Config/parseCommandLine.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix swapped ux/aux views in NdGrid benchmark solver
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmarkNdGrid.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers, python-black

Simplify reference pairs and fix HIP build in DenseMatrices
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor System (memory-access) benchmark to align with ARCHITECTURE.md
  src/Benchmarks/System/CMakeLists.txt
  src/Benchmarks/System/MemoryAccessBenchmark.h
  src/Benchmarks/System/tnl-benchmark-memory-access.cpp
  src/Benchmarks/System/tnl-benchmark-memory-access.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Remove obsolete benchmark runner scripts
  src/Benchmarks/Grid/run-tnl-benchmark-grid
  src/Benchmarks/HeatEquation/run-tnl-benchmark-heat-equation
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/ODESolvers/run-tnl-benchmark-ode-solvers
  src/Benchmarks/Sorting/run-tnl-benchmark-sort
  src/Benchmarks/System/run-tnl-benchmark-memory-access
Due: dummy build job

Add missing types to metadata in Grid, DenseLinearSolvers and LinearSolvers benchmarks
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Document performer convention and device metadata in ARCHITECTURE.md
  src/Benchmarks/ARCHITECTURE.md
Due: dummy build job

Merge DenseMatrices HTML table generators into one script
  src/Benchmarks/DenseMatrices/tnl-dense-matrices-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-multiplication-html-table-generator.py
  src/Benchmarks/DenseMatrices/tnl-transposition-html-table-generator.py
Due: dummy build job, python-black

Refactor Sorting benchmark to align with ARCHITECTURE.md
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/MancaQuicksort.h
  src/Benchmarks/Sorting/plot-results.py
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers, python-black

Modernize Python benchmark utilities
  src/Python/BenchmarkLogs.py
  src/Python/BenchmarkPlots.py
  src/Tools/tnl-benchmark-to-html.py
Due: dummy build job, python-black

Remove baseline time and speedup from benchmark framework
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/Sorting/README.md
  src/Python/BenchmarkLogs.py
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/BenchmarkResult.h
  src/TNL/Benchmarks/TerminalLogging.h
  src/Tools/tnl-benchmark-to-html.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Migrate benchmarks from device-as-performer to algorithm-as-performer
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseLinearSolvers/dense-linear-solvers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Graphs/GraphBenchmarkBFS.h
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/Benchmarks/Graphs/GraphBenchmarkSSSP.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/HeatEquation/process-tnl-benchmark-heat-equation.py
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
  src/Benchmarks/Segments/SegmentsBenchmark.h
  src/Benchmarks/Segments/tnl-benchmark-segments-process-results.py
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
  src/Benchmarks/System/tnl-benchmark-memory-access.h
  src/Python/MultiindexCreator.py
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/TerminalLogging.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers, python-black

Refactor Graphs benchmarks to align with ARCHITECTURE.md
  src/Benchmarks/Graphs/CMakeLists.txt
  src/Benchmarks/Graphs/GraphBenchmarkBase.h
  src/Benchmarks/Graphs/GunrockBenchmark.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-bfs.hip
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-mst.hip
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.h
  src/Benchmarks/Graphs/tnl-benchmark-graphs-sssp.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Make NDArray reduction benchmark sizes and limits configurable
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor LinearSolvers list parameters from comma-separated strings to native lists
  src/Benchmarks/LinearSolvers/run-tnl-benchmark-linear-solvers
  src/Benchmarks/LinearSolvers/tnl-benchmark-linear-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor memory-access benchmark processing script
  src/Benchmarks/System/process-tnl-benchmark-memory-access.py
Due: dummy build job, python-black

Remove matrix resetting from dense matrix-vector product benchmark
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace TNL::String with std::string in ODESolvers config entries
  src/Benchmarks/ODESolvers/tnl-benchmark-ode-solvers.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Wrap Graphs processing script in main() and use positional input
  src/Benchmarks/Graphs/tnl-benchmark-graphs-process-results.py
Due: dummy build job, python-black

Add named references to DenseMatricesResult for diff columns
  src/Benchmarks/DenseMatrices/DenseMatricesResult.h
  src/Benchmarks/DenseMatrices/DenseMatrixBenchmarkHelpers.h
  src/Benchmarks/DenseMatrices/DenseMatrixMultiplicationBenchmark.h
  src/Benchmarks/DenseMatrices/DenseMatrixTranspositionBenchmark.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor sorting benchmark processing script
  src/Benchmarks/Sorting/plot-results.py
Due: dummy build job, python-black

Unify device reporting in benchmarks
  src/Benchmarks/Eigen/EigenBenchmarkResult.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-pi.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-qr.h
  src/Benchmarks/Eigen/tnl-benchmark-eigen-random.h
  src/Benchmarks/Grid/GridBenchmark.h
  src/Benchmarks/LinearSolvers/benchmarks.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/Devices.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Add universal runner script for all benchmarks
  src/Benchmarks/benchmarks.example.toml
  src/Benchmarks/benchmarks.example.yaml
  src/Tools/CMakeLists.txt
  src/Tools/tnl-run-benchmarks.py
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, python-black

Fix header includes in Benchmarks/Utils.h
  src/TNL/Benchmarks/Utils.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Change setDatasetSize to accept bytes instead of GB
  src/Benchmarks/BLAS/array-operations.h
  src/Benchmarks/BLAS/triad.h
  src/Benchmarks/BLAS/vector-operations.h
  src/Benchmarks/DenseMatrices/DenseMatrixVectorProductBenchmark.h
  src/Benchmarks/HeatEquation/HeatEquationSolverBenchmark.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-boundary.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray-reduction.h
  src/Benchmarks/NDArray/tnl-benchmark-ndarray.h
  src/Benchmarks/NDArray/tnl-benchmark-reduction.h
  src/Benchmarks/System/tnl-benchmark-memory-access.h
  src/TNL/Benchmarks/Benchmark.h
  src/TNL/Benchmarks/Benchmark.hpp
  src/TNL/Benchmarks/BenchmarkResult.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix critical bugs from traverse/reduce API review, add regression test
  src/TNL/Matrices/MultidiagonalMatrixBase.hpp
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_DenseMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_SparseMatrixView.h
  src/TNL/Matrices/reduce.h
  src/UnitTests/Matrices/Reduce/TridiagonalMatrixReduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Document unforwarded launchConfig with TODOs, note perf findings deferred
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/ReductionOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/ReductionOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/ReductionOperations_TridiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/detail/TraversingOperations_LambdaMatrix.h
  src/TNL/Matrices/detail/TraversingOperations_MultidiagonalMatrixView.h
  src/TNL/Matrices/detail/TraversingOperations_TridiagonalMatrixView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Use free functions instead of deprecated members in Tridiagonal/MultidiagonalMatrix operator=
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Migrate remaining deprecated calls, unify condition naming, deduplicate *If base classes
  src/Examples/Ginkgo/PoissonEquation2D.h
  src/Examples/Ginkgo/PoissonEquation3D.h
  src/TNL/Matrices/detail/ReductionOperationsBase.h
  src/TNL/Matrices/detail/RowSelection.h
  src/TNL/Matrices/detail/TraversingOperationsBase.h
  src/TNL/Matrices/traverse.h
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix clang-format of forRowsIf call in traverse.hpp
  src/TNL/Matrices/traverse.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Improve Doxygen documentation in Allocators, Backend and Devices
  src/TNL/Allocators/HipHost.h
  src/TNL/Allocators/Traits.h
  src/TNL/Backend/Functions.h
  src/TNL/Backend/KernelLaunch.h
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/Backend/Macros.h
  src/TNL/Backend/Stream.h
  src/TNL/Backend/StreamPool.h
  src/TNL/Devices/Host.h
  src/TNL/Devices/Sequential.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Standardize Doxygen formatting in Containers headers
  src/TNL/Containers/Array.h
  src/TNL/Containers/ArrayView.h
  src/TNL/Containers/Block.h
  src/TNL/Containers/DistributedArray.h
  src/TNL/Containers/DistributedArrayView.h
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArraySyncDirections.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/DistributedVector.h
  src/TNL/Containers/DistributedVectorView.h
  src/TNL/Containers/Expressions/Assert.h
  src/TNL/Containers/GinkgoVector.h
  src/TNL/Containers/HypreParVector.h
  src/TNL/Containers/HypreVector.h
  src/TNL/Containers/LinearCombination.h
  src/TNL/Containers/NDArray.h
  src/TNL/Containers/NDArrayIndexer.h
  src/TNL/Containers/NDArrayView.h
  src/TNL/Containers/StaticArray.h
  src/TNL/Containers/Subrange.h
  src/TNL/Containers/Vector.h
  src/TNL/Containers/VectorView.h
  src/TNL/Containers/ndarray/LocalBeginsHolder.h
  src/TNL/Containers/ndarray/Meta.h
  src/TNL/Containers/ndarray/Operations.h
  src/TNL/Containers/ndarray/SizesHolder.h
  src/TNL/Containers/ndarray/StaticSizesHolder.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml
