Repository TNL-Project/TNL: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers, python-black

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  nvcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  nvhpc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_cuda: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  hip_rocm: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  gcc: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  icpx: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  alpine: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  debian: any of: src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  pages: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  clang-format: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/TNL/**/*.{h,hpp,cpp,cu,hip}, .clang-format, scripts/run-clang-format.py, .gitlab-ci.yml
  clang-tidy: any of: Documentation/**/*.{h,hpp,cpp,cu,hip}, src/**/*.{h,hpp,cpp,cu,hip}, **/CMakeLists.txt, cmake/*, .clang-tidy, .gitlab-ci.yml
  cmake-format: any of: **/CMakeLists.txt, **/*.cmake, .cmake-format.yaml, .gitlab-ci.yml
  copyright-headers: any of: src/**/*.{h,hpp,cpp,cu,hip}, scripts/updage-copyright-headers.py, .gitlab-ci.yml
  python-black: any of: src/**/*.py, Documentation/**/*.py, .gitlab-ci.yml

Fixing return value of MeshFunctionView::write().
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Moving minimumSpanningTree to experimental.
  src/Benchmarks/Graphs/GraphBenchmarkMST.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.h
  src/TNL/Graphs/Algorithms/experimental/minimumSpanningTree.hpp
  src/UnitTests/Graphs/Algorithms/GraphTest_MST.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Code cleaning.
  src/TNL/Algorithms/Segments/LaunchConfigurationSetter_Default.h
  src/TNL/Algorithms/Segments/SlicedEllpackBase.hpp
  src/TNL/Graphs/GraphView.h
  src/TNL/Matrices/DenseSparseOperations.hpp
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseOperations.hpp
  src/TNL/Matrices/detail/ReductionOperations_SparseMatrixView.h
  src/TNL/Meshes/Readers/FPMAReader.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Renaming argumentCount function to callableArgumentCount.
  src/TNL/Algorithms/Segments/CSRBase.hpp
  src/TNL/Algorithms/Segments/GrowingSegmentsView.h
  src/TNL/Algorithms/Segments/detail/FetchLambdaAdapter.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/ReducingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_AdaptiveCSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/ReducingOperations_SortedSegments.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingKernels_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_BiEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_CSR.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_ChunkedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_Ellpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SlicedEllpack.h
  src/TNL/Algorithms/Segments/detail/TraversingOperations_SortedSegments.h
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRScalarKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/EllpackKernel.hpp
  src/TNL/TypeTraits.h
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing SortedSegments::setSegmentsSizes.
  src/TNL/Algorithms/Segments/SortedSegments.hpp
  src/TNL/Algorithms/Segments/detail/TraversingKernels_CSR.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

justfile: Add format recipe to reformat supported files
  justfile
Due: dummy build job

Update clang-format configuration file
  .clang-format
Due: dummy build job, clang-format

Added developers guide for Ai agents.
  Documentation/ai/TNL_AI_DEVELOPER_GUIDE.md
  Documentation/ai/TNL_ARCHITECTURE.md
  Documentation/ai/TNL_DEVELOPER_GUIDE.md
  Documentation/ai/TNL_PARALLEL_PATTERNS.md
  Documentation/ai/TNL_PERFORMANCE_RULES.md
  Documentation/ai/TNL_PROMPT_TEMPLATE.md
Due: documentation, pages

benchmarks: Remove obsolete bitonicsortBenchmark.cu
  src/Benchmarks/Sorting/bitonicsortBenchmark.cu
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Update .clangd for CUDA 13 on Arch Linux
  .clangd
Due: dummy build job

Removed old/deprecated directories from .gitignore
  .gitignore
Due: dummy build job

benchmarks: Remove obsolete benchmark infrastructure
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/Quicksorter.h
  src/Benchmarks/Sorting/timer.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add benchmark logs to .gitignore
  .gitignore
Due: dummy build job

benchmarks: Refactor sorting benchmark to use modern C++ and std::function
  src/Benchmarks/Sorting/CMakeLists.txt
  src/Benchmarks/Sorting/Measurer.h
  src/Benchmarks/Sorting/ReferenceAlgorithms/ThrustRadixsort.h
  src/Benchmarks/Sorting/generators.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, cmake-format, copyright-headers

Add AGENTS.md - project documentation for AI assistants
  AGENTS.md
Due: dummy build job

benchmarks: Remove using namespace std from tnl-benchmark-sort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

benchmarks: Add README.md for sorting benchmark
  src/Benchmarks/Sorting/README.md
Due: dummy build job

Add verification logic to benchmark
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add overload for bitonicSort to accept Array
  src/TNL/Algorithms/Sorting/detail/bitonicSort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix semantics of the sort functions in the benchmark
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor CedermanQuicksort error handling to use TNL_BACKEND_SAFE_CALL
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix clang-tidy issues in CedermanQuicksort
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Replace Cederman's bitonicSort with TNL's bitonicSort_Block
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Refactor CedermanQuicksort to work with any value type
  src/Benchmarks/Sorting/ReferenceAlgorithms/CedermanQuicksort.h
  src/Benchmarks/Sorting/tnl-benchmark-sort.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Add unit tests for the isSorted function and fix it for 64-bit IndexType
  src/TNL/Algorithms/sort.h
  src/UnitTests/Algorithms/Sorting/CMakeLists.txt
  src/UnitTests/Algorithms/Sorting/isSortedTest.cpp
  src/UnitTests/Algorithms/Sorting/isSortedTest.cu
  src/UnitTests/Algorithms/Sorting/isSortedTest.h
  src/UnitTests/Algorithms/Sorting/isSortedTest.hip
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, cmake-format, copyright-headers

Add power-of-two-sizes test for the reduce function
  src/UnitTests/Algorithms/reduceTest.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, clang-tidy, copyright-headers

Fix uses of the roundUpDivision function
  src/Benchmarks/DenseMatrices/LegacyKernelsLauncher.h
  src/Benchmarks/System/MemoryAccessBenchmarkTestArray.hpp
  src/TNL/Algorithms/Segments/BiEllpackBase.hpp
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/BiEllpackKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRAdaptiveKernelView.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/CSRLightKernel.hpp
  src/TNL/Algorithms/SegmentsReductionKernels/ChunkedEllpackKernel.hpp
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Algorithms/detail/Scan.hpp
  src/TNL/Matrices/DenseMatrixBase.hpp
  src/TNL/Matrices/DenseOperations.hpp
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrix.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix core CUDA kernel launch functions to avoid integer overflow
  src/TNL/Algorithms/detail/CudaScanKernel.h
  src/TNL/Algorithms/detail/ParallelFor2D.h
  src/TNL/Algorithms/detail/ParallelFor3D.h
  src/TNL/Backend/LaunchHelpers.h
  src/TNL/DiscreteMath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fixing OpenMP guards ion BFS.
  src/TNL/Graphs/Algorithms/breadthFirstSearch.hpp
  src/TNL/Graphs/GraphVertexView.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting useless Doxygen guards in LambdaDetails.h.
  src/TNL/detail/LambdaDetails.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Deleting CUDA atomicAdd for double - it is not needed anymore.
  src/TNL/Atomic.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Fix return type of MeshFunctionView::write() function to be void
  src/TNL/Functions/experimental/MeshFunctionView.h
  src/TNL/Functions/experimental/MeshFunctionView.hpp
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Added atomicMin and atomicMax for float and double.
  src/TNL/Atomic.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Remove obsolete atomicAdd function for pre-Pascal architectures
  src/TNL/Atomic.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers

Generalize TNL::isPow2 function for any integral type
  src/TNL/DiscreteMath.h
Due: nvcc, nvhpc, clang_cuda, hip_rocm, gcc, clang, icpx, alpine, debian, documentation, pages, clang-format, clang-tidy, copyright-headers
